# Table of Contents
1. [Things to Do](#Things-to-Do)
1. [Introduction](#Introduction)
1. [Set up Python](#Set-up-Python)
2. [Functions](#Functions)
3. [Getting Data](#Get-Data)
4. [Analyze Data](#Analyze-Data):
    - [Population Size](#Population-Size) - noticeable changes
    - [Sex Distribution](#Sex-Distribution) - does not change
    - [Tail Condition Distribution](#Tail-Condition-Distribution)- noticeable change
        - [Severity of Autotomy](#Severity-of-Autotomy)- noticeable change
    - [Location](#Location)
    - [Morphometrics](#Morphometrics):
        - [SVL](#SVL)
        - [TL](#TL)
        - [RTL](#RTL)
        - [Mass](#Mass)- noticeable change (Check Males)
    - [Survival and Rates and Likelihood of Recapture](#Survival-and-Rates-and-Likelihood-of-Recapture)
    - [Captures](#Captures)
    - [Growth](#Growth)
        - [SVL Growth](#SVL-Growth)
        - [TL Growth](#TL-Growth)
        - [RTL Growth](#RTL-Growth)
        - [Mass Growth](#Mass-Growth)
    - [Correlations to Population](#Correlations-to-Population)
5. [Export Files](#Export-Files)

# Things to Do

Also search for "to be done"

## [Resume Here](#resume)

## Introduction

This notebook contains code and output of descriptive analyses for the 2000-2017 CC dataset after cleaning.

The objectives of this notebook are to describe the community of the _Sceloporus jarrovii_ and _Sceloporus virgatus_ lizards in the Crystal Creek wash from 2000 until 2017.  The population demographic metrics we examine are: [population size](#Population-Size), [sex distribution](#Sex-Distribution), [tail condition distribution](#Tail-Condition-Distribution), [location](#Location), [morphometrics](#Morphometrics) -- [SVL](#SVL), [TL](#TL), [RTL](#RTL), [mass](#Mass) --,  [survival and rates and likelihood of recapture](#Survival-and-Rates-and-Likelihood-of-Recapture), and [growth](#Growth).

We will examine these metrics and interactions among them with particular interest in the impact of environmental factors from year to year.

##  Set up Python

First we will need to set up the python environment, importing the necessary packages and setting the display options.

[Top](#Table-of-Contents)

In [1]:
import pandas as pd
import numpy as np
import pingouin as pg
import os, glob, logging
from summary_functions import *
from scipy import stats
from monthlit import *
from prettyprint import *


import plotly
import chart_studio.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
# plotly.tools.set_config_file(world_readable=True)


# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

### Setting File Locations

In [2]:
deviceDict = {'dataBig':{'source':'S:/Chris/TailDemography/TailDemography/outputFiles'
                         ,'log':'S:/Chris/TailDemography/TailDemography/Scripts and notes/Descriptive/'
                         ,'output':'S:/Chris/TailDemography/TailDemography/outputFiles/'},
              'silverSurfer':{'source':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles'
                              ,'log':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\'
                              ,'output':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles\\Descriptive\\'}
              ,'dataPers':{'source':'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
                           ,'log': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\'
                           ,'output':'C:/Users/Christopher/Google Drive/TailDemography/outputFiles/Descriptve/'}
             ,'gandolf':{'source':'C:/Users/craga/Google Drive/TailDemography/outputFiles'
                           ,'log': 'C:/Users/craga/Google Drive/TailDemography/Scripts and notes/Descriptive/'
                           ,'output':'C:/Users/craga/Google Drive/TailDemography/outputFiles/Descriptive/'}}

### Choose Device

In [3]:
device = deviceDict['gandolf']
device

{'source': 'C:/Users/craga/Google Drive/TailDemography/outputFiles',
 'log': 'C:/Users/craga/Google Drive/TailDemography/Scripts and notes/Descriptive/',
 'output': 'C:/Users/craga/Google Drive/TailDemography/outputFiles/Descriptive/'}

# Source Data

### Logging

In [4]:
logging.basicConfig(filename=device['log']+'Desriptive Analyses.log'
                    , filemode='a',
                    format='%(funcName)s - %(levelname)s - %(message)s - %(asctime)s', level=logging.DEBUG)

## Functions

This section contains functions that were created for this notebook.

- [distribution](#distribution) #delete this we will use scipy stats describe instead
- [monthlit](#monthlit)
- [description](#description)
- [vocab_run](#vocab_run)

### distribution
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

*distribution* takes a series or list of numeric objects, *x*, and returns descriptive stats of x including
        n, minimum, maximum, median, sIQR, mean, and stdev
    
Here are a few examples of how *distribution* works.

In [5]:
foo = [0,1,2,'r']
distribution(foo)

In [6]:
bar = [0,1,2]
distribution(bar)

   n  minimum  maximum  median  siqr  mean  stdev
0  3        0        2     1.0   0.5   1.0    1.0

[Back to Functions](#Functions)

## monthlit
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

Here are a few examples of how _monthlit_ works.

In [7]:
dates = pd.DataFrame(data={'dates':['2018-12-9','2019-8-5', '2017/7/4',np.nan,None]})
dates.dates = pd.to_datetime(dates.dates)
dates

       dates
0 2018-12-09
1 2019-08-05
2 2017-07-04
3        NaT
4        NaT

In [8]:
np.isnan(np.nan)

True

In [9]:
monthlit(dates.dates.dt.month[0])

'Dec'

In [10]:
dates.dates.dt.month.apply(monthlit)

0    Dec
1    Aug
2    Jul
3    NaN
4    NaN
Name: dates, dtype: object

[Back to Functions](#Functions)

## description
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [11]:
def description(x,variable,percentage=False):
    if percentage:
            res = x[variable].describe()
            res[['mean','std','min','25%','50%','75%','max']] = res[['mean','std','min','25%','50%','75%','max']]\
            .apply(lambda x:x*100) 
#Need to Add CI calculation to this function
#             meanCI = 'not calculated'
    else:
        res = x[variable].describe() 
    res['siqr'] = (res['75%']-res['25%'])/2
    res['meanCI'] = 'not calculated'
    return res

### vocab_run
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

*vocab_run* takes a list, joins its the first the elements with a separator placing a different separator between
     the penultimate and final members of the list and returns the result as a string
     :param x: a list of strings to be concatenated
     :param connector_dict: a dictionary with keys describing the size of the list and values indicating the type of
     connectors separate the list elements.
    
Here are a few examples of how *vocab_run* works.

In [12]:
print("Could you bring some {} please?".format(vocab_run(['foo','bar','stuffkins'])))

Could you bring some foo, bar and stuffkins please?

In [13]:
print("You can either have {}.  You'll have to make a choice."\
      .format(vocab_run(['foo','bar','stuffkins'],connector_dict={1: None, 2: ' or ', 'run': ', '})))

You can either have foo, bar or stuffkins.  You'll have to make a choice.

[Back to Functions](#Functions)

We'll display all files in the source folder with the prefix _'cleaned CC data 2000-2017'_. The file names will be saved in a variable, _mysourcefiles_.

## Get Data
[Top](#Table-of-Contents)

Here we can set the locations from which we get data and to which we export it.

In [14]:
os.chdir(device['source'])
mysourcefiles = glob.glob('cleaned CC data 2000-2017_*.csv')
mysourcefiles

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv']

In [15]:
pd.to_datetime(mysourcefiles[0].split("_")[1].split(".csv")[0].split(' ')[0])

Timestamp('2019-01-31 00:00:00')

Automate getting the latest file

In [16]:
[latestFile for latestFile in mysourcefiles if \
 max({pd.to_datetime(afile.split("_")[1].split(".csv")[0].split(' ')[0]) \
      for afile in mysourcefiles}) == pd.to_datetime(latestFile.split("_")\
                                                     [1].split(".csv")[0].split(' ')[0])]

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv']

In [17]:
min({afile.split(' ')[-1].replace('hrs','').replace('min.csv','') for afile in mysourcefiles})

'0143'

In [18]:
latest = mysourcefiles[-1]
latest

'cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv'

The most recent file is the one we will use as _df_ in our descriptive analysis.

In [19]:
df=pd.read_csv(latest)
print('orig: ',df.liznumber.nunique())
df = df.loc[df.svl>=56]
print('adult: ',df.liznumber.nunique())
df.date=pd.to_datetime(df.date)
df['month']=df.date.dt.month.apply(monthlit)
df.head()

orig:  1625
adult:  908

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,newRecap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern,year,tl_svl,mass_svl,initialCaptureDate,year_diff,svl_diff,liznumber,sex_count,daysSinceCapture,capture,month
0,j,2-6-12-15,m,2010-06-19,80.0,110.0,29.0,True,20.0,10m v bottom bowl,-15,?,yes,NaN,y2c,03-10-cc,toe 15 missing at capture; possible recap,29.0,2-6-12-15,NaN,2010,1.375000,0.250000,2010-06-19,0,0.0,893,1,0,1,Jun
1,j,2-6-12-15,m,2010-10-07,86.0,102.0,28.0,True,17.0,6m v bottoom bowl right side 4 m up,NaN,R,yes,NaN,y22c,NaN,loose scale on ventrum and head,28.0,2-6-12-15,NaN,2010,1.186047,0.197674,2010-06-19,0,6.0,893,1,110,2,Oct
2,j,2-9-15-17,f,2010-08-13,56.0,77.0,0.0,False,5.5,20m up CCC,240,N,yes,NaN,y62c,61-10-cc,Tss,0.0,2-9-15-17,NaN,2010,1.375000,0.098214,2010-08-13,0,0.0,929,1,0,1,Aug
4,j,3-6-15-16,f,2010-08-18,72.0,62.0,46.0,True,11.0,halfway between pool and 2 falls 2m up rt side,385,N,yes,NaN,y65c,65-10-cc,NaN,46.0,3-6-15-16,NaN,2010,0.861111,0.152778,2010-08-18,0,0.0,947,1,0,1,Aug
5,j,3-6-12-17,m,2010-08-18,57.0,82.0,0.0,False,6.0,R outcrop ^ oak R,425,N,yes,NaN,y67c,66-10-cc,NaN,0.0,3-6-12-17,NaN,2010,1.438596,0.105263,2010-08-18,0,0.0,938,1,0,1,Aug

## Analyze Data
[Top](#Table-of-Contents)

We will first examine the range and distribution of number of variables in our data set:
- [Population Size](#Population-Size)
- [Species Distribution](#Species-Distribution)
- [Sex Distribution](#Sex-Distribution)
- [Tail Condition Distribution](#Tail-Condition-Distribution)
- [Severity of Autotomy](#Severity-of-Autotomy)
- [Location](#Location)
- [Morphometrics](#Morphometrics):
    - [SVL](#SVL)
    - [TL](#TL)
    - [RTL](#RTL)
    - [Mass](#Mass)
- [Survival and Rates and Likelihood of Recapture](#Survival-and-Rates-and-Likelihood-of-Recapture)
- [Captures](#Captures)
- [Growth](#Growth)
    - [SVL Growth](#SVL-Growth)
    - [TL Growth](#TL-Growth)
    - [RTL Growth](#RTL-Growth)
    - [NTL Growth](#NTL-Growth)
    - [Mass Growth](#Mass-Growth)
We will use first captures of each lizard in a year for these analyses.
- [Correlations to Population](#Correlations-to-Population)

## Reducing the analyses sample by date range and capture

In [20]:
monthsExcluded = ['Oct','Dec']
idx_exclusion = (df.month.isin(monthsExcluded))&(df.capture==1)&(df.species!='j')
print("The number of individuals captured for the first time in {} is {}. \
These are excluded for further analyses.".format(vocab_run(monthsExcluded,{1: None, 2: ' or ', 'run': ', '}),
                                                df.loc[idx_exclusion].liznumber.nunique()))
df=df.loc[~idx_exclusion]
df=df.loc[(df.species=='j')& (df.sex.isin(['m','f']))]

The number of individuals captured for the first time in Oct or Dec is 0. These are excluded for further analyses.

Here we create datasets including only the first or last sighting in each year for a given animal.

In [21]:
df_lastInYear = df.loc[~df.duplicated(subset=['liznumber','year'],keep='last')]
df_firstInYear = df.loc[~df.duplicated(subset=['liznumber','year'])]

### Population Size

We will begin by examining the range and distribution of individuals in the population.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Add a column of counts of lizards weighted by the person-hours for the year, or provide argument based on asymptote analysis that we captured all lizards in the site.

In [22]:
populationSize = df_firstInYear.groupby(['year']).liznumber.nunique().reset_index()
populationSize['percChange'] = -(1-populationSize.liznumber/populationSize.liznumber.shift())
populationSize

    year  liznumber  percChange
0   2000        124         NaN
1   2001         92   -0.258065
2   2002         97    0.054348
3   2003         63   -0.350515
4   2004         54   -0.142857
5   2005         60    0.111111
6   2006          2   -0.966667
7   2007         51   24.500000
8   2008         67    0.313725
9   2009         54   -0.194030
10  2010         45   -0.166667
11  2011          5   -0.888889
12  2012         51    9.200000
13  2013         54    0.058824
14  2014         37   -0.314815
15  2015         48    0.297297
16  2016         61    0.270833
17  2017         32   -0.475410

 For some reason the first trace dissappears after I add the second one.  Need to fix this

In [75]:
popSize = go.Scatter(x = populationSize.year
           , y = populationSize.liznumber
          ,name = 'population size')
percentChange = go.Scatter(x = populationSize.year
           , yaxis = 'y2', y = populationSize.percChange
          ,name = 'percent change')
data = [popSize]#,percentChange]
layout = go.Layout(
    title = 'Population Size for Sceloporus jarrovii 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18),
        rangemode = 'tozero'
        ),
    yaxis2 = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18),
        rangemode = 'tozero',
        side = 'right'
        )
)
fig = go.Figure(
        data = data,
        layout = layout)
#plot(fig, filename = 'Population Size for Sceloporus jarrovii.html')
iplot(fig, filename = 'Population Size for Sceloporus jarrovii.html')
# pio.to_image(fig, format='html')

We see a large decline in the <i>S. jarrovii</i> population size.

In [24]:
description(populationSize,'liznumber')

count                 18
mean             55.3889
std              29.2115
min                    2
25%                45.75
50%                   54
75%                 62.5
max                  124
siqr               8.375
meanCI    not calculated
Name: liznumber, dtype: object

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Sex Distribution

We will begin by examining the range and distribution of _sex_ values.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Maybe aymptote analysis should be extended to examine asymptote by demographic factors as well.

In [25]:
populationSize_sex = df_firstInYear.groupby(['year','sex']).liznumber.nunique().reset_index()\
.merge(df_firstInYear.groupby(['year']).liznumber.nunique().reset_index()\
       .rename(columns={'liznumber':'liznumberYear'}),
       on=['year'])
populationSize_sex\
.loc[populationSize_sex.sex=='m','propMale'] = populationSize_sex\
.loc[populationSize_sex.sex=='m'].liznumber/populationSize_sex\
.loc[populationSize_sex.sex=='m'].liznumberYear
populationSize_sex\
.loc[populationSize_sex.sex=='f','propFemale'] = (populationSize_sex\
.loc[populationSize_sex.sex=='f'].liznumber/populationSize_sex\
.loc[populationSize_sex.sex=='f'].liznumberYear)
populationSize_sex.to_csv(device['output']+'population size 56 mm plus.csv',index = False)
populationSize_sex

    year sex  liznumber  liznumberYear  propMale  propFemale
0   2000   f         65            124       NaN    0.524194
1   2000   m         59            124  0.475806         NaN
2   2001   f         47             92       NaN    0.510870
3   2001   m         45             92  0.489130         NaN
4   2002   f         51             97       NaN    0.525773
5   2002   m         46             97  0.474227         NaN
6   2003   f         35             63       NaN    0.555556
7   2003   m         28             63  0.444444         NaN
8   2004   f         30             54       NaN    0.555556
9   2004   m         24             54  0.444444         NaN
10  2005   f         29             60       NaN    0.483333
11  2005   m         31             60  0.516667         NaN
12  2006   f          1              2       NaN    0.500000
13  2006   m          1              2  0.500000         NaN
14  2007   f         30             51       NaN    0.588235
15  2007   m         21             51  0.411765         NaN
16  2008   f         35             67       NaN    0.522388
17  2008   m         32             67  0.477612         NaN
18  2009   f         29             54       NaN    0.537037
19  2009   m         25             54  0.462963         NaN
20  2010   f         24             45       NaN    0.533333
21  2010   m         21             45  0.466667         NaN
22  2011   f          3              5       NaN    0.600000
23  2011   m          2              5  0.400000         NaN
24  2012   f         31             51       NaN    0.607843
25  2012   m         20             51  0.392157         NaN
26  2013   f         29             54       NaN    0.537037
27  2013   m         25             54  0.462963         NaN
28  2014   f         25             37       NaN    0.675676
29  2014   m         12             37  0.324324         NaN
30  2015   f         27             48       NaN    0.562500
31  2015   m         21             48  0.437500         NaN
32  2016   f         31             61       NaN    0.508197
33  2016   m         30             61  0.491803         NaN
34  2017   f         16             32       NaN    0.500000
35  2017   m         16             32  0.500000         NaN

In [26]:
Sjarrovii = go.Scatter(x = populationSize_sex.loc[(populationSize_sex.propMale.notna())].year
           , y = populationSize_sex.loc[(populationSize_sex.propMale.notna())].propMale
          ,name = '<i>S. jarrovii</i>')
data = [Sjarrovii]
layout = go.Layout(
    title = 'Proportion of Males by Year for <i>Sceloporus jarrovii</i> 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        tickformat = ".2%",
        title = 'Percentage of Males',
        titlefont = dict(
            size = 18),
    range = [0,1])
    
)
fig = go.Figure(
        data = data,
        layout = layout)
plot(fig, filename = 'Proportion of Males by Species and Year for Sceloporus jarrovii 2000-2017.html')
#iplot(fig, filename = 'Proportion of Males by Species and Year for Sceloporus jarrovii 2000-2017.html')

'Proportion of Males by Species and Year for Sceloporus jarrovii 2000-2017.html'

In [27]:
description(populationSize_sex,'propMale',True)[['mean','std','min','25%','50%','75%','max','siqr']]

mean    45.4026
std     4.75151
min     32.4324
25%     43.9236
50%     46.4815
75%     48.6251
max     51.6667
siqr    2.35074
Name: propMale, dtype: object

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

To be Done

There is not much variation in the sex ratio in the population here, suggesting that these drops do not differentially  impact males or females overall.  We should confirm that there isn't a difference in particular age/size groups.  Such a difference might be explained by developmental or social changes which leave certain groups more vulnerable than others.

### Tail Condition Distribution

Here we look at the proportion of individuals in our data who have experienced autotomy.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [28]:
populationSize_aut = df_firstInYear.groupby(['year','autotomized']).liznumber.nunique()\
.reset_index()\
.merge(df_firstInYear.groupby(['year']).liznumber.nunique().reset_index()\
       .rename(columns={'liznumber':'liznumberYear'})
       ,on=['year'])
populationSize_aut\
.loc[populationSize_aut.autotomized,'propAutotomized'] = populationSize_aut\
.loc[populationSize_aut.autotomized].liznumber/populationSize_aut\
.loc[populationSize_aut.autotomized].liznumberYear
populationSize_aut\
.loc[~populationSize_aut.autotomized,'propIntact'] = (populationSize_aut\
.loc[~populationSize_aut.autotomized].liznumber/populationSize_aut\
.loc[~populationSize_aut.autotomized].liznumberYear)
populationSize_aut

    year  autotomized  liznumber  liznumberYear  propAutotomized  propIntact
0   2000        False         79            124              NaN    0.637097
1   2000         True         45            124         0.362903         NaN
2   2001        False         58             92              NaN    0.630435
3   2001         True         34             92         0.369565         NaN
4   2002        False         67             97              NaN    0.690722
5   2002         True         30             97         0.309278         NaN
6   2003        False         41             63              NaN    0.650794
7   2003         True         22             63         0.349206         NaN
8   2004        False         34             54              NaN    0.629630
9   2004         True         20             54         0.370370         NaN
10  2005        False         32             60              NaN    0.533333
11  2005         True         28             60         0.466667         NaN
12  2006        False          2              2              NaN    1.000000
13  2007        False         41             51              NaN    0.803922
14  2007         True         10             51         0.196078         NaN
15  2008        False         44             67              NaN    0.656716
16  2008         True         23             67         0.343284         NaN
17  2009        False         31             54              NaN    0.574074
18  2009         True         23             54         0.425926         NaN
19  2010        False         27             45              NaN    0.600000
20  2010         True         18             45         0.400000         NaN
21  2011        False          5              5              NaN    1.000000
22  2012        False         38             51              NaN    0.745098
23  2012         True         13             51         0.254902         NaN
24  2013        False         34             54              NaN    0.629630
25  2013         True         20             54         0.370370         NaN
26  2014        False         23             37              NaN    0.621622
27  2014         True         14             37         0.378378         NaN
28  2015        False         29             48              NaN    0.604167
29  2015         True         19             48         0.395833         NaN
30  2016        False         37             61              NaN    0.606557
31  2016         True         24             61         0.393443         NaN
32  2017        False         17             32              NaN    0.531250
33  2017         True         15             32         0.468750         NaN

In [29]:
Sjarrovii = go.Scatter(x = populationSize_aut.loc[(populationSize_aut.propAutotomized.notna())].year
           , y = populationSize_aut.loc[(populationSize_aut.propAutotomized.notna())].propAutotomized
          ,name = 'Autotomized <i>S. jarrovii</i>')



data = [Sjarrovii]
layout = go.Layout(
    title = 'Proportion Autotomized by Year for <i>Sceloporus jarrovii</i> 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        tickformat=".2%",
        title = 'Proportion of Autotomized Lizards',
        titlefont = dict(
            size = 18),
    range=[0,1])
)
fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017.html')
plot(fig, filename = 'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017.html')

'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017.html'

In [30]:
description(populationSize_aut, 'propAutotomized',True)[['mean','std','min','25%','50%','75%','max','siqr']]

mean    36.5935
std      6.9535
min     19.6078
25%     34.7726
50%      37.037
75%     39.6875
max      46.875
siqr    2.45747
Name: propAutotomized, dtype: object

Proportion of _S. jarrovii_ with evidence of autotomy is also oscillates over the years.  
To be done:
- does this track with oscillations in the population?

### Severity of Autotomy
Here we will regress SVL and sex on TL for intact _S. jarrovii_ to estimate what the TL would have been had an animal not autotomized.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [31]:
dfPred = df_firstInYear[['liznumber','svl','sex','tl','autotomized','year']]

In [32]:
dfPred['tl_svl'] = dfPred.tl/dfPred.svl

In [33]:
intactRatio = go.Box(y=dfPred.loc[dfPred.autotomized==False].tl_svl, name = 'Intact')
autotomizedRatio = go.Box(y=dfPred.loc[dfPred.autotomized].tl_svl, name = 'Autotmized')
data = [autotomizedRatio, intactRatio]
layout = go.Layout(
    title = 'Box Plot of TL/SVL Ratio by Autotomy Status for <i>Sceloporus jarrovii<i/> CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Autotomy Status',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL/SVL Ratio',
        titlefont = dict(
            size = 18))
)

fig = go.Figure(
        data = data,
        layout = layout)

#iplot(fig, filename = 'Box Plot of TL/SVL Ratio by Autotomy Status for <i>Sceloporus jarrovii<i/> CC 2000-2017.html')
# plot(fig, filename = 'Box Plot of TL/SVL Ratio by Autotomy Status for <i>Sceloporus jarrovii<i/> CC 2000-2017.html')

We will identify the _Sceloporus jarrovii_ with a tl/svl ratio outside of the center 95%.  To do this, we create a boolean column _extremeRatio_ individuals with tl/svl ratios outside of the center 95% have a value of **True** in this column.  We only use individuals without extreme ratios to model tl and svl.

In [34]:
print(dfPred.loc[dfPred.autotomized==False].tl_svl.describe())
dfPred.loc[(dfPred.autotomized==False)&
                   (dfPred.tl_svl>=dfPred.tl_svl.quantile(.025))&
                   (dfPred.tl_svl<=dfPred.tl_svl.quantile(.925)),'extremeRatio']= False
dfPred.loc[(dfPred.autotomized==False)&
                   (dfPred.tl_svl<dfPred.tl_svl.quantile(.025))|
                   (dfPred.tl_svl>dfPred.tl_svl.quantile(.925)),'extremeRatio']= True
dfPred.loc[dfPred.extremeRatio.isna()].autotomized.value_counts(dropna=False)

count    639.000000
mean       1.354185
std        0.104473
min        0.140845
25%        1.318511
50%        1.360000
75%        1.402439
max        1.582090
Name: tl_svl, dtype: float64

True    358
Name: autotomized, dtype: int64

In [35]:
sjM = pg.linear_regression(dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='m')].svl,
                     dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='m')].tl,
                     remove_na=True)
sjM

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,3.434571,2.238033,1.534639,1.262009e-01,0.89638,0.895944,-0.974312,7.843455
1,svl,1.311355,0.028901,45.374521,3.755604e-119,0.89638,0.895944,1.254421,1.368289

In [36]:
sjF = pg.linear_regression(dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='f')].svl,
                     dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='f')].tl,
                     remove_na=True)
sjF

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,8.109952,2.291666,3.538890,4.611507e-04,0.804408,0.803799,3.601371,12.618533
1,svl,1.214957,0.033438,36.334155,9.060672e-116,0.804408,0.803799,1.149171,1.280743

SVL and sex are sufficient to predict TL in males.

In [37]:
femaleIntercept = [thing for thing in sjF.loc[sjF.names=='Intercept','coef']][0]
maleIntercept = [thing for thing in sjM.loc[sjM.names=='Intercept','coef']][0]
femaleSvl = [thing for thing in sjF.loc[sjF.names=='svl','coef']][0]
maleSvl = [thing for thing in sjM.loc[sjM.names=='svl','coef']][0]

print(femaleIntercept,maleIntercept,femaleSvl,maleSvl)

8.109951906570364 3.4345713355716025 1.2149566467195565 1.311355288729614

In [38]:
dfPred.loc[dfPred.sex=='f','tlPred'] = dfPred.loc[dfPred.sex=='f'].svl*femaleSvl+femaleIntercept
dfPred.loc[dfPred.sex=='m','tlPred'] = dfPred.loc[dfPred.sex=='m'].svl*maleSvl+maleIntercept
dfPred['diff'] = dfPred.tlPred - dfPred.tl
dfPred['propDiff'] = dfPred['diff']/dfPred.tlPred

In [39]:
dfPred.groupby(['autotomized','sex']).diff.describe()

                 count       mean        std        min        25%        50%  \
autotomized sex
False       f    356.0  -0.545731   6.633488 -14.843083  -3.794040  -0.843083
            m    283.0  -0.644373   8.444237 -16.657006  -4.157006  -1.327335
True        f    182.0  27.311688  16.687655   1.082134  15.175613  24.292394
            m    176.0  29.362350  18.604913  -1.657006  17.498672  26.187317

                       75%        max
autotomized sex
False       f     1.694309  84.371874
            m     1.555449  84.097573
True        f    35.446657  85.446657
            m    35.172665  95.456547

In [40]:
male = go.Scatter(x=dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='m')].sort_values('svl')['svl'],
          y=dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='m')].sort_values('svl')['tl'],
                  name = 'Male',mode='markers',marker=dict(size=5,opacity=0.8))
female = go.Scatter(x=dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='f')].sort_values('svl')['svl'],
          y=dfPred.loc[(dfPred.extremeRatio==False)&(dfPred.sex=='f')].sort_values('svl')['tl'],
                    name = 'Female',mode='markers',marker=dict(size=5,opacity=0.8))
All = go.Scatter(x=dfPred.loc[(dfPred.extremeRatio==False)].sort_values('svl')['svl'],
          y=dfPred.loc[(dfPred.extremeRatio==False)].sort_values('svl')['tl'],
                    name = 'All',mode='markers',marker=dict(size=20,opacity=0.5,line=dict(width=2)))
maleOut = go.Scatter(x=dfPred.loc[(dfPred.extremeRatio!=False)&(dfPred.sex=='m')].sort_values('svl')['svl'],
          y=dfPred.loc[(dfPred.extremeRatio!=False)&(dfPred.sex=='m')].sort_values('svl')['tl'],
                  name = 'Male Extreme',mode='markers',marker=dict(size=5,opacity=0.8))
femaleOut = go.Scatter(x=dfPred.loc[(dfPred.extremeRatio!=False)&(dfPred.sex=='f')].sort_values('svl')['svl'],
          y=dfPred.loc[(dfPred.extremeRatio!=False)&(dfPred.sex=='f')].sort_values('svl')['tl'],
                    name = 'Female Extreme',mode='markers',marker=dict(size=5,opacity=0.8))
AllOut = go.Scatter(x=dfPred.loc[(dfPred.extremeRatio!=False)].sort_values('svl')['svl'],
          y=dfPred.loc[(dfPred.extremeRatio!=False)].sort_values('svl')['tl'],
                    name = 'All Extreme',mode='markers',marker=dict(size=20,opacity=0.5,line=dict(width=2)))

data = [All,male,female,AllOut,maleOut,femaleOut]
layout = go.Layout(
    title = 'Scatter Plot of SVL vs TL for Intact <i>Sceloporus jarrovii</i> CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        tickangle=45,
        dtick = 1,
        title = 'SVL (mm)',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL (mm)',
#         tickformat = ".0%",
        titlefont = dict(
            size = 18))
)

fig = go.Figure(
        data = data,
        layout = layout)
# fig.update_xaxes(range=[0,dfPred.loc[(dfPred.autotomized==False)]['count'].describe()['max']+1])
# fig.update_yaxes(range=[0,1])

#iplot(fig, filename = 'Scatter Plot of SVL vs TL for Intact Sceloporus jarrovii CC 2000-2017.html')
plot(fig, filename = 'Scatter Plot of SVL vs TL for Intact Sceloporus jarrovii CC 2000-2017.html')

'Scatter Plot of SVL vs TL for Intact Sceloporus jarrovii CC 2000-2017.html'

In [41]:
dfPred.loc[((dfPred.autotomized==False)&(dfPred.extremeRatio==False))|
          (dfPred.autotomized==True)].groupby(['autotomized','sex']).propDiff.describe()

                 count      mean       std       min       25%       50%  \
autotomized sex
False       f    323.0 -0.000010  0.047869 -0.074636 -0.033645 -0.005451
            m    240.0  0.000006  0.040450 -0.061795 -0.029094 -0.004361
True        f    182.0  0.292450  0.173163  0.012427  0.162749  0.265895
            m    176.0  0.269036  0.162872 -0.015294  0.177417  0.234152

                      75%       max
autotomized sex
False       f    0.024358  0.407461
            m    0.018941  0.180598
True        f    0.384918  0.850667
            m    0.344227  0.830776

In [42]:
dfPred.loc[((dfPred.autotomized==False)&(dfPred.extremeRatio==False))|
          (dfPred.autotomized==True)].groupby(['year','autotomized'])\
.propDiff.describe()[['count','50%']].reset_index()

    year  autotomized  count       50%
0   2000        False   72.0 -0.003388
1   2000         True   45.0  0.219725
2   2001        False   52.0 -0.007958
3   2001         True   34.0  0.254708
4   2002        False   55.0  0.004136
5   2002         True   30.0  0.251381
6   2003        False   32.0  0.000954
7   2003         True   22.0  0.235337
8   2004        False   28.0  0.000927
9   2004         True   20.0  0.224210
10  2005        False   26.0 -0.009636
11  2005         True   28.0  0.258980
12  2006        False    2.0  0.068888
13  2007        False   36.0 -0.002254
14  2007         True   10.0  0.243940
15  2008        False   40.0 -0.015377
16  2008         True   23.0  0.282811
17  2009        False   30.0  0.005824
18  2009         True   23.0  0.251055
19  2010        False   25.0 -0.004860
20  2010         True   18.0  0.239202
21  2011        False    3.0  0.014866
22  2012        False   36.0 -0.004407
23  2012         True   13.0  0.212649
24  2013        False   24.0 -0.026546
25  2013         True   20.0  0.296360
26  2014        False   20.0 -0.025900
27  2014         True   14.0  0.343571
28  2015        False   28.0  0.004830
29  2015         True   19.0  0.179927
30  2016        False   37.0  0.014866
31  2016         True   24.0  0.309545
32  2017        False   17.0 -0.028152
33  2017         True   15.0  0.237516

In [43]:
dfYearlyEst = dfPred.loc[((dfPred.autotomized==False)&(dfPred.extremeRatio==False))|
          (dfPred.autotomized==True)].groupby(['year','autotomized','sex'])\
.propDiff.describe()[['count','50%']].reset_index(drop=False).merge(dfPred.loc[((dfPred.autotomized==False)&(dfPred.extremeRatio==False))|
          (dfPred.autotomized==True)].groupby(['year','autotomized'])\
.propDiff.describe()[['count','50%']].reset_index().rename(columns = {'count':'count_all',
                                                                      '50%':'50%_all'}),
                                                                    how = 'left',
                                                                    on =['year','autotomized'])
dfYearlyEst.loc[dfYearlyEst.autotomized]

    year  autotomized sex  count       50%  count_all   50%_all
2   2000         True   f   23.0  0.217982       45.0  0.219725
3   2000         True   m   22.0  0.227474       45.0  0.219725
6   2001         True   f   11.0  0.257220       34.0  0.254708
7   2001         True   m   23.0  0.252196       34.0  0.254708
10  2002         True   f   13.0  0.172853       30.0  0.251381
11  2002         True   m   17.0  0.286899       30.0  0.251381
14  2003         True   f   13.0  0.262669       22.0  0.235337
15  2003         True   m    9.0  0.219466       22.0  0.235337
18  2004         True   f   12.0  0.122978       20.0  0.224210
19  2004         True   m    8.0  0.247734       20.0  0.224210
22  2005         True   f   14.0  0.290475       28.0  0.258980
23  2005         True   m   14.0  0.220372       28.0  0.258980
28  2007         True   f    7.0  0.164628       10.0  0.243940
29  2007         True   m    3.0  0.289930       10.0  0.243940
32  2008         True   f    9.0  0.343244       23.0  0.282811
33  2008         True   m   14.0  0.279343       23.0  0.282811
36  2009         True   f   11.0  0.354452       23.0  0.251055
37  2009         True   m   12.0  0.225627       23.0  0.251055
40  2010         True   f    9.0  0.336848       18.0  0.239202
41  2010         True   m    9.0  0.142830       18.0  0.239202
45  2012         True   f   11.0  0.212649       13.0  0.212649
46  2012         True   m    2.0  0.393388       13.0  0.212649
49  2013         True   f   13.0  0.407461       20.0  0.296360
50  2013         True   m    7.0  0.137236       20.0  0.296360
53  2014         True   f   12.0  0.347868       14.0  0.343571
54  2014         True   m    2.0  0.250950       14.0  0.343571
57  2015         True   f    7.0  0.388428       19.0  0.179927
58  2015         True   m   12.0  0.157633       19.0  0.179927
61  2016         True   f   10.0  0.359189       24.0  0.309545
62  2016         True   m   14.0  0.300492       24.0  0.309545
65  2017         True   f    7.0  0.212232       15.0  0.237516
66  2017         True   m    8.0  0.286366       15.0  0.237516

In [44]:
male = go.Scatter(x=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='m')].sort_values('count_all')['count'],
          y=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='m')].sort_values('count_all')['50%'],
                  name = 'Male',mode='markers')
female = go.Scatter(x=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='f')].sort_values('count_all')['count'],
          y=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='f')].sort_values('count_all')['50%'],
                  name = 'Female',mode='markers')
All = go.Scatter(x=dfYearlyEst.loc[(dfYearlyEst.autotomized)].sort_values('count_all')['count_all'],
          y=dfYearlyEst.loc[(dfYearlyEst.autotomized)].sort_values('count_all')['50%_all'],
                    name = 'All',mode='markers',marker=dict(size=20,opacity=0.5,line=dict(width=2)))
medianAll = go.Scatter(x=[0,dfYearlyEst.loc[(dfYearlyEst.autotomized)]['count_all'].describe()['max']+1],
                      y=[dfYearlyEst.loc[(dfYearlyEst.autotomized)]['50%_all'].median(),
                        dfYearlyEst.loc[(dfYearlyEst.autotomized)]['50%_all'].median()],
                         name='medianAll',mode='lines')
data = [All,male,female,medianAll]
layout = go.Layout(
    title = 'Scatter Plot of Population Size vs Median Proportion of Tail Loss for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Population Size',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median Proportion of Tail Lost',
        tickformat = ".0%",
        titlefont = dict(
            size = 18)),
    boxmode= 'group')

fig = go.Figure(
        data = data,
        layout = layout)
fig.update_xaxes(range=[0,dfYearlyEst.loc[(dfYearlyEst.autotomized)]['count_all'].describe()['max']+1])
fig.update_yaxes(range=[0,1])

#iplot(fig, filename = 'Scatter Plot of Population Size vs Median Proportion of Tail Loss for CC 2000-2017.html')
plot(fig, filename = 'Scatter Plot of Population Size vs Median Proportion of Tail Loss for CC 2000-2017.html')

'Scatter Plot of Population Size vs Median Proportion of Tail Loss for CC 2000-2017.html'

In [45]:
male = go.Scatter(x=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='m')]['year'],
          y=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='m')]['50%'],
                  name = 'Male',mode='markers')
female = go.Scatter(x=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='f')]['year'],
          y=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='f')]['50%'],
                  name = 'Female',mode='markers')
All = go.Scatter(x=dfYearlyEst.loc[(dfYearlyEst.autotomized)]['year'],
          y=dfYearlyEst.loc[(dfYearlyEst.autotomized)]['50%_all'],
                    name = 'All',mode='lines',marker=dict(size=20,opacity=0.5,line=dict(width=2)))
medianAll = go.Scatter(x=[dfYearlyEst.loc[(dfYearlyEst.autotomized)]['year'].describe()['min'],
                          dfYearlyEst.loc[(dfYearlyEst.autotomized)]['year'].describe()['max']],
                      y=[dfYearlyEst.loc[(dfYearlyEst.autotomized)]['50%_all'].median(),
                        dfYearlyEst.loc[(dfYearlyEst.autotomized)]['50%_all'].median()],
                         name='medianAll',mode='lines')
data = [All,male,female,medianAll]
layout = go.Layout(
    title = 'Scatter Plot of Median Proportion of Tail Loss for CC 2000-2017 by Year',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median Proportion of Tail Lost',
        tickformat = ".0%",
        titlefont = dict(
            size = 18)),
    boxmode= 'group')

fig = go.Figure(
        data = data,
        layout = layout)
# fig.update_xaxes(range=[0,dfYearlyEst.loc[(dfYearlyEst.autotomized)]['count_all'].describe()['max']+1])
# fig.update_yaxes(range=[0,1])

#iplot(fig, filename = 'Scatter Plot of Median Proportion of Tail Loss for CC 2000-2017 by Year.html')
plot(fig, filename = 'Scatter Plot of Median Proportion of Tail Loss for CC 2000-2017 by Year.html')

'Scatter Plot of Median Proportion of Tail Loss for CC 2000-2017 by Year.html'

To be done:

- for each sex and all, regress prop tl on relevant count 
- add these lines to plots with CI
- report on stat (what does this tell us?)

# resume
[TOC](#Table-of-Contents)

In [46]:
male = go.Box(y=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='m')]['50%'],
                  name = 'Male (n = {:.0f})'\
              .format(dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='m')]['count'].sum()))
female = go.Box(y=dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='f')]['50%'],
                    name = 'Female (n = {:.0f})'\
              .format(dfYearlyEst.loc[(dfYearlyEst.autotomized)&(dfYearlyEst.sex=='f')]['count'].sum()))
All = go.Box(y=dfYearlyEst.loc[(dfYearlyEst.autotomized)]['50%'],
                    name = 'All (n = {:.0f})'\
              .format(dfYearlyEst.loc[(dfYearlyEst.autotomized)]['count'].sum()))
data = [All,male,female,]
layout = go.Layout(
    title = 'Boxplot Median Proportion of Tail Loss for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Population Size',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median Proportion of Tail Lost',
        tickformat = ".0%",
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'Boxplot Median Proportion of Tail Loss for CC 2000-2017.html')
plot(fig, filename = 'Boxplot Median Proportion of Tail Loss for CC 2000-2017.html')

'Boxplot Median Proportion of Tail Loss for CC 2000-2017.html'

In [47]:
dfPred.loc[(dfPred.autotomized==True)].groupby('sex').propDiff.describe()

,count,mean,std,min,25%,50%,75%,max
sex,,,,,,,,
f,182.0,0.292450,0.173163,0.012427,0.162749,0.265895,0.384918,0.850667
m,176.0,0.269036,0.162872,-0.015294,0.177417,0.234152,0.344227,0.830776

In [48]:
female = go.Box(x=dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='f')]['year'], 
                y = dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='f')].propDiff
                      ,name='Females')
male = go.Box(x=dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='m')]['year'], 
              y = dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='m')].propDiff
                    ,name='Males')
All = go.Box(x=dfPred.loc[(dfPred.autotomized==True)]['year'], 
              y = dfPred.loc[(dfPred.autotomized==True)].propDiff
                    ,name='All')
data = [All,male,female]
layout = go.Layout(
    title = 'Box Plot of Tail Lost at Capture for <i>Sceloporus jarrovii</i> by Year',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'propDiff',
        tickformat = ".0%",
        titlefont = dict(
            size = 18)),
    boxmode= 'group')

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'Box Plot of TL/SVL Sceloporus jarrovii by Year.html')
# plot(fig, filename = 'Box Plot of TL/SVL Sceloporus jarrovii by Year.html')

In [49]:
female = go.Box(x=dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='f')]['year'], 
                y = dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='f')].propDiff
                      ,name='Females')
male = go.Box(x=dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='m')]['year'], 
              y = dfPred.loc[(dfPred.autotomized==True)&(dfPred.sex=='m')].propDiff
                    ,name='Males')
All = go.Box(x=dfPred.loc[(dfPred.autotomized==True)]['year'], 
              y = dfPred.loc[(dfPred.autotomized==True)].propDiff
                    ,name='All')
data = [All,male,female]
layout = go.Layout(
    title = 'Box Plot of Tail Lost at Capture for <i>Sceloporus jarrovii</i> by Year',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'propDiff',
        tickformat = ".0%",
        titlefont = dict(
            size = 18)),
    boxmode= 'group')

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'Box Plot of TL/SVL Sceloporus jarrovii by Year.html')
# plot(fig, filename = 'Box Plot of TL/SVL Sceloporus jarrovii by Year.html')

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Morphometrics

In this section we describe the distributions of various morphometrics.

- [SVL](#SVL)
- [TL](#TL)
- [RTL](#RTL)
- [Mass](#SVL)

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

#### SVL

Now we examine the range and distribution of svl values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of SVL](#SVLhist)

In [50]:
print("svl values in the data set range from {} to {} for and are distributed across sex \
as displayed here:"\
      .format(df_firstInYear.svl.min(), df_firstInYear.svl.max()))
description(df_firstInYear.groupby('sex'),variable='svl')

svl values in the data set range from 56.0 to 98.0 for and are distributed across sex as displayed here:

,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
sex,,,,,,,,,,
f,538.0,68.685874,7.217544,56.0,63.0,68.0,75.0,86.0,6.0,not calculated
m,459.0,77.655773,9.586610,56.0,71.0,79.0,85.0,98.0,7.0,not calculated

In [51]:
SVLbyYear = description(df_firstInYear.groupby(['year','sex']),'svl').reset_index()
SVLbyYear

,year,sex,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
0,2000,f,65.0,65.876923,7.507304,56.0,60.00,65.0,70.00,83.0,5.000,not calculated
1,2000,m,59.0,74.067797,10.837140,56.0,64.00,72.0,84.00,98.0,10.000,not calculated
2,2001,f,47.0,68.276596,7.288174,56.0,64.00,68.0,72.50,82.0,4.250,not calculated
3,2001,m,45.0,75.955556,10.411872,56.0,67.00,78.0,85.00,93.0,9.000,not calculated
4,2002,f,51.0,65.372549,7.541779,56.0,59.00,62.0,72.00,80.0,6.500,not calculated
5,2002,m,46.0,74.326087,10.968752,56.0,65.00,72.5,84.75,92.0,9.875,not calculated
6,2003,f,35.0,67.657143,5.900862,57.0,64.50,68.0,70.50,80.0,3.000,not calculated
7,2003,m,28.0,74.571429,10.938984,56.0,65.00,76.0,85.00,89.0,10.000,not calculated
8,2004,f,30.0,68.300000,6.752522,58.0,63.50,66.5,74.00,80.0,5.250,not calculated
9,2004,m,24.0,76.666667,8.154309,63.0,71.50,78.5,80.50,91.0,4.500,not calculated
10,2005,f,29.0,69.586207,6.236513,59.0,64.00,71.0,74.00,80.0,5.000,not calculated
11,2005,m,31.0,76.677419,8.047306,62.0,71.50,74.0,82.50,91.0,5.500,not calculated
12,2006,f,1.0,58.000000,NaN,58.0,58.00,58.0,58.00,58.0,0.000,not calculated
13,2006,m,1.0,62.000000,NaN,62.0,62.00,62.0,62.00,62.0,0.000,not calculated
14,2007,f,30.0,71.500000,5.217676,63.0,68.00,71.0,74.75,82.0,3.375,not calculated
15,2007,m,21.0,80.952381,4.455067,73.0,78.00,82.0,83.00,89.0,2.500,not calculated
16,2008,f,35.0,66.171429,7.018822,56.0,61.00,65.0,70.50,83.0,4.750,not calculated
17,2008,m,32.0,79.312500,8.999776,62.0,73.00,80.5,88.25,91.0,7.625,not calculated
18,2009,f,29.0,70.310345,4.907017,64.0,66.00,69.0,74.00,80.0,4.000,not calculated
19,2009,m,25.0,82.160000,6.612362,72.0,75.00,83.0,88.00,93.0,6.500,not calculated
20,2010,f,24.0,71.083333,6.826525,56.0,67.50,73.5,75.00,82.0,3.750,not calculated
21,2010,m,21.0,82.047619,12.535853,56.0,73.00,88.0,92.00,96.0,9.500,not calculated
22,2011,f,3.0,60.000000,1.732051,58.0,59.50,61.0,61.00,61.0,0.750,not calculated
23,2011,m,2.0,68.000000,0.000000,68.0,68.00,68.0,68.00,68.0,0.000,not calculated
24,2012,f,31.0,70.838710,7.633683,59.0,65.00,69.0,77.50,83.0,6.250,not calculated
25,2012,m,20.0,80.150000,6.539556,70.0,75.75,81.5,83.25,93.0,3.750,not calculated
26,2013,f,29.0,66.655172,6.919310,57.0,61.00,64.0,74.00,79.0,6.500,not calculated
27,2013,m,25.0,78.320000,7.312774,66.0,72.00,80.0,85.00,92.0,6.500,not calculated
28,2014,f,25.0,70.000000,6.027714,60.0,67.00,68.0,73.00,86.0,3.000,not calculated
29,2014,m,12.0,81.583333,6.653206,71.0,76.50,83.0,85.00,91.0,4.250,not calculated
30,2015,f,27.0,73.555556,5.846323,64.0,67.50,75.0,79.00,82.0,5.750,not calculated
31,2015,m,21.0,83.619048,6.037186,73.0,78.00,84.0,89.00,95.0,5.500,not calculated
32,2016,f,31.0,70.225806,7.948625,59.0,63.50,68.0,78.50,85.0,7.500,not calculated
33,2016,m,30.0,76.033333,8.957691,63.0,68.25,75.0,83.00,92.0,7.375,not calculated
34,2017,f,16.0,75.437500,6.397591,63.0,70.00,77.0,80.25,84.0,5.125,not calculated
35,2017,m,16.0,83.875000,5.829523,75.0,79.00,84.0,90.00,93.0,5.500,not calculated

Let's plot these values.

##### Figures of SVL values

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [52]:
female = go.Box(x=df_firstInYear.loc[(df_firstInYear.sex=='f')]['year'], 
                y = df_firstInYear.loc[(df_firstInYear.sex=='f')].svl
                      ,name='Female Box')
male = go.Box(x=df_firstInYear.loc[(df_firstInYear.sex=='m')]['year'], 
              y = df_firstInYear.loc[(df_firstInYear.sex=='m')].svl
                    ,name='Males Box')
female_line = go.Scatter(x=SVLbyYear.loc[(SVLbyYear.sex=='f')]['year'], 
                y = SVLbyYear.loc[(SVLbyYear.sex=='f')]['50%']
                      ,name='Female Median', line = dict(color = 'red'))
male_line = go.Scatter(x=SVLbyYear.loc[(SVLbyYear.sex=='m')]['year'], 
              y = SVLbyYear.loc[(SVLbyYear.sex=='m')]['50%']
                    ,name='Male Median', line = dict(color = 'blue'))
female_count = go.Scatter(x=SVLbyYear.loc[(SVLbyYear.sex=='f')]['year'], 
                y = SVLbyYear.loc[(SVLbyYear.sex=='f')]['count']
                      ,name='Females Count',line = dict(color = 'red',dash = 'dash'))
male_count = go.Scatter(x=SVLbyYear.loc[(SVLbyYear.sex=='m')]['year'], 
              y = SVLbyYear.loc[(SVLbyYear.sex=='m')]['count']
                    ,name='Male Count',line = dict(color = 'blue',dash = 'dash'))

data = [male,female,male_line,female_line,male_count,female_count]
layout = go.Layout(
    title = 'Box Plot of SVL at Capture for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median SVL (mm)',
        titlefont = dict(
            size = 18)),
    boxmode= 'group')

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'Box Plot of Median SVL Sceloporus jarrovii in CC 2000-2017.html')
plot(fig, filename = 'Box Plot of Median SVL Sceloporus jarrovii in CC 2000-2017.html')

'Box Plot of Median SVL Sceloporus jarrovii in CC 2000-2017.html'

To be done:
- look at correlation between the count and the median svl 
Outliers will be addressed in the Cleaning notebook, but will be removed for the remained of the analyses here.

#### TL

Now we examine the range and distribution of TL values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of TL](#TLhist)

In [53]:
TLbyYear = description(df_firstInYear.groupby(['year','autotomized','sex']),'tl').reset_index()
TLbyYear

,year,autotomized,sex,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
0,2000,False,f,42.0,86.714286,9.796181,70.0,79.00,84.5,93.75,114.0,7.375,not calculated
1,2000,False,m,37.0,98.135135,14.171886,70.0,87.00,98.0,111.00,122.0,12.000,not calculated
2,2000,True,f,23.0,69.304348,13.039920,42.0,63.50,67.0,77.50,93.0,7.000,not calculated
3,2000,True,m,22.0,78.454545,17.081673,45.0,64.00,76.0,93.00,108.0,14.500,not calculated
4,2001,False,f,36.0,91.861111,8.626050,76.0,85.75,92.0,98.00,109.0,6.125,not calculated
5,2001,False,m,22.0,100.090909,13.309177,79.0,91.00,100.0,110.50,124.0,9.750,not calculated
6,2001,True,f,11.0,67.454545,14.989087,35.0,62.00,67.0,75.00,92.0,6.500,not calculated
7,2001,True,m,23.0,75.956522,15.399168,26.0,70.00,80.0,83.50,103.0,6.750,not calculated
8,2002,False,f,38.0,87.473684,11.074043,48.0,80.25,88.0,96.50,106.0,8.125,not calculated
9,2002,False,m,29.0,99.965517,15.760445,77.0,87.00,97.0,114.00,130.0,13.500,not calculated
10,2002,True,f,13.0,65.846154,22.689374,23.0,54.00,69.0,86.00,91.0,16.000,not calculated
11,2002,True,m,17.0,75.117647,18.963394,25.0,65.00,78.0,90.00,100.0,12.500,not calculated
12,2003,False,f,22.0,88.454545,7.359654,77.0,83.25,87.5,91.00,105.0,3.875,not calculated
13,2003,False,m,19.0,99.210526,23.510232,19.0,91.50,105.0,110.50,132.0,9.500,not calculated
14,2003,True,f,13.0,61.307692,22.298672,18.0,52.00,66.0,74.00,93.0,11.000,not calculated
15,2003,True,m,9.0,66.333333,25.406692,19.0,60.00,75.0,84.00,97.0,12.000,not calculated
16,2004,False,f,18.0,91.111111,8.910594,77.0,85.25,88.5,95.50,112.0,5.125,not calculated
17,2004,False,m,16.0,98.375000,20.421802,31.0,96.50,104.0,107.00,123.0,5.250,not calculated
18,2004,True,f,12.0,79.416667,14.600488,57.0,67.50,78.0,91.50,101.0,12.000,not calculated
19,2004,True,m,8.0,77.000000,12.716693,66.0,67.00,73.0,82.25,101.0,7.625,not calculated
20,2005,False,f,15.0,94.333333,7.489675,80.0,90.00,96.0,99.00,108.0,4.500,not calculated
21,2005,False,m,17.0,104.176471,10.690155,88.0,96.00,103.0,109.00,130.0,6.500,not calculated
22,2005,True,f,14.0,68.500000,13.500712,44.0,59.00,66.5,75.75,92.0,8.375,not calculated
23,2005,True,m,14.0,80.642857,5.732594,68.0,79.25,81.5,84.00,88.0,2.375,not calculated
24,2006,False,f,1.0,74.000000,NaN,74.0,74.00,74.0,74.00,74.0,0.000,not calculated
25,2006,False,m,1.0,78.000000,NaN,78.0,78.00,78.0,78.00,78.0,0.000,not calculated
26,2007,False,f,23.0,94.130435,9.978633,71.0,87.50,94.0,100.00,114.0,6.250,not calculated
27,2007,False,m,18.0,109.611111,8.458472,92.0,104.00,110.5,116.00,123.0,6.000,not calculated
28,2007,True,f,7.0,80.142857,14.507798,61.0,69.00,82.0,89.00,102.0,10.000,not calculated
29,2007,True,m,3.0,75.666667,13.503086,62.0,69.00,76.0,82.50,89.0,6.750,not calculated
30,2008,False,f,26.0,84.884615,16.676515,10.0,85.00,86.5,90.75,105.0,2.875,not calculated
31,2008,False,m,18.0,106.555556,13.482984,87.0,95.00,104.0,118.75,125.0,11.875,not calculated
32,2008,True,f,9.0,53.888889,25.736377,15.0,46.00,54.0,66.00,90.0,10.000,not calculated
33,2008,True,m,14.0,75.142857,13.631734,52.0,68.50,71.5,87.75,95.0,9.625,not calculated
34,2009,False,f,18.0,94.777778,6.412814,80.0,91.25,94.5,98.25,109.0,3.500,not calculated
35,2009,False,m,13.0,106.230769,11.555330,85.0,100.00,106.0,114.00,123.0,7.000,not calculated
36,2009,True,f,11.0,57.363636,22.402110,24.0,41.50,57.0,74.50,90.0,16.500,not calculated
37,2009,True,m,12.0,88.000000,16.846904,53.0,82.75,88.5,97.00,124.0,7.125,not calculated
38,2010,False,f,15.0,97.733333,10.429811,77.0,92.00,99.0,104.50,113.0,6.250,not calculated
39,2010,False,m,12.0,107.083333,19.166535,72.0,94.25,109.0,125.25,128.0,15.500,not calculated
40,2010,True,f,9.0,65.111111,9.089065,50.0,62.00,65.0,70.00,79.0,4.000,not calculated
41,2010,True,m,9.0,99.000000,18.152135,65.0,86.00,100.0,111.00,125.0,12.500,not calculated
42,2011,False,f,3.0,79.666667,2.309401,77.0,79.00,81.0,81.00,81.0,1.000,not calculated
43,2011,False,m,2.0,101.000000,0.000000,101.0,101.00,101.0,101.00,101.0,0.000,not calculated
44,2012,False,f,20.0,92.200000,9.849392,80.0,85.75,87.5,100.00,111.0,7.125,not calculated
45,2012,False,m,18.0,109.388889,10.239134,96.0,101.25,107.0,115.00,131.0,6.875,not calculated
46,2012,True,f,11.0,75.272727,9.685979,63.0,65.00,79.0,81.50,91.0,8.250,not calculated
47,2012,True,m,2.0,67.500000,50.204581,32.0,49.75,67.5,85.25,103.0,17.750,not calculated
48,2013,False,f,16.0,94.312500,10.300283,78.0,88.00,95.5,100.25,112.0,6.125,not calculated
49,2013,False,m,18.0,110.166667,10.755300,90.0,102.25,108.5,119.00,130.0,8.375,not calculated
50,2013,True,f,13.0,57.000000,15.143756,27.0,50.00,53.0,65.00,87.0,7.500,not calculated
51,2013,True,m,7.0,76.714286,34.310903,25.0,57.50,95.0,97.00,108.0,19.750,not calculated
52,2014,False,f,13.0,96.076923,9.411531,84.0,90.00,95.0,100.00,121.0,5.000,not calculated
53,2014,False,m,10.0,112.600000,10.731056,97.0,103.75,113.5,120.00,126.0,8.125,not calculated
54,2014,True,f,12.0,61.000000,13.163310,42.0,53.25,62.5,68.00,88.0,7.375,not calculated
55,2014,True,m,2.0,85.500000,17.677670,73.0,79.25,85.5,91.75,98.0,6.250,not calculated
56,2015,False,f,20.0,96.350000,7.741039,84.0,89.75,97.0,102.00,114.0,6.125,not calculated
57,2015,False,m,9.0,111.555556,8.833333,100.0,107.00,110.0,120.00,126.0,6.500,not calculated
58,2015,True,f,7.0,65.571429,18.192097,49.0,52.00,55.0,80.50,90.0,14.250,not calculated
59,2015,True,m,12.0,92.333333,23.634848,40.0,75.75,95.0,107.50,120.0,15.875,not calculated
60,2016,False,f,21.0,90.428571,10.161552,77.0,81.00,90.0,100.00,112.0,9.500,not calculated
61,2016,False,m,16.0,101.812500,13.141379,88.0,90.00,97.5,110.75,127.0,10.375,not calculated
62,2016,True,f,10.0,56.000000,14.181365,30.0,51.00,61.5,65.25,73.0,7.125,not calculated
63,2016,True,m,14.0,70.428571,20.720537,26.0,62.25,73.0,78.25,107.0,8.000,not calculated
64,2017,False,f,9.0,99.333333,10.185774,81.0,93.00,100.0,102.00,116.0,4.500,not calculated
65,2017,False,m,8.0,110.875000,7.079901,103.0,106.00,109.0,114.25,125.0,4.125,not calculated
66,2017,True,f,7.0,78.000000,11.269428,60.0,72.50,82.0,85.50,88.0,6.500,not calculated
67,2017,True,m,8.0,85.125000,16.847531,68.0,70.00,82.5,95.00,116.0,12.500,not calculated

##### Histogram of TL (Intact)

In [54]:
femaleBoxIntact = go.Box(x=df_firstInYear.loc[(df_firstInYear.sex=='f')]['year'], 
                y = df_firstInYear.loc[(df_firstInYear.sex=='f')&~(df_firstInYear.autotomized)].tl
                      ,name='Females')
maleBoxIntact = go.Box(x=df_firstInYear.loc[(df_firstInYear.sex=='m')]['year'], 
              y = df_firstInYear.loc[(df_firstInYear.sex=='m')&~(df_firstInYear.autotomized)].tl
                    ,name='Males')
femaleIntact = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['year'], 
                      y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['50%']
                      ,name='Intact Females')
maleIntact = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['year'], 
              y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['50%']
                    ,name='Intact Males')
female_count = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['year'], 
                y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['count']
                      ,name='Females Count',line = dict(color = 'red',dash = 'dash'))
male_count = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['year'], 
              y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['count']
                    ,name='Male Count',line = dict(color = 'blue',dash = 'dash'))

data = [maleBoxIntact,femaleBoxIntact,maleIntact,femaleIntact,male_count,female_count]
layout = go.Layout(
    title = 'TL for Intact <i>Sceloporus jarrovii</i> in CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL (mm)',
        titlefont = dict(
            size = 18)),
boxmode='group')

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'TL for Intact Sceloporus jarrovii in CC 2000-2017.html')
plot(fig, filename = 'TL for Intact Sceloporus jarrovii in CC 2000-2017.html')

'TL for Intact Sceloporus jarrovii in CC 2000-2017.html'

To be done:
- look at correlation between the count and the median tl 
Outliers will be addressed in the Cleaning notebook, but will be removed for the remained of the analyses here.

##### Histogram of TL (Autotomized)

In [55]:
femaleBoxAutotomized = go.Box(x=df_firstInYear.loc[(df_firstInYear.sex=='f')]['year'], 
                y = df_firstInYear.loc[(df_firstInYear.sex=='f')&(df_firstInYear.autotomized)].tl
                      ,name='Females')
maleBoxAutotomized = go.Box(x=df_firstInYear.loc[(df_firstInYear.sex=='m')]['year'], 
              y = df_firstInYear.loc[(df_firstInYear.sex=='m')&(df_firstInYear.autotomized)].tl
                    ,name='Males')
femaleAutotomized = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['year'], 
                      y = TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['50%']
                      ,name='Autotomized Females')
maleAutotomized = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['year'], 
              y = TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['50%']
                    ,name='Autotomized Males')
female_count = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['year'], 
                y = TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['count']
                      ,name='Females Count',line = dict(color = 'red',dash = 'dash'))
male_count = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['year'], 
              y = TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['count']
                    ,name='Male Count',line = dict(color = 'blue',dash = 'dash'))

data = [maleBoxAutotomized,femaleBoxAutotomized,maleAutotomized,femaleAutotomized,male_count,female_count]
layout = go.Layout(
    title = 'TL for Autotomized <i>Sceloporus jarrovii</i> in CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL (mm)',
        titlefont = dict(
            size = 18)),
boxmode='group')

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'TL for Autotomized Sceloporus jarrovii in CC 2000-2017.html')
plot(fig, filename = 'TL for Autotomized Sceloporus jarrovii in CC 2000-2017.html')

'TL for Autotomized Sceloporus jarrovii in CC 2000-2017.html'

##### Histogram of TL (Intact vs. Autotomized) 2

In [56]:
TLbyYear.groupby('year')['year','50%'].apply(lambda x: x[['50%']])

      50%
0    84.5
1    98.0
2    67.0
3    76.0
4    92.0
5   100.0
6    67.0
7    80.0
8    88.0
9    97.0
10   69.0
11   78.0
12   87.5
13  105.0
14   66.0
15   75.0
16   88.5
17  104.0
18   78.0
19   73.0
20   96.0
21  103.0
22   66.5
23   81.5
24   74.0
25   78.0
26   94.0
27  110.5
28   82.0
29   76.0
30   86.5
31  104.0
32   54.0
33   71.5
34   94.5
35  106.0
36   57.0
37   88.5
38   99.0
39  109.0
40   65.0
41  100.0
42   81.0
43  101.0
44   87.5
45  107.0
46   79.0
47   67.5
48   95.5
49  108.5
50   53.0
51   95.0
52   95.0
53  113.5
54   62.5
55   85.5
56   97.0
57  110.0
58   55.0
59   95.0
60   90.0
61   97.5
62   61.5
63   73.0
64  100.0
65  109.0
66   82.0
67   82.5

In [57]:
# BoxAut = go.Box(x=df_firstInYear.loc[(df_firstInYear.autotomized)]['year'], 
#                 y = df_firstInYear.loc[(df_firstInYear.autotomized)].tl
#                       ,name='Autotomized')
# BoxIntact = go.Box(x=df_firstInYear.loc[(df_firstInYear.autotomized==False)]['year'], 
#               y = df_firstInYear.loc[(df_firstInYear.autotomized==False)].tl
#                     ,name='Intact')
compared = (TLbyYear.loc[~(TLbyYear.autotomized)]['50%'].reset_index(drop=True))\
-(TLbyYear.loc[(TLbyYear.autotomized)]['50%'].reset_index(drop=True))
Comparison = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)]['year'], 
                   y = compared,name='Intact - Autotomized',
                       mode = 'markers')
# Intact = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)]['year'], 
#               y = TLbyYear.loc[~(TLbyYear.autotomized)]['50%']
#                     ,name='Intact')
data = [Comparison]
layout = go.Layout(
    title = 'Comparison on Median TL of <i>Sceloporus jarrovii</i> in CC 2000-2017 by Tail Condition',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL (mm)',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
#iplot(fig, filename = 'Comparison on Median TL of Sceloporus jarrovii in CC 2000-2017.html')
plot(fig, filename = 'Comparison on Median TL of Sceloporus jarrovii in CC 2000-2017.html')

'Comparison on Median TL of Sceloporus jarrovii in CC 2000-2017.html'

##### Histogram of TL (Intact vs. Autotomized)

In [58]:
BoxAut = go.Box(x=df_firstInYear.loc[(df_firstInYear.autotomized)]['year'], 
                y = df_firstInYear.loc[(df_firstInYear.autotomized)].tl
                      ,name='Autotomized')
BoxIntact = go.Box(x=df_firstInYear.loc[(df_firstInYear.autotomized==False)]['year'], 
              y = df_firstInYear.loc[(df_firstInYear.autotomized==False)].tl
                    ,name='Intact')
# Autotomized = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)]['year'], 
#                    y = TLbyYear.loc[(TLbyYear.autotomized)]['50%']
#                       ,name='Autotomized')
# Intact = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)]['year'], 
#               y = TLbyYear.loc[~(TLbyYear.autotomized)]['50%']
#                     ,name='Intact')
data = [BoxAut,BoxIntact]
layout = go.Layout(
    title = 'TL of <i>Sceloporus jarrovii</i> in CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL (mm)',
        titlefont = dict(
            size = 18)),
boxmode='group')

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'TL of Sceloporus jarrovii in CC 2000-2017.html')
#plot(fig, filename = 'TL of Sceloporus jarrovii in CC 2000-2017.html')

'TL of Sceloporus jarrovii in CC 2000-2017.html'

#### RTL

Now we examine the range and distribution of RTL values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of RTL](#RTLhist)

In [59]:
RTLbyYear = description(df_firstInYear.loc[df_firstInYear.autotomized].groupby(['year','sex']),'rtl').reset_index()
RTLbyYear

,year,sex,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
0,2000,f,23.0,22.826087,14.083040,0.0,13.50,27.0,32.50,48.0,9.500,not calculated
1,2000,m,22.0,22.590909,17.374472,0.0,3.25,24.5,35.25,55.0,16.000,not calculated
2,2001,f,11.0,21.181818,20.375565,0.0,0.00,23.0,38.00,50.0,19.000,not calculated
3,2001,m,23.0,19.434783,17.959110,0.0,2.00,16.0,30.50,58.0,14.250,not calculated
4,2002,f,13.0,13.000000,16.057189,0.0,1.00,5.0,23.00,44.0,11.000,not calculated
5,2002,m,17.0,27.764706,18.126394,0.0,13.00,30.0,41.00,54.0,14.000,not calculated
6,2003,f,13.0,15.461538,14.569462,1.0,4.00,9.0,32.00,39.0,14.000,not calculated
7,2003,m,9.0,25.222222,17.859016,3.0,17.00,24.0,31.00,56.0,7.000,not calculated
8,2004,f,12.0,14.416667,11.719900,0.0,7.75,11.5,17.50,36.0,4.875,not calculated
9,2004,m,8.0,25.375000,17.671102,0.0,14.75,30.0,33.50,52.0,9.375,not calculated
10,2005,f,14.0,23.285714,13.719321,0.0,13.75,26.5,34.25,42.0,10.250,not calculated
11,2005,m,14.0,28.714286,11.418127,3.0,25.50,29.0,36.50,45.0,5.500,not calculated
12,2007,f,7.0,18.142857,15.082314,0.0,10.00,12.0,25.00,45.0,7.500,not calculated
13,2007,m,3.0,27.333333,19.139836,7.0,18.50,30.0,37.50,45.0,9.500,not calculated
14,2008,f,9.0,12.222222,8.771798,0.0,5.00,13.0,16.00,28.0,5.500,not calculated
15,2008,m,14.0,25.714286,16.753546,0.0,14.25,23.0,36.25,50.0,11.000,not calculated
16,2009,f,11.0,12.545455,15.358149,0.0,0.00,8.0,23.50,39.0,11.750,not calculated
17,2009,m,12.0,16.166667,16.688773,0.0,0.00,13.5,28.50,43.0,14.250,not calculated
18,2010,f,9.0,29.000000,15.684387,0.0,17.00,35.0,42.00,46.0,12.500,not calculated
19,2010,m,9.0,17.000000,18.090053,0.0,0.00,17.0,29.00,46.0,14.500,not calculated
20,2012,f,11.0,30.727273,21.744383,0.0,14.50,35.0,45.00,58.0,15.250,not calculated
21,2012,m,2.0,16.000000,2.828427,14.0,15.00,16.0,17.00,18.0,1.000,not calculated
22,2013,f,13.0,19.076923,16.209367,0.0,0.00,21.0,33.00,44.0,16.500,not calculated
23,2013,m,7.0,14.857143,11.582006,0.0,6.50,14.0,24.50,28.0,9.000,not calculated
24,2014,f,12.0,21.250000,16.192731,0.0,5.75,24.5,32.50,42.0,13.375,not calculated
25,2014,m,2.0,40.000000,22.627417,24.0,32.00,40.0,48.00,56.0,8.000,not calculated
26,2015,f,7.0,20.000000,15.885003,0.0,7.50,20.0,33.50,38.0,13.000,not calculated
27,2015,m,12.0,12.833333,17.780650,0.0,0.00,2.5,24.25,55.0,12.125,not calculated
28,2016,f,10.0,17.900000,13.576532,0.0,9.00,16.5,27.75,38.0,9.375,not calculated
29,2016,m,14.0,11.357143,15.945133,0.0,0.50,7.0,12.50,60.0,6.000,not calculated
30,2017,f,7.0,17.571429,13.818552,0.0,6.00,19.0,29.00,34.0,11.500,not calculated
31,2017,m,8.0,25.000000,16.414279,0.0,13.75,26.5,37.00,46.0,11.625,not calculated

##### Histogram of rtl

In [60]:
femaleAut = go.Scatter(x=RTLbyYear.loc[(RTLbyYear.sex=='f')]['year'], 
                   y = RTLbyYear.loc[(RTLbyYear.sex=='f')]['50%']
                      ,name='Females')
maleAut = go.Scatter(x=RTLbyYear.loc[(RTLbyYear.sex=='m')]['year'], 
              y = RTLbyYear.loc[(RTLbyYear.sex=='m')]['50%']
                    ,name='Males')

data = [maleAut,femaleAut]
layout = go.Layout(
    title = 'Median RTL for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median RTL (mm)',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Median RTL Sceloporus jarrovii in CC 2000-2017.html')
#plot(fig, filename = 'Median RTL Sceloporus jarrovii in CC 2000-2017.html')

'Median RTL Sceloporus jarrovii in CC 2000-2017.html'

#### Mass

Now we examine the range and distribution of mass values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Plot of mass](#Plot-of-mass)

We probably need to adjust this analysis to consider teh month in which the females were captures since gravidity or nearness to the time of parturition may bias the analysis.

In [61]:
MassbyYear = description(df_firstInYear.loc[df_firstInYear.autotomized].groupby(['year','sex']),'mass').reset_index()
MassbyYear

,year,sex,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
0,2000,f,23.0,10.308696,2.960791,6.2,8.700,10.00,11.300,17.0,1.3000,not calculated
1,2000,m,22.0,15.636364,6.756904,5.5,9.350,16.25,18.575,31.0,4.6125,not calculated
2,2001,f,11.0,10.645455,3.393925,5.0,9.450,10.80,12.050,17.7,1.3000,not calculated
3,2001,m,23.0,15.800000,5.725700,7.5,11.400,14.40,20.700,26.3,4.6500,not calculated
4,2002,f,13.0,8.753846,2.426457,5.6,6.400,9.20,10.300,13.2,1.9500,not calculated
5,2002,m,17.0,14.335294,5.509531,4.7,9.500,15.60,18.300,23.4,4.4000,not calculated
6,2003,f,6.0,10.200000,4.874013,1.5,9.700,10.50,12.575,16.0,1.4375,not calculated
7,2003,m,8.0,14.175000,5.577698,6.8,10.925,13.50,16.125,24.2,2.6000,not calculated
8,2004,f,12.0,12.025000,2.969274,6.8,9.950,12.20,14.450,16.5,2.2500,not calculated
9,2004,m,7.0,18.400000,5.276046,9.5,16.000,18.00,22.750,23.8,3.3750,not calculated
10,2005,f,14.0,10.178571,2.983075,6.0,7.250,10.10,12.450,15.0,2.6000,not calculated
11,2005,m,14.0,15.850000,4.624142,8.8,12.475,14.75,19.500,24.0,3.5125,not calculated
12,2007,f,7.0,14.028571,2.799830,10.3,11.900,14.60,16.250,17.0,2.1750,not calculated
13,2007,m,3.0,19.400000,3.671512,16.8,17.300,17.80,20.700,23.6,1.7000,not calculated
14,2008,f,9.0,9.188889,3.672004,4.1,6.400,9.20,11.500,14.7,2.5500,not calculated
15,2008,m,14.0,17.435714,4.586537,8.5,14.050,18.15,21.525,23.0,3.7375,not calculated
16,2009,f,11.0,10.963636,2.168074,8.5,9.500,10.20,12.150,15.0,1.3250,not calculated
17,2009,m,12.0,21.158333,5.404284,13.2,16.825,21.00,25.750,28.8,4.4625,not calculated
18,2010,f,9.0,9.611111,2.408031,5.5,9.000,9.50,11.000,13.0,1.0000,not calculated
19,2010,m,9.0,18.555556,4.475241,11.0,18.000,19.50,21.000,24.5,1.5000,not calculated
20,2012,f,11.0,14.709091,6.457005,4.9,9.250,15.70,20.450,21.5,5.6000,not calculated
21,2012,m,2.0,19.400000,1.979899,18.0,18.700,19.40,20.100,20.8,0.7000,not calculated
22,2013,f,13.0,7.423077,2.749592,4.6,5.100,6.60,7.800,13.0,1.3500,not calculated
23,2013,m,7.0,13.885714,4.735831,8.4,9.600,15.00,17.300,20.0,3.8500,not calculated
24,2014,f,12.0,10.525000,3.677728,7.2,7.900,8.80,11.500,18.0,1.8000,not calculated
25,2014,m,2.0,18.000000,2.121320,16.5,17.250,18.00,18.750,19.5,0.7500,not calculated
26,2015,f,7.0,14.985714,3.281985,9.7,13.050,16.50,17.300,18.0,2.1250,not calculated
27,2015,m,12.0,19.008333,4.382083,12.5,14.950,19.50,22.625,24.5,3.8375,not calculated
28,2016,f,10.0,11.980000,4.150716,6.5,9.325,10.95,13.350,20.5,2.0125,not calculated
29,2016,m,14.0,14.292857,4.261719,7.2,11.875,14.75,16.375,22.5,2.2500,not calculated
30,2017,f,7.0,13.928571,3.260222,9.2,11.500,14.80,16.100,18.3,2.3000,not calculated
31,2017,m,8.0,22.387500,2.740405,18.3,20.650,22.05,23.975,27.0,1.6625,not calculated

##### Plot of mass

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [62]:
female = go.Scatter(x=MassbyYear.loc[(MassbyYear.sex=='f')]['year'], 
                   y = MassbyYear.loc[(MassbyYear.sex=='f')]['50%']
                      ,name='Females')
male = go.Scatter(x=MassbyYear.loc[(MassbyYear.sex=='m')]['year'], 
              y = MassbyYear.loc[(MassbyYear.sex=='m')]['50%']
                    ,name='Males')

data = [male,female]
layout = go.Layout(
    title = 'Median Mass for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median Mass (mm)',
        titlefont = dict(
            size = 18),
    range = [0,MassbyYear['50%'].max()+5]),
)

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Median Mass Sceloporus jarrovii in CC 2000-2017.html')
#plot(fig, filename = 'Median Mass Sceloporus jarrovii in CC 2000-2017.html')

'Median Mass Sceloporus jarrovii in CC 2000-2017.html'

## Captures

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.  We will use all captures for this

In [63]:
df_firstInYear.groupby('liznumber').capture.apply(lambda x: x.values)

liznumber
1                                   [2]
2                             [3, 1, 2]
3                             [2, 3, 1]
4                       [7, 5, 2, 4, 8]
5                                [3, 2]
6                                   [1]
8                                   [1]
9                                   [2]
10                            [2, 3, 1]
11                            [5, 2, 3]
12                               [2, 1]
13                               [2, 1]
14                               [3, 1]
15                               [2, 1]
16                            [2, 3, 1]
17                               [2, 1]
18                                  [1]
19                              [27, 8]
20                       [21, 7, 26, 1]
21                                  [1]
22                                  [1]
23                                  [2]
24                                  [1]
25                                  [1]
26                                  [1]
27                                  [1]
28                                  [1]
29                            [6, 1, 5]
31                                  [1]
32                                  [1]
34                                  [1]
36                            [2, 3, 1]
37                                  [1]
38                                  [1]
39                                  [1]
41                                  [1]
42                                  [1]
43                                  [1]
44                                  [1]
45                                  [1]
46                                  [1]
47                                  [1]
49                                  [1]
50                                  [1]
51                            [3, 4, 5]
52                                  [1]
53                                  [1]
54                                  [1]
55                                  [1]
56                                  [1]
57                                  [1]
58                                  [1]
59                                  [1]
60                               [1, 3]
61                                  [1]
62                                  [1]
63                                  [1]
64                                  [1]
65                                  [1]
66                                  [1]
67                                  [1]
68                                  [1]
69                                  [1]
70                                  [1]
72                                  [1]
73                                  [1]
75                                  [1]
76                                  [1]
77                                  [1]
78                               [1, 2]
79                                  [1]
81                                  [2]
82                                  [1]
83                                  [1]
84                                  [1]
85                                  [1]
86                                  [1]
87                            [1, 3, 4]
88                                  [1]
89                                  [1]
90                                  [1]
91                                  [1]
92                                  [1]
93                                  [1]
94                               [1, 3]
96                                  [1]
97                               [2, 4]
98                                  [1]
99                                  [1]
100                                 [1]
101                                 [1]
102                                 [1]
103                                 [1]
104                                 [1]
106                                 [1]
107                        [2, 6, 3, 5]
108                           [1, 2, 3]
109                                 [1]
110                           [1, 3, 5]
111                                 [1]
112                                 [3]
115                                 [2]
116                           [1, 2, 5]
119                                 [1]
120                              [2, 5]
123                           [3, 1, 2]
126                              [3, 2]
127                              [4, 3]
130                           [3, 1, 2]
131                                 [3]
132                                 [1]
133                                 [2]
134                                 [1]
135                                 [1]
136                                 [1]
137                                 [1]
139                           [1, 2, 4]
140                                 [1]
141                                 [1]
142                                 [1]
146                                 [3]
161                                 [2]
162                                 [1]
165                                 [1]
166                                 [1]
169                                 [1]
170                                 [1]
171                        [4, 3, 1, 2]
172                                 [1]
174                                 [1]
176                                 [1]
178                                 [1]
180                                 [1]
184                                 [1]
185                                 [1]
187                                 [1]
190                              [1, 3]
191                                 [1]
192                                 [1]
195                              [1, 2]
197                                 [1]
198                                 [1]
199                                 [1]
200                                 [3]
201                           [5, 1, 4]
202                              [1, 2]
203                                 [1]
204                                 [1]
205                              [1, 2]
206                                 [1]
207                              [1, 2]
208                                 [1]
209                              [2, 3]
210                                 [1]
211                                 [1]
212                              [1, 4]
213                                 [1]
215                                 [3]
218                           [1, 2, 3]
219                           [4, 1, 3]
220                                 [3]
222                                 [2]
223                           [5, 3, 2]
225                              [1, 3]
227                                 [1]
232                                 [3]
234                              [4, 3]
235                                 [1]
237                                 [3]
238                                 [1]
239                                 [2]
240                              [4, 2]
241                                 [2]
243                                 [2]
244                                 [1]
245                                 [3]
247                                 [1]
250                                 [1]
253                                 [2]
256                                 [1]
257                              [2, 1]
261                                 [1]
264                                 [1]
270                                 [1]
272                                 [1]
276                                 [2]
280                                 [1]
281                                 [2]
282                                 [1]
284                              [4, 2]
285                                 [3]
292                                 [1]
293                              [2, 3]
294                                 [3]
298                                 [1]
299                              [1, 2]
300                              [1, 2]
301                              [1, 2]
302                                 [1]
303                                 [1]
304                              [1, 2]
305                                 [1]
306                                 [1]
307                                 [1]
308                                 [1]
309                                 [1]
311                              [2, 1]
312                                 [1]
313                           [3, 2, 1]
314                                 [2]
319                              [1, 2]
320                                 [1]
321                                 [1]
323                              [1, 2]
326                              [1, 2]
328                                 [1]
329                                 [1]
331                                 [1]
332                              [1, 2]
333                                 [1]
334                           [1, 2, 3]
335                                 [1]
337                                 [1]
338                                 [3]
339                                 [1]
342                              [1, 2]
348                              [1, 2]
350                                 [1]
351                              [2, 3]
352                                 [1]
353                                 [1]
354                              [1, 3]
355                                 [1]
356                                 [1]
357                                 [1]
358                              [1, 2]
359                                 [1]
360                                 [1]
361                                 [1]
362                              [2, 1]
364                                 [1]
365                              [3, 4]
367                                 [1]
368                                 [1]
372                                 [1]
373                                 [1]
374                              [2, 1]
375                                 [1]
376                                 [1]
377                                 [1]
379                              [2, 1]
382                                 [1]
384                                 [3]
388                                 [2]
389                                 [1]
390                                 [1]
391                                 [1]
393                                 [1]
394                                 [1]
395                                 [1]
396                                 [1]
397                              [1, 2]
398                                 [1]
399                           [1, 3, 5]
400                                 [1]
401                                 [1]
402                              [1, 2]
403                                 [3]
404                                 [1]
405                                 [1]
407                              [1, 2]
408                                 [2]
410                                 [1]
411                                 [2]
412                           [1, 2, 3]
413                                 [1]
414                                 [1]
415                                 [1]
417                              [1, 2]
419                              [1, 2]
420                                 [1]
421                                 [1]
422                              [1, 2]
425                                 [1]
426                                 [1]
427                                 [1]
429                                 [1]
430                                 [1]
431                                 [2]
432                                 [1]
433                              [1, 2]
434                                 [1]
435                                 [1]
438                                 [2]
439                           [4, 3, 2]
440                                 [1]
441                                 [1]
442                                 [1]
443                                 [2]
444                              [3, 1]
445                              [2, 1]
447                                 [1]
448                                 [2]
449                                 [1]
450                                 [2]
451                              [3, 2]
452                              [2, 1]
453                           [3, 2, 1]
454                                 [2]
455                                 [2]
457                                 [1]
458                                 [1]
459                              [1, 2]
460                                 [1]
461                                 [1]
462                                 [1]
463                                 [1]
464                                 [1]
467                                 [1]
468                                 [1]
469                                 [1]
470                                 [1]
471                                 [1]
472                                 [1]
473                                 [1]
474                              [2, 1]
475                                 [1]
476                     [1, 5, 4, 2, 3]
478                        [1, 6, 2, 4]
479                                 [1]
480                                 [1]
481                                 [1]
482                              [1, 2]
483                              [1, 2]
484                              [1, 2]
485                                 [1]
486                                 [1]
487                                 [1]
488                                 [2]
489                                 [1]
490                              [1, 3]
491                                 [1]
492                                 [1]
493                                 [2]
494                                 [2]
501                                 [1]
502                                 [1]
503                                 [2]
504                                 [1]
506                                 [2]
507                                 [1]
508                              [3, 2]
509                                 [2]
510                              [3, 1]
511                              [2, 1]
514                              [3, 1]
515                                 [1]
518                                 [1]
519                           [1, 2, 3]
520                                 [1]
521                                 [1]
522                              [1, 2]
523                              [1, 2]
524                                 [1]
525                                 [1]
526                                 [1]
527                              [1, 2]
528                                 [1]
529                                 [1]
530                              [1, 2]
531                              [1, 2]
532                                 [1]
533                                 [1]
534                                 [1]
535                              [2, 1]
536                           [1, 2, 3]
537                                 [1]
538                        [2, 1, 3, 4]
539                              [2, 1]
540                              [3, 2]
541                        [2, 1, 3, 4]
542                                 [1]
543                                 [1]
544                              [1, 3]
545                                 [1]
546                                 [1]
547                                 [1]
548                              [3, 1]
549                                 [1]
550                                 [1]
551                              [2, 1]
552                              [2, 1]
553                              [2, 1]
554                              [1, 3]
555                              [2, 1]
556                                 [1]
557                                 [1]
558                           [2, 1, 3]
559                                 [1]
560                           [3, 1, 4]
561                                 [1]
562                                 [1]
563                                 [1]
564                                 [1]
565                                 [1]
566                                 [1]
567                                 [1]
568                                 [1]
569                              [1, 4]
570                           [1, 3, 4]
571                                 [1]
572                                 [1]
573                                 [1]
574                                 [1]
575                                 [1]
576                              [1, 2]
577                                 [1]
578                              [1, 3]
579                                 [1]
580                              [1, 2]
581                                 [1]
582                                 [1]
583                                 [1]
584                                 [1]
585                                 [1]
586                                 [1]
587                              [1, 2]
588                                 [1]
589                        [1, 3, 5, 4]
590                                 [1]
591                                 [1]
592                                 [1]
593                              [1, 2]
594                              [1, 2]
595                                 [1]
596                                 [1]
597                              [1, 2]
598                                 [1]
599                              [1, 2]
600                                 [1]
601                              [1, 2]
602                              [1, 2]
603                                 [1]
604                                 [1]
605                                 [1]
606                                 [1]
607                                 [1]
608                                 [1]
609                              [1, 2]
614                                 [2]
615                              [1, 2]
617                                 [1]
620                                 [2]
621                                 [1]
630                                 [2]
631                                 [1]
633                                 [1]
636                                 [1]
639                                 [2]
641                                 [1]
643                                 [1]
644                                 [1]
646                                 [1]
647                                 [1]
648                                 [1]
649                                 [1]
650                                 [1]
651                                 [1]
652                                 [1]
654                                 [1]
656                                 [1]
658                                 [1]
660                                 [1]
662                                 [1]
663                              [2, 1]
664                                 [1]
665                                 [1]
666                                 [1]
667                                 [1]
668                                 [1]
669                                 [1]
670                                 [1]
671                                 [1]
672                                 [1]
673                                 [1]
674                                 [1]
675                                 [1]
677                                 [1]
678                        [1, 3, 2, 4]
679                                 [1]
680                                 [1]
682                                 [1]
683                              [2, 3]
684                                 [1]
685                              [1, 2]
687                                 [1]
688                              [1, 2]
689                              [1, 2]
690                                 [1]

In [64]:
print("The maximum number of captures among lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.groupby('liznumber').capture.max().min(),
              df_firstInYear.groupby('liznumber').capture.max().max()))
captureMedYr = description(df_firstInYear.groupby(['year','sex']),variable='capture')[['50%','75%','max']].reset_index()
captureMedYr

The maximum number of captures among lizards in the data set range from 1 to 84 for and are distributed across species and sex as displayed here:

    year sex   50%    75%   max
0   2000   f   1.0   1.00   3.0
1   2000   m   1.0   1.00   2.0
2   2001   f   2.0   3.00   4.0
3   2001   m   1.0   2.00   3.0
4   2002   f   2.0   3.00   5.0
5   2002   m   2.0   3.00   5.0
6   2003   f   2.0   3.00   6.0
7   2003   m   2.0   3.00   6.0
8   2004   f   1.0   1.00  15.0
9   2004   m   1.0   1.25   9.0
10  2005   f   1.0   1.00   5.0
11  2005   m   1.0   1.50   7.0
12  2006   f  16.0  16.00  16.0
13  2006   m  11.0  11.00  11.0
14  2007   f   1.0   1.00  54.0
15  2007   m   1.0   2.00   3.0
16  2008   f   1.0   2.00  55.0
17  2008   m   1.0   2.00   3.0
18  2009   f   1.0   1.00   1.0
19  2009   m   1.0   1.00   1.0
20  2010   f   1.0   2.00  58.0
21  2010   m   1.0   2.00   3.0
22  2011   f   8.0  36.50  65.0
23  2011   m  28.5  39.25  50.0
24  2012   f   1.0   1.00   3.0
25  2012   m   1.0   1.00   5.0
26  2013   f   2.0   2.00   5.0
27  2013   m   1.0   1.00   3.0
28  2014   f   2.0   3.00  84.0
29  2014   m   1.5   3.00  64.0
30  2015   f   1.0   3.00   8.0
31  2015   m   1.0   2.00  69.0
32  2016   f   2.0   2.00   5.0
33  2016   m   1.0   1.75   4.0
34  2017   f   1.0   1.00   1.0
35  2017   m   1.0   1.00   1.0

In [65]:
female = go.Scatter(x=captureMedYr.loc[(captureMedYr.sex=='f')]['year'], 
                   y = captureMedYr.loc[(captureMedYr.sex=='f')]['50%']
                      ,name='Females')
male = go.Scatter(x=captureMedYr.loc[(captureMedYr.sex=='m')]['year'], 
              y = captureMedYr.loc[(captureMedYr.sex=='m')]['50%']
                    ,name='Males')
# femaleBox = go.Box(x=df_firstInYear.loc[df_firstInYear.sex=='f']['year'], 
#                    y = df_firstInYear.loc[df_firstInYear.sex=='f'].groupby('liznumber').capture.apply(lambda x: x.values)
#                       ,name='Females')
# maleBox = go.Box(x=df_firstInYear.loc[df_firstInYear.sex=='m']['year'], 
#               y = df_firstInYear.loc[df_firstInYear.sex=='m'].groupby('liznumber').capture.apply(lambda x: x.values)
#                     ,name='Males')

data = [male,female]#,maleBox,femaleBox]
layout = go.Layout(
    title = 'Median Years Captured for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median Years Captured',
        titlefont = dict(
            size = 18),
    range = [0,captureMedYr['50%'].max()+1]),
)

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Median Years Captured Sceloporus jarrovii in CC 2000-2017.html')
#plot(fig, filename = 'Median Years Captured  Sceloporus jarrovii in CC 2000-2017.html')

'Median Years Captured  Sceloporus jarrovii in CC 2000-2017.html'

In [66]:
# female = go.Scatter(x=captureMedYr.loc[(captureMedYr.sex=='f')]['year'], 
#                    y = captureMedYr.loc[(captureMedYr.sex=='f')]['50%']
#                       ,name='Females')
# male = go.Scatter(x=captureMedYr.loc[(captureMedYr.sex=='m')]['year'], 
#               y = captureMedYr.loc[(captureMedYr.sex=='m')]['50%']
#                     ,name='Males')
femaleBox = go.Box(x=df_firstInYear.loc[df_firstInYear.sex=='f']['year'], 
                   y = df_firstInYear.loc[df_firstInYear.sex=='f'].groupby('liznumber').capture.apply(lambda x: x.values)
                      ,name='Females')
maleBox = go.Box(x=df_firstInYear.loc[df_firstInYear.sex=='m']['year'], 
              y = df_firstInYear.loc[df_firstInYear.sex=='m'].groupby('liznumber').capture.apply(lambda x: x.values)
                    ,name='Males')

data = [maleBox,femaleBox]
layout = go.Layout(
    title = 'Median Years Captured for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median Years Captured',
        titlefont = dict(
            size = 18))
)

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Box Years Captured Sceloporus jarrovii in CC 2000-2017.html')
#plot(fig, filename = 'Box Years Captured  Sceloporus jarrovii in CC 2000-2017.html')

'Box Years Captured  Sceloporus jarrovii in CC 2000-2017.html'

In order to interpret these data we need to factor in person-hours for each year.

## Years

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of years over which that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of years over which each lizard was captures and finally count the number of lizards that have a given number of years over which they were captured.  We will use all captures for this.

In [67]:
(df_firstInYear.groupby('liznumber').year_diff.max()+1).value_counts(normalize=True).reset_index()\
.rename(columns={'index':'year_diff','year_diff':'proportion'}).sort_values('year_diff')

    year_diff  proportion
0           1    0.713137
1           2    0.163539
2           3    0.052279
3           4    0.028150
4           5    0.013405
9           6    0.004021
8           7    0.004021
14          8    0.001340
13          9    0.001340
12         12    0.001340
10         13    0.002681
5          14    0.005362
11         15    0.001340
7          16    0.004021
6          17    0.004021

In [68]:
print("The number of years over which each lizard was captured among lizards in the data set range from {} to {}\
for and are distributed across species and sex as displayed here:"\
      .format(df_firstInYear.groupby('liznumber').year_diff.max().min()+1, 
              df_firstInYear.groupby('liznumber').year_diff.max().max()+1))
description(df_firstInYear.groupby('sex'),variable='year_diff')

The number of years over which each lizard was captured among lizards in the data set range from 1 to 17for and are distributed across species and sex as displayed here:

     count      mean       std  min  25%  50%  75%   max  siqr          meanCI
sex
f    538.0  0.836431  2.337296  0.0  0.0  0.0  1.0  16.0   0.5  not calculated
m    459.0  0.610022  1.630223  0.0  0.0  0.0  1.0  15.0   0.5  not calculated

In [69]:
Males = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex=='m')].groupby('liznumber').capture.max(),
                     name='Males')
Females = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex=='f')].groupby('liznumber').capture.max(),
                       name='Females')

data = [Males,Females]
layout = go.Layout(
    title = 'Histogram of Maximum Number of Captures by Sex for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Unique Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Histogram of Maximum Number of Captures by Sex for CC 2000-2017.html')
#plot(fig, filename = 'Histogram of Maximum Number of Captures by Sex for CC 2000-2017.html')

'Histogram of Maximum Number of Captures by Sex for CC 2000-2017.html'

### Maximum Number of Captures based on Tail condition
 - match for species, sex, size and location

In [70]:
intactFemale = go.Histogram(x = df_firstInYear.loc[(~df_firstInYear.autotomized)&
                                                   (df_firstInYear.sex=='f')].groupby('liznumber').capture.max()
                      ,name='intact females')
intactMale = go.Histogram(x = df_firstInYear.loc[(~df_firstInYear.autotomized)&
                                                 (df_firstInYear.sex=='m')].groupby('liznumber').capture.max()
                      ,name='intact males')
autotomizedFemale = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.autotomized)&
                                                        (df_firstInYear.sex=='f')].groupby('liznumber').capture.max()
                           ,name='autotomized females')
autotomizedMale = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.autotomized)&
                                                      (df_firstInYear.sex=='m')].groupby('liznumber').capture.max()
                           ,name='autotomized males')

data = [intactFemale,intactMale,autotomizedFemale,autotomizedMale]
layout = go.Layout(
    title = 'Maximum Number of Captures by Tail Condition 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures by Tail Condition in Crystal Creek 2000 - 2017')

## Growth

- [SVL Growth](#SVL-Growth)
- [TL Growth](#TL-Growth)
- [RTL Growth](#RTL-Growth)
- [Mass Growth](#Mass-Growth)

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.

### SVL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the body size growth rate?

turn this into a function and then groupby and apply

df['svl_growth_ann']=df.groupby('liznumber').apply(lambda x: (x['svl'].max()-x['svl'].min())/(x['year_diff'].max()+1))

### TL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the tail size growth rate?

df['tl_growth_ann']=df.groupby('liznumber').apply(lambda x: (x['tl'].max()-x['tl'].min())/(x['year_diff'].max()+1))

### RTL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the regrown tail size growth rate?

df['rtl_growth_ann']=df.groupby('liznumber').apply(lambda x: (x['rtl'].max()-x['rtl'].min())/(x['year_diff'].max()+1))

### NTL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Mass Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the body size growth rate in terms of MAss?

df['mass_growth_ann']=df.groupby('liznumber').apply(lambda x: (x['mass'].max()-x['mass'].min())/(x['year_diff'].max()+1))

tmp = df.groupby('liznumber').mass_growth_ann.nunique().reset_index()
check = tmp.loc[tmp.mass_growth_ann>1,'liznumber']
print(len(check))
check

## Correlations to Population

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [71]:
def candidate(m,dv,placement=(1,1)):
    assert(dv in m.columns)
    return m[dv].sort_values().reset_index().iloc[placement[0]:placement[1]+1,:]

from functools import reduce

def topcorr(corrdf,lowestrank,dvs):
    candidates = [candidate(corrdf,dv,(1,lowestrank)) for dv in dvs]
    merger =  reduce(lambda x, y: pd.merge(x, y, on = 'index', how = 'outer'), candidates).fillna('--')
    return merger

I need to create a df with with values to be correlated:
- count
- prop Male
- SVL
- TL
- RTL
- Mass
- TL Severity
- Sex Distr

In [72]:
dfCorrPrep = populationSize_sex.loc[populationSize_sex.sex=='f',
                                    ['year', 'sex', 'liznumber', 
                                     'liznumberYear','propFemale']]\
.merge(populationSize_aut.loc[populationSize_aut.propAutotomized.notna(),
                              ['year','liznumberYear', 'propAutotomized']], 
                         how = 'left', on = ['year','liznumberYear'])\
.merge(dfYearlyEst.loc[dfYearlyEst.autotomized,['year', 'sex', 
                                                'count_all', '50%_all']],
       on = ['year','sex'])\
.rename(columns = {'count_all':'nAutotomized', 
                   '50%_all':'medianPropTailAutotomized',
                                             'liznumber':'numberFemale'})
dfCorrPrep = dfCorrPrep[['liznumberYear', 
                         'propFemale', 'propAutotomized', 
                         'medianPropTailAutotomized']]
dfCorrPrep

    liznumberYear  propFemale  propAutotomized  medianPropTailAutotomized
0             124    0.524194         0.362903                   0.219725
1              92    0.510870         0.369565                   0.254708
2              97    0.525773         0.309278                   0.251381
3              63    0.555556         0.349206                   0.235337
4              54    0.555556         0.370370                   0.224210
5              60    0.483333         0.466667                   0.258980
6              51    0.588235         0.196078                   0.243940
7              67    0.522388         0.343284                   0.282811
8              54    0.537037         0.425926                   0.251055
9              45    0.533333         0.400000                   0.239202
10             51    0.607843         0.254902                   0.212649
11             54    0.537037         0.370370                   0.296360
12             37    0.675676         0.378378                   0.343571
13             48    0.562500         0.395833                   0.179927
14             61    0.508197         0.393443                   0.309545
15             32    0.500000         0.468750                   0.237516

In [73]:
#Dropping proportion of Females, but will put it back once I can order the y-axis
dfCorr = dfCorrPrep.corr()
dfCorr = topcorr(dfCorr,2,dfCorr.columns.tolist()) 
dfCorr = dfCorr.set_index('index')
dfCorr

,liznumberYear,propFemale,propAutotomized,medianPropTailAutotomized
index,,,,
propAutotomized,-0.172764,--,--,0.115778
medianPropTailAutotomized,-0.148137,0.184453,0.115778,--
liznumberYear,--,-0.358518,-0.172764,--
propFemale,--,--,--,0.184453

In [74]:
testx = dfCorr.columns
testy = dfCorr.index
testz = dfCorr.values
test = go.Figure(go.Heatmap(x=testx,y=testy,z=testz))
#plot(test, filename = 'population correlation matrix.html')
iplot(test, filename = 'population correlation matrix.html')

'population correlation matrix.html'

## Export Files
[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)