<a id='TOC'></a>

# Cleaning Data (Part 1)
The purpose of this notebook is to read in raw excel data for multiple years, rename and trim columns, append cleaned files into a single dataframe and export this dataframe as an excel file.

# Table of Contents
1. [Setting up Python](#SettingUp)
    
    1. [Setting the Location](#SettingLoc)
    
    2. [Importing Necessary Packages](#ImportingPackages)
    
    3. [Functions](#functions)
    
    4. [Preparing for a Save](#PreparingSave)  

2. [Handling Columns](#HandlingColumns)
    
    1. [Find Unique Column Names](#FindUniqueCol)
    
    2. [Eliminate Unnecessary Columns](#DropCol)
    
    3. [Combine Synonyms](#CombineCol)

3. [Reading and Appending Data](#ReadingAppendingData)

4. [Exporting Data](#ExportingData)

<a id='SettingUp'></a>

# Setting up Python
[Top](#TOC)

[Setting the Location](#SettingLoc)
    
[Importing Necessary Packages](#ImportingPackages)
    
[Getting Data](#GettingData)
    
[Preparing for a Save](#PreparingSave)

<a id='ImportingPackages'></a>

## Importing Necessary Packages

[Top](#TOC)

[Setting Up Python](#SettingUp)

Here we import necessary packages. 
This chunk may take a while.

In [1]:
import pandas as pd
# import numpy as np
import glob,os

# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_colwidth = 50
pd.set_option('mode.sim_interactive', True)

<a id='functions'></a>

## Functions
[Back to: Top](#TOC)

[Back to: Setting Up Python](#SettingUp)

1. [xlcolshape](#xlcolshape)

2. [xluniquecol2](#xluniquecol2)

3. [colmatchtodict](#colmatchtodict)

4. [findsyn](#findsyn)

5. [readnsplit](#readnsplit)

6. [mapndrop](#mapndrop)

7. [namefile](#namefile)

<a id='xlcolshape'></a>

[Back to: Functions](#Functions)

In [3]:
def xlcolshape(file, verbose = True):
    """xlcolshape takes a file name as a string and returns the shape of the excel file"""
    assert isinstance(verbose,bool),"'verbose' must be bool not,{}".format(type(verbose))
    dictionary = {}
    for sheet in pd.ExcelFile(file).sheet_names:
        try:
            tmp = pd.read_excel(file,sheet_name =sheet).shape
            dictentry = file+'_'+sheet
            dictionary[dictentry] = tmp
            if verbose == True:
                print("Doing stuff you asked me to do for file \'{}\',sheet \'{}\' programmer person."\
                      .format(file, sheet))            
        except:
            print("This didn't work for file {}, sheet {}".format(file, sheet))
            
    return dictionary

<a id='xluniquecol2'></a>

[Back to: Functions](#Functions)

In [4]:
def xluniquecol2(file, header = 0, verbose=True):
    tmp = []
    for sheet in pd.ExcelFile(file).sheet_names:
        if (('species' in pd.read_excel(file,sheet_name=sheet, header = header).columns)\
            or('Species' in pd.read_excel(file,sheet_name=sheet, header = header).columns)):
            try:
                tmp = list(set(tmp+list(pd.read_excel(file,sheet_name=sheet).columns)))
                if verbose==True:
                    print("Doing stuff you asked me to do for file \'{}\',sheet \'{}\' programmer person."\
                          .format(file,sheet))
                res = tmp
            except:
                print("This didn't work for file {}, sheet {}".format(file,sheet))
        else:
            print("Check columns for file {}.".format(file))
            res = None
    return res

<a id='colmatchtodict'></a>

[Back to: Functions](#Functions)

In [5]:
def colmatchtodict(x,series, dictsource, key= None):
    """This takes a string, x, and a looks for values in a series that match that contain that string.
    Those values which match are returned as values in a python dict for the key, key.""" 
    assert isinstance(series,pd.Series)
    if key is None:
        key = x
    tmp = series[series.astype(str).str.contains(x,case = False)].tolist()
    dictsource[key] = tmp
    return dictsource

<a id='findsyn'></a>

[Back to: Functions](#Functions)

In [6]:
def findsyn (name,dictionary, verbose = True):
    """
    *findsyn* checks searches the values of the dict *dictionary* for the string, *name* and returns 
    the key for the key,value pair to which *name* belongs.
    """
    tmp = pd.DataFrame({'preferredcol':list(dictionary.keys()),'synonymns':list(dictionary.values())})
    try:
        res = list(tmp.preferredcol[tmp.synonymns.apply(lambda x:name in x)])[0]
    except:
        res = None
        if verbose == True:
            print("No value matching \"{}\" was found in the dictionary.".format(name))
    return res

<a id='readnsplit'></a>

[Back to: Functions](#Functions)

In [7]:
def readnsplit(file,newsourcefolder,dtype=None,verbose=True):
    """
    This function reads an excel file, splits its sheets into separate files and saves them to folder
    *newsourcefolder*.
    """
    suffix = '.'+file.split('.')[1]
    prefix = file[:-len(suffix)]
    for sheet in pd.ExcelFile(file).sheet_names:
        try:
            splitfile = newsourcefolder+'/'+prefix+'_'+sheet+suffix
            tmp = pd.read_excel(file,dtype=dtype, sheet_name=sheet).to_excel(splitfile,index=False)
            if verbose==True:
                print("Success!  \'{}\',sheet \'{}\' has been saved to {} and the corresponding\
                google drive file as {}.".format(file,sheet,newsourcefolder,splitfile))
            continue
        except:
            print("Unable to save \'{}\',sheet \'{}\' as a separate file.".format(file,sheet))

<a id='mapndrop'></a>

[Back to: Functions](#Functions)

In [8]:
def mapndrop(df,dictionary,verbose=True):
    """
    This function renames columns in *df* deemed synonymous according to a dict,
    *dictionary*, and drops unnecessary columns before returning the cleaner dataframe.
    """
    try:
        df.columns = pd.Series(df.columns).map(lambda x:dictionary[x])
        tmp = df
        if verbose==True:
            print("Successfully mapped columns for df.")
        dropidx =[None==col for col in list(tmp.columns)]
        tmp=tmp.drop(columns=df.columns[dropidx])
        if verbose==True:
            print("Successfully dropped unnecessary columns for df.")
    except:
        tmp = None
        print("Skipping mapndrop call for df.")
    return tmp

<a id='namefile'></a>

[Back to: Functions](#Functions)

In [9]:
def namefile(name, tzadjust=5,tzdirection = '-', adjprecision='minutes', filetype = 'csv'):
    """takes a filename and filetype, and adds a timestamp adjusted relative to gmt to a precision 
    and returns a string that concatenates them."""
    assert isinstance(name,str),"'name' must be of type str."
    assert isinstance(tzadjust,int),"'tzadjust' must be of type int"
    assert adjprecision in ['date','hour','minutes','seconds', 'max'], "'adjprecision' must be either \
    'date', hour','minutes','seconds', or 'max'"
    precision= {'max':None,'seconds':-7,'minutes':-9, 'hours':-14,'date':-20}
    if tzdirection== '-':
        timestamp = (pd.to_datetime('now')-pd.Timedelta(hours=tzadjust))
    else:
        timestamp = (pd.to_datetime('now')+pd.Timedelta(hours=int(tzadjust[1:])))
    timestamp = str(timestamp).replace(':','hrs',1).replace(':','min',1)
    timestamp = timestamp[:precision[adjprecision]]
    filename = name+'_' + timestamp+ '.' +filetype
    return filename

<a id='PreparingSave'></a>

## Preparing for a Save
[Top](#TOC)

[Setting up Python](#SettingUp)

<a id='SettingLoc'></a>

## Setting the Location
[Top](#TOC)

[Setting Up Python](#SettingUp)

These chunks identify the locations from which we can get data and to which we can save data.

### Source Data
Raw data can be found in the following locations:

In [12]:
# sourceDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
# sourceDataBig = 'S:/Chris/TailDemography/TailDemography/Raw Data'
# sourceBlack = 'C:/Users/test/Desktop'
sourceGandolf = 'C:/Users/craga/Google Drive/TailDemography/Raw Data'

### Intermediate Source Data
Intermediate files can be found in the following locations:

In [11]:
# sourceInterDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/Intermediate Files/Source'
# sourceinterDataBig = 'S:/Chris/TailDemography/TailDemography/Intermediate Files/Source'
# sourceBlack = 'C:/Users/test/Desktop'
sourceInterGandolf = 'C:/Users/craga/Google Drive/TailDemography/Intermediate Files/Source'

Now we change the working directory to the source path.

In [13]:
os.chdir(sourceGandolf)

### Output Data
The cleaned data will be saved to one of these locations:

In [14]:
# outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
# outputBig = 'S:/Chris/TailDemography/TailDemography/Cleaned Combined Data'
# outputBlack = 'C:/Users/test/Desktop'
outputGandolf = 'C:/Users/craga/Google Drive/TailDemography/Cleaned Combined Data'

### Review files

In [15]:
# outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/Files for review/Source files'
# reviewfolderBig = 'S:/Chris/TailDemography/TailDemography/Files for review/Source files'
reviewGandolf = 'C:/Users/craga/Google Drive/TailDemography/Files for review/Source files'

# Handling Columns
[Top](#TOC)

We don't have to look in the multiple-sheet file.  It's clear that we'll have to identify a common set of columns prior to combining these files.  Let's define a few functions to help us do this.

We will want to do the following:
1. [Find Unique Column Names](#FindUniqueCol)
2. [Eliminate Unnecessary Columns](#DropCol)
3. [Combine Synonyms](#CombineCol)

Here we use search the source path to locate and eventually read the raw data into our notebook.

In [16]:
rawfiles = glob.glob('*.xls*')
rawfiles

['CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19.xlsx',
 'CC 2004.xlsx',
 'CC 2015 - captures.xls',
 'CC 2016 - captures.xls',
 'CC 2017 Lizards - 3viii17 captures and obs.xls',
 'xCC2005x.xls',
 'xCC2006x.xls',
 'xCC2007x.xls',
 'xCC2008x.xls',
 'xCC2009x.xls',
 'xCC2010x.xlsx',
 'xCC2011x.xls',
 'xCC2012x.xls',
 'xCC2013x.xls',
 'xCC2014x.xlsx']

We'll separate these into files with single or multiple sheets.

In [17]:
rawfiles_ms = [rawfiles[0],rawfiles[7]]
rawfiles_ss = list(set(rawfiles)- set(rawfiles_ms))

The names of files with multiple sheets are now in the variable *rawfiles_ms*.

In [18]:
rawfiles_ms

['CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19.xlsx',
 'xCC2007x.xls']

The names of files with a single sheet are now in the variable *rawfiles_ss*.

In [19]:
rawfiles_ss

['CC 2004.xlsx',
 'xCC2010x.xlsx',
 'CC 2016 - captures.xls',
 'xCC2011x.xls',
 'xCC2013x.xls',
 'xCC2006x.xls',
 'CC 2017 Lizards - 3viii17 captures and obs.xls',
 'xCC2008x.xls',
 'xCC2009x.xls',
 'xCC2014x.xlsx',
 'xCC2005x.xls',
 'CC 2015 - captures.xls',
 'xCC2012x.xls']

Now let's take a look at the number of columns in each file. We'll start with the single sheet files, since this is the easiest.  We will use the function, *xlcolshape* to make this easier. 
When we call this function on the first of the single-sheet files, we can see that it returns a tuple in the format ('number of rows', 'number of columns'). The code for *xlcolshape* can be found in [Functions](#functions).

In [20]:
xlcolshape(rawfiles_ss[0])

Doing stuff you asked me to do for file 'CC 2004.xlsx',sheet '2004 ' programmer person.

{'CC 2004.xlsx_2004 ': (479, 16)}

We will apply this function to the list of files for our inspection.

In [21]:
pd.Series(rawfiles).apply(lambda x: xlcolshape(x,verbose=False))

0     {'CC 2000-03-modified from CC-SJ 00-03 final-m...
1                     {'CC 2004.xlsx_2004 ': (479, 16)}
2            {'CC 2015 - captures.xls_2015': (241, 19)}
3            {'CC 2016 - captures.xls_2016': (103, 21)}
4     {'CC 2017 Lizards - 3viii17 captures and obs.x...
5                      {'xCC2005x.xls_2005': (202, 17)}
6                      {'xCC2006x.xls_2006': (163, 17)}
7     {'xCC2007x.xls_Sheet1': (507, 16), 'xCC2007x.x...
8                      {'xCC2008x.xls_2008': (134, 20)}
9                      {'xCC2009x.xls_2009': (162, 16)}
10                   {'xCC2010x.xlsx_Sheet1': (99, 41)}
11                    {'xCC2011x.xls_Sheet1': (64, 19)}
12                      {'xCC2012x.xls_data': (85, 19)}
13             {'xCC2013x.xls_CC 2013 data': (106, 20)}
14                     {'xCC2014x.xlsx_2014': (97, 19)}
dtype: object

## Finding Unique Columns
[Top](#TOC)

[Handling Columns](#HandlingColumns)

We'll use the function, *xluniqucol2* to extract column names and convert them to an approved set.  We'll use that function to allow us to only add unique names to a list of column names. 

Here is an example of how xluniquecol2 works for a file with one sheet.  You can find the code for *xluniquecol2* in [Functions](#functions).

In [22]:
xluniquecol2(rawfiles_ss[0],verbose=False)

['SVL',
 'paint mark',
 'VIAL',
 'meters',
 'painted or not',
 'TOES',
 'mass',
 'RTL',
 'NEW/recap',
 'TIME',
 'misc',
 'TL',
 'sex',
 'location',
 'date',
 'species']

Here is an example of how xluniquecol2 works for a file with multiple sheets.

In [23]:
xluniquecol2(rawfiles_ms[0],verbose=False)

['SVL',
 'paint mark',
 'VIAL',
 'meters',
 'painted or not',
 'TOES',
 'mass',
 'RTL',
 'NEW/recap',
 'TIME',
 'misc',
 'TL',
 'sex',
 'location',
 'Unnamed: 16',
 'date',
 'species']

Now we will create an empty set, *uniquecols2*, that will eventually contain the unique column names in all of the files.

We will append the unique column names from each file to *uniquecols2*.

In [24]:
tmp = pd.Series(rawfiles).apply(xluniquecol2,verbose=False)
uniquecols2 = list()
for u in tmp:
    uniquecols2 = uniquecols2+u
uniquecols2 = list(set(uniquecols2))
uniquecols2

['Mark',
 'paint mark',
 1,
 'Toe 9',
 'VIAL',
 'Unnamed: 17',
 'Toe 4',
 'Mass',
 '1st Capture (year)',
 'mass (g)',
 'Species',
 'RTL',
 'Painted',
 'Toe 13',
 'Toe 15',
 'sex',
 'Vial',
 'Toe 14',
 'TL (mm)',
 'species',
 'Toe 17',
 'Toes',
 'Meters',
 'painted or not',
 'Toe 6',
 'Sex',
 'Unnamed: 0',
 'Misc.',
 'NEW/recap',
 'TIME',
 'misc',
 'TL',
 'Date',
 ' painted or not',
 'location',
 'RTL (mm)',
 'Toe 11',
 'Time',
 'Toe 16',
 'Spotted',
 'Toe 3',
 'painted',
 'Toe 5',
 'Toe 7',
 'Location',
 'Tail condition (1=intact; 2=autotomized; 3=regrown)',
 'meters',
 'TOES',
 'mass',
 'Toe 1',
 'Toe 18',
 '2015 or earlier',
 'SVL (mm)',
 'Unnamed: 16',
 'Toe 12',
 'Year',
 'Toe 8',
 'Marked',
 'SVL',
 'Collectors',
 'Toe 2',
 'New/Recap',
 'misc/notes',
 'Toe 10',
 'Toe 19',
 'Toe 20',
 'Years Alive (known)',
 'Paint Mark',
 'Unnamed: 19',
 'Painted or Not',
 'date']

## Eliminate Unnecessary Columns
[Top](#TOC)

[Cleaning Data](#CleaningData)

[Handling Columns](#HandlingColumns)

Now we will try to identify unnecessary columns and eliminate them. Much of this will be done manually.

In [25]:
keepCol = ['species', 'date', 'sex', 'svl', 'tl', 'rtl', 'mass',
       'paint.mark', 'location', 'meters', 'new.recap', 'painted', 'misc',
       'vial', 'autotomized', 'sighting', 'toes','filename']

In [26]:
set(pd.Series(keepCol).str.lower())-set(pd.Series(uniquecols2).str.lower())

{'autotomized', 'filename', 'new.recap', 'paint.mark', 'sighting'}

In [27]:
set(pd.Series(uniquecols2).str.lower())-set(pd.Series(keepCol).str.lower())

{' painted or not',
 '1st capture (year)',
 '2015 or earlier',
 'collectors',
 'mark',
 'marked',
 'mass (g)',
 'misc.',
 'misc/notes',
 nan,
 'new/recap',
 'paint mark',
 'painted or not',
 'rtl (mm)',
 'spotted',
 'svl (mm)',
 'tail condition (1=intact; 2=autotomized; 3=regrown)',
 'time',
 'tl (mm)',
 'toe 1',
 'toe 10',
 'toe 11',
 'toe 12',
 'toe 13',
 'toe 14',
 'toe 15',
 'toe 16',
 'toe 17',
 'toe 18',
 'toe 19',
 'toe 2',
 'toe 20',
 'toe 3',
 'toe 4',
 'toe 5',
 'toe 6',
 'toe 7',
 'toe 8',
 'toe 9',
 'unnamed: 0',
 'unnamed: 16',
 'unnamed: 17',
 'unnamed: 19',
 'year',
 'years alive (known)'}

Since data for years 2000-2003 are contained in the same Excel file we will have to treat this file differently than the others.

## Combining Synonymous Columns
[Top](#TOC)

[Cleaning Data](#CleaningData)

[Handling Columns](#HandlingColumns)

Once we have identified the columns we need to keep, we'll need to apply this list to the files as they are read into python by doing the following:

We will use a function, *colmatchtodict*,  to identify potential synonyms. Here's an example of how *colmatchtodict* works.  The code for this function can be found in [Functions](#functions).

In [28]:
coldict = {}

In [29]:
colmatchtodict('toes',pd.Series(uniquecols2),coldict, key = 'toes')

{'toes': ['Toes', 'TOES']}

Now let's see what happened when we apply this funtion to our, keepCol.

In [30]:
coldict = {}

In [31]:
pd.Series(keepCol).apply(lambda x: colmatchtodict(x=x,series=pd.Series(uniquecols2),dictsource=coldict))
coldict

{'species': ['Species', 'species'],
 'date': ['Date', 'date'],
 'sex': ['sex', 'Sex'],
 'svl': ['SVL (mm)', 'SVL'],
 'tl': ['RTL', 'TL (mm)', 'TL', 'RTL (mm)'],
 'rtl': ['RTL', 'RTL (mm)'],
 'mass': ['Mass', 'mass (g)', 'mass'],
 'paint.mark': ['paint mark', 'Paint Mark'],
 'location': ['location', 'Location'],
 'meters': ['Meters', 'meters'],
 'new.recap': ['NEW/recap', 'New/Recap'],
 'painted': ['Painted',
  'painted or not',
  ' painted or not',
  'painted',
  'Painted or Not'],
 'misc': ['Misc.', 'misc', 'misc/notes'],
 'vial': ['VIAL', 'Vial'],
 'autotomized': ['Tail condition (1=intact; 2=autotomized; 3=regrown)'],
 'sighting': [],
 'toes': ['Toes', 'TOES'],
 'filename': []}

We will manually adjust the values for 'tl' and 'filename'.

In [32]:
coldict['tl']=['TL (mm)', 'TL', 'tl']

Now we need to use this dict to relabel the columns we wish to keep.

We will use the function, *findsyn* to identify potential synonymous to the columnlabels in *keepcols* among the column labels in *uniquecols2*. 

Here is are a few examples of how *findsyn* works.  The code can be found in [Functions](#functions).

In [33]:
findsyn('RTi',coldict,verbose=False)

In [34]:
findsyn('RTi',coldict,verbose=True)

No value matching "RTi" was found in the dictionary.

In [35]:
findsyn('RTL',coldict,verbose=True)

'rtl'

Now we apply *findsyn* to *uniquecol* and create a column of synonyms.

In [36]:
uniquecols2df = pd.DataFrame({'uniquecols2':uniquecols2})
uniquecols2df['preferredcol'] = uniquecols2df.uniquecols2.apply(lambda x: findsyn(x,coldict,False))
uniquecols2df

                                          uniquecols2 preferredcol
0                                                Mark         None
1                                          paint mark   paint.mark
2                                                   1         None
3                                               Toe 9         None
4                                                VIAL         vial
5                                         Unnamed: 17         None
6                                               Toe 4         None
7                                                Mass         mass
8                                  1st Capture (year)         None
9                                            mass (g)         mass
10                                            Species      species
11                                                RTL          rtl
12                                            Painted      painted
13                                             Toe 13         None
14                                             Toe 15         None
15                                                sex          sex
16                                               Vial         vial
17                                             Toe 14         None
18                                            TL (mm)           tl
19                                            species      species
20                                             Toe 17         None
21                                               Toes         toes
22                                             Meters       meters
23                                     painted or not      painted
24                                              Toe 6         None
25                                                Sex          sex
26                                         Unnamed: 0         None
27                                              Misc.         misc
28                                          NEW/recap    new.recap
29                                               TIME         None
30                                               misc         misc
31                                                 TL           tl
32                                               Date         date
33                                     painted or not      painted
34                                           location     location
35                                           RTL (mm)          rtl
36                                             Toe 11         None
37                                               Time         None
38                                             Toe 16         None
39                                            Spotted         None
40                                              Toe 3         None
41                                            painted      painted
42                                              Toe 5         None
43                                              Toe 7         None
44                                           Location     location
45  Tail condition (1=intact; 2=autotomized; 3=reg...  autotomized
46                                             meters       meters
47                                               TOES         toes
48                                               mass         mass
49                                              Toe 1         None
50                                             Toe 18         None
51                                    2015 or earlier         None
52                                           SVL (mm)          svl
53                                        Unnamed: 16         None
54                                             Toe 12         None
55                                               Year         None
56                                              Toe 8         None
57                                             Marked         None
58                                                SVL          svl
59                                         Collectors         None
60                                              Toe 2         None
61                                          New/Recap    new.recap
62                                         misc/notes         misc
63                                             Toe 10         None
64                                             Toe 19         None
65                                             Toe 20         None
66                                Years Alive (known)         None
67                                         Paint Mark   paint.mark
68                                        Unnamed: 19         None
69                                     Painted or Not      painted
70                                               date         date

Now we will turn this dataframe back into a dict so that we can easily use it to rename columns

In [37]:
uniquecols2df.index = uniquecols2df.uniquecols2
uniquecols2dict = pd.Series(uniquecols2df.preferredcol).to_dict()
uniquecols2dict

{'Mark': None,
 'paint mark': 'paint.mark',
 1: None,
 'Toe 9': None,
 'VIAL': 'vial',
 'Unnamed: 17': None,
 'Toe 4': None,
 'Mass': 'mass',
 '1st Capture (year)': None,
 'mass (g)': 'mass',
 'Species': 'species',
 'RTL': 'rtl',
 'Painted': 'painted',
 'Toe 13': None,
 'Toe 15': None,
 'sex': 'sex',
 'Vial': 'vial',
 'Toe 14': None,
 'TL (mm)': 'tl',
 'species': 'species',
 'Toe 17': None,
 'Toes': 'toes',
 'Meters': 'meters',
 'painted or not': 'painted',
 'Toe 6': None,
 'Sex': 'sex',
 'Unnamed: 0': None,
 'Misc.': 'misc',
 'NEW/recap': 'new.recap',
 'TIME': None,
 'misc': 'misc',
 'TL': 'tl',
 'Date': 'date',
 ' painted or not': 'painted',
 'location': 'location',
 'RTL (mm)': 'rtl',
 'Toe 11': None,
 'Time': None,
 'Toe 16': None,
 'Spotted': None,
 'Toe 3': None,
 'painted': 'painted',
 'Toe 5': None,
 'Toe 7': None,
 'Location': 'location',
 'Tail condition (1=intact; 2=autotomized; 3=regrown)': 'autotomized',
 'meters': 'meters',
 'TOES': 'toes',
 'mass': 'mass',
 'Toe 1': None,
 'Toe 18': None,
 '2015 or earlier': None,
 'SVL (mm)': 'svl',
 'Unnamed: 16': None,
 'Toe 12': None,
 'Year': None,
 'Toe 8': None,
 'Marked': None,
 'SVL': 'svl',
 'Collectors': None,
 'Toe 2': None,
 'New/Recap': 'new.recap',
 'misc/notes': 'misc',
 'Toe 10': None,
 'Toe 19': None,
 'Toe 20': None,
 'Years Alive (known)': None,
 'Paint Mark': 'paint.mark',
 'Unnamed: 19': None,
 'Painted or Not': 'painted',
 'date': 'date'}

We'll use the dict, *uniquecols2dict* to rename the synonymous columns in our file....once we read them in,
that is.

# Reading and Appending Data
[Top](#TOC)

Now we use the function *readnsplit* to actually read in the source files, drop unnecessary columns and renaming columns according to a dictionary. 

Here is an example of how *readnsplit* works.  The code can be found in [Functions](#functions).

In [36]:
readnsplit(rawfiles[0],sourceinterDataBig,str)

Succes!  'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19.xlsx',sheet '2000' has been saved to S:/Chris/TailDemography/TailDemography/Intermediate Files/Source and the corresponding                google drive file as S:/Chris/TailDemography/TailDemography/Intermediate Files/Source/CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2000.xlsx.
Succes!  'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19.xlsx',sheet '2001' has been saved to S:/Chris/TailDemography/TailDemography/Intermediate Files/Source and the corresponding                google drive file as S:/Chris/TailDemography/TailDemography/Intermediate Files/Source/CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2001.xlsx.
Succes!  'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19.xlsx',sheet '2002' has been saved to S:/Chris/TailDemography/TailDemography/Intermediate Files/Source and the corresponding                google drive file as S:/Chris/TailDemography/TailDemography/Intermediate Files/Source/CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2002.xlsx.
Succes!  'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19.xlsx',sheet '2003' has been saved to S:/Chris/TailDemography/TailDemography/Intermediate Files/Source and the corresponding                google drive file as S:/Chris/TailDemography/TailDemography/Intermediate Files/Source/CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2003.xlsx.

In [37]:
for file in rawfiles:
    readnsplit(file,sourceInterGandolf,dtype=str, verbose=False)

We need to change the directory to the location where the intermediate files this operates on can be found.  We will also save a list of the files names in that location for convenience.

In [38]:
os.chdir(sourceInterGandolf)
splitfiles = glob.glob('*xls*')
splitfiles

['CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2000.xlsx',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2001.xlsx',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2002.xlsx',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2003.xlsx',
 'CC 2004_2004 .xlsx',
 'CC 2015 - captures_2015.xls',
 'CC 2016 - captures_2016.xls',
 'CC 2017 Lizards - 3viii17 captures and obs_2017.xls',
 'xCC2005x_2005.xls',
 'xCC2006x_2006.xls',
 'xCC2007x_2007.xls',
 'xCC2007x_Sheet1.xls',
 'xCC2008x_2008.xls',
 'xCC2009x_2009.xls',
 'xCC2010x_Sheet1.xlsx',
 'xCC2011x_Sheet1.xls',
 'xCC2012x_data.xls',
 'xCC2013x_CC 2013 data.xls',
 'xCC2014x_2014.xlsx']

Now we remove 'xCC2007x_Sheet1.xls' from the list of files we will process intermediate files since this is a subset of the 'xCC2007x_2007.xls' reordered and with some columns dropped.

In [39]:
splitfiles = list(set(splitfiles)-set(['xCC2007x_Sheet1.xls']))
splitfiles

['xCC2012x_data.xls',
 'CC 2015 - captures_2015.xls',
 'xCC2008x_2008.xls',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2003.xlsx',
 'xCC2014x_2014.xlsx',
 'CC 2017 Lizards - 3viii17 captures and obs_2017.xls',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2000.xlsx',
 'xCC2005x_2005.xls',
 'xCC2009x_2009.xls',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2002.xlsx',
 'xCC2007x_2007.xls',
 'xCC2010x_Sheet1.xlsx',
 'xCC2006x_2006.xls',
 'xCC2011x_Sheet1.xls',
 'CC 2000-03-modified from CC-SJ 00-03 final-modified w headers-3Jan19_2001.xlsx',
 'CC 2016 - captures_2016.xls',
 'xCC2013x_CC 2013 data.xls',
 'CC 2004_2004 .xlsx']

Now we use the function *mapndrop* to drop unnecessary columns and renaming columns according to a dictionary.

Here are a few examples of how *mapndrop* works.  The code can be found in [Functions](#functions).

In [40]:
mapndrop(df=pd.read_excel(splitfiles[0],dtype=str),dictionary=uniquecols2dict,verbose = True)

Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.

,species,toes,date,sex,svl,tl,rtl,mass,paint.mark,location,meters,new.recap,painted,misc,vial
0,sv,2,2012-06-02 00:00:00,m,53,72,0,4.4,w19b,pine at top of site,NaN,???,yes,actually caught on way down; toe #2 may be nat...,NaN
1,sv,NaN,2012-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,???,1falls,NaN,didn't catch,NaN,NaN,NaN
2,sc,11,2012-06-01 00:00:00,F,98,129,0,35,.t,bottom site Rt side,NaN,new,yes,BRIA CAUGHT IT!!!!!! :),12-41
3,cn ex,1-7,2012-05-27 00:00:00,f,89,165,75,19,w.a,sb at CCC,NaN,new,yes,NaN,12-27
4,sj,5-11-16,2012-05-24 00:00:00,F,62,85,0,8.4,w1c,5m^bottom site,NaN,new,yes,NaN,12-01
5,sj,5-11-17,2012-05-24 00:00:00,F,62,85,0,5.7,w2c,bottom wall v wall v pine xing,NaN,new,yes,NaN,12-02
6,sj,5-11-18,2012-05-24 00:00:00,F,62,86,0,7.6,w3c,T top R island,NaN,new,yes,TOES CHANGED on 10 June 2012: from 5-11-18 to ...,12-03
7,sj,5-11-18,2012-05-24 00:00:00,F,71,99,0,8.9,w11c,R top 2 falls,NaN,new,yes,NOTE that this animal may have been marked as ...,12-09
8,sj,5-11-19,2012-05-24 00:00:00,F,66,87,0,7.1,w5c,H3/H4,NaN,new,yes,NaN,12-04
9,sj,5-11-20,2012-05-24 00:00:00,M,77,105,0,16.6,w7c,top CCC,NaN,new,yes,NaN,12-05
10,sj,5-12-16,2012-05-24 00:00:00,M,89,119,0,25,w9c,TBss,NaN,new,yes,same as w8c,12-07
11,sj,5-12-17,2012-05-24 00:00:00,F,65,83,0,8.4,w10c,same as w8C,NaN,new,yes,NaN,12-08
12,sj,5-12-19,2012-05-25 00:00:00,F,69,86,0,11,w16c,6m ^ bottom site left,NaN,new,yes,gravid,12-11
13,sj,5-12-20,2012-05-25 00:00:00,F,69,63,29,7,w17c,opp cave creek trail in sb,NaN,new,yes,NaN,12-14
14,sj,5-13-16,2012-05-25 00:00:00,M,83,32,14,18,w19t,R outcrop leftside v talus v 2nd triple rock,NaN,new,yes,Bss T shed; loose scales on T,12-15
15,sj,5-13-17,2012-05-25 00:00:00,F,66,86,0,8,w20c,10m v chute,NaN,new,yes,NaN,12-16
16,sj,5-13-18,2012-05-25 00:00:00,M,72,96,0,11.5,w21c,4m v topchute 1m ^ right side,NaN,new,yes,Tss,12-17
17,sj,5-13-19,2012-05-25 00:00:00,F,79,99,0,17,w22c,7m v wall v wall v juniper xing,NaN,new,yes,gravid,12-18
18,sj,5-13-20,2012-05-26 00:00:00,M,70,101,0,10.7,w23c,trail left 1st falls,NaN,new,yes,NaN,12-19
19,sj,5-14-16,2012-05-26 00:00:00,F,61,74,-1,6.2,w2b4c,7m vp canyon wall above 2nd triple rock,NaN,new,yes,salmon tail,12-22A
20,sj,5-14-17,2012-05-27 00:00:00,m,75,101,0,13.5,w28c,left wall v curved wall below cave trail or 4 ...,NaN,new,yes,NaN,12-23
21,sj,5-14-18,2012-05-27 00:00:00,m,70,98,0,12,w29c,3m v top wall at juniper crossing,NaN,new,yes,B rec shed,12-25
22,sj,5-14-19,2012-05-28 00:00:00,f,59,80,0,6.8,w33c,mid bowl v 1falls,NaN,new,yes,NaN,12-31
23,sj,5-14-20,2012-05-28 00:00:00,f,67,100,0,8.3,w36c,juniper on left halfway up CCC,NaN,new,yes,Tss,12-32
24,sj,5-15-16,2012-05-28 00:00:00,f,66,88,0,10,w37c,slab; ~2.5m up,NaN,new,yes,NaN,12-33
25,sj,5-15-17,2012-05-29 00:00:00,f,61,80,0,5.5,w39c,mid chute,NaN,new,yes,chris spotted independently,12-36
26,sj,5-15-18,2012-05-29 00:00:00,m,79,102,0,17,w40c,slab,NaN,new,yes,BT rec shed,12-37
27,sj,5-15-18,2012-05-30 00:00:00,M,73,103,0,13.5,w41c,same,NaN,new,yes,Bss,12-38
28,sj,5-15-19,5/31/2012,F,65,88,0,6.7,w42c,sb 20m v 1st falls; TB look ve shed?,NaN,new,yes,NaN,12-40
29,sj,6-12-16,2012-06-05 00:00:00,m,73,97,0,14,w49c,slab,NaN,new,yes,"Tss, Bss",12-50
30,sj,6-12-17,2012-06-06 00:00:00,f,62,82,-1,4.9,w50c,top left wall ^ R in sb,NaN,new,yes,NaN,12-51
31,sj,6-12-18,2012-06-09 00:00:00,m,76,107,0,14.7,wTc,1st tripleR,NaN,new,yes,wound lower dorsal rt abdomen (photo); Tss,NaN
32,uo,6-16,2012-05-27 00:00:00,f,50,55,25,3.5,w.b,R 2m ^ oakR,NaN,new,yes,NaN,12-28
33,v,7-11-16,2012-05-24 00:00:00,M,50,72,0,4,w1b,left Rs bwtn top S-curve 1st trip rock,NaN,new,yes,NaN,12-06
34,v,7-11-17,2012-05-24 00:00:00,M,51,68,0,4.5,w2b,Top S-curve,NaN,new,yes,NaN,12-10
35,v,7-11-18,2012-05-25 00:00:00,M,79,63,0,3.5,w3b,on oak 6m left side bowl,NaN,new,yes,NaN,12-12
36,v,7-11-19,2012-05-25 00:00:00,F,52,60,0,4.5,w4b,top lefr stckedwall opp v curvedwall,NaN,new,yes,NaN,12-13
37,v,7-11-20,2012-05-26 00:00:00,M,53,69,0,5.1,w5b,L @ CC/CCC,NaN,new,yes,NaN,12-20
38,v,7-12-16,2012-05-26 00:00:00,F,50,57,0,4.2,w6b,slab opp slab,NaN,new,yes,NaN,12-21
39,sv,7-12-17,2012-05-27 00:00:00,m,47,61,0,3.4,w7b,1falls,NaN,new,yes,incorrectly marked vial as 12-22 (already used...,12-22B
40,sv,7-12-18,2012-05-27 00:00:00,m,49,67,0,3.7,w8b,sb at bottom curved wall,NaN,new,yes,NaN,12-24
41,sv,7-12-19,2012-05-27 00:00:00,m,54,64,0,5.4,w9b,sb top R island,NaN,new,yes,NaN,12-26
42,sv,7-12-20,2012-05-27 00:00:00,m,49,45,-1,3.6,w11b,top of site,NaN,new,yes,NaN,12-29
43,sv,7-13-16,2012-05-27 00:00:00,f,50,66,0,3.9,w12b,sb 3m ^ 2nd tripleR,NaN,new,yes,NaN,12-30
44,sv,7-13-17,2012-05-28 00:00:00,m,44,58,0,2.7,w13b,second tripleR,NaN,new,yes,Tss,12-34
45,sv,7-13-18,2012-05-29 00:00:00,m,48,63,0,3.2,w14b,1falls,NaN,new,NaN,NaN,12.35
46,sv,7-13-19,2012-05-30 00:00:00,M,50,68,0,4,w15b,2m v 2nd triple rock,NaN,new,yes,NaN,12-39
47,sv,7-13-20,2012-06-01 00:00:00,F,52,65,0,4.6,w16b,R rt sde sb 2m ^ 1 falls,NaN,new,yes,NaN,NaN
48,sv,7-14-16,2012-06-04 00:00:00,f,59,72,0,7.5,w20b,sb top of site,NaN,new,NaN,"Emily Sparks caught and named her ""Slash""",12-44
49,sv,7-14-17,2012-06-06 00:00:00,m,50,70,0,3.4,wCb,sb 5m v 1falls,NaN,new,NaN,w36b and wCb incolved in chase together; bitem...,12-52
50,sv,7-14-18,2012-06-07 00:00:00,f,57,33,14,6.8,w..b,sb @ L @ CC/CCC,NaN,new,yes,NaN,NaN
51,sj,1-12,2012-05-28 00:00:00,f,78,81,33,13.6,w35c,L at CC/CCC,NaN,recap,yes,NaN,NaN
52,sj,1-16-11,2012-05-26 00:00:00,F,73,79,35,15.7,w25c,5m v top curved wall,NaN,recap,yes,gravid,NaN
53,sj,1-7-11,2012-05-27 00:00:00,f,76,94,0,19.8,w30c,3m v top wall at juniper crossing,NaN,recap,yes,very gravid,NaN
54,sj,1-7-11-19,2012-05-27 00:00:00,f,77,91,-1,11.5,w31c,R wall v talus,NaN,recap,yes,NaN,NaN
55,sv,1-7-12-18,2012-06-02 00:00:00,f,60,74,0,8.9,w17b,on trail top,-30,recap,yes,NaN,NaN
56,sj,1-7-13-18,2012-05-24 00:00:00,F,83,111,0,23.3,w8c,left wall 3m v pool,NaN,recap,yes,NaN,NaN
57,sj,1-8-11,2012-05-24 00:00:00,F,81,109,0,24.7,w4c,H3,NaN,recap,yes,old bite wound rt abd,NaN
58,sj,1-9-11-20,2012-06-08 00:00:00,m,93,131,0,26.7,wUc,wall left 5m v 1falls,-5,recap,yes,T shed; B shedding; NEW for this season!,NaN
59,sj,2-7-13-20,2012-05-30 00:00:00,M,90,125,0,26,w14c,juniper on rt -30,NaN,recap,yes,TssBss; perhaps marked something other than w1...,NaN
60,sj,2-8-13,2012-05-25 00:00:00,F,82,79,57,21.5,w18c.b,loose on T; H5,NaN,recap,yes,pics of site,NaN
61,sj,2-9-15-17,2012-05-27 00:00:00,f,81,108,0,22,w32c,top CCC,NaN,recap,yes,salmon T,NaN
62,sj,2-9-15-19,2012-05-27 00:00:00,f,75,102,0,10.7,w26c,2m^bottom site,NaN,recap,yes,just recently dropped babies,NaN
63,sj,2-9-15-20,2012-05-24 00:00:00,F,81,64,36,19.7,w6c,H4,NaN,recap,yes,toe 9 (maybe nat. loss),NaN
64,sv,3-9-14-16,2012-05-27 00:00:00,m,54,71,0,5.3,w10b,sb 5m ^ oakR,NaN,recap,yes,NaN,NaN
65,sv,3-9-14-18,2012-06-02 00:00:00,f,59,70,0,8.2,w18b,lft wall opp pyramid R,NaN,recap,yes,gravid,NaN
66,sj,3-9-15,2012-05-28 00:00:00,f,79,85,58,19.3,w34c,1falls,NaN,recap,yes,salmon tail; Tss,NaN
67,sj,4-6-11,2012-06-07 00:00:00,m,86,123,0,19.6,w..c,H4,NaN,recap,yes,"rec shed, loose scales; Not caught earlier thi...",NaN
68,sj,4-6-11-18,2012-05-28 00:00:00,m,84,113,0,20.8,w38c,top chute left side,NaN,recap,yes,B&T rec shed,NaN
69,sj,4-6-12-16,2012-05-24 00:00:00,M,83,107,0,20.6,w12t,T shade rec; Bss left wall bwtn pool and 2 falls,NaN,recap,yes,NaN,NaN
70,sj,4-6-12-18,2012-06-02 00:00:00,m,82,103,18,20.8,w45c,R rt side sb,-35,recap,yes,NaN,NaN
71,sj,4-6-12-20,2012-05-24 00:00:00,M,82,115,0,19.4,w15c,Tss Bslight ss 5m ^ bttm site dead T,NaN,recap,yes,NaN,NaN
72,sj,4-6-12-20,2012-06-08 00:00:00,m,81,115,0,16.7,w++c,L,-45,recap,yes,recently shed; marked earlier this season-24V12,NaN
73,sj,5-12-19,2012-05-24 00:00:00,F,62,85,0,5.7,w13c,bottom R wall v cave tunnel,NaN,recap,yes,NaN,NaN
74,sj,5-13-20,2012-06-02 00:00:00,m,70,102,0,9.8,w46c,rt sb 8m ^ 1falls,NaN,recap,yes,NaN,NaN
75,sj,5-6-11-18,2012-06-08 00:00:00,f,65,87,0,7.6,w^c,root xing,NaN,recap,yes,recently shed; marked earlier this season-24V1...,NaN
76,sj,6-14-20,2012-05-27 00:00:00,f,76,65,45,21.2,w27c,1falls,NaN,recap,yes,old wound dorsal pelvis,NaN
77,uo,6-15,2012-05-26 00:00:00,M,51,50,30,4.3,w.a,opp oak R,NaN,recap,yes,blue throat and belly,NaN
78,uo,6-18,5/31/2012,F,48,69,0,3.4,w.bc,sb opp top downed juniper,NaN,recap,yes,gravid; yellow throat; no blue,NaN
79,sv,7-11 20,2012-06-07 00:00:00,m,54,12,-1,4.4,w5b,2m high in T opp downed juniper,NaN,recap,no,"rec lost tail, since capture on 26 May; broght...",NaN
80,sv,7-12-16,2012-06-08 00:00:00,f,52,59,0,4.3,w8b (w108b),bottom Scurve,NaN,recap,yes,loose skin; just shed,NaN
81,sj,3-6-11-18,2012-05-24 00:00:00,M,81,110,0,19,w14c,Brecshed,NaN,recap,yes,NaN,NaN
82,cn ex,7,2012-05-24 00:00:00,F,84,130,55,24.7-6.7,wXc,CC/CCC,NaN,recap?,yes,only toe 7 missing,NaN
83,sj,14,2012-06-05 00:00:00,f,72,100,0,12,w48c,Rs rt side 3m v slab,NaN,recap?,yes,is toe #14 a natural loss?,NaN
84,sj,5-15-20,2012-06-03 00:00:00,m,76,104,0,14.5,w47c,top curved wall,NaN,NaN,NaN,displaying w w25c,12-43

In [41]:
mapndrop(df=pd.read_excel(splitfiles[4],dtype=str),dictionary=uniquecols2dict, verbose=True)

Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.

,species,toes,date,sex,svl,tl,rtl,mass,paint.mark,location,meters,new.recap,painted,misc,vial
0,sj,17-15-20,2014-07-03 00:00:00,M,84,98,24,16.5,o10c,left wall v scree,321,recap,yes,NaN,NaN
1,sj,8-14-19,2014-07-03 00:00:00,M,85,120,0,21.7,o11c,left mid chute,358,recap,yes,Trec shed;loose scales,NaN
2,sj,8-13-20,2014-07-03 00:00:00,F,71,68,-1,11,o12c .t,mid chute,358,recap,yes,T shed; Bss,NaN
3,sj,8-15-17,2014-07-03 00:00:00,F,86,121,0,23.5,o13c,right wall @ pool,380,recap,yes,B shed; Tss,NaN
4,sj,5-13-16,2014-07-03 00:00:00,F,75,100,0,11,o14c,2 falls,390,new,yes,Btrec shed,14-09
5,sj,8-14-16,2014-07-03 00:00:00,M,82,120,0,22.7,o15c,5m ^ 2 falls,395,recap,yes,NaN,NaN
6,sj,8-15-16,2014-07-03 00:00:00,M,85,116,0,22,o16c,opp oak r,418,recap,yes,Brec; Tss,NaN
7,sj,8-12-17,2014-07-03 00:00:00,F,73,88,7,13,o17c,slab,262,recap,yes,B shed; Tss,NaN
8,sj,7 -11-17,2014-07-03 00:00:00,F,68,45,30,8.7,o1c,-25,-25,recap,yes,NaN,NaN
9,sj,5-11,2014-07-03 00:00:00,F,60,84,0,7.1,o2c,r wall left sb v 1 falls,-7,new,yes,NaN,14-01
10,sj,5-11-16,2014-07-03 00:00:00,M,72,102,0,12.3,o3c,left wall 5 ^ 1 fall,5,new,yes,Tail Shed; Bss,14-02
11,sj,15,2014-07-03 00:00:00,F,67,56,30,8,o4c,wall v bottom wall,83,new?,yes,Natural toe loss?; B shed Tss,NaN
12,sj,5-11-18,2014-07-03 00:00:00,M,85,73,56,19.5,o5c,black r,171,new,yes,NaN,14-04
13,sj,5-11-19,2014-07-03 00:00:00,F,69,93,0,8.4,o6c,Top ccc,240,new,yes,NaN,14-05
14,sj,5-11-20,2014-07-03 00:00:00,F,67,87,0,8.2,o7c,slab,262,new,yes,B shed; Tss,14-06
15,sj,5-12-16,2014-07-03 00:00:00,M,77,111,0,15.5,o8c,Top s curve,290,new,yes,T shed; Bss,14-07
16,sj,5-12-20,2014-07-03 00:00:00,F,65,91,0,9.1,o9c,left top s curve,290,new,yes,B shed; Tss,14-08
17,sv,11-20,2014-07-03 00:00:00,F,61,76,0,8.3,o1a,stream bed,20,new,yes,gavid;blue-orange badge,14-03
18,sj,5-15-16,2014-07-04 00:00:00,F,37,51,0,1.4,o.t,stacked wall,70,new,yes,Trec Shed,14-13
19,sj,5-15-17,2014-07-04 00:00:00,F,67,97,0,7.9,o18c,left sb v bottom wall,85,new,yes,Brec shed; Tss,14-14
20,sj,5-15-18,2014-07-04 00:00:00,F,67,67,42,8.9,o19c,left sb mid island,150,new,yes,NaN,14-16
21,sj,5-15-19,2014-07-04 00:00:00,F,70,98,0,10.7,o20c,sb @ Black R,171,new,yes,Brec shed; Tss,14-17
22,sj,8-11-19,2014-07-04 00:00:00,F,80,66,40,16.9,o21t,H4,194,recap,yes,Trec Shed Bss,NaN
23,sj,5-15-20,2014-07-04 00:00:00,F,73,102,0,10.6,o22c,H4.5,200,new,yes,B/Trec,14-18
24,sj,1-12,2014-07-04 00:00:00,F,83,57,40,18,o23c,sb 1m ^ L in sb,238,recap,yes,Bss,NaN
25,sj,5-6-11,2014-07-04 00:00:00,F,63,42,19,7.2,o24c,sb opp slab,262,new,yes,Brec shed; Tss,14-21
26,sj,5-6-12,2014-07-04 00:00:00,M,75,97,0,12.3,o25c,bottom s curve,276,new,yes,shedding; only two toes in vial,14-22
27,sj,5-6-13,2014-07-04 00:00:00,F,70,95,0,10.8,o26c,pool,380,new,yes,wound behind right eye lower right @ b dorsal,14-25
28,sj,5-6-14,2014-07-04 00:00:00,F,68,90,0,12.3,o27c.t,5m ^ 2 falls,395,new,yes,Bss; trec shed,14-27
29,sj,5-6-15,2014-07-04 00:00:00,F,65,59,2,7.6,o28c,sb 2 3r,302,new,yes,NaN,14-30
30,sv,3-6-14,2014-07-04 00:00:00,M,52,76,0,5.5,o10a.t,Top s curve,290,new,yes,NaN,14-23
31,sv,3-6-15,2014-07-04 00:00:00,F,52,64,0,3.9,o11a,Top s curve,290,new,yes,light orange badge,14-24
32,sv,2-3-4,2014-07-04 00:00:00,F,56,76,0,4.9,o12a,left sb 5m ^ chute,267,new,yes,NaN,14-26
33,sv,10-12-19,2014-07-04 00:00:00,M,52,71,0,5.3,o13a,5m ^ 2 falls,395,recap,yes,Bss;Tss,NaN
34,sv,3-6-17,2014-07-04 00:00:00,F,53,70,0,5,o15a,5m v pine r,403,new,yes,rec shed,14-29
35,sv,3-9-13-20,2014-07-04 00:00:00,M,60,68,38,7.3,o16a,5m ^ opp oak r,423,recap,yes,loose scales; wound mid right @ b dorsal,NaN
36,sv,3-6-18,2014-07-04 00:00:00,F,49,62,0,3.9,o17a,5m ^ 3r,307,new,yes,rec shed,14-31
37,sv,3-8-12-16,2014-07-04 00:00:00,F,55,63,6,5.9,o2a,R left sb 10 m ^ cave trail,55,recap,yes,blue badge,NaN
38,sv,3-6-11,2014-07-04 00:00:00,F,46,66,0,3.2,o3a,R left sb 10 m ^ cave trail,55,new,yes,light blue badge,14-11
39,sv,3-6-12,2014-07-04 00:00:00,M,53,69,0,4.9,o4a,oak tree top stacked wall,77,new,yes,Bss,14-12
40,sv,10-11-19,2014-07-04 00:00:00,M,51,71,0,5,o5a,juniper xing,115,recap,yes,Bss,NaN
41,sv,10-13-19-20,2014-07-04 00:00:00,F,55,50,36,5.5,o6a,lizard r,135,recap,yes,gravid; Brec shed; loose scales;light blue/ or...,NaN
42,sv,10-14-20,2014-07-04 00:00:00,M,54,73,0,5.5,o7a,sb 1 m v flat r,207,recap,yes,blue badge; B slight ss,NaN
43,sv,3-6-13,2014-07-04 00:00:00,F,52,52,0,5.3,o8a,flat r in sb,208,new,yes,rec shed,14-19
44,sv,10-12-16,2014-07-04 00:00:00,M,56,80,0,6,o9a,left sb 5m v L in sb,232,recap,yes,NaN,NaN
45,sv,3-6-16,2014-07-04 00:00:00,M,42,13,1,2.4,o14a,1m ^ 2 falls,391,new,yes,NaN,14-28
46,uo,1-7,2014-07-04 00:00:00,F,43,63,0,5,o..b,oak 5m ^ juniper xing,120,new,yes,NaN,14-15
47,uo,1-6,2014-07-04 00:00:00,F,46,63,0,3,o.b,left sb 5m ^ cave trail,50,new,yes,crook in tail,14-10
48,uo,1-8,2014-07-04 00:00:00,M,46,77,0,2.8,o1b,L in sb @ cc/ccc,237,new,yes,NaN,14-20
49,uo,10-18,2014-07-04 00:00:00,F,49,60,15,3.9,o2b,cc/ccc,240,recap,yes,gravid,NaN
50,sj,5 11 16,2014-07-05 00:00:00,F,74,67,30,14.5,o29c,in the sb -55,-55,recap,yes,TSS;BSS,NaN
51,sj,5 6 16,2014-07-05 00:00:00,F,69,93,0,10.7,o31c,3 m ^ cave trail canyon,48,new,yes,NaN,14-33
52,sj,5 13 17,2014-07-05 00:00:00,F,75,100,0,14.3,o32c,top rt wall ^ 2 triple R,335,recap,yes,T shedding; B rec shed,NaN
53,sj,4 6 12 20,2014-07-05 00:00:00,M,91,126,0,24.5,o30c,log @ -45,-45,recap,yes,BT recently shed,NaN
54,sv,3 6 19,2014-07-05 00:00:00,M,50,15,3,3.8,o18a,left wall @ 15,15,new,yes,recently shed,14-32
55,sv,10 11 16,2014-07-05 00:00:00,F,59,75,0,5.6,o19a,sb 3 m below cave trial,42,recap,yes,gravid? Dirty/been digging,NaN
56,sv,3 6 12,2014-07-05 00:00:00,M,53,68,0,4.8,o20a,bottom left wall ^ cave trail,45,recap,yes,toes w/blood? Shed since capture yesterday!,NaN
57,sv,3 6 20,2014-07-05 00:00:00,M,51,71,0,4.3,o22a,bottom island,142,new,yes,recently shed,14-34
58,sv,4 6 11,2014-07-05 00:00:00,M,51,61,0,4.2,o24a,mid wall below juniper crossing opp,237,new,yes,NaN,14-35
59,sv,4 6 12,2014-07-05 00:00:00,M,47,67,0,3.5,o25a,sb @ 15,15,new,yes,NaN,14-36
60,sv,4 6 13,2014-07-05 00:00:00,M,47,68,0,3.5,o26a,sb @ 20,20,new,yes,NaN,14-37
61,sv,10 11 17,2014-07-05 00:00:00,M,55,51,34,5.9,o21a,sb opp mid wall,102,recap,yes,NaN,NaN
62,sv,10 12 19,2014-07-05 00:00:00,F,61,73,0,4.8,o23a,left sb 5m below pine R,403,NaN,yes,abdomen empty; dirty; orange circling blue badge,NaN
63,sv,4 6 14,2014-07-05 00:00:00,M,50,71,0,4,o27a,-5,-5,new,yes,rec shed,14-28
64,sj,5 6 17,2014-07-06 00:00:00,F,66,94,0,7.7,o33c,rt side 1 falls,0,new,yes,BT recently shed,14-40
65,sj,5 6 18,2014-07-06 00:00:00,M,75,107,0,14.5,o34c,L @ cc/ccc,240,new,yes,recently shed; loose scales,14-44
66,sv,4 6 15,2014-07-06 00:00:00,M,42,56,0,2.5,o28a,L sb -50,-50,new,yes,NaN,14-39
67,sv,4 6 16,2014-07-06 00:00:00,M,47,64,0,3.4,o29a,left SB 20 m ^ 1 falls,20,new,yes,NaN,14-41
68,sv,4 6 18,2014-07-06 00:00:00,F,57,69,0,6.3,o30a,rt sb 5 m below L cc/ccc,235,new,yes,orange badge,14-43
69,sv,4 6 19,2014-07-06 00:00:00,M,48,65,0,4.1,o31a,triple R,302,NaN,NaN,accidentally released,14-45
70,uo,1 9,2014-07-06 00:00:00,F,50,31,24,2.4,ob,btm curved w,28,new,yes,was gravid; yellow/orange throat,14-32
71,sj,5-6-19,2014-07-07 00:00:00,F,67,89,0,10,o35c,L cc/ccc,237,new,yes,recently shed,14-48
72,sj,5-6-20,2014-07-07 00:00:00,M,71,99,0,12,o36c,rt sb 3 ^ 1 3r,309,new,yes,rec shed,14-50
73,sj,5-7-12,2014-07-07 00:00:00,F,64,71,15,7.3,o38c,bottom curved wall,27,new,yes,brec shed; tss,14-54
74,sj,5-7-11,2014-07-07 00:00:00,M,81,109,0,17,o37c,L rocks 5m ^ 2 falls,395,new,yes,rec shed,14-52
75,sv,4-7-11,2014-07-07 00:00:00,M,52,72,0,4.8,o32a,rt sb -55,-55,new,yes,B rec shed; Tss,14-46
76,sv,4-7-12,2014-07-07 00:00:00,M,47,64,0,3.9,o33a,1 3r,290,new,yes,NaN,14-51
77,sv,10-13-20,2014-07-07 00:00:00,M,51,69,0,4.8,o34a,sb 7m ^ top shute,369,recap,yes,shed rec,NaN
78,sv,7-14-18,2014-07-07 00:00:00,F,63,59,35,6.4,o35a,left sb 5m vslab v slab,253,recap,yes,was gravid;orange badge,NaN
79,sv,4-7-14,2014-07-07 00:00:00,F,58,71,0,4.9,o36a,top stacked wall,77,new,yes,"blue badge, tinge of orange",14-53
80,sv,10-11-16,2014-07-07 00:00:00,F,58,75,0,6.1,o37a,top left wall,27,recap,yes,gravid,NaN
81,uo,1-15,2014-07-07 00:00:00,M,51,80,0,3.9,o+b,bottom ccc,240,recap,yes,light blue throat/belly; previously marked as ...,14-49
82,uo,1-10,2014-07-07 00:00:00,M,48,79,0,3.5,o=b,r right sb,210,new,yes,blue belly; blue/green throat; wound mid dorsum,14-47
83,sv,4 7 15,2014-07-08 00:00:00,F,55,70,0,4.7,o38a,L sb opp wvwv juniper crossing,83,new,yes,NaN,14-55
84,uo,1 11,2014-07-08 00:00:00,F,46,66,0,3.2,o^b,left sb opp lizard R,133,new,yes,gravid,14-56
85,uo,1 12,2014-07-08 00:00:00,M,51,78,0,3.3,ovb,top island,164,new,yes,NaN,14-57
86,sj,5 7 13,2014-07-10 00:00:00,M,76,102,0,16,o39a,sb mid island,150,new,yes,NaN,14-58
87,sv,10 14 18,2014-07-10 00:00:00,F,59,74,0,6,o39a,lizard R,133,recap,yes,not gravid; dirty,NaN
88,sv,4 7 17,2014-07-10 00:00:00,M,51,79,0,4.6,o40a,sb @ juniper,253,new,yes,NaN,14-59
89,sj,8 13 19,2014-07-11 00:00:00,M,88,116,0,25.2,o39c,wall pool,385,recap,yes,TSS; B rec shed,NaN
90,sv,7 14 18,2014-07-11 00:00:00,F,63,58,36,7.1,o35a,left sb opp downed juniper,220,recap,yes,repainted; paint mark faint,NaN
91,sv,3 9 14 16,2014-07-11 00:00:00,M,57,73,0,6.6,o41a,rt sb 1m ^ site,456,recap,yes,NaN,NaN
92,sv,4 7 18,2014-07-11 00:00:00,F,58,69,0,4.9,o42a,top site,455,new,yes,NaN,14-60
93,sv,14,2014-07-11 00:00:00,M,55,49,3,5.1,o43a,sb pyramid R,373,recap?,yes,tail shedding,NaN
94,sj,5 7 14,2014-07-13 00:00:00,M,83,119,0,19,o40c,slab,262,new,yes,NaN,14-61
95,sv,4 7 19,2014-07-13 00:00:00,M,50,60,0,5.4,o44a,5m ^ oak R,423,new,yes,only two toes; bss,14-62
96,sv,4 7 20,2014-07-13 00:00:00,F,54,67,0,3.9,o45a,2m v 1 falls,-2,new,yes,NaN,NaN

We'll create a df, *df*, with no data, but columns from our desired columns, *i.e.* the keys for coldict, as a placeholder to which we can append new data.

In [42]:
df = pd.DataFrame(columns=coldict.keys())
df

Empty DataFrame
Columns: [species, date, sex, svl, tl, rtl, mass, paint.mark, location, meters, new.recap, painted, misc, vial, autotomized, sighting, toes, filename]
Index: []

Now we will read in all of the successfully split files, clean the column names, and concatenate them into one large df.

In [43]:
for file in splitfiles:
    df = pd.concat([df,mapndrop(pd.read_excel(file,dtype=str),uniquecols2dict)],sort=True)
    print(df.shape[0])
print("\n\nFinal df has {} columns and {} rows.".format(df.shape[1],df.shape[0]))
df.head()

Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
85
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
326
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
460
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
1477
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
1574
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
2372
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
2581
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
2783
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
2945
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
4422
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
4604
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
4703
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
4866
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
4930
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
5611
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
5714
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
5820
Successfully mapped columns for df.
Successfully dropped unnecessary columns for df.
6299


Final df has 18 columns and 6299 rows.

,autotomized,date,filename,location,mass,meters,misc,new.recap,paint.mark,painted,rtl,sex,sighting,species,svl,tl,toes,vial
0,NaN,2012-06-02 00:00:00,NaN,pine at top of site,4.4,NaN,actually caught on way down; toe #2 may be nat...,???,w19b,yes,0,m,NaN,sv,53,72,2,NaN
1,NaN,2012-05-29 00:00:00,NaN,1falls,NaN,NaN,NaN,didn't catch,???,NaN,NaN,NaN,NaN,sv,NaN,NaN,NaN,NaN
2,NaN,2012-06-01 00:00:00,NaN,bottom site Rt side,35,NaN,BRIA CAUGHT IT!!!!!! :),new,.t,yes,0,F,NaN,sc,98,129,11,12-41
3,NaN,2012-05-27 00:00:00,NaN,sb at CCC,19,NaN,NaN,new,w.a,yes,75,f,NaN,cn ex,89,165,1-7,12-27
4,NaN,2012-05-24 00:00:00,NaN,5m^bottom site,8.4,NaN,NaN,new,w1c,yes,0,F,NaN,sj,62,85,5-11-16,12-01

In [44]:
df = df.reindex(['species', 'toes', 'sex', 'date', 'svl', 'tl', 'rtl', 'autotomized', 'mass', 
                 'location', 'meters', 'new.recap', 'painted', 'sighting', 
                 'paint.mark', 'vial', 'misc'], axis=1)
df.head()

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
0,sv,2,m,2012-06-02 00:00:00,53,72,0,NaN,4.4,pine at top of site,NaN,???,yes,NaN,w19b,NaN,actually caught on way down; toe #2 may be nat...
1,sv,NaN,NaN,2012-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,1falls,NaN,didn't catch,NaN,NaN,???,NaN,NaN
2,sc,11,F,2012-06-01 00:00:00,98,129,0,NaN,35,bottom site Rt side,NaN,new,yes,NaN,.t,12-41,BRIA CAUGHT IT!!!!!! :)
3,cn ex,1-7,f,2012-05-27 00:00:00,89,165,75,NaN,19,sb at CCC,NaN,new,yes,NaN,w.a,12-27,NaN
4,sj,5-11-16,F,2012-05-24 00:00:00,62,85,0,NaN,8.4,5m^bottom site,NaN,new,yes,NaN,w1c,12-01,NaN

In [45]:
df.shape

(6299, 17)

# Exporting Data
[Top](#TOC)

Here we call the function, *namefile*, to create a timestamped name for file to be exported.  You can find the code for *namefile* in [Functions](#functions).

In [47]:
filename = namefile('Appended and Trimmed CC Data 2000-2017')
os.chdir(outputGandolf)
df.to_csv(filename,index = False)
print("\'{}\' has been saved to \'{}\' and the corresponding drive google drive location."\
      .format(filename, outputGandolf))

'Appended and Trimmed CC Data 2000-2017_2019-07-25 19hrs23min.csv' has been saved to 'C:/Users/craga/Google Drive/TailDemography/Cleaned Combined Data' and the corresponding drive google drive location.