# Cleaning CC data

This python notebook operates on a csv created after editing in open refine and is designed to finish cleaning columns of interest which were easier to clean in python.

# [Resume Here](#Resume)

# Table of Contents

1. [Outstanding Problems](#Outstanding-Problems)

1. [Setting up Python](#Setting-up-Python)
    
    1. [Setting the Location](#Setting-the-Location)
    
    2. [Importing Data](#Importing-Data)
    
    3. [Preparing for a Save](#Preparing-for-a-Save)
    
4. [Functions](#Functions)
    1. [appendstr](#appenstr)
    2. [typeordrop](#typeordrop)
    3. [myint](#myint)
    3. [testint](#testint)
    4. [rom2arab](#rom2arab)
    5. [exportliz](#exportliz)
    
2. [Inspecting the Data](#Inspecting-the-Data)
3. [Cleaning Data](#CleaningData)
    1. [Column-by-Column Cleaning](#Column-by-Column-Cleaning)
        1. [rtl](#rtl)
        2. [tl](#tl)
        3. [svl](#svl)
        4. [autotomized](#autotomized)
        5. [toes](#toes)
        6. [sex](#sex)
        7. [species](#species)
        7. [new.recap](#new.recap)
        8. [date](#date)
    2. [Correcting Class of Columns](#Correcting-Class-of-Columns)
    
4. [Adding New Columns](#Adding-New-Columns)

    1. [TL_SVL](#TL_SVL)
    
    2. [Mass_SVL](#Mass_SVL)
    
    3. [Lizard Number](#Lizard-Number)
         - [Assign Lizard Numbers](#Assign-Lizard-Numbers)
         - [QC the Numbers](#QC-the-Numbers)
    
    4. [Days Since Capture](#Days-Since-Capture)

    5. [Capture Number](#Capture-Number)

5. [Export Cleaned Data](#Export-Cleaned-Data)

# Outstanding Problems

1. [outstanding1](#outstanding1)
2. [outstanding2](#outstanding2)
3. [outstanding3](#outstanding3)
4. [outstanding4](#outstanding4)

# Setting up Python

[Top](#Table-of-Contents)

Here we import necessary packages. 
This chunk may take a while.

In [1]:
import pandas as pd
import numpy as np
import os,glob,logging
from liz_number import lizsort,mindate,smallest,validate
from liz_toes import make_str,label_pattern,replace_pattern,report_pattern

import plotly
import plotly.plotly as py
import plotly.graph_objs as go

plotly.tools.set_config_file(world_readable=True)
logging.basicConfig(filename='S:\\Chris\\TailDemography\\TailDemography\\Scripts and notes\\Cleaning CC (Part 2).log'
                    , filemode='a',
                    format='%(funcName)s - %(levelname)s - %(message)s - %(asctime)s', level=logging.INFO)
# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

## Setting the Location
[Top](#Table-of-Contents)

These chunks identify the locations from which we can get data and to which we can save data.

### Source Data
Source files can be found in the following locations:

In [2]:
sourceDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/Cleaned Combined Data'
sourceDataBig = 'S:/Chris/TailDemography/TailDemography/Cleaned Combined Data'
# sourceBlack = 'C:/Users/test/Desktop'

### Intermediate Source Data
Intermediate files can be found in the following locations:

In [3]:
sourceInterDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/Intermediate Files/DeepCleaning'
sourceinterDataBig = 'S:/Chris/TailDemography/TailDemography/Intermediate Files/DeepCleaning'
# sourceBlack = 'C:/Users/test/Desktop'

### Output Data
Outputfiles can be found in the following locations:

In [4]:
outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
outputBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'
# outputBlack = 'C:/Users/test/Desktop'

<a id='ImportingData'></a>

## Importing Data
[Top](#Table-of-Contents)

Here we import data from one of the available locations

In [5]:
os.chdir(sourceDataBig)
files = glob.glob('*.csv')
latest = files[-1]
latest

'Appended and Trimmed CC Data 2000-2017_2019-03-10 13hrs38min.csv'

In [6]:
df=pd.read_csv(latest)
df.head()

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
0,sj,3-7-11-19,m,2002-07-14 00:00:00,63,92,0,NaN,10,halfway up to site,-200,NEW,NaN,NaN,b101t,toes in vial 58-02,NaN
1,sj,3-7-11-18,m,2002-07-14 00:00:00,66,92,0,NaN,10.8,left downstream 100m v 1 falls,-100,NEW,NaN,NaN,b102t,toes in vial 59-02,NaN
2,sj,3-7-12-16,m,2002-07-14 00:00:00,68,103,0,NaN,10.3,90m v 1 falls,-90,NEW,NaN,NaN,b103t,toes in vial 60-02,NaN
3,sv,NaN,NaN,2002-07-05 00:00:00,NaN,NaN,NaN,NaN,NaN,sb at intersection with trail v 1 falls,-30,sighting,NaN,NaN,w2a,NaN,NaN
4,sj,10,m,2002-07-14 00:00:00,85,118,0,NaN,19.5,sb - trail intersection v 1 falls,-20,recap,toe loss may be natural,NaN,b104t,NaN,NaN

## Preparing for a Save
[Top](#Table-of-Contents)

Now we change the working directory so that inermediate files are saved to our preferred location.

In [7]:
os.chdir(sourceinterDataBig)

# Functions
In this section we find functions written for this notebook.  We will need to consider whether or not to add these to the code library.

[Back to: Top](#Table-of-Contents)

1. [appendstr](#appenstr)
2. [typeordrop](#typeordrop)
3. [myint](#myint)
3. [testint](#testint)
4. [rom2arab](#rom2arab)
5. [exportliz](#exportliz)

## appendstr
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [8]:
def appendstr(x, value, connector = '', position=0):
    """
    appends *value* and *x* separated by a *connector* with the position of *val* determined by *position*
    :param x:
    :param value:
    :param connector:
    :param position:
    """
    assert((isinstance(x,str)|(x is None)|(x!=x))),"x must be str type, NoneType or NaN: x is {} type."\
    .format(type(x))
    assert(isinstance(value,str)),"value must be str type: value is {} type.".format(type(value))
    assert(isinstance(connector,str))\
    , "connector must be str or None type, not {} type.".format(type(connector))
    assert(isinstance(position,(int))), "position must be int type, not {}."\
           .format(type(position)) 
    if isinstance(position,int):
        if ((x!=x)|(x is None)|(x =='')):
            x=''
            position=0
#             assert(position == 0),"If x is NaN or len(x)==0, position must be 0 not {}.".format(position)
        else:
            x = x
        assert(position in [0]+[i for i in range(-1,len(x)-1)])\
        , "position must be a value in the range -1 through {}.".format(len(x)-1)
    try:
        prefix = x[:position]
    except Exception as e:
        logging.exception("Exception occurred in generating prefix.")
    try:
        suffix = x[position:]
    except Exception as e:
        logging.exception("Exception occurred in generating suffix.")
        
    if len(x)==0:
        res = value
    res = prefix+connector+value+connector+suffix

    return res

Here's an example of how *appendstr* works.

In [9]:
foo='bar'
appendstr(foo,'test',connector='_',position=1)

'b_test_ar'

In [10]:
foo='bar'
appendstr(foo,'test',connector='_',position=0)

'_test_bar'

In [11]:
appendstr('','test',position=0)

'test'

[back to Functions](#Functions)

## typeordrop
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [12]:
def typeordrop(x,typ,replace=None, verbose=True):
    """this function attempts to force an object, *x*, to a particular type,*typ*. If this is not possible, 
    it reports the value of the object that could not be forced and replaces the object with the value 
    supplied to the *replace* argument"""
    if not isinstance(x,typ)==True:
        while False:
            try:
                x=typ(x)
                logging.info("Working as expected")
                break
            except Excetion as e:
                logging.exception("Could not force value supplied to 'x' argument to f'{typ} type. x is f'{x} type.")
                if verbose==True:
                    print("Could not force value supplied to 'x' argument to {} type. x is {} type:\n\n x = {}"\
                          .format(typ,type(x),x))
                x = replace
    else:
        logging.info("f'{x} is already of type f{'typ'}.")
    return x

Here are a few examples of how *typeordrop* works.

In [13]:
x=['foo','bar']
typeordrop(x,int)

['foo', 'bar']

[back to Functions](#Functions)

## myint
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [14]:
def myint(x, verbose = False):
    try:
        x = str(x).split('.')[0]
    except Exception as e:
        typ = type(x)
        logging.exception("f'{x} is of type f'{typ} and cannot be forced to int.")
        x = x
        if verbose == True:
            print('{} is of type {} and cannot be forced to int.'.format(x,type(x)))
    return x

Here is are a few examples of how [*myint*](#myint) works.

In [15]:
bar = [None, 1.0, "f"]
print([type(x) for x in bar])
[myint(x) for x in bar]

[<class 'NoneType'>, <class 'float'>, <class 'str'>]

['None', '1', 'f']

In [16]:
bar = [None, 2001.0, "2001.0"]
print([type(x) for x in bar])
[myint(x,True) for x in bar]

[<class 'NoneType'>, <class 'float'>, <class 'str'>]

['None', '2001', '2001']

[back to Functions](#Functions)

## testint

[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [17]:
def testint(x):
    try:
        res = int(x)
    except Exception as e:
        logging.error("f'{x} could not be forced to int.")
        res = x
    return res

In [18]:
foo = ['9ix2010', '2ii2010', '10vii2011','30viii2009','30-9-2011']
foo = pd.DataFrame(foo).rename(columns={0:'date'})
dict_rom2arab = {'i':'1','ii':'2','iii':'3','iv':'4','v':'5','vi':'6','vii':'7','viii':'8','ix':'9','x':'10'
        ,'xi':'11','xii':'12'}
print(dict_rom2arab.keys())
foo

dict_keys(['i', 'ii', 'iii', 'iv', 'v', 'vi', 'vii', 'viii', 'ix', 'x', 'xi', 'xii'])

         date
0     9ix2010
1     2ii2010
2   10vii2011
3  30viii2009
4   30-9-2011

In [19]:
testint(3)

3

In [20]:
testint('r')

'r'

In [21]:
[isinstance(testint(char),int) for char in foo.date[0]]

[True, False, False, True, True, True, True]

In [22]:
[isinstance(testint(char),int) for char in foo.date[4]]

[True, True, False, True, False, True, True, True, True]

[back to Functions](#Functions)

## rom2arab
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [ ]:
def rom2arab(x,new_dict= None, verbose = False, replace = False):
    """checks keys in new_dict to determine which keys the string portion of, x, and replaces the at string with 
    the corresponding value in new_dict."""
    dict_rom2arab = {'i':'01','ii':'02','iii':'03','iv':'04','v':'05','vi':'06','vii':'07','viii':'08'
                     ,'ix':'09','x':'10','xi':'11','xii':'12'}
    if new_dict is None:
        new_dict = dict_rom2arab 
    idx_str = [isinstance(testint(char),int) for char in x]
    idx_tmp = range(0,len(x))
    str_df = pd.DataFrame({'numeric':idx_str,'index':idx_tmp})
    idx_strings = str_df.loc[str_df.numeric==False,'index']
    idx_numeric = str_df.loc[str_df.numeric==True,'index']
    val2replace = x[idx_strings.min():idx_strings.max()+1] # This assumes that all string values are contiuguos.
    try:
        newval = '-'+new_dict[val2replace]+'-'
        if verbose is True:
            res =["replaced value: \'{}\'".format(val2replace),x.replace(val2replace,newval)]
        else:
            res = x.replace(val2replace,newval)
    except:
        res = x
        if verbose is True:
            print("x has no string values contained in 'new_dict'. \nx:{}".format(x))
    return res

In [ ]:
rom2arab(foo.date[0],verbose=False)

In [ ]:
rom2arab(foo.date[0],verbose=True)

In [ ]:
rom2arab(foo.date[4],verbose=True)

In [ ]:
foo.date.apply(rom2arab)

[back to Functions](#Functions)

## exportliz
[Back to Top](#Table-of-Contents)

[Back to Functions](#Functions)

In [ ]:
def exportliz(df,iterator, lizard = None, prefix = None, verbose = False):
    """creates a filename for each lizards and then saves that lizards data to that filename. 
    Can take a list of lizards or iterate over the entire dataframe"""
    assert isinstance(df,pd.DataFrame), "df must be pandas DataFrame, not {}.".format(type(df))
    assert ((lizard is None) |(isinstance(lizard,list))), "lizard must be Nonetype or list, not {}.".format(lizard)
    assert ((prefix is None) |(isinstance(prefix,str))), "lizard must be Nonetype or str, not {}.".format(lizard)
    assert iterator in df.columns, "iterator must be in df.columns:\n {}".format(df.columns)
    if prefix is None:
        prefix = "File for lizard " 
    suffix = ".csv"
    if lizard is not None:
        assert lizard in df[iterator].unique(), "lizard must be None or contained in df[iterator]."
        for liz in lizard:
            filename = prefix + str(liz) + suffix
            if verbose == True:
                print("liz type:{}\nliz:{}\ndf[iterator]:{}".format(type(liz),liz,type(df[iterator])))
            data = df.loc[df[iterator] == liz,:]
            data.to_csv(filename)
    else:
        for liz in pd.unique(df[iterator]):
            filename = prefix + str(liz) + suffix
            if verbose == True:
                print("liz:{}\nliz:{}\ndf[iterator]:{}".format(type(liz),liz,type(df[iterator])))
            data = df.loc[df[iterator] == liz,:]
            data.to_csv(filename)

[back to Functions](#Functions)

## Inspecting the Data
[Top](#Table-of-Contents)

Let's take a look at the data.

In [ ]:
print("\nThere are {} data points in our data set.".format(df.shape[0]))

In [ ]:
print("\nThe columns in the data have the following data types:\n{}".format(df.dtypes))

<a id= 'CleaningData'></a>

# Cleaning the Data
[Back to: Top](#Table-of-Contents)

Now we get to the actual cleaning of the data.  We will inspect the data and take the appropriate cleaning steps:
1. [Column-by-Column Cleaning](#Column-by-Column-Cleaning)

2. [Correcting Class of Columns](#Correcting-Class-of-Columns)

## Column-by-Column Cleaning
[Back to: Top](#Table-of-Contents)

We will handle the cleaning for each column in this section.
1. [rtl](#rtl)
2. [tl](#tl)
3. [svl](#svl)
4. [autotomized](#autotomized)
    1. [creating 'rtl_orig'and relabeling 'rtl' and 'autotomized](#creating-'rtl_orig'-and-relabeling-'rtl'-and-'autotomized')
        - [copy the values in rtl to a new column, *rtl_orig*](#copy-the-values-in-rtl-to-a-new-column)
        - [relabel entries in the autotomized column based on the values in the rtl_orig column](#relabel-entries-in-the-autotomized-column-based-on-the-values-in-the-rtl_orig-column) 
        - [relabel entries in the rtl column](#relabel-entries-in-the-rtl-column)
5. [toes](#toes)
6. [sex](#sex)
7. [species](#species)
8. [new.recap](#new.recap)
9. [date](#date)

## rtl
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

Here we investigate and clean values in the column 'rtl'. These should be int type values that are greater than or equal to -1.  First, we test to see if all of the values are of type int.

In [ ]:
badtypes = []
for val in df.rtl:
    try:
        x = isinstance(type(int(val)),int)
    except:
        badtypes=badtypes+[val]
print("'badtypes' represents {} entries in the df:".format(len(badtypes)))
if len(badtypes)==0:
    print("\nAll values in df.rtl can be successfuly converted to int.\n\n")
#     df['rtl'] = df.rtl.apply(int)
else:
    print("\nAll values in df.rtl could not be converted to int.  The following values could not be \
converted and should be investigated:\n\n{}\n\nbadtypes values are distributed as follows in the df:\n\n{}"\
          .format(list(set(badtypes)),df.loc[df.rtl.isin(badtypes),'rtl'].value_counts(dropna=False)))

The non-NaN values are few, so we will inspect these first.

In [ ]:
pd.set_option('max_colwidth',100000)
df.loc[(df.rtl.isin(badtypes))&(df.rtl.notna()),:]

Based on review discussions, we will make the changes below:
- ‘?’--> 0; misc: “unsure if tail was recently broken at very tip”
- ‘o’--> 0
- ‘32 -12’ -->32; misc: “potential double-break at 12 \[george to check before use\]” 
- ‘-’--> NaN
- ‘10(kink)’-->0; misc:”kink at 10mm”
We will use the function [*appendstr*](#appendstr) to do this.

"‘?’--> 0; misc: “unsure if tail was recently broken at very tip”

In [ ]:
idx_ques = (df.rtl.isin(badtypes))&(df.rtl=='?')
df[idx_ques]

In [ ]:
df.loc[idx_ques,'misc']= df.loc[idx_ques,:].misc\
.apply(lambda x: appendstr(x,"unsure if tail was recently broken at very tip",';'))
df.loc[idx_ques,'rtl']= '0'

These entries now look like this:

In [ ]:
df.loc[idx_ques,:]

"‘o’--> 0"

In [ ]:
idx_o = (df.rtl.isin(badtypes))&(df.rtl=='o')
df[idx_o]

In [ ]:
df.loc[idx_o,'rtl']= '0'

These entries now look like this:

In [ ]:
df.loc[idx_o,:]

"‘32-12’ -->32; misc: “potential double-break at 12 \[george to check before use\]"

In [ ]:
idx_32 = (df.rtl.isin(badtypes))&(df.rtl=='32 -12')
df.loc[idx_32]

In [ ]:
df.loc[idx_32,'misc']= df.loc[idx_32,:].misc\
.apply(lambda x: appendstr(x,"potential double-break at 12 [george to check before use]",';'))

df.loc[idx_32,'rtl']= '32'

These entries now look like this:

In [ ]:
df.loc[idx_32,:]

"‘-’-->'NaN'"

In [ ]:
idx_minus = (df.rtl.isin(badtypes))&(df.rtl=='-')
df.loc[idx_minus,:]

We will also address the values for svl and tl in this row.

In [ ]:
df.loc[idx_minus,['rtl','tl','svl']]= np.nan

These entries now look like this:

In [ ]:
df.loc[idx_minus,:]

‘10(kink)’-->0; misc:”kink at 10mm” We will use the function appendstr to do this."

In [ ]:
idx_10kink = (df.rtl.isin(badtypes))&(df.rtl=='10(kink)')
df.loc[idx_10kink,:]

In [ ]:
df.loc[idx_10kink,'misc']= df.loc[idx_10kink,:].misc.apply(lambda x: appendstr(x,"kink at 10mm",';'))
df.loc[idx_10kink,'rtl']= '0'

These entries now look like this:

In [ ]:
df.loc[idx_10kink,:]

Now we will inspect those that had at least one other length measurement (svl or tl).

In [ ]:
pd.reset_option('max_colwidth')
idx_rtlnaplus1 = (df.rtl.isna())&(((df.svl.isna())&~(df.tl.isna()))|(~(df.svl.isna())&(df.tl.isna())))
df.loc[idx_rtlnaplus1]

All but one of these was a sighting.  We will have to look at the field notes to confirm whether or not data were actually missing for the remaining entry.

In [ ]:
df.loc[(df.rtl.isna())&((df.svl.notna())|(df.tl.notna()))&df['new.recap'].str.contains('recap'),:]

Once we have addressed these, we will force rtl to an int type.

Now we check to see for out of range rtl values, *i.e.* rtl values less than -1 or suspiciously high.

We will exclude 0 and -1 values for rtl in these figures because of the large proportion of in range values they account for.

In [ ]:
dfnobadtypes0neg1 = (~df.rtl.isin(badtypes))&(~df.rtl.isin(['0','-1']))
dfother = ~(df.species.dropna().str.contains('v|j'))&(df.species.notna())&(dfnobadtypes0neg1)
jarrovii = go.Histogram(x = df.loc[(df.species.str.contains('j'))&(dfnobadtypes0neg1)
                                   ,'rtl'].astype(int, 'ignore'),name = 'S. jarrovii',xbins =dict(size=1)
                        #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
virgatus = go.Histogram(x = df.loc[(df.species.str.contains('v'))&(dfnobadtypes0neg1)
                                   ,'rtl'].astype(int, 'ignore'), name = 'S. virgatus',xbins =dict(size=1)
                       #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
other = go.Histogram(x = df.loc[dfother,'rtl'].astype(int, 'ignore'), name = 'other',xbins =dict(size=1)
                                  #,histnorm='probability'
                     , cumulative=dict(enabled = False
                                                                           , direction = 'increasing'))
data = [jarrovii, virgatus,other]
layout = go.Layout(
    title = 'Histogram of rtl by species',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'rtl (mm)',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of rtl by species (new)')

Perhaps it's worth inspecting values greater than 50.

In [ ]:
idx_dfabove50 = (df.species.str.contains('j|v'))&(~df.rtl.isin(badtypes))\
&(df.loc[(~df.rtl.isin(badtypes)),'rtl'].astype(int, 'ignore')>=50)
df[idx_dfabove50]

<a id='outstanding1'></a>

Some of these values are reasonable, but there are few for which we will need to go back to the field notes in 2011.  Those rows in which rtl > tl need to be investigated.

[Back to Outstanding Problems](#outstanding)

In [ ]:
idx_rtltlbig = (idx_dfabove50)&(df.rtl.astype(int,errors = 'ignore')>df.tl.astype(int,errors ='ignore'))
df.loc[idx_rtltlbig]

These appear to be cases where svl,tl,rtl and mass may have been entered into the wrong columns, i.e. the correct placement of current values-->correct column should probably be:
- svl-->mass
- tl-->svl
- rtl-->tl
- mass-->rtl

We will correct these now.

In [ ]:
import copy
def swap(df):
    tmp = {
        'rtl':copy.copy(df['rtl']),
        'tl':copy.copy(df['tl']),
        'svl':copy.copy(df['svl']),
        'mass':copy.copy(df['mass'])
    }
#     print(tmp)
    df['rtl'] = tmp['mass']
    df['tl'] = tmp['rtl']
    df['svl'] = tmp['tl']
    df['mass'] = tmp['svl']
#     print(tmp)
    return df

In [ ]:
df.loc[idx_rtltlbig,['svl','rtl','tl','mass']] = swap(df.loc[idx_rtltlbig,['svl','rtl','tl','mass']])
df.loc[idx_rtltlbig,:]

Now we force rtl to int type, ignoring errors.

In [ ]:
df['rtl'] = df.rtl.astype(int,errors = 'ignore')

## tl
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

Here we investigate and clean values in the column 'tl'. These should be int type values that are positive.  First, we test to see if all of the values are of type int.

In [ ]:
df.tl.astype(int,errors='ignore').apply(lambda x: type(x)).value_counts(dropna=False)

Let us inspect the entries for which attempting to convert 'tl' results in a float type.

In [ ]:
idx_floatNaNtl = df.tl.astype(int,errors='ignore').apply(lambda x: type(x) is float)
df.loc[idx_floatNaNtl,'tl'].value_counts(dropna=False)

These are all NaN entries and can be ignored for the time being.

Let's inspect the non NaN entries now.

In [ ]:
idx_strtl = df.tl.astype(int,errors='ignore').apply(lambda x: type(x) is str)
df.loc[idx_strtl,'tl'].value_counts(dropna=False)

With the exception of the value '56 (42)', the tl values that are not NaN could be converted to int types.  Let's inspect this entry.

In [ ]:
pd.set_option('max_colwidth',1000)
idx_5642tl = df.loc[(idx_strtl) & (df.tl=='56 (42)'),:].index
df.loc[df.index.isin(idx_5642tl)]

Based on the notes in the misc column, tl should be recorded as 56.  We will do this now.

In [ ]:
df.loc[df.index.isin(idx_5642tl),'tl']='56'

Now the entry looks like this.

In [ ]:
df.loc[df.index.isin(idx_5642tl),:]

We will use a histogram to try and identify abnormalities among the other tl values.

In [ ]:
# dfnobadtypes0neg1 = (~df.tl.isin(badtypes))&(~df.tl.isin(['0','-1']))
dfother = ~(df.species.dropna().str.contains('v|j'))&(df.species.notna())&(df.tl.notna())
jarrovii = go.Histogram(x = df.loc[(df.species.str.contains('j'))&(df.tl.notna())
                                   ,'tl'].astype(int, 'ignore'),name = 'S. jarrovii',xbins =dict(size=1)
                        #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
virgatus = go.Histogram(x = df.loc[(df.species.str.contains('v'))&(df.tl.notna())
                                   ,'tl'].astype(int, 'ignore'), name = 'S. virgatus',xbins =dict(size=1)
                       #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
other = go.Histogram(x = df.loc[dfother,'tl'].astype(int, 'ignore'), name = 'other',xbins =dict(size=1)
                                  #,histnorm='probability'
                     , cumulative=dict(enabled = False
                                                                           , direction = 'increasing'))
data = [jarrovii, virgatus, other]
layout = go.Layout(
    title = 'Histogram of tl by species',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'tl (mm)',
#         tickfont = dict(
#         size = 8),
#         tickangle = 85,
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of tl by species (new)')

For now there is not much we can identify graphically.  We will revist this later.  For now we will force tl to int.

In [ ]:
df['tl'] = df.tl.astype(int, errors = 'ignore')

## svl
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

We will take a similar approach for svl.

In [ ]:
df.svl.astype(int,errors='ignore').apply(lambda x: type(x)).value_counts(dropna=False)

Let us inspect the entries for which attempting to convert 'svl' results in a float type.

In [ ]:
idx_floatNaNsvl = df.svl.astype(int,errors='ignore').apply(lambda x: type(x) is float)
df.loc[idx_floatNaNsvl,'svl'].value_counts(dropna=False)

These are all NaN entries and can be ignored for the time being.

Let's inspect the non NaN entries now.

In [ ]:
idx_strsvl = df.svl.astype(int,errors='ignore').apply(lambda x: type(x) is str)
df.loc[idx_strsvl,'svl'].value_counts(dropna=False)

The values 'large', 'small', and '~70' require closer inspection.

In [ ]:
idx_txtvals = df.svl.isin(['small','large','~70'])
df.loc[idx_txtvals]

All of these values for svl should be set to NaN since these are estimates, not measured values.  For the entry with the svl value of '~70', we can add the estimated value to the misc column. We will use the [appendstr](#appendstr) function here again.

In [ ]:
idx_apprx70svl = (idx_txtvals)&(df.svl=='~70')
df.loc[idx_apprx70svl,'misc'] = df.loc[idx_apprx70svl,'misc'].apply(lambda x: appendstr(x,connector=';'
                                                        ,position='end'
                                                        ,value='svl extimated to be ~70mm'))
df.loc[idx_apprx70svl,:]

In [ ]:
df.loc[idx_txtvals,'svl']=np.nan
df.loc[idx_txtvals]

Now we force the remaining svl values to int type.

In [ ]:
df['svl'] = df.svl.astype(int, errors= 'ignore')

### autotomized 
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

[creating 'rtl_orig'and relabeling 'rtl' and 'autotomized](#creating-'rtl_orig'-and-relabeling-'rtl'-and-'autotomized')
- [copy the values in rtl to a new column, *rtl_orig*](#copy-the-values-in-rtl-to-a-new-column)
- [relabel entries in the autotomized column based on the values in the rtl_orig column](#relabel-entries-in-the-autotomized-column-based-on-the-values-in-the-rtl_orig-column) 
- [relabel entries in the rtl column](#relabel-entries-in-the-rtl-column)

Here we populate the 'autotomized' column based on the values in 'rtl'.  Most of the source files did not have this category and have NaN values others have float values of 1.0, 2.0 or 3.0 for intact, autotomized with no regrowth or autotomized with regrowth, respectively.  The cleaned data for autotomized will contain  bool type values True, for having experienced auttomy (irrespective of regrowth) and False for having no evidence of havign experienced autotomy.

In [ ]:
df.autotomized.value_counts(dropna=False)

We will inspect the rtl values for entries with non NaN values for autotomized to determine if we can depend on rtl values to determine autotomy status.  In order to rely on rtl values, the following conditions must be met:
- all entries in which autotomized equals 1.0 must have 0 for rtl
- all entries in which autotomized equals 2.0 or 3.0 must have -1 or some value >0 for rtl

In [ ]:
intact = df.loc[(df.autotomized==1),'rtl'].astype(int,errors = 'ignore').value_counts(dropna=False)
values2check = [x for x in intact.index[intact.index!=0]]
if len(values2check)>0:
    print("The rtl values associated with {} need a closer look.".format(values2check))
else:
    print("Values for 'intact' entries are as expected.  Continue.")
pd.set_option('max_colwidth',1000)
# df.loc[(df.autotomized==1)&(df.rtl.isin(['21'])),:]
df.loc[(df.autotomized==1)&(df.rtl.astype(int, errors = 'ignore').isin([str(x) for x in values2check])),:]
# need to see what broke this line

<a id ='outstanding2'></a>

[Back to Outstanding Problems](#outstanding)

This lizard appears to have been misrecorded and should be listed as autotomized given the amount of regrowth. This should be confirmed in the field notes. If we trust the data as recorded and depend on the rtl values to label autotomized this will be corrected, so for now we will leave this as is.

In [ ]:
autotomized = df.loc[(df.autotomized==2),'rtl'].value_counts(dropna=False)
aut_values2check = [x for x in autotomized.index[autotomized.index!='-1']]# change to 'isin' aregument with 0 and -1
if len(aut_values2check)>0:
    print("{} values associated with an rtl value of {} need a closer look."\
          .format(df.loc[(df.autotomized==2)&(df.rtl.isin(aut_values2check)),:].shape[0],aut_values2check))
else:
    print("Values for 'autotomized' entries are as expected.  Continue.")
pd.set_option('max_colwidth',1000)
idx_aut_entries2check = (df.autotomized==2)&(df.rtl.isin([str(x) for x in aut_values2check]))
df.loc[idx_aut_entries2check,:]

<a id = 'outstanding3'></a>

[Back to Outstanding Problems](#outstanding)

Some of these cases are very straight forward given that the ratio of svl to tl is very close to 1, but others would be worth checking the original data to confirm. Another option is to use the svl to tl ratio of animals that we are sure are intact to decide how to classify these.  For now we will trust the system of recording used in 2010 and update the rtl values to '-1'.

In [ ]:
df.loc[idx_aut_entries2check,'rtl'] = '-1'

In [ ]:
df.loc[idx_aut_entries2check]

In [ ]:
regrown = df.loc[(df.autotomized==3),'rtl'].value_counts(dropna=False).reset_index()['index']\
.astype(int, errors = 'ignore')
values2check = [x for x in regrown<=0]
if sum(values2check)>0:
    print("The values associated with {} need a closer look.".format(values2check))
else:
    print("Values for 'regrown' entries are as expected.  Continue.")
pd.set_option('max_colwidth',1000)
df.loc[(df.autotomized==3)&(df.rtl.isin([str(x) for x in values2check])),:]

The entries labeled as a 3.0 in the autotomized column do not appear as though their rtl values will present an issue for calculating new autotomized values.  We will leave these as they are.

<a id='rtlRTL_ORIGautotomized'></a>

### creating 'rtl_orig' and relabeling 'rtl' and 'autotomized'
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

[Back to: 'autotomized'](#autotomized)

Now we will:
- [copy the values in rtl to a new column, *rtl_orig*](#copy-the-values-in-rtl-to-a-new-column)
- [relabel entries in the autotomized column based on the values in the rtl_orig column](#relabel-entries-in-the-autotomized-column-based-on-the-values-in-the-rtl_orig-column) 
- [relabel entries in the rtl column](#relabel-entries-in-the-rtl-column)

<a id='copyrtl'></a>

#### copy the values in rtl to a new column
[Back to: 'autotomized'](#autotomized)

In [ ]:
df['rtl_orig'] = df.rtl

#### relabel entries in the autotomized column based on the values in the rtl_orig column
[Back to: 'autotomized'](#autotomized)

We will do this using the following logic:
    - if rtl_orig !=0 & rtl_orig.notna(), autotomized = True
    - if rtl_orig ==0, automized = False
    - if rtl_orig.isna(), autotomized = np.nan

In [ ]:
idx_auttrue = (~df.rtl_orig.isin(['0']))&(df.rtl_orig.notna())
df.loc[idx_auttrue,'autotomized'] = True

In [ ]:
idx_autfalse = (df.rtl_orig.isin(['0']))&(df.rtl_orig.notna())
df.loc[idx_autfalse,'autotomized'] = False

In [ ]:
idx_autnan = df.rtl_orig.isna()
df.loc[idx_autnan,'autotomized'] = np.nan

#### relabel entries in the rtl column
[Back to: 'autotomized'](#autotomized)
We will do this using the following logic:
    - if rtl_orig == -1, rtl = 0

In [ ]:
idx_rtlneg1 = df.rtl_orig=='-1'
df.loc[idx_rtlneg1,'rtl'] = 0

In [ ]:
df.autotomized.value_counts(dropna=False)

## toes 
[Top](#Table-of-Contents)

[Top Cleaning](#CleaningData)

Here we make changes to toes based on comments regarding a 2004 male Sv with toes recorded as '1-6-16-17-20'

In [ ]:
idx_sv2004m16161720 = (df.species=='sv') \
& (df.sex=='m') \
& (df.date.str.contains('2004-07-04')) \
&(df.svl=='52')&(df.tl=='53')

df.loc[idx_sv2004m16161720]

In [ ]:
df.loc[idx_sv2004m16161720,'toes'] = '1-7-16-17-20'
df.loc[idx_sv2004m16161720,'rtl'] = 0

Now this entry looks like this.

In [ ]:
df.loc[idx_sv2004m16161720]

### Correcting toes

First we will rename "toes" to "toes_orig"

In [ ]:
df = df.rename(columns = {'toes':'toes_orig'},index = str)

Next we create a new column, "toes"  for the renamed toes

In [ ]:
df['toes'] = df.toes_orig

Now we attempt to identify problem _toes_ values and either correct them or export them for review.

In [ ]:
pattern1 = ".( {1,}-.|.- {1,}.)" # toes entries with any number of spaces on either side of a hyphen
pattern2 = ".( {,}\w{,} {1,})." # toes entries with space around or between numbers <- the spaces here should be deleted
pattern3 = ".(')."
pattern4 = "./."  # entries with '/' <-- need to replace these with '-'
pattern5 = "(\?{1,})"#<-- these needs to be investigated
pattern6 = "^\d{3,}$" # entries consist of only a single number comprised of at least three digits 
#<-- these needs to be investigated by checking raw field notes
pattern7 = ".(-{2,})." # entries which have at least 2 consecutive '-' <- these should be investigated
pattern8 = "^0" # entries in which single digit numbers have a leading "0" <-- Check raw field notes on this too
pattern9 = "a\w" #<--handled hyphens should be inserted  between the [ab] and \w 
# entries that contain an 'a' or 'b' followed by any character in the set [a-zA-Z0-9_]
pattern10 = "b\w" #<--handled hyphens should be inserted  between the [ab] and \w 
pattern11 = "\wa" # entries that contain an 'a' or 'b' preceded by any character in the set [a-zA-Z0-9_]
pattern12 = "\wb" # entries that contain an 'a' or 'b' preceded by any character in the set [a-zA-Z0-9_]
pattern13 = "[()]"
# remove space before 'a' at end of toes
#investigate '\d-', 
#'-(*)-', 
#' (16) ', 
#'---', <- may not exist in raw data
#'\d- ', 
#'- \d', 
#transcription errors from excel (toes in date format,
#'-\d\d\d\d' <- may not be in the data set

We'll have to change this block if we add or remove toe patterns.
This is not ideal and needs to be fixed

In [ ]:
toe_pattern = pd.Series([*range(1,14)]) 
toe_pattern = make_str(toe_pattern)
# print(toe_pattern,"\n\n")

toe_pattern_descr = pd.Series([pattern1,pattern2,pattern3,pattern4
                               ,pattern5,pattern6,pattern7,pattern8
                               ,pattern9,pattern10,pattern11,pattern12,pattern13])
toe_pattern_descr = toe_pattern_descr.astype(str)
# print(toe_pattern_descr,"\n\n")

toe_pattern_reference = pd.DataFrame({'toe_pattern': toe_pattern,'description':toe_pattern_descr})
toe_pattern_reference

Next, we replace the string 'nan' in the data set with a null value.

In [ ]:
df.loc[df.toes=='nan','toes'] = np.nan

Let's see how many of these patterns we need to correct

In [ ]:
df['toe_pattern'] = np.nan

Here we use a for-loop to label the patterns 
(there's probably a better way to do this with pandas map or apply, but I'll have to figure this out, for now this is fast enough, but it could make a difference with a larger data set or with more patterns)

In [ ]:
for i in range(0,toe_pattern_reference.shape[0]):
    tmp_pat_num = toe_pattern_reference.iloc[i,0]
    tmp_pattern = toe_pattern_reference.iloc[i,1]
    df = label_pattern(x=df,pat_num=tmp_pat_num,pattern = tmp_pattern,pat_col = 'toe_pattern',col = 'toes')
#     print(df.toe_pattern.value_counts(dropna=False))

In [ ]:
import random
df.toes[random.randint(10,df.shape[0])]

A quick summary of the number of observations for each pattern in the data set

In [ ]:
toe_errors =df.toe_pattern.value_counts(dropna=False).reset_index()\
.rename(columns = {'index':'toe_pattern','toe_pattern':'observations'})
toe_errors.loc[toe_errors.toe_pattern.isnull(),'toe_pattern'] = 'Not covered by current patterns'
toe_errors_desc = toe_errors.merge(toe_pattern_reference,'left',on='toe_pattern')
toe_errors_desc

Now let's make sure we've accounted for every row in the data set

In [ ]:
accountedRows = toe_errors.observations.sum()
totalRows = df.shape[0]
notAccountedRows = df.shape[0] - toe_errors.observations.sum()
print("\nThere are {} rows accounted for in the patterns (including null values) and there {} rows in the full data set.\
  There are {} rows unaccounted for.".format(accountedRows,totalRows,notAccountedRows))

Now we correct these patterns. We'll preserve the original toe data in a column called "toes_orig" just in case.  We can drop this later, if we are comfortable with the changes.  The new toes will be labeled "toes".

In [ ]:
corrections_config = {'01':{'action':'replace','pattern_b':" - ",'replacement':"-"},
            '02':{'action':'replace','pattern_b':" ",'replacement':"-"},
            '03':{'action':'replace','pattern_b':"\'",'replacement':"\"\""},
            '04':{'action':'replace','pattern_b':"/",'replacement':"-"},
            '05':{'action':'save','pattern_b':np.nan,'replacement':np.nan},
            '06':{'action':'save','pattern_b':np.nan,'replacement':np.nan},
            '07':{'action':'save','pattern_b':np.nan,'replacement':np.nan},
            '08':{'action':'replace','pattern_b':"^0",'replacement':"\"\""},
            '09':{'action':'replace','pattern_b':'a','replacement':'-a'},
            '10':{'action':'replace','pattern_b':'b','replacement':'-b'},          
            '11':{'action':'replace','pattern_b':"a",'replacement':"a-"},
            '12':{'action':'replace','pattern_b':"b",'replacement':"b-"},
            '13':{'action':'replace','pattern_b':"[()]",'replacement':"\"\""}}

In [ ]:
toe_errors_desc['action'] = toe_errors_desc.loc[toe_errors_desc.toe_pattern.str.len()==2].toe_pattern\
.map(lambda x: corrections_config[x]['action'])

toe_errors_desc['pattern_b'] = toe_errors_desc.loc[toe_errors_desc.toe_pattern.str.len()==2].toe_pattern\
.map(lambda x: corrections_config[x]['pattern_b'])

toe_errors_desc['replacement'] = toe_errors_desc.loc[toe_errors_desc.toe_pattern.str.len()==2].toe_pattern\
.map(lambda x: corrections_config[x]['replacement'])

toe_errors_desc = toe_errors_desc.sort_values('toe_pattern').reset_index(drop=True)
toe_errors_desc.loc[toe_errors_desc['toe_pattern'] == 'Not covered by current patterns',
                                    ['action']] = 'ignore'
toe_errors_desc

In [ ]:
df = df.groupby('toe_pattern').head().merge(toe_errors_desc,on='toe_pattern')
df.head()

for i in range(0,toe_errors_desc.shape[0]):
    tmp_pat_num = toe_errors_desc.iloc[i,0]
    tmp_pattern = toe_errors_desc.iloc[i,2]
    action = toe_errors_desc.iloc[i,3]
    tmp_replacement = toe_errors_desc.iloc[i,4]
    tmp_x = df.loc[df.toe_pattern==tmp_pat_num,:]
    
    if action =='save':
        tmp_filename = 'pattern'+tmp_pat_num+'.csv'
        tmp_x.to_csv(tmp_filename)
        print("Pattern {} successfully saved to {}.".format(tmp_pattern,tmp_filename))
    elif action =='ignore':
        df.loc[df.toe_pattern==tmp_pat_num,'toes'] = df.loc[df.toe_pattern==tmp_pat_num,'toes_orig']
        print("Pattern {} ignored.".format(tmp_pattern))
    elif action =='replace':
        df.loc[df.toe_pattern==tmp_pat_num,'toes'] = replace_pattern(x=df.loc[df.toe_pattern==tmp_pat_num]
                                                                     ,pattern = tmp_pat_num
                                                                     ,pattern_b = tmp_pattern
                                                                     ,source_col = 'toes'
                                                                    ,replacement = tmp_replacement)
        print("Pattern {} successfully replaced with {}.".format(tmp_pattern,tmp_replacement))
    else:
        print("No direction provided for pattern {}.  No action was taken.".format(tmp_pattern))

In [ ]:
def replace_pattern2(x, pattern_b, replacement):
    """searches a pandas series for a regex expression, pattern, and replaces with replacement"""

    try:
        res = x.strip().replace(pattern_b,replacement)
    except:
        res = x
    return res

In [ ]:
for i in range(0,toe_errors_desc.shape[0]):
    tmp_pat_num = toe_errors_desc.iloc[i,0]
    tmp_pattern = toe_errors_desc.iloc[i,2]
    pattern_b = toe_errors_desc.iloc[i,5]
    action = toe_errors_desc.iloc[i,3]
    tmp_replacement = toe_errors_desc.iloc[i,4]
    tmp_x = df.loc[df.toe_pattern==tmp_pat_num,:]
    
    if action =='save':
        tmp_filename = 'pattern'+tmp_pat_num+'.csv'
        tmp_x.to_csv(tmp_filename)
        print("Pattern {} successfully saved to {}.".format(tmp_pattern,tmp_filename))
    elif action =='ignore':
        df.loc[df.toe_pattern==tmp_pat_num,'toes'] = df.loc[df.toe_pattern==tmp_pat_num,'toes_orig']
        print("Pattern {} ignored.".format(tmp_pattern))
    elif action =='replace':
        df.loc[df.toe_pattern==tmp_pat_num,'toes'] = replace_pattern(x=df.loc[df.toe_pattern==tmp_pat_num]
                                                                     ,pattern_b = tmp_pattern
                                                                     ,source_col = 'toes'
                                                                    ,replacement = tmp_replacement)
        print("Pattern {} successfully replaced with {}.".format(tmp_pattern,tmp_replacement))
    else:
        print("No direction provided for pattern {}.  No action was taken.".format(tmp_pattern))


' 8 - 12 - 20'.strip().replace(' - ','-')

Patterns = [' ','-']
Pattern_b = [' ',' - ']
Source_col = 'toes'
Replacement = '-'
testtoes = ['8 12 20',' 8-12-20', '8 - 12 - 20']
def replace_pattern2(x, pattern_b, replacement):
    """searches a pandas series for a regex expression, pattern, and replaces with replacement"""

    try:
        res = x.strip().replace(pattern_b,replacement)
    except:
        res = x
    return res

replace_pattern2(x=testtoes[2],pattern_b = Pattern_b[1],replacement = Replacement)

Let's test to ensure that the patterns are being handled appropriately.

## Resume

In [ ]:
df.loc[:,['toes_orig','toes','toe_pattern']].groupby('toe_pattern').head().merge(toe_errors_desc,on='toe_pattern').\
toes_orig[0]

In [ ]:
df.loc[:,['toes_orig','toes','toe_pattern']].groupby('toe_pattern').head().merge(toe_errors_desc,on='toe_pattern')\
.toes_orig.apply(len).head(1)

We can see that none of the replacements are working as expected.  We wil need to make some changes to the replace_pattern function or to how it's applied.

Now we confirm that the patterns we expect to have eliminated have indeed been eliminated from the data set

In [ ]:
for i in range(0,toe_pattern_reference.shape[0]):
    tmp_pattern = str(toe_pattern_reference.iloc[i,1])
    print(report_pattern(df,tmp_pattern,'toes','Post-Correction'))

This is as expected since we left toe pattern 5 uncorrected.

<a id='sex'></a>

### sex
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

Next we move on to cleaning the "sex" column.

First we want to get an idea of the types of problems in the sex column.  We start by striping leading and trailing whitespaces.  You can see here that there were none in the data set.

In [ ]:
print(df.sex.str.len().unique())# returns unique lengths of sex
df.sex=df.sex.str.strip()
print(df.sex.str.len().unique())

#### Identify non "m" or "f" values and their frequencies

In [ ]:
patterns_sex="m|f|NA"
non_matches=df.sex.loc[df.sex.str.match(patterns_sex)!=True]
print("\nThere are {} entries for sex which do not match the patterns {}:"\
      .format(non_matches.shape[0],patterns_sex.split("|")))
non_matches.value_counts()

#### Identify values to convert to NA, m, or f

In [ ]:
sex2NA = ['adult','juv','nan','\?\?\?','\?']
sex2m = ['unm','M']
sex2f = ['F']
df.loc[df.sex.isin(sex2NA)==True]
print("There are {} entries that should be converted to 'NaN'".format(df.sex.isin(sex2NA).sum()))
print("There are {} entries that should be converted to 'm'".format(df.sex.isin(sex2m).sum()))
print("There are {} entries that should be converted to 'f'".format(df.sex.isin(sex2f).sum()))

#### Convert the values to NA, f, or m, respectively.

In [ ]:
df.loc[df.sex.isin(sex2NA),'sex']=np.nan
df.loc[df.sex.isin(sex2m),'sex']='m'
df.loc[df.sex.isin(sex2f),'sex']='f'
print("Now there are {} entries that should be converted to 'NaN'".format(df.sex.isin(sex2NA).sum()))
print("Now there are {} entries that should be converted to 'm'".format(df.sex.isin(sex2m).sum()))
print("Now there are {} entries that should be converted to 'f'".format(df.sex.isin(sex2f).sum()))

#### Set all remaining sex with "?" to NaN

In [ ]:
df.loc[(df.sex.str.contains('\?')) & (df.sex.notnull()),'sex'] = np.nan

<a id = 'species'></a>

### Species
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

In [ ]:
print(df.species.str.len().unique())# returns unique lengths of species
df.species=df.species.str.strip()
print(df.species.str.len().unique())

In [ ]:
df.species.value_counts(dropna = False)

In [ ]:
patterns_species="j|v|sj|sv|NA"
idx_notsjsv = (df.species.str.match(patterns_species)!=True)&(df.species.str.contains('j|v',case=False)!=True)
non_matches=df.species.loc[idx_notsjsv]
print("\nThere are {} entries for species which do not match the patterns {} and are unlikely to be definitely \
'sv', 'sj':".format(non_matches.shape[0],patterns_species.split("|")))
non_matches.value_counts()

We will set species for these entries to  'other'.

In [ ]:
df.loc[df.species.isin(non_matches.unique()),'species'] = 'other'

<a id ='outstanding4'></a>
#### *Sceloporus jarrovii*
[Back to Outstanding Problems](#outstanding)

In [ ]:
df.loc[df.species.str.contains('j',case=False),'species'].value_counts(dropna=False)

The values with '?' should be investigated.

In [ ]:
idx_sjrev = df.species.str.contains('j',case=False)&(df.species.str.contains('\?'))
df.loc[idx_sjrev,'species'].value_counts(dropna=False)
df.loc[idx_sjrev,:]

In [ ]:
idx_sj = df.species.str.contains('j',case=False)&(~df.species.str.contains('\?'))
df.loc[idx_sj,'species'].value_counts(dropna=False)

We will convert the others should be converted to 'j'.

In [ ]:
df.loc[idx_sj,'species'] = 'j'

#### *Sceloporus virgatus*

In [ ]:
idx_sv = df.species.str.contains('v',case=False)
df.loc[idx_sv,'species'].value_counts(dropna=False)

We will convert these to 'v'.

In [ ]:
df.loc[idx_sv,'species'] = 'v'

### new.recap
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

1. [potential new and recap](#newandrecap)

In [ ]:
newKeep = ['new','n','NEW','N','New']
recapKeep = ['recap','r','Recap','R']
sighting = ['sighting','sighted','heard','sighted ', 'missed']

Now let's identify other values to include in each list.

<a id = 'newandrecap'></a>
#### potential new and recap

[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

[Back to: new.recap](#newrecap)

Let's identify cases that may be classified as recaptures or new captures.  We'll start with new captures.

In [ ]:
idx_potnew = df['new.recap'].str.contains('n',case=False)==True
print([x for x in df.loc[idx_potnew,'new.recap'].value_counts(dropna=False).index])
df.loc[idx_potnew,'new.recap'].value_counts(dropna=False)

'NEW', 'New', 'new ', 'new', and 'N' are certainly new captures and should be converted to 'N'. for now we will add them to the *newKeep* list.

In [ ]:
newKeep = list(set(newKeep + ['NEW', 'New', 'new ', 'new', 'N']))
newKeep

'sighting', '?sighting', "didn't catch", 'sighing', and 'not caught' should be sightings, so wee will add them to the list of *sighting* list now.

In [ ]:
sighting = list(set(sighting + ['sighting', '?sighting', 'didn\'t catch', 'sighing', 'not caught']))
sighting

now we take a similar approach for recaptures.

In [ ]:
idx_potrec = df['new.recap'].str.contains('r',case=False)==True
print([x for x in df.loc[idx_potrec,'new.recap'].value_counts(dropna=False).index])
df.loc[idx_potrec,'new.recap'].value_counts(dropna=False)

'recap', 'r', 'recap ',  'reecap', 'recapq' are certainly recaptures and should be converted to 'R'. for now we will add them to the *newRecapKeep* list.

In [ ]:
recapKeep = list(set(recapKeep + ['recap', 'r', 'recap ',  'reecap', 'recapq']))
recapKeep

'recap?', 'recap/new', 'recap? - toes suggest a NEW mark','recap ?', 'r?' require inspection.

In [ ]:
idx_recaprev = df['new.recap']\
.isin(['recap?','recap/new', 'recap ?', 'recap? - toes suggest a NEW mark', 'r?'])
df.loc[idx_recaprev]

'visual recapture', and 'heard' should be reclassified as 'sighting', so we will add them to the *sighting* list.

In [ ]:
sighting = list(set(sighting + ['visual recapture', 'heard']))
sighting

Now we assign 'N' to confired new captures.

In [ ]:
idx_new = df['new.recap'].isin(newKeep)
df.loc[idx_new,'new.recap'] = 'N'
df.loc[idx_new,'new.recap'].value_counts(dropna = False)

Now we assign 'R' to confirmed recaptures.

In [ ]:
idx_recap = df['new.recap'].isin(recapKeep)
df.loc[idx_recap,'new.recap'] = 'R'
df.loc[idx_recap,'new.recap'].value_counts(dropna = False)

Now we assign 'S' to confirmed sightings.

In [ ]:
idx_sighting = df['new.recap'].isin(sighting)
df.loc[idx_sighting,'new.recap'] = 'S'
df.loc[idx_sighting,'new.recap'].value_counts(dropna = False)

The remaining *new.recap* values need inspection.

In [ ]:
print(df.loc[~df['new.recap'].isin(['R','N','S']),'new.recap'].unique())
idx_2check = ~df['new.recap'].isin(['R','N','S'])
df.loc[idx_2check,'new.recap'].value_counts()

In [ ]:
print("There are {} entries which need to be checked and classfied."\
      .format(df.loc[(idx_2check) & (df['new.recap'].notna()) ].shape[0]))
df.loc[(idx_2check) & (df['new.recap'].notna())]

### date
[Back to: Top](#Table-of-Contents)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#Column-by-Column-Cleaning)

We need to handle the date data which don't confirm to a typical date format (e.g., 2010 data which contain roman numerals).

In [ ]:
idx_romdate = (df.date.notna())&(df.date.str.contains('i|v|x'))
df.loc[idx_romdate,'date'].value_counts(dropna = False)

Now we need to replace the values in the date strings with the roma month surrounded by hyphens.

In [ ]:
df.loc[idx_romdate,'date'] = df.loc[idx_romdate,'date'].apply(lambda x: rom2arab(x))
# .apply(lambda x: pd.to_datetime(rom2arab(x),errors='ignore'))
df.loc[idx_romdate,'date'].head()

This is what the replaced values look like now.

In [ ]:
df.loc[~idx_romdate,'date'].head()

<a id= 'resumehere'></a>

[Top](#Table-of-Contents)

In [ ]:
df.loc[idx_romdate,'date'] = df.loc[idx_romdate].date.apply(pd.to_datetime)
# some weird stuff is happening when I try to assign these values to the object their supposed to be in
# I'll have to figure this out later. Right now this only affects 2010 data, so I'll move on
df.loc[idx_romdate,'date'].head()

## Correcting Class of Columns
[Top](#Table-of-Contents)

[Top Cleaning](#CleaningData)

### Convert integer columns to int

In [ ]:
intCols = ['meters']
df[intCols]=df[intCols].astype(int,errors='ignore')

### Convert numeric columns to numeric

In [ ]:
numCols = ['svl','tl','rtl','mass']
df[numCols]=df[numCols].apply(pd.to_numeric,errors='coerce')

### Convert string columns to str

In [ ]:
strCols = ['toes','sex','species','vial']
df[strCols]=df[strCols].astype(str, errors='ignore')

### Convert date to datetime

In [ ]:
df.loc[df.date=="NA"]=np.nan
df.date = pd.to_datetime(df.date,errors='ignore')

In [ ]:
print("\nAfter applying the above changes, the data types are as follows:\n{}".format(df.dtypes))

<a id='AddVar1'></a>

## Adding variables [*year*](#year) and [*rtl_orig*](#rtlorig)

<a id='year'></a>

### Year
[Back to: Top](#Table-of-Contents)

[Back to: Adding variables](#AddVar1)

We will use data contained in the *date* column to create the variable *year*.  TO do this we will define a small function, [*myint*](#myint), to convert year to an int type.

Now we apply [*myint*](#myint) to the 'date' column to create the variable year and inspect the unique values.

In [ ]:
df['year'] = df.date.dt.year.apply(myint,verbose=False)
df.year.value_counts(dropna=False)

Let's inspect the entries with 'nan' values.  Note these 'nan' values are string values and not NaN.

In [ ]:
df.loc[df.year=='nan',:]

In [ ]:
idx_nntoes = (df.year=='nan')&(df.toes_orig.notna())&(df.toes_orig!='nan')
print("{} of these entries have non-null values in the originl toes column.  Let's inspect these"\
      .format(df.loc[idx_nntoes].shape[0]))

In [ ]:
df.loc[idx_nntoes]

Many of these appear to be from 2016/17, based on the toe vial numbers.  one may be from 2018, but we will need to confirm and determine if any of these have sufficient information to keep them in the data set.  For now we will drop them.

In [ ]:
df.loc[idx_nntoes] = None
df.loc[idx_nntoes]

# Adding New Columns
[Top](#Table-of-Contents)

We need to add new columns which we will use later in analyses:
- [TL_SVL](#TL-SVL)
- [Mass_SVL](#Mass_SVL)
- [Lizard Number](#Lizard-Number)
     - [assign lizard numbers](#Assign) 
     - [QC the lizard numbers](#QcLizNum) 
- [Days Since Capture](#daysSinceCapture)
- [Number of Captures](#capture)

## TL_SVL 
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

In [ ]:
df['tl_svl']=(df.tl/df.svl)

## Mass_SVL
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

In [ ]:
df['mass_svl']=(df.mass/df.svl)

## Lizard Number
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

Here we use a set of functions to:
 - [Assign Lizard Numbers](#Assign-Lizard-Numbers) to unique individuals (we repeat this step to ensure we have assigned all animals a number) and 
 - [QC the Numbers](#QC-the-Numbers) assigned.

<a id='Assign'></a>

### Assign Lizard Numbers
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

We make a first attempt at assigning lizard numbers.  We use the *lizsort* function to identify the subset of rows from the original dataset which have sufficient information to allow us to make an automated decision about the uniqueness of the individuals identified in those rows.  We name that df *sortable*.  The unsortable data are saved to a path as a file, *unsortable.csv*.

In [ ]:
sortable = lizsort(df, path = sourceinterDataBig)

Next we call the *mindate* function on *sortable*.  This identifies the earliest date at which each unique combination of *sortCriteria* are recorded in a new column, *initialCaptureDate*.  The default sortCriteria are of the variables *species*, *toes*, and *sex*.  This also calculates and adds a column for *year_diff*, the difference in years between the initial capture date and the date value in a given row.

In [ ]:
sortable = mindate(sortable)

Next we call a the function *smallest*, which is analogous to *mindate*, but groups data in *sortable* into unique combinations of *species*, *toes*, *sex*, and *initialCaptureDate* before assigning the smallest SVL value recorded for each group to a new column for that group, *smallest_svl*.  *smallest* then calculates a new column *svl_diff* which is analogous to *year_diff*.

In [ ]:
sortable = smallest(sortable)

Next we call the *validate* function on *sortable*, which applies a series of validation tests to the data, sequentially numbers unique combinations of *sortCriteria* and returns a dict containing uniquely numbered individuals and summary data.

In [ ]:
tmp_sort = validate(sortable)
df_numbered1 = tmp_sort['val_data']

### Second attempt to assign lizard numbers

[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

Here we make a second attempt at assigning lizard numbers to ensure that all lizards have been assigned.  This second attempt is focused on those rows which were unvalidated during the first attempt *n_val_data*.  Since these are already a subset of those data which were sortable, we need only call the *mindate*, *smallest*, and *validate* functions.

In [ ]:
n_val = mindate(tmp_sort['n_val_data'])
n_val = smallest(n_val)
df_numbered2 = validate(n_val)['val_data']

Since no rows remain unvalidated, we will not attempt a third validation.  We will simply append *df_numbered1* and *df_numbered2* to create *df_numbered* to create our full numbered dataset.

In [ ]:
df_numbered = df_numbered1.append(df_numbered2,ignore_index=True,sort=False)
print("df:{}\ndf_numbered1:{}\ndf_numbered2:{}\ndf_numbered:{}".format(df.shape,df_numbered1.shape,df_numbered2.shape,
                                                               df_numbered.shape))
df_numbered.head()

<a id='QcLizNum'></a>

### QC Lizard Numbers
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

First we display the output data frame.

In [ ]:
df_numbered

Identify individuals that are missing any of the critical values, but have a lizard number assigned.

In [ ]:
idx_critical_na = (df_numbered.toes_orig.isna())|(df_numbered.species.isna())|(df_numbered.date.isna())
print("There are {} rows that fit have na values in any category critical for liznumber generation.\n{}"\
      .format(df_numbered.loc[(idx_critical_na)].shape[0],df_numbered.loc[(idx_critical_na),
                                                                          ['toes_orig','toes','species','date']]))

Identify individuals that have same species and toes, but different sex for review

In [ ]:
df_numbered = df_numbered.merge(df_numbered.groupby(['species','toes']).sex.nunique().reset_index()\
                       .rename(columns = {'sex':'sex_count'}),how = 'inner', on = ['species','toes'])
df_numbered.loc[df_numbered.sex_count>1,:].to_csv('entries flagged with same species and toes diff sex.csv')
print("{} rows have the same species and toes but different values for sex"\
      .format(df_numbered.loc[df_numbered.sex_count>1,:].shape[0]))
df_numbered.head()

In [ ]:
print("Lizard Numbers in the sample range from {} to {}."\
      .format(df_numbered.liznumber.min(),df_numbered.liznumber.max()))

In [ ]:
possibleLizNum = set(range(int(df_numbered.liznumber.min()),int(df_numbered.liznumber.max())))
actualLizNum = set(pd.Series(df_numbered.liznumber.unique()).dropna().apply(int))
print("\nThere are {} entries.  There are {} unique lizard numbers.\
\n\nThe liznumber ranges from {} to {}."\
  .format(df_numbered.shape[0],len(df_numbered.liznumber.unique())\
          ,df_numbered.liznumber.min(),df_numbered.liznumber.max()))

missingLizNum = possibleLizNum - actualLizNum
if len(missingLizNum)>0:
    print("\n\nThe following numbers are not assigned to a lizard:\n{}"\
      .format(missingLizNum))
else:
    print("\n\nThere are no numbers which were not assigned.")

<a id='daysSinceCapture'></a>

### Days Since Capture
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

*daysSinceCapture* identifies the number of days since the animal was captured

In [ ]:
df_numbered.loc[:,'daysSinceCapture'] = (df_numbered.date - df_numbered.initialCaptureDate).dt.days

<a id='capture'></a>

### Capture Number
[Top](#Table-of-Contents)

[Top Adding New Columns](#Adding-New-Columns)

*capture* identifies the number of times an animal has been captured prior to an entry.
We will need to [QC of Capture Number and Recap Status](#QC-of-Capture-Number-and-Recap-Status) as well.

In [ ]:
# need to QC this this seems to be leading to several cases in which recap individuals that 
# only have one capture
df_numbered['capture'] = df_numbered.sort_values(['liznumber','date'])\
.groupby(['liznumber']).daysSinceCapture.cumcount()+1

In [ ]:
print(df_numbered.loc[df_numbered.species.isin(['j','v'])].groupby('capture').capture.count())

Let's QC these numbers by looking at the distribution of the number of captures.

In [ ]:
Sj = go.Histogram(x = df_numbered.loc[(df_numbered.species=='j')].groupby('liznumber').capture.max(),name='Sj')
Sv = go.Histogram(x = df_numbered.loc[(df_numbered.species=='v')].groupby('liznumber').capture.max(),name='Sv')

data = [Sj,Sv]
layout = go.Layout(
    title = 'Histogram of Maximum Number of Captures for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Unique Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Number of Captures for CC 2000-2017')

Now we'll display all data points associated with lizards who have more than 8 captures reported.

In [ ]:
threshold = 8
immortals = df_numbered.loc[df_numbered.capture>threshold].liznumber.unique()
df_immortals = df_numbered.loc[df_numbered.liznumber.isin(immortals)]
print("There are {} lizards with greater than {} captures.  They account for {} rows of data.\n"\
      .format(df_immortals.liznumber.nunique(),threshold,df_immortals.shape[0]))
df_immortals = df_immortals.loc[:,[ 'liznumber','capture','toe_pattern','species', 'toes_orig', 'toes',
                                   'sex', 'date', 'svl_diff', 'tl', 'rtl_orig',
       'meters', 'new.recap','sighting', 'vial', 'misc','initialCaptureDate','year_diff', 'sex_count',
                  'daysSinceCapture','year']].sort_values(['liznumber','year'])
print("\nTheir toe_patterns are distributed as follows:\n{}".format(df_immortals.toe_pattern.value_counts(dropna=False)))
print("\nThe new toes for those lizards are distributed as follows:\n{}"
      .format(df_immortals.groupby('toe_pattern').toes.value_counts(dropna=False)))
print("\nThose with NaN values assigned as toe_pattern have the following original toes:\n{}"\
      .format(df_immortals.loc[df_immortals.toe_pattern.isna()].toes_orig.value_counts(dropna=False)))
# print(df_immortals.loc[df_immortals.toe_pattern.isna()].liznumber.value_counts(dropna=False))
df_immortals.loc[df_immortals.toe_pattern.isna()]

## We can see that the liz number generation failed since lizards with no toes have been assigned a number

We will export these for further inspection using the *[exportliz](#exportliz)* function.

In [ ]:
exportliz(df_immortals,iterator='liznumber')

<a id='yearstoolarge'></a>

### years too large
[Top](#Table-of-Contents)

In [ ]:
yeartoomuch = df_numbered.loc[df_numbered.year_diff>=5,'liznumber']
checkyears = df_numbered.loc[df_numbered.liznumber.isin(yeartoomuch)].sort_values(['liznumber'])
checkyears.to_csv('check years.csv')
checkyears

In [ ]:
jarrovii = go.Histogram(x = df_numbered.loc[df_numbered.species.isin(['j'])].groupby('liznumber')\
                     .year_diff.max(),name = 'S. jarrovii')
virgatus = go.Histogram(x = df_numbered.loc[df_numbered.species.isin(['v'])].groupby('liznumber')\
                     .year_diff.max(), name = 'S. virgatus')
data = [jarrovii, virgatus]
layout = go.Layout(
    title = 'Number of Individuals by Years Between First and Last Capture 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Years Since Initial Capture',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Frequency of Captures in Crystal Creek 2000 - 2017 (by species)')

Should we drop this figure entirely.  Not sure this is useful.

In [ ]:
# Freeze work on this figure until we've resolved issues with calculation based on year
# ADD HORIZONTAL LINES FOR EACH YEAR
j_lizards = go.Scatter(x = df_numbered.loc[df_numbered.species.isin(['j'])].liznumber,
                   y = df_numbered.loc[df_numbered.species.isin(['j'])]\
                      .groupby('liznumber').daysSinceCapture.max(), 
                     mode = 'markers', name='S. jarrovii')
v_lizards = go.Scatter(x = df_numbered.loc[df_numbered.species.isin(['v'])].liznumber,
                   y = df_numbered.loc[df_numbered.species.isin(['v'])]\
                      .groupby('liznumber').daysSinceCapture.max(), 
                     mode = 'markers', name='S. virgatus')
# year1 = go.Scatter(x=[df_numbered.liznumber.min(),df_numbered.liznumber.max()],y = (365))
# year2 = go.Scatter(y = 365*2)
# year3 = go.Scatter(y = 365*3)
# year4 = go.Scatter(y = 365*4)
# year5 = go.Scatter(y = 365*5)
# year6 = go.Scatter(y = 365*6)
# year7 = go.Scatter(y = 365*7)
# year8 = go.Scatter(y = 365*8)

# data = [j_lizards, v_lizards, year1, year2, year3, year4, year5, year6, year7, year8]
data = [j_lizards, v_lizards]
layout = go.Layout(
    title = 'Days Since Initial Capture in Crystal Creek 2000 - 2017',
        titlefont = dict(
            size = 20),
    xaxis = dict(
            title='Lizard Number',
            titlefont=dict(
                size=18)),
    yaxis = dict(
            title='Greatest Number of Days Since<br> Initial Capture',
            titlefont=dict(
                size=18)))

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename = 'Days Since Initial Capture in Crystal Creek 2000 - 2017')

Drop this figure as well?

In [ ]:
dfF = df_numbered.loc[(df_numbered.sex =='f' )& (df_numbered.species.isin(['j','v']))]
dfM = df_numbered.loc[(df_numbered.sex =='m') & (df_numbered.species.isin(['j','v']))]

In [ ]:
# Freeze work on this figure until we've resolved issues with calculation based on year
females = go.Scatter(
    x = dfF.liznumber,
    y = dfF.groupby('liznumber').daysSinceCapture.max(),
    name = 'females',
    mode = 'markers',
    marker = dict(
        color = 'rgba(152, 0, 0, .8)',
        opacity = 0.75,
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)'
        )
    )
)

males = go.Scatter(
    x = dfM.liznumber,
    y = dfM.groupby('liznumber').daysSinceCapture.max(),
    name = 'males',
    mode = 'markers',
    marker = dict(
        color = 'rgba(255, 182, 193, .9)',
        opacity = 0.75,
        line = dict(
            width = 2,
        )
    )
)

data = [females, males]

layout = dict(title = 'Days Since Initial Capture in Crystal Creek 2000 - 2017 By Sex',
              yaxis = dict(
                  title='Greatest Number of Days Since<br> Initial Capture',
                  titlefont=dict(
                      size=18)
              ),
              xaxis = dict(zeroline = False)
             )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Days Since Initial Capture in Crystal Creek 2000 - 2017 By Sex')

In [ ]:

males = go.Histogram(x = df_numbered.loc[(df_numbered.sex == 'm')& (df_numbered.species.isin(['j','v']))
                                                                    ,'year']
                     ,opacity= 0.75,name='males')
females = go.Histogram(x = df_numbered.loc[(df_numbered.sex == 'f')& (df_numbered.species.isin(['j','v']))
                                                                      ,'year']
                       , opacity= 0.75, name = 'females')
data = [males,females]
py.iplot(data, filename = 'Distribution of Sex by Year in Crystal Creek 2000 - 2017')

In [ ]:
column_order = ['liznumber','date','initialCaptureDate',]

In [ ]:
df.year.value_counts(dropna=False).reset_index()

<a id='QcCapture'></a>

### QC of Capture Number and Recap Status
[Top](#Table-of-Contents)

[Top Add Columns](#AddCol)

[Top Capture Number](#capture)

In [ ]:
recapQuestion=df_numbered\
.loc[(df_numbered.capture==1 )&(df_numbered['new.recap']=='recap')&(df_numbered.species.isin(['j','v'])),:]
print("There are {} instances in rows for which a lizard appears to have only one capture, \
but is listed as a recap.\
The distribution of these across years in the sample is as follows:\n{}."\
      .format(recapQuestion.shape[0],recapQuestion.year.value_counts()))
recapQuestion.to_csv("Questionable recaptures.csv")#These individuals need to be rechecked in the raw notes
recapQuestion.head()

<a id='exportFinal'></a>

# Export Cleaned data
[Top](#Table-of-Contents)

Now we export the cleaned data to a csv.

In [ ]:
df_numbered = df_numbered.rename(index = str, columns = {'new.recap':'newRecap'})
qc_drop_cols = df_numbered.columns[df_numbered.columns.str.contains('force|drop')]
df_full = df_numbered.drop(qc_drop_cols,1)

In [ ]:
os.chdir(outputBig)
timestamp = (pd.to_datetime('now')-pd.Timedelta(hours=4))
timestamp = str(timestamp)[:-10].replace(':','hrs')+'min'
filename = 'cleaned CC data 2000-2017_' + timestamp+ '.csv'
df_full.to_csv(filename,index = False)
filename