# Cleaning CC data

This python notebook operates on a csv created after editing in open refine and is designed to finish cleaning columns of interest which were easier to clean in python.

# [Resume Here](#resumehere)

<a id='TOC'></a>

# Table of Contents

1. [Setting up Python](#SettingUp)
    
    1. [Setting the Location](#SettingLoc)
    
    2. [Importing Data](#ImportingData)
    
    3. [Preparing for a Save](#PreparingSave)
    
4. [Functions](#Functions)
    
2. [Inspecting the Data](#InspectingData)
3. [Cleaning Data](#CleaningData)
    1. [Column-by-Column Cleaning](#ColbyCol)
        1. [rtl](#rtl)
        2. [tl](#tl)
        3. [svl](#svl)
        4. [autotomized](#autotomized)
        5. [toes](#toes)
        6. [sex](#sex)
        7. [species](#species)
        7. [new.recap](#newrecap)
    2. [Correcting class of columns](#CorrectingClass)
    
4. [Adding Columns](#AddCol)

    1. [TL_SVL](#TlSvl)
    
    2. [Mass_SVL](#MassSvl)
    
    3. [Lizard Number](#LizardNumber)

5. [Export Cleaned Data](#exportFinal)

<a id='outstanding'></a>

# Outstanding Problems

1. [outstanding1](#outstanding1)
2. [outstanding2](#outstanding2)
3. [outstanding3](#outstanding3)
4. [outstanding4](#outstanding4)

<a id='SettingUp'></a>

# Setting up Python

[Top](#TOC)

Here we import necessary packages. 
This chunk may take a while.

In [1]:
import pandas as pd
import numpy as np
import os
from liz_number import lizsort,mindate,smallest,validate
from liz_toes import make_str,label_pattern, replace_pattern,report_pattern

import plotly
import plotly.plotly as py
import plotly.graph_objs as go

plotly.tools.set_config_file(world_readable=True)

# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

<a id='SettingLoc'></a>

## Setting the location
[Top](#TOC)

These chunks identify the locations from which we can get data and to which we can save data.

## Source Data
Source files can be found in the following locations:

In [2]:
sourceDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/Cleaned Combined Data'
sourceDataBig = 'S:/Chris/TailDemography/TailDemography/Cleaned Combined Data'
# sourceBlack = 'C:/Users/test/Desktop'

### Intermediate Source Data
Intermediate files can be found in the following locations:

In [3]:
sourceInterDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/Intermediate Files/DeepCleaning'
sourceinterDataBig = 'S:/Chris/TailDemography/TailDemography/Intermediate Files/DeepCleaning'
# sourceBlack = 'C:/Users/test/Desktop'

## Output Data paths
Outputfiles can be found in the following locations:

In [4]:
outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
outputBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'
# outputBlack = 'C:/Users/test/Desktop'

<a id='ImportingData'></a>

## Importing data
[Top](#TOC)

Here we import data from one of the available locations

In [5]:
os.chdir(sourceDataBig)
df=pd.read_csv('Appended and Trimmed CC Data 2000-2017_2019-01-01 14hrs11min.csv')
df.head()

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
0,sj,2-6-11-16,m,2001-03-18 00:00:00,76,80,1,NaN,13.7,r wall at juniper xing,113,NEW,NaN,NaN,w.c,toes in vial 01-1,NaN
1,sj,2-6-11-18,f,2001-03-18 00:00:00,82,109,0,NaN,17.5,r wall at juniper xing,113,NEW,NaN,NaN,w.b,toes in vial 01-2,NaN
2,sj,2-6-11-19,f,2001-03-18 00:00:00,58,69,-1,NaN,8.5,r wall at juniper xing,113,NEW,NaN,NaN,w.a,toes in vial 01-3,NaN
3,sj,2-6-11-20,m,2001-03-18 00:00:00,65,91,0,NaN,9.2,r wall at juniper xing,113,NEW,NaN,NaN,w-a,toes in vial 01-4,NaN
4,sj,2-6-11-19-20,f,2001-03-18 00:00:00,58,76,0,NaN,7.8,r wall at juniper xing,113,NEW,NaN,NaN,w-b,toes in vial 01-5,NaN

<a id='PreparingSave'></a>

## Preparing for a save
[Top](#TOC)

Now we change the working directory so that inermediate files are saved to our preferred location.

In [6]:
os.chdir(sourceDataBig)
df.head()

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
0,sj,2-6-11-16,m,2001-03-18 00:00:00,76,80,1,NaN,13.7,r wall at juniper xing,113,NEW,NaN,NaN,w.c,toes in vial 01-1,NaN
1,sj,2-6-11-18,f,2001-03-18 00:00:00,82,109,0,NaN,17.5,r wall at juniper xing,113,NEW,NaN,NaN,w.b,toes in vial 01-2,NaN
2,sj,2-6-11-19,f,2001-03-18 00:00:00,58,69,-1,NaN,8.5,r wall at juniper xing,113,NEW,NaN,NaN,w.a,toes in vial 01-3,NaN
3,sj,2-6-11-20,m,2001-03-18 00:00:00,65,91,0,NaN,9.2,r wall at juniper xing,113,NEW,NaN,NaN,w-a,toes in vial 01-4,NaN
4,sj,2-6-11-19-20,f,2001-03-18 00:00:00,58,76,0,NaN,7.8,r wall at juniper xing,113,NEW,NaN,NaN,w-b,toes in vial 01-5,NaN

<a id='Functions'></a>

# Functions
[Back to: Top](#TOC)

1. [appendstr](#appenstr)
2. [typeordrop](#typeordrop)

<a id = 'appendstr'></a>

## appendstr

In [7]:
def appendstr(x, value, connector = '', position='end'):
    """
    appends *value* and *x* separated by a *connector* with the position of *val* determined by *position*
    :param x:
    :param value:
    :param connector:
    :param position:
    """
    assert((isinstance(x,str)|(x is None)|(x!=x))),"x must be str type, NoneType or NaN: x is {} type."\
    .format(type(x))
    if ((x!=x)|(x is None)):
        x=''
    assert(isinstance(value,str)),"value must be str type: value is {} type.".format(type(value))
    assert(isinstance(connector,str))\
    , "connector must be str or None type, not {} type.".format(type(connector))
    assert(isinstance(position,(str,int))), "position must be either str or int type, not {}."\
           .format(type(position))           
    if isinstance(position,str):
        assert(position in ['start','end']), "If position is str type, it must be either 'start' or 'end'."
        positiondict = {'start':0,'end':len(x)}
        position = positiondict[position]
    if isinstance(position,int):
        assert(position in range(0,1+len(x)))\
        , "If position is int type, it must be a value in the range 0 through {}.".format(len(x))
    prefix = x[:position]
    suffix = x[position:]
    if len(x)==0:
        res = value
    else:
        if position == 0:
            res = prefix+value+connector+suffix
        if position == len(x):
            res = prefix+connector+value+suffix
        if (position>0&position<1):
            res = prefix+connector+value+connector+suffix

    return res

Here's an example of how *appendstr* works.

In [8]:
foo='bar'
appendstr(foo,'test',connector='_',position=1)

'b_test_ar'

In [9]:
appendstr(foo,'test',connector='_',position=1)

'b_test_ar'

In [10]:
appendstr(None,'test',connector='_',position='end')

'test'

In [11]:
appendstr(None,'test',position=0)

'test'

<a id='typeordrop'></a>

## typeordrop
[Back to Top](#TOC)

[Back to Functions](#Functions)

In [12]:
def typeordrop(x,typ,replace=None, verbose=True):
    """this function attempts to force an object, *x*, to a particular type,*typ*. If this is not possible, 
    it reports the value of the object that could not be forced and replaces the object with the value 
    supplied to the *replace* argument"""
    if not isinstance(x,typ)==True:
        while False:
            try:
                x=typ(x)
                print("Working as expected")
                break
            except TypeError:
                if verbose==True:
                    print("Could not force value supplied to 'x' argument to {} type. x is {} type:\n\n x = {}"\
                          .format(typ,type(x),x))
                x = replace
    else:
        print("{} is already of type {}.".format(x,typ))
    return x

Here are a few examples of how *typeordrop* works.

In [13]:
x=['foo','bar']
typeordrop(x,int)

['foo', 'bar']

<a id= 'InspectingData'></a>

## Inspecting the Data
[Top](#TOC)

Let's take a look at the data.

In [14]:
print("\nThere are {} data points in our data set.".format(df.shape[0]))

There are 6597 data points in our data set.

In [15]:
print("\nThe columns in the data have the following data types:\n{}".format(df.dtypes))

The columns in the data have the following data types:
species         object
toes            object
sex             object
date            object
svl             object
tl              object
rtl             object
autotomized    float64
mass            object
location        object
meters          object
new.recap       object
painted         object
sighting       float64
paint.mark      object
vial            object
misc            object
dtype: object

<a id= 'CleaningData'></a>

# Cleaning the Data
[Back to: Top](#TOC)

Now we get to the actual cleaning of the data.  We will inspect the data and take the appropriate cleaning steps:
1. [Column-by-Column Cleaning](#ColbyCol)

2. [Correcting class of columns](#CorrectingClass)

<a id='ColbyCol'></a>

## Column-by-Column Cleaning
[Back to: Top](#TOC)

We will handle the cleaning for each column in this section.
1. [rtl](#rtl)
2. [tl](#tl)
3. [svl](#svl)
4. [autotomized](#autotomized)
    1. [creating 'rtl_orig'and relabeling 'rtl' and 'autotomized](#rtlRTL_ORIGautotomized)
    2. [copy the values in rtl to a new column, *rtl_orig*](#copyrtl)
    3. [relabel entries in the autotomized column based on the values in the rtl_orig column](#relabelaut) 
    4. [relabel entries in the rtl column](#relabelrtl)
5. [toes](#toes)
6. [sex](#sex)
7. [species](#species)
8. [new.recap](#newrecap)

<a id='rtl'></a>

## 'rtl' 
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColbyCol)

Here we investigate and clean values in the column 'rtl'. These should be int type values that are greater than or equal to -1.  First, we test to see if all of the values are of type int.

In [16]:
badtypes = []
for val in df.rtl:
    try:
        x = isinstance(type(int(val)),int)
    except:
        badtypes=badtypes+[val]
print("'badtypes' represents {} entries in the df:".format(len(badtypes)))
if len(badtypes)==0:
    print("\nAll values in df.rtl can be successfuly converted to int.\n\n")
#     df['rtl'] = df.rtl.apply(int)
else:
    print("\nAll values in df.rtl could not be converted to int.  The following values could not be \
converted and should be investigated:\n\n{}\n\nbadtypes values are distributed as follows in the df:\n\n{}"\
          .format(list(set(badtypes)),df.loc[df.rtl.isin(badtypes),'rtl'].value_counts(dropna=False)))

'badtypes' represents 3937 entries in the df:

All values in df.rtl could not be converted to int.  The following values could not be converted and should be investigated:

[nan, '-', '?', '10(kink)', 'o', '32 -12']

badtypes values are distributed as follows in the df:

NaN         3931
?              2
32 -12         1
o              1
-              1
10(kink)       1
Name: rtl, dtype: int64

The non-NaN values are few, so we will inspect these first.

In [17]:
pd.set_option('max_colwidth',100000)
df.loc[(df.rtl.isin(badtypes))&(df.rtl.notna()),:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
2244,sj,NaN,m,2003-04-19 00:00:00,56,32,?,NaN,NaN,talus 326,326,NEW,painted,NaN,b7c,NaN,NaN
2267,sj,4-10-14-18,m,2003-04-30 00:00:00,76,19,?,NaN,NaN,wall 15m,15,recap,painted,NaN,b9a,NaN,9 looks like a backwards P and t combined
2397,sv,1-6-11-20,m,2003-06-27 00:00:00,41,60,o,NaN,4,sb 5m ^ cave trail,50,NEW,painted,NaN,sMb,NaN,"lost toes for vial, accidently cut off toe 11"
3452,uo,4-6-18,m,2004-07-12 00:00:00,52,75,32 -12,NaN,4.7,sb opp fallen juniper -> flat R,208,new,painted,NaN,w^c,04-63,blue throat and blue belly; accidentally cut toe 6
3548,sv,NaN,f,2004-07-21 00:00:00,-,-,-,NaN,6,sb @ cc/ccc,240,recap,painted,NaN,w148b,NaN,escaped
3575,sj,2-9-12-18,f,2004-07-22 00:00:00,65,94,10(kink),NaN,9.4,wall rt side v wall v cave tr,NaN,recap,painted,NaN,w154b,NaN,hurt toes 11-13 in capture; Bss Tss

Based on review discussions, we will make the changes below:
- ‘?’--> 0; misc: “unsure if tail was recently broken at very tip”
- ‘o’--> 0
- ‘32 -12’ -->32; misc: “potential double-break at 12 \[george to check before use\]” 
- ‘-’--> NaN
- ‘10(kink)’-->0; misc:”kink at 10mm”
We will use the function [*appendstr*](#appendstr) to do this.

"‘?’--> 0; misc: “unsure if tail was recently broken at very tip”

In [18]:
idx_ques = (df.rtl.isin(badtypes))&(df.rtl=='?')
df[idx_ques]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
2244,sj,NaN,m,2003-04-19 00:00:00,56,32,?,NaN,NaN,talus 326,326,NEW,painted,NaN,b7c,NaN,NaN
2267,sj,4-10-14-18,m,2003-04-30 00:00:00,76,19,?,NaN,NaN,wall 15m,15,recap,painted,NaN,b9a,NaN,9 looks like a backwards P and t combined

In [19]:
df.loc[idx_ques,'misc']= df.loc[idx_ques,:].misc\
.apply(lambda x: appendstr(x,"unsure if tail was recently broken at very tip",';'))
df.loc[idx_ques,'rtl']= '0'

These entries now look like this:

In [20]:
df.loc[idx_ques,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
2244,sj,NaN,m,2003-04-19 00:00:00,56,32,0,NaN,NaN,talus 326,326,NEW,painted,NaN,b7c,NaN,unsure if tail was recently broken at very tip
2267,sj,4-10-14-18,m,2003-04-30 00:00:00,76,19,0,NaN,NaN,wall 15m,15,recap,painted,NaN,b9a,NaN,9 looks like a backwards P and t combined;unsure if tail was recently broken at very tip;

"‘o’--> 0"

In [21]:
idx_o = (df.rtl.isin(badtypes))&(df.rtl=='o')
df[idx_o]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
2397,sv,1-6-11-20,m,2003-06-27 00:00:00,41,60,o,NaN,4,sb 5m ^ cave trail,50,NEW,painted,NaN,sMb,NaN,"lost toes for vial, accidently cut off toe 11"

In [22]:
df.loc[idx_o,'rtl']= '0'

These entries now look like this:

In [23]:
df.loc[idx_o,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
2397,sv,1-6-11-20,m,2003-06-27 00:00:00,41,60,0,NaN,4,sb 5m ^ cave trail,50,NEW,painted,NaN,sMb,NaN,"lost toes for vial, accidently cut off toe 11"

"‘32-12’ -->32; misc: “potential double-break at 12 \[george to check before use\]"

In [24]:
idx_32 = (df.rtl.isin(badtypes))&(df.rtl=='32 -12')
df.loc[idx_32]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3452,uo,4-6-18,m,2004-07-12 00:00:00,52,75,32 -12,NaN,4.7,sb opp fallen juniper -> flat R,208,new,painted,NaN,w^c,04-63,blue throat and blue belly; accidentally cut toe 6

In [25]:
df.loc[idx_32,'misc']= df.loc[idx_32,:].misc\
.apply(lambda x: appendstr(x,"potential double-break at 12 [george to check before use]",';'))

df.loc[idx_32,'rtl']= '32'

These entries now look like this:

In [26]:
df.loc[idx_32,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3452,uo,4-6-18,m,2004-07-12 00:00:00,52,75,32,NaN,4.7,sb opp fallen juniper -> flat R,208,new,painted,NaN,w^c,04-63,blue throat and blue belly; accidentally cut toe 6;potential double-break at 12 [george to check before use];

"‘-’-->'NaN'"

In [27]:
idx_minus = (df.rtl.isin(badtypes))&(df.rtl=='-')
df.loc[idx_minus,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3548,sv,NaN,f,2004-07-21 00:00:00,-,-,-,NaN,6,sb @ cc/ccc,240,recap,painted,NaN,w148b,NaN,escaped

We will also address the values for svl and tl in this row.

In [28]:
df.loc[idx_minus,['rtl','tl','svl']]= np.nan

These entries now look like this:

In [29]:
df.loc[idx_minus,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3548,sv,NaN,f,2004-07-21 00:00:00,NaN,NaN,NaN,NaN,6,sb @ cc/ccc,240,recap,painted,NaN,w148b,NaN,escaped

‘10(kink)’-->0; misc:”kink at 10mm” We will use the function appendstr to do this."

In [30]:
idx_10kink = (df.rtl.isin(badtypes))&(df.rtl=='10(kink)')
df.loc[idx_10kink,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3575,sj,2-9-12-18,f,2004-07-22 00:00:00,65,94,10(kink),NaN,9.4,wall rt side v wall v cave tr,NaN,recap,painted,NaN,w154b,NaN,hurt toes 11-13 in capture; Bss Tss

In [31]:
df.loc[idx_10kink,'misc']= df.loc[idx_10kink,:].misc.apply(lambda x: appendstr(x,"kink at 10mm",';'))
df.loc[idx_10kink,'rtl']= '0'

These entries now look like this:

In [32]:
df.loc[idx_10kink,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3575,sj,2-9-12-18,f,2004-07-22 00:00:00,65,94,0,NaN,9.4,wall rt side v wall v cave tr,NaN,recap,painted,NaN,w154b,NaN,hurt toes 11-13 in capture; Bss Tss;kink at 10mm;

Now we will inspect those that had at least one other length measurement (svl or tl).

In [33]:
pd.reset_option('max_colwidth')
idx_rtlnaplus1 = (df.rtl.isna())&(((df.svl.isna())&~(df.tl.isna()))|(~(df.svl.isna())&(df.tl.isna())))
df.loc[idx_rtlnaplus1]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
148,sj,2-6-13-20,f,2001-03-23 00:00:00,~70,NaN,NaN,NaN,NaN,bottom R wall v cave trail,30,sighting,NaN,NaN,?,"could read toes 6,13 for certain; toe 2 uncert...",NaN
980,sj,NaN,m,2002-03-16 00:00:00,large,NaN,NaN,NaN,NaN,active in crevice in wall 3m v juniper xing,112,sighting,NaN,NaN,?,NaN,NaN
1152,sj,NaN,NaN,2002-03-17 00:00:00,large,NaN,NaN,NaN,NaN,H4a,194,sighting,NaN,NaN,w85a??,NaN,"probably w85a but could only see the ""5"""
1513,sj,NaN,f,2002-03-20 00:00:00,large,NaN,NaN,NaN,NaN,L across from wall,318,sighting,NaN,NaN,w||t,NaN,NaN
1978,sj,NaN,m,2002-03-19 00:00:00,large,NaN,NaN,NaN,NaN,up rt wall @ pool,NaN,sighting,NaN,NaN,???,NaN,~25mm original T; rest regrown
2122,sv,NaN,?,2002-03-19 00:00:00,small,NaN,NaN,NaN,NaN,sb 4m ^ flatR,NaN,sighting,NaN,NaN,NaN,NaN,had moth so didn'tcatch

All but one of these was a sighting.  We will have to look at the field notes to confirm whether or not data were actually missing for the remaining entry.

In [34]:
df.loc[(df.rtl.isna())&((df.svl.notna())|(df.tl.notna()))&df['new.recap'].str.contains('recap'),:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
3262,sv,1-6-16-17-20,m,2004-07-04 00:00:00,52,53,NaN,NaN,3.6,bottom chute,355,recap,painted,NaN,w.t,NaN,few mites

Once we have addressed these, we will force rtl to an int type.

Now we check to see for out of range rtl values, *i.e.* rtl values less than -1 or suspiciously high.

We will exclude 0 and -1 values for rtl in these figures because of the large proportion of in range values they account for.

In [35]:
dfnobadtypes0neg1 = (~df.rtl.isin(badtypes))&(~df.rtl.isin(['0','-1']))
dfother = ~(df.species.dropna().str.contains('v|j'))&(df.species.notna())&(dfnobadtypes0neg1)
jarrovii = go.Histogram(x = df.loc[(df.species.str.contains('j'))&(dfnobadtypes0neg1)
                                   ,'rtl'].astype(int, 'ignore'),name = 'S. jarrovii',xbins =dict(size=1)
                        #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
virgatus = go.Histogram(x = df.loc[(df.species.str.contains('v'))&(dfnobadtypes0neg1)
                                   ,'rtl'].astype(int, 'ignore'), name = 'S. virgatus',xbins =dict(size=1)
                       #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
other = go.Histogram(x = df.loc[dfother,'rtl'].astype(int, 'ignore'), name = 'other',xbins =dict(size=1)
                                  #,histnorm='probability'
                     , cumulative=dict(enabled = False
                                                                           , direction = 'increasing'))
data = [jarrovii, virgatus,other]
layout = go.Layout(
    title = 'Histogram of rtl by species',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'rtl (mm)',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of rtl by species (new)')

Perhaps it's worth inspecting values greater than 50.

In [36]:
idx_dfabove50 = (df.species.str.contains('j|v'))&(~df.rtl.isin(badtypes))\
&(df.loc[(~df.rtl.isin(badtypes)),'rtl'].astype(int, 'ignore')>=50)
df[idx_dfabove50]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
131,sj,1-7-13-16,f,2001-03-22 00:00:00,75,64,50,NaN,11.2,chute,358,recap,NaN,NaN,w68c.t,not shed since last capture; added w.t to w68c,NaN
251,sj,5-10-15-16,m,2001-07-13 00:00:00,93,82,58,NaN,24.8,Rs 3m v cave trail,42,recap,NaN,NaN,r32a,shed since,NaN
771,sj,2-12-17,m,2002-07-03 00:00:00,87,93,54,NaN,17.6,wall 20m ^ 1 falls,20,recap,painted; Rnuchal 5; Radj scales 4; R eye 4; Ln...,NaN,b4c,NaN,"[note: on 8VII02 - recorded w?a, but search of..."
773,sj,4-10-14-18,m,2002-07-03 00:00:00,66,69,50,NaN,8.6,sb 20m ^ 1 falls,20,NEW,painted; shed recently; Rnuchal 5(3y2r); R adj...,NaN,b3c,toes in vial 33-02 (4-10-14-18),NaN
2261,sj,2-12-17,m,2003-04-30 00:00:00,89,97,56,NaN,NaN,1falls,1,recap,painted,NaN,bYc,NaN,shedding
2553,sj,4-9-12-20,m,2003-07-02 00:00:00,81,62,50,NaN,18.5,alligator juniper @top of site,452,recap,painted,NaN,oSa,NaN,Tss; Bpss
2942,sj,4-9-12-20,m,2003-07-18 00:00:00,78,65,50,NaN,17.5,Rs across from oak R,418,recap,painted,NaN,oTc,NaN,looked like it was previously marked with orange
3187,sj,4-9-12-20,m,2004-07-02 00:00:00,85,66,52,NaN,22,leaning juniper 7m v top,452,recap,painted,NaN,wCa,NaN,B soon to shed
3420,sj,4-9-12-20,m,2004-07-10 00:00:00,80,68,52,NaN,21.2,5m v rock with oak,440,recap,painted,NaN,wTa,NaN,no mites
3656,j,5-7-13-16,m,2015-07-06 00:00:00,78,75,55,NaN,14.8,SB 8m v bowl,-16,new,yes,NaN,w3a,15-03,NaN
3977,j,5-7-13-16,m,2016-05-10 00:00:00,80,80,60,NaN,14.7,R in sb,-20,recap,yes,NaN,y42c,NaN,NaN
5870,sj,1-15-19 a,m,2008-07-08 00:00:00,90,70,50,NaN,23,leftR outcrop 5m v downed juniper,215,N,painted,NaN,y39a,08-24,NaN
5928,sj,1-15-19,m,2008-07-18 00:00:00,89,70,50,NaN,21.7,large Rs opp and 3m v downed juniper,217,r,painted,NaN,y57a,NaN,NaN
6274,sj,2 - 8 - 13,F,2011-06-21 00:00:00,70,73,54,NaN,10.4,stream bed 2m v H5,198,recap,yes,NaN,g26b,NaN,NaN
6276,sj,3 - 9 - 15,F,2011-06-23 00:00:00,75,82,56,NaN,7.7,right Rs bottom bowl,-7,recap,yes,NaN,g35b,NaN,was w45c; recently dropped; TSS
6283,sj,1 - 7 - 14 - 19,M,2011-06-19 00:00:00,80,73,52,NaN,20,opp oak R,418,recap,yes,NaN,g10b.t,NaN,BSS T-shed HSS
6297,sj,b 1 - 7 - 11,F,2011-06-20 00:00:00,7.5,70,90,NaN,0,3m right side ^ Juniper Xing,118,recap,yes,NaN,NaN,NaN,"Break at 50, tail still attached w48c -> g18b ..."
6303,sj,b 2 - 9 - 15 - 17,F,2011-06-20 00:00:00,7.6,68,86,NaN,0,10m up CCC on slab,250,recap,yes,NaN,g19b,NaN,NaN
6369,sj,2-8-13,F,2012-05-25 00:00:00,82,79,57,NaN,21.5,loose on T; H5,NaN,recap,yes,NaN,w18c.b,NaN,pics of site
6375,sj,3-9-15,f,2012-05-28 00:00:00,79,85,58,NaN,19.3,1falls,NaN,recap,yes,NaN,w34c,NaN,salmon tail; Tss
6512,sj,5-11-18,M,2014-07-03 00:00:00,85,73,56,NaN,19.5,black r,171,new,yes,NaN,o5c,14-04,NaN

<a id='outstanding1'></a>

Some of these values are reasonable, but there are few for which we will need to go back to the field notes in 2011.  Those rows in which rtl > tl need to be investigated.

[Back to Outstanding Problems](#outstanding)

In [37]:
idx_rtltlbig = (idx_dfabove50)&(df.rtl.astype(int,errors = 'ignore')>df.tl.astype(int,errors ='ignore'))
df.loc[idx_rtltlbig]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6297,sj,b 1 - 7 - 11,F,2011-06-20 00:00:00,7.5,70,90,NaN,0,3m right side ^ Juniper Xing,118,recap,yes,NaN,NaN,NaN,"Break at 50, tail still attached w48c -> g18b ..."
6303,sj,b 2 - 9 - 15 - 17,F,2011-06-20 00:00:00,7.6,68,86,NaN,0,10m up CCC on slab,250,recap,yes,NaN,g19b,NaN,NaN

These appear to be cases where svl,tl,rtl and mass may have been entered into the wrong columns, i.e. the correct placement of current values-->correct column should probably be:
- svl-->mass
- tl-->svl
- rtl-->tl
- mass-->rtl

We will correct these now.

In [38]:
import copy
def swap(df):
    tmp = {
        'rtl':copy.copy(df['rtl']),
        'tl':copy.copy(df['tl']),
        'svl':copy.copy(df['svl']),
        'mass':copy.copy(df['mass'])
    }
#     print(tmp)
    df['rtl'] = tmp['mass']
    df['tl'] = tmp['rtl']
    df['svl'] = tmp['tl']
    df['mass'] = tmp['svl']
#     print(tmp)
    return df

In [39]:
df.loc[idx_rtltlbig,['svl','rtl','tl','mass']] = swap(df.loc[idx_rtltlbig,['svl','rtl','tl','mass']])
df.loc[idx_rtltlbig,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6297,sj,b 1 - 7 - 11,F,2011-06-20 00:00:00,70,90,0,NaN,7.5,3m right side ^ Juniper Xing,118,recap,yes,NaN,NaN,NaN,"Break at 50, tail still attached w48c -> g18b ..."
6303,sj,b 2 - 9 - 15 - 17,F,2011-06-20 00:00:00,68,86,0,NaN,7.6,10m up CCC on slab,250,recap,yes,NaN,g19b,NaN,NaN

Now we force rtl to int type, ignoring errors.

In [40]:
df['rtl'] = df.rtl.astype(int,errors = 'ignore')

<a id='tl'></a>

## 'tl' 
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColbyCol)

Here we investigate and clean values in the column 'tl'. These should be int type values that are positive.  First, we test to see if all of the values are of type int.

In [41]:
df.tl.astype(int,errors='ignore').apply(lambda x: type(x)).value_counts(dropna=False)

<class 'float'>    3931
<class 'str'>      2666
Name: tl, dtype: int64

Let us inspect the entries for which attempting to convert 'tl' results in a float type.

In [42]:
idx_floatNaNtl = df.tl.astype(int,errors='ignore').apply(lambda x: type(x) is float)
df.loc[idx_floatNaNtl,'tl'].value_counts(dropna=False)

NaN    3931
Name: tl, dtype: int64

These are all NaN entries and can be ignored for the time being.

Let's inspect the non NaN entries now.

In [43]:
idx_strtl = df.tl.astype(int,errors='ignore').apply(lambda x: type(x) is str)
df.loc[idx_strtl,'tl'].value_counts(dropna=False)

70         77
73         74
68         70
75         66
69         65
65         61
78         60
72         59
71         58
66         57
63         54
67         51
60         51
76         47
74         45
61         44
90         43
85         42
100        41
52         39
88         39
59         39
55         38
57         37
50         37
64         36
62         36
80         36
53         35
79         32
54         32
58         32
86         32
102        31
47         30
87         27
98         27
103        26
77         26
49         26
81         25
89         25
93         25
51         24
92         24
56         24
95         24
99         24
91         24
82         23
40         23
83         23
46         23
97         23
48         22
94         22
84         21
96         20
45         20
106        19
101        19
43         18
35         18
105        16
110        16
104        16
109        15
120        15
111        14
36         13
112        13
116        13
42         12
41         12
44         11
108        11
115        11
107        10
113         8
30          8
31          8
32          8
114         8
38          7
37          7
33          7
123         7
125         7
119         7
25          6
34          6
130         6
24          5
26          5
14          5
15          5
121         5
19          4
118         4
39          4
126         4
23          4
10          4
27          3
124         3
22          3
122         3
117         3
13          3
129         3
28          2
7           2
29          2
18          2
12          2
21          2
20          2
132         2
127         2
131         1
56 (42)     1
185         1
159         1
9           1
17          1
128         1
165         1
11          1
Name: tl, dtype: int64

With the exception of the value '56 (42)', the tl values that are not NaN could be converted to int types.  Let's inspect this entry.

In [44]:
pd.set_option('max_colwidth',1000)
idx_5642tl = df.loc[(idx_strtl) & (df.tl=='56 (42)'),:].index
df.loc[df.index.isin(idx_5642tl)]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6017,sj,1-2-3-4-5,f,2009-07-13 00:00:00,69,56 (42),-1,NaN,9.2,T opp mid wall v juniper xing,85,new,painted,NaN,y7a,NaN,missing LFF (left front foot); open break in tail at 42

Based on the notes in the misc column, tl should be recorded as 56.  We will do this now.

In [45]:
df.loc[df.index.isin(idx_5642tl),'tl']='56'

Now the entry looks like this.

In [46]:
df.loc[df.index.isin(idx_5642tl),:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6017,sj,1-2-3-4-5,f,2009-07-13 00:00:00,69,56,-1,NaN,9.2,T opp mid wall v juniper xing,85,new,painted,NaN,y7a,NaN,missing LFF (left front foot); open break in tail at 42

We will use a histogram to try and identify abnormalities among the other tl values.

In [47]:
# dfnobadtypes0neg1 = (~df.tl.isin(badtypes))&(~df.tl.isin(['0','-1']))
dfother = ~(df.species.dropna().str.contains('v|j'))&(df.species.notna())&(df.tl.notna())
jarrovii = go.Histogram(x = df.loc[(df.species.str.contains('j'))&(df.tl.notna())
                                   ,'tl'].astype(int, 'ignore'),name = 'S. jarrovii',xbins =dict(size=1)
                        #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
virgatus = go.Histogram(x = df.loc[(df.species.str.contains('v'))&(df.tl.notna())
                                   ,'tl'].astype(int, 'ignore'), name = 'S. virgatus',xbins =dict(size=1)
                       #,histnorm='probability'
                        , cumulative=dict(enabled = False, direction = 'increasing'))
other = go.Histogram(x = df.loc[dfother,'tl'].astype(int, 'ignore'), name = 'other',xbins =dict(size=1)
                                  #,histnorm='probability'
                     , cumulative=dict(enabled = False
                                                                           , direction = 'increasing'))
data = [jarrovii, virgatus, other]
layout = go.Layout(
    title = 'Histogram of tl by species',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'tl (mm)',
#         tickfont = dict(
#         size = 8),
#         tickangle = 85,
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of tl by species (new)')

For now there is not much we can identify graphically.  We will revist this later.  For now we will force tl to int.

In [48]:
df['tl'] = df.tl.astype(int, errors = 'ignore')

<a id='svl'></a>

## 'svl' 
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColbyCol)

We will take a similar approach for svl.

In [49]:
df.svl.astype(int,errors='ignore').apply(lambda x: type(x)).value_counts(dropna=False)

<class 'float'>    3925
<class 'str'>      2672
Name: svl, dtype: int64

Let us inspect the entries for which attempting to convert 'svl' results in a float type.

In [50]:
idx_floatNaNsvl = df.svl.astype(int,errors='ignore').apply(lambda x: type(x) is float)
df.loc[idx_floatNaNsvl,'svl'].value_counts(dropna=False)

NaN    3925
Name: svl, dtype: int64

These are all NaN entries and can be ignored for the time being.

Let's inspect the non NaN entries now.

In [51]:
idx_strsvl = df.svl.astype(int,errors='ignore').apply(lambda x: type(x) is str)
df.loc[idx_strsvl,'svl'].value_counts(dropna=False)

50       110
52        90
53        83
56        83
51        81
55        79
48        78
49        76
54        70
75        69
60        68
70        66
47        62
46        56
58        56
45        55
61        55
65        53
73        51
57        49
63        48
68        46
40        45
76        44
80        41
66        41
72        41
59        41
43        40
78        39
62        38
82        37
42        36
64        36
71        34
74        34
77        34
85        31
67        31
44        30
79        30
39        30
69        30
81        28
38        27
83        27
41        23
36        23
35        22
84        21
37        21
89        20
87        19
32        19
86        18
34        18
31        17
90        16
88        15
30        14
91        11
33        11
93         8
29         7
92         6
28         6
large      4
27         4
24         2
26         2
95         2
22         2
96         2
105        2
13         2
106        1
16         1
small      1
~70        1
98         1
112        1
Name: svl, dtype: int64

The values 'large', 'small', and '~70' require closer inspection.

In [52]:
idx_txtvals = df.svl.isin(['small','large','~70'])
df.loc[idx_txtvals]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
148,sj,2-6-13-20,f,2001-03-23 00:00:00,~70,NaN,NaN,NaN,NaN,bottom R wall v cave trail,30,sighting,NaN,NaN,?,"could read toes 6,13 for certain; toe 2 uncertain and didn't see 20 but this is the only right-sized female who could possible fit! Originally caught in July 1998, sb 20m ^ cave trail.",NaN
980,sj,NaN,m,2002-03-16 00:00:00,large,NaN,NaN,NaN,NaN,active in crevice in wall 3m v juniper xing,112,sighting,NaN,NaN,?,NaN,NaN
1152,sj,NaN,NaN,2002-03-17 00:00:00,large,NaN,NaN,NaN,NaN,H4a,194,sighting,NaN,NaN,w85a??,NaN,"probably w85a but could only see the ""5"""
1513,sj,NaN,f,2002-03-20 00:00:00,large,NaN,NaN,NaN,NaN,L across from wall,318,sighting,NaN,NaN,w||t,NaN,NaN
1978,sj,NaN,m,2002-03-19 00:00:00,large,NaN,NaN,NaN,NaN,up rt wall @ pool,NaN,sighting,NaN,NaN,???,NaN,~25mm original T; rest regrown
2122,sv,NaN,?,2002-03-19 00:00:00,small,NaN,NaN,NaN,NaN,sb 4m ^ flatR,NaN,sighting,NaN,NaN,NaN,NaN,had moth so didn'tcatch

All of these values for svl should be set to NaN since these are estimates, not measured values.  For the entry with the svl value of '~70', we can add the estimated value to the misc column. We will use the [appendstr](#appendstr) function here again.

In [53]:
idx_apprx70svl = (idx_txtvals)&(df.svl=='~70')
df.loc[idx_apprx70svl,'misc'] = df.loc[idx_apprx70svl,'misc'].apply(lambda x: appendstr(x,connector=';'
                                                        ,position='end'
                                                        ,value='svl extimated to be ~70mm'))
df.loc[idx_apprx70svl,:]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
148,sj,2-6-13-20,f,2001-03-23 00:00:00,~70,NaN,NaN,NaN,NaN,bottom R wall v cave trail,30,sighting,NaN,NaN,?,"could read toes 6,13 for certain; toe 2 uncertain and didn't see 20 but this is the only right-sized female who could possible fit! Originally caught in July 1998, sb 20m ^ cave trail.",svl extimated to be ~70mm

In [54]:
df.loc[idx_txtvals,'svl']=np.nan
df.loc[idx_txtvals]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
148,sj,2-6-13-20,f,2001-03-23 00:00:00,NaN,NaN,NaN,NaN,NaN,bottom R wall v cave trail,30,sighting,NaN,NaN,?,"could read toes 6,13 for certain; toe 2 uncertain and didn't see 20 but this is the only right-sized female who could possible fit! Originally caught in July 1998, sb 20m ^ cave trail.",svl extimated to be ~70mm
980,sj,NaN,m,2002-03-16 00:00:00,NaN,NaN,NaN,NaN,NaN,active in crevice in wall 3m v juniper xing,112,sighting,NaN,NaN,?,NaN,NaN
1152,sj,NaN,NaN,2002-03-17 00:00:00,NaN,NaN,NaN,NaN,NaN,H4a,194,sighting,NaN,NaN,w85a??,NaN,"probably w85a but could only see the ""5"""
1513,sj,NaN,f,2002-03-20 00:00:00,NaN,NaN,NaN,NaN,NaN,L across from wall,318,sighting,NaN,NaN,w||t,NaN,NaN
1978,sj,NaN,m,2002-03-19 00:00:00,NaN,NaN,NaN,NaN,NaN,up rt wall @ pool,NaN,sighting,NaN,NaN,???,NaN,~25mm original T; rest regrown
2122,sv,NaN,?,2002-03-19 00:00:00,NaN,NaN,NaN,NaN,NaN,sb 4m ^ flatR,NaN,sighting,NaN,NaN,NaN,NaN,had moth so didn'tcatch

Now we force the remaining svl values to int type.

In [55]:
df['svl'] = df.svl.astype(int, errors= 'ignore')

<a id='autotomized'></a>

### 'autotomized' 
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColbyCol)

[creating 'rtl_orig'and relabeling 'rtl' and 'autotomized](#rtlRTL_ORIGautotomized)
- [copy the values in rtl to a new column, *rtl_orig*](#copyrtl)
- [relabel entries in the autotomized column based on the values in the rtl_orig column](#relabelaut) 
- [relabel entries in the rtl column](#relabelrtl)

Here we populate the 'autotomized' column based on the values in 'rtl'.  Most of the source files did not have this category and have NaN values others have float values of 1.0, 2.0 or 3.0 for intact, autotomized with no regrowth or autotomized with regrowth, respectively.  The cleaned data for autotomized will contain  bool type values True, for having experienced auttomy (irrespective of regrowth) and False for having no evidence of havign experienced autotomy.

In [56]:
df.autotomized.value_counts(dropna=False)

NaN     6510
 1.0      61
 3.0      17
 2.0       9
Name: autotomized, dtype: int64

We will inspect the rtl values for entries with non NaN values for autotomized to determine if we can depend on rtl values to determine autotomy status.  In order to rely on rtl values, the following conditions must be met:
- all entries in which autotomized equals 1.0 must have 0 for rtl
- all entries in which autotomized equals 2.0 or 3.0 must have -1 or some value >0 for rtl

In [57]:
intact = df.loc[(df.autotomized==1),'rtl'].astype(int,errors = 'ignore').value_counts(dropna=False)
values2check = [x for x in intact.index[intact.index!=0]]
if len(values2check)>0:
    print("The rtl values associated with {} need a closer look.".format(values2check))
else:
    print("Values for 'intact' entries are as expected.  Continue.")
pd.set_option('max_colwidth',1000)
# df.loc[(df.autotomized==1)&(df.rtl.isin(['21'])),:]
df.loc[(df.autotomized==1)&(df.rtl.astype(int, errors = 'ignore').isin([str(x) for x in values2check])),:]
# need to see what broke this line

The rtl values associated with [21] need a closer look.

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6175,sv,3-7-11-16,f,19vi2010,60,42,21,1.0,8.5,6m^bottom site on R ^fallen T in sb,-14,NEW,yes,NaN,y1a,CA-01-cc,gravid

<a id ='outstanding2'></a>

[Back to Outstanding Problems](#outstanding)

This lizard appears to have been misrecorded and should be listed as autotomized given the amount of regrowth. This should be confirmed in the field notes. If we trust the data as recorded and depend on the rtl values to label autotomized this will be corrected, so for now we will leave this as is.

In [58]:
autotomized = df.loc[(df.autotomized==2),'rtl'].value_counts(dropna=False)
aut_values2check = [x for x in autotomized.index[autotomized.index!='-1']]# change to 'isin' aregument with 0 and -1
if len(aut_values2check)>0:
    print("{} values associated with an rtl value of {} need a closer look."\
          .format(df.loc[(df.autotomized==2)&(df.rtl.isin(aut_values2check)),:].shape[0],aut_values2check))
else:
    print("Values for 'autotomized' entries are as expected.  Continue.")
pd.set_option('max_colwidth',1000)
idx_aut_entries2check = (df.autotomized==2)&(df.rtl.isin([str(x) for x in aut_values2check]))
df.loc[idx_aut_entries2check,:]

8 values associated with an rtl value of ['0'] need a closer look.

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6151,sj,3-6-15-17,m,18viii2010,52,70,0,2.0,4.5,r outcrop ^ oak R,425,new,yes,NaN,y68c,67-10-cc,Tss
6166,sj,3-6-12-18,f,26vii2010,66,79,0,2.0,9,339m; rt side 1m up,339,NEW,yes,NaN,y54c,48-10-cc,Bss
6172,sj,3-6-13-20,f,5viii2010,48,69,0,2.0,3.5,5m up ccc,NaN,new,yes,NaN,>c,59-10-cc,NaN
6199,sj,3-10-13-(14)-16,m,12vi2010,92,112,0,2.0,18,talus^Rwall v talus left side 4m up,NaN,recap,yes,NaN,w1c,NaN,"toe 14 looks like natural toe loss; skinny [pics], spine visible [pics], old puncture wounds on back [pics], possible injury of back rt leg at knee [pics]"
6223,sj,4-7-8-9-11-18,m,26vii2010,96,97,0,2.0,24.5,2m left of stump,364,recap,yes,NaN,y51c,NaN,old mark wXc still visible; not the same as wXc at chute
6226,sj,3-10-13-14-16,m,26vii2010,91,111,0,2.0,18.5,1m v top R wall v talus in sb,320,recap,yes,NaN,y55c,NaN,1m v top R wall in sb; last mark still visible; injuries to dorsum [pics]; toe 14 may be natural toe loss; lizard is skinny: spine and hip bones visible [pics]
6229,sj,NaN,f,5viii2010,70,86,0,2.0,11,bottom site,NaN,recap,NaN,NaN,y61c.t,NaN,BSS; toe 19 could be natural toe loss
6231,sv,3-8-12-16,m,20vi2010,52,58,0,2.0,3.5,5m v wall v wall v juniper xing left side sb,80,recap,yes,NaN,y6a,NaN,NaN

<a id = 'outstanding3'></a>

[Back to Outstanding Problems](#outstanding)

Some of these cases are very straight forward given that the ratio of svl to tl is very close to 1, but others would be worth checking the original data to confirm. Another option is to use the svl to tl ratio of animals that we are sure are intact to decide how to classify these.  For now we will trust the system of recording used in 2010 and update the rtl values to '-1'.

In [59]:
df.loc[idx_aut_entries2check,'rtl'] = '-1'

In [60]:
df.loc[idx_aut_entries2check]

,species,toes,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc
6151,sj,3-6-15-17,m,18viii2010,52,70,-1,2.0,4.5,r outcrop ^ oak R,425,new,yes,NaN,y68c,67-10-cc,Tss
6166,sj,3-6-12-18,f,26vii2010,66,79,-1,2.0,9,339m; rt side 1m up,339,NEW,yes,NaN,y54c,48-10-cc,Bss
6172,sj,3-6-13-20,f,5viii2010,48,69,-1,2.0,3.5,5m up ccc,NaN,new,yes,NaN,>c,59-10-cc,NaN
6199,sj,3-10-13-(14)-16,m,12vi2010,92,112,-1,2.0,18,talus^Rwall v talus left side 4m up,NaN,recap,yes,NaN,w1c,NaN,"toe 14 looks like natural toe loss; skinny [pics], spine visible [pics], old puncture wounds on back [pics], possible injury of back rt leg at knee [pics]"
6223,sj,4-7-8-9-11-18,m,26vii2010,96,97,-1,2.0,24.5,2m left of stump,364,recap,yes,NaN,y51c,NaN,old mark wXc still visible; not the same as wXc at chute
6226,sj,3-10-13-14-16,m,26vii2010,91,111,-1,2.0,18.5,1m v top R wall v talus in sb,320,recap,yes,NaN,y55c,NaN,1m v top R wall in sb; last mark still visible; injuries to dorsum [pics]; toe 14 may be natural toe loss; lizard is skinny: spine and hip bones visible [pics]
6229,sj,NaN,f,5viii2010,70,86,-1,2.0,11,bottom site,NaN,recap,NaN,NaN,y61c.t,NaN,BSS; toe 19 could be natural toe loss
6231,sv,3-8-12-16,m,20vi2010,52,58,-1,2.0,3.5,5m v wall v wall v juniper xing left side sb,80,recap,yes,NaN,y6a,NaN,NaN

In [61]:
regrown = df.loc[(df.autotomized==3),'rtl'].value_counts(dropna=False).reset_index()['index']\
.astype(int, errors = 'ignore')
values2check = [x for x in regrown<=0]
if sum(values2check)>0:
    print("The values associated with {} need a closer look.".format(values2check))
else:
    print("Values for 'regrown' entries are as expected.  Continue.")
pd.set_option('max_colwidth',1000)
df.loc[(df.autotomized==3)&(df.rtl.isin([str(x) for x in values2check])),:]

Values for 'regrown' entries are as expected.  Continue.

Empty DataFrame
Columns: [species, toes, sex, date, svl, tl, rtl, autotomized, mass, location, meters, new.recap, painted, sighting, paint.mark, vial, misc]
Index: []

The entries labeled as a 3.0 in the autotomized column do not appear as though their rtl values will present an issue for calculating new autotomized values.  We will leave these as they are.

<a id='rtlRTL_ORIGautotomized'></a>

### creating 'rtl_orig' and relabeling 'rtl' and 'autotomized'
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColByCol)

[Back to: 'autotomized'](#autotomized)

Now we will:
- [copy the values in rtl to a new column, *rtl_orig*](#copyrtl)
- [relabel entries in the autotomized column based on the values in the rtl_orig column](#relabelaut) 
- [relabel entries in the rtl column](#relabelrtl)

<a id='copyrtl'></a>

#### copy the values in rtl to a new column, *rtl_orig*
[Back to: 'autotomized'](#autotomized)

In [62]:
df['rtl_orig'] = df.rtl

<a id='relabelaut'></a>

#### relabel entries in the autotomized column based on the values in the rtl_orig column
[Back to: 'autotomized'](#autotomized)

We will do this using the following logic:
    - if rtl_orig !=0 & rtl_orig.notna(), autotomized = True
    - if rtl_orig ==0, automized = False
    - if rtl_orig.isna(), autotomized = np.nan

In [63]:
idx_auttrue = (~df.rtl_orig.isin(['0']))&(df.rtl_orig.notna())
df.loc[idx_auttrue,'autotomized'] = True

In [64]:
idx_autfalse = (df.rtl_orig.isin(['0']))&(df.rtl_orig.notna())
df.loc[idx_autfalse,'autotomized'] = False

In [65]:
idx_autnan = df.rtl_orig.isna()
df.loc[idx_autnan,'autotomized'] = np.nan

<a id='relabelrtl'></a>

#### relabel entries in the rtl column
[Back to: 'autotomized'](#autotomized)
We will do this using the following logic:
    - if rtl_orig == -1, rtl = 0

In [66]:
idx_rtlneg1 = df.rtl_orig=='-1'
df.loc[idx_rtlneg1,'rtl'] = 0

In [67]:
df.autotomized.value_counts(dropna=False)

NaN      3932
False    1977
True      688
Name: autotomized, dtype: int64

<a id = 'toes'></a>

## toes 
[Top](#TOC)

[Top Cleaning](#CleaningData)

First we will rename "toes" to "toes_orig"

In [68]:
df = df.rename(columns = {'toes':'toes_orig'},index = str)

Next we create a new column, "toes"  for the renamed toes

In [69]:
df['toes'] = df.toes_orig

Now we attempt to identify problem toes name and correct or export for review.

In [70]:
pattern1 = ".( {1,}-.|.- {1,}.)" # toes entries with any number of spaces on either side of a hyphen
pattern2 = ".( {,}\w{,} {1,})." # toes entries with space around or between numbers <- the spaces here should be deleted
pattern3 = ".(')."
pattern4 = "./."  # entries with '/' <-- need to replace these with '-'
pattern5 = "(\?{1,})"#<-- these needs to be investigated
pattern6 = "^\d{3,}$" # entries consist of only a single number comprised of at least three digits 
#<-- these needs to be investigated by checking raw field notes
pattern7 = ".(-{2,})." # entries which have at least 2 consecutive '-' <- these should be investigated
pattern8 = "^0" # entries in which single digit numbers have a leading "0" <-- Check raw field notes on this too
pattern9 = "a\w" #<--handled hyphens should be inserted  between the [ab] and \w 
# entries that contain an 'a' or 'b' followed by any character in the set [a-zA-Z0-9_]
pattern10 = "b\w" #<--handled hyphens should be inserted  between the [ab] and \w 
pattern11 = "\wa" # entries that contain an 'a' or 'b' preceded by any character in the set [a-zA-Z0-9_]
pattern12 = "\wb" # entries that contain an 'a' or 'b' preceded by any character in the set [a-zA-Z0-9_]
pattern13 = "[()]"
# remove space before 'a' at end of toes
#investigate '\d-', 
#'-(*)-', 
#' (16) ', 
#'---', <- may not exist in raw data
#'\d- ', 
#'- \d', 
#transcription errors from excel (toes in date format,
#'-\d\d\d\d' <- may not be in the data set

We'll have to change this block if we add or remove toe patterns.
This is not ideal and needs to be fixed

In [71]:
toe_pattern = pd.Series([*range(1,14)]) 
toe_pattern = make_str(toe_pattern)
print(toe_pattern)

toe_pattern_descr = pd.Series([pattern1,pattern2,pattern3,pattern4
                               ,pattern5,pattern6,pattern7,pattern8
                               ,pattern9,pattern10,pattern11,pattern12,pattern13])
toe_pattern_descr = toe_pattern_descr.astype(str)
print(toe_pattern_descr)

toe_pattern_reference = pd.DataFrame({'toe_pattern': toe_pattern,'description':toe_pattern_descr})
toe_pattern_reference

0     01
1     02
2     03
3     04
4     05
5     06
6     07
7     08
8     09
9     10
10    11
11    12
12    13
dtype: object
0     .( {1,}-.|.- {1,}.)
1      .( {,}\w{,} {1,}).
2                   .(').
3                     ./.
4                (\?{1,})
5                ^\d{3,}$
6               .(-{2,}).
7                      ^0
8                     a\w
9                     b\w
10                    \wa
11                    \wb
12                   [()]
dtype: object

   toe_pattern          description
0           01  .( {1,}-.|.- {1,}.)
1           02   .( {,}\w{,} {1,}).
2           03                .(').
3           04                  ./.
4           05             (\?{1,})
5           06             ^\d{3,}$
6           07            .(-{2,}).
7           08                   ^0
8           09                  a\w
9           10                  b\w
10          11                  \wa
11          12                  \wb
12          13                 [()]

We first replace the string 'nan' with a null value

In [72]:
df.loc[df.toes=='nan','toes'] = np.nan

Let's see how many of these patterns we need to correct

In [73]:
df['toe_pattern'] = np.nan

Here we use a for-loop to label the patterns 
(there's probably a better way to do this with pandas map or apply, but I'll have to figure this out, for now this is fast enough, but it could make a difference with a larger data set or with more patterns)

In [74]:
for i in range(0,toe_pattern_reference.shape[0]):
    tmp_pat_num = toe_pattern_reference.iloc[i,0]
    tmp_pattern = toe_pattern_reference.iloc[i,1]
    df = label_pattern(df,tmp_pat_num,tmp_pattern,'toe_pattern','toes')

A quick summary of the number of observations for each pattern in the data set

In [75]:
toe_errors =df.toe_pattern.value_counts(dropna=False).reset_index()\
.rename(columns = {'index':'toe_pattern','toe_pattern':'observations'})
toe_errors.loc[toe_errors.toe_pattern.isnull(),'toe_pattern'] = 'Not covered by current patterns'
toe_errors_desc = toe_errors.merge(toe_pattern_reference,'left',on='toe_pattern')
toe_errors_desc

                       toe_pattern  observations          description
0  Not covered by current patterns          6291                  NaN
1                               02           260   .( {,}\w{,} {1,}).
2                               01            39  .( {1,}-.|.- {1,}.)
3                               05             4             (\?{1,})
4                               13             2                 [()]
5                               09             1                  a\w

Now let's make sure we've accounted for every row in the data set

In [76]:
accountedRows = toe_errors.observations.sum()
totalRows = df.shape[0]
notAccountedRows = df.shape[0] - toe_errors.observations.sum()
print("\nThere are {} rows accounted for in the patterns (including null values) and there {} rows in the full data set.\
  There are {} rows unaccounted for.".format(accountedRows,totalRows,notAccountedRows))

There are 6597 rows accounted for in the patterns (including null values) and there 6597 rows in the full data set.  There are 0 rows unaccounted for.

Now we correct these patterns. We'll preserve the original toe data in a column called "toes_orig" just in case.  We can drop this later, if we are comfortable with the changes.  The new toes will be labeled "toes".

In [77]:
corrections_config = {'01':{'action':'replace','pattern_b':" ",'replacement':"\"\""},
            '02':{'action':'replace','pattern_b':" ",'replacement':"-"},
            '03':{'action':'replace','pattern_b':"\'",'replacement':"\"\""},
            '04':{'action':'replace','pattern_b':"/",'replacement':"-"},
            '05':{'action':'save','pattern_b':np.nan,'replacement':np.nan},
            '06':{'action':'save','pattern_b':np.nan,'replacement':np.nan},
            '07':{'action':'save','pattern_b':np.nan,'replacement':np.nan},
            '08':{'action':'replace','pattern_b':"^0",'replacement':"\"\""},
            '09':{'action':'replace','pattern_b':'a','replacement':'-a'},
            '10':{'action':'replace','pattern_b':'b','replacement':'-b'},          
            '11':{'action':'replace','pattern_b':"a",'replacement':"a-"},
            '12':{'action':'replace','pattern_b':"b",'replacement':"b-"},
            '13':{'action':'replace','pattern_b':"[()]",'replacement':"\"\""}}

In [78]:
toe_errors_desc['action'] = toe_errors_desc.loc[toe_errors_desc.toe_pattern.str.len()==2].toe_pattern\
.map(lambda x: corrections_config[x]['action'],na_action='ignore')

toe_errors_desc['replacement'] = toe_errors_desc.loc[toe_errors_desc.toe_pattern.str.len()==2].toe_pattern\
.map(lambda x: corrections_config[x]['replacement'],na_action='ignore')

toe_errors_desc = toe_errors_desc.sort_values('toe_pattern').reset_index(drop=True)
toe_errors_desc

,toe_pattern,observations,description,action,replacement
0,01,39,".( {1,}-.|.- {1,}.)",replace,""""""
1,02,260,".( {,}\w{,} {1,}).",replace,-
2,05,4,"(\?{1,})",save,NaN
3,09,1,a\w,replace,-a
4,13,2,[()],replace,""""""
5,Not covered by current patterns,6291,NaN,NaN,NaN

In [79]:
for i in range(0,toe_errors_desc.shape[0]):
    tmp_pat_num = toe_errors_desc.iloc[i,0]
    tmp_pattern = toe_errors_desc.iloc[i,2]
    action = toe_errors_desc.iloc[i,3]
    tmp_replacement = toe_errors_desc.iloc[i,4]
    tmp_x = df.loc[df.toe_pattern==tmp_pat_num,:]
    
    if action =='save':
        tmp_filename = 'pattern'+tmp_pat_num+'.csv'
        tmp_x.to_csv(tmp_filename)
        print("Pattern {} successfully saved to {}.".format(tmp_pattern,tmp_filename))
    if action =='replace':
        df.loc[df.toe_pattern==tmp_pat_num,'toes'] = replace_pattern(x=df.loc[df.toe_pattern==tmp_pat_num]
                                                                     ,pattern = tmp_pat_num
                                                                     ,pattern_b = tmp_pattern
                                                                     ,source_col = 'toes'
                                                                    ,replacement = tmp_replacement)
        print("Pattern {} successfully replaced with {}.".format(tmp_pattern,tmp_replacement))
    else:
        print("No direction provided for pattern {}.  No action was taken.".format(tmp_pattern))

Pattern .( {1,}-.|.- {1,}.) successfully replaced with "".
Pattern .( {,}\w{,} {1,}). successfully replaced with -.
Pattern (\?{1,}) successfully saved to pattern05.csv.
No direction provided for pattern (\?{1,}).  No action was taken.
Pattern a\w successfully replaced with -a.
Pattern [()] successfully replaced with "".
No direction provided for pattern nan.  No action was taken.

Now we confirm that the patterns we expect to have eliminated have indeed been eliminated from the data set

In [80]:
for i in range(0,toe_pattern_reference.shape[0]):
    tmp_pattern = str(toe_pattern_reference.iloc[i,1])
    print(report_pattern(df,tmp_pattern,'toes','Post-Correction'))

Post-Correction:
toe pattern .( {1,}-.|.- {1,}.):0
Post-Correction:
toe pattern .( {,}\w{,} {1,}).:0
Post-Correction:
toe pattern .(').:0
Post-Correction:
toe pattern ./.:0
Post-Correction:
toe pattern (\?{1,}):4
Post-Correction:
toe pattern ^\d{3,}$:0
Post-Correction:
toe pattern .(-{2,}).:0
Post-Correction:
toe pattern ^0:0
Post-Correction:
toe pattern a\w:0
Post-Correction:
toe pattern b\w:0
Post-Correction:
toe pattern \wa:0
Post-Correction:
toe pattern \wb:0
Post-Correction:
toe pattern [()]:0

This is as expected since we left toe pattern 4 uncorrected.

<a id='sex'></a>

### sex
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColbyCol)

Next we move on to cleaning the "sex" column.

First we want to get an idea of the types of problems in the sex column.  We start by striping leading and trailing whitespaces.  You can see here that there were none in the data set.

In [81]:
print(df.sex.str.len().unique())# returns unique lengths of sex
df.sex=df.sex.str.strip()
print(df.sex.str.len().unique())

[ 1. nan  2.  3.  5.  4.]
[ 1. nan  2.  3.  0.  5.  4.]

#### Identify non "m" or "f" values and their frequencies

In [82]:
patterns_sex="m|f|NA"
non_matches=df.sex.loc[df.sex.str.match(patterns_sex)!=True]
print("\nThere are {} entries for sex which do not match the patterns {}:"\
      .format(non_matches.shape[0],patterns_sex.split("|")))
non_matches.value_counts()

There are 4027 entries for sex which do not match the patterns ['m', 'f', 'NA']:

juv      128
F        112
M         88
?         17
?f         6
n          2
???        2
unm        1
?m         1
[m]        1
adult      1
           1
Name: sex, dtype: int64

#### Identify values to convert to NA, m, or f

In [83]:
sex2NA = ['adult','juv','nan','\?\?\?','\?']
sex2m = ['unm','M']
sex2f = ['F']
df.loc[df.sex.isin(sex2NA)==True]
print("There are {} entries that should be converted to 'NaN'".format(df.sex.isin(sex2NA).sum()))
print("There are {} entries that should be converted to 'm'".format(df.sex.isin(sex2m).sum()))
print("There are {} entries that should be converted to 'f'".format(df.sex.isin(sex2f).sum()))

There are 129 entries that should be converted to 'NaN'
There are 89 entries that should be converted to 'm'
There are 112 entries that should be converted to 'f'

#### Convert the values to NA, f, or m, respectively.

In [84]:
df.loc[df.sex.isin(sex2NA),'sex']=np.nan
df.loc[df.sex.isin(sex2m),'sex']='m'
df.loc[df.sex.isin(sex2f),'sex']='f'
print("Now there are {} entries that should be converted to 'NaN'".format(df.sex.isin(sex2NA).sum()))
print("Now there are {} entries that should be converted to 'm'".format(df.sex.isin(sex2m).sum()))
print("Now there are {} entries that should be converted to 'f'".format(df.sex.isin(sex2f).sum()))

Now there are 0 entries that should be converted to 'NaN'
Now there are 0 entries that should be converted to 'm'
Now there are 0 entries that should be converted to 'f'

#### Set all remaining sex with "?" to NaN

In [85]:
df.loc[(df.sex.str.contains('\?')) & (df.sex.notnull()),'sex'] = np.nan

<a id = 'species'></a>

### Species
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColbyCol)

In [86]:
print(df.species.str.len().unique())# returns unique lengths of species
df.species=df.species.str.strip()
print(df.species.str.len().unique())

[ 2.  1.  3. nan  4. 30.  5.]
[ 2.  1.  3. nan 30.  5.]

In [87]:
df.species.value_counts(dropna = False)

sj                                3286
sv                                1161
j                                  720
Sj                                 446
NaN                                252
uo                                 226
v                                  180
Sv                                 164
cn                                  59
Uo                                  45
sc                                  22
Ae                                  11
as                                   8
?                                    3
??                                   2
cn ex                                2
ek                                   2
ce                                   1
sj?                                  1
Snake sighted at root crossing       1
c                                    1
up                                   1
sc?                                  1
cn2                                  1
Cn                                   1
Name: species, dtype: int64

In [88]:
patterns_species="j|v|sj|sv|NA"
idx_notsjsv = (df.species.str.match(patterns_species)!=True)&(df.species.str.contains('j|v',case=False)!=True)
non_matches=df.species.loc[idx_notsjsv]
print("\nThere are {} entries for species which do not match the patterns {} and are unlikely to be definitely \
'sv', 'sj':".format(non_matches.shape[0],patterns_species.split("|")))
non_matches.value_counts()

There are 639 entries for species which do not match the patterns ['j', 'v', 'sj', 'sv', 'NA'] and are unlikely to be definitely 'sv', 'sj':

uo                                226
cn                                 59
Uo                                 45
sc                                 22
Ae                                 11
as                                  8
?                                   3
??                                  2
ek                                  2
cn ex                               2
cn2                                 1
ce                                  1
Cn                                  1
up                                  1
c                                   1
sc?                                 1
Snake sighted at root crossing      1
Name: species, dtype: int64

We will set species for these entries to  'other'.

In [89]:
df.loc[df.species.isin(non_matches.unique()),'species'] = 'other'

<a id ='outstanding4'></a>
#### *Sceloporus jarrovii*
[Back to Outstanding Problems](#outstanding)

In [90]:
df.loc[df.species.str.contains('j',case=False),'species'].value_counts(dropna=False)

sj     3286
j       720
Sj      446
sj?       1
Name: species, dtype: int64

The values with '?' should be investigated.

In [91]:
idx_sjrev = df.species.str.contains('j',case=False)&(df.species.str.contains('\?'))
df.loc[idx_sjrev,'species'].value_counts(dropna=False)
df.loc[idx_sjrev,:]

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,new.recap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern
4967,sj?,4-10-19,m,2005-07-11 00:00:00,54,61,23,True,6.8,sb,-45,recap,painted,NaN,w27a,NaN,paint almost gone --> repainted,23,4-10-19,NaN

In [92]:
idx_sj = df.species.str.contains('j',case=False)&(~df.species.str.contains('\?'))
df.loc[idx_sj,'species'].value_counts(dropna=False)

sj    3286
j      720
Sj     446
Name: species, dtype: int64

We will convert the others should be converted to 'j'.

In [93]:
df.loc[idx_sj,'species'] = 'j'

#### *Sceloporus virgatus*

In [94]:
idx_sv = df.species.str.contains('v',case=False)
df.loc[idx_sv,'species'].value_counts(dropna=False)

sv    1161
v      180
Sv     164
Name: species, dtype: int64

We will convert these to 'v'.

In [95]:
df.loc[idx_sv,'species'] = 'v'

<a id = 'resumehere'></a>

<a id='newrecap'></a>

### new.recap
[Back to: Top](#TOC)

[Back to: Cleaning](#CleaningData)

[Back to: Column-by-Column Cleaning](#ColByCol)

In [97]:
newRecapKeep = ['recap', 'new', 'r', 'n']
df.loc[~df['new.recap'].isin(newRecapKeep),'new.recap'].value_counts(dropna=False)

sighting                            2444
NaN                                 1254
NEW                                  587
sighted                              185
new                                  107
N                                     71
missed                                45
recap?                                 9
?                                      4
new?                                   3
???                                    2
recap                                  2
sighing                                1
sighted                                1
New                                    1
collected                              1
visual recapture                       1
reecap                                 1
not caught                             1
?sighting                              1
r?                                     1
didn't catch                           1
heard                                  1
recap/new                              1
recap? - toes suggest a NEW mark       1
Dead                                   1
recap ?                                1
recapq                                 1
Name: new.recap, dtype: int64

In [ ]:
#try using a dict to do thing more efficiently

new = ['new','n']
recap = ['recap','r']
df.loc[~df['new.recap'].isin(newRecapKeep),'new.recap'] = np.nan
df.loc[df['new.recap'].isin(new),'new.recap'] = 'new'
df.loc[df['new.recap'].isin(recap),'new.recap'] = 'recap'

<a id='CorrectingClass'></a>

## Correcting class of columns
[Top](#TOC)

[Top Cleaning](#CleaningData)

In [ ]:
#We need to add real error handling into these conversion chunks

##Convert integer columns to int
intCols = ['meters']
df[intCols]=df[intCols].astype(int,errors='ignore')

##Convert numeric columns to numeric
numCols = ['svl','tl','rtl','mass']
df[numCols]=df[numCols].apply(pd.to_numeric,errors='coerce')

##Convert string columns to str
strCols = ['toes','sex','species','vial']
df[strCols]=df[strCols].astype(str, errors='ignore')

#Convert date to datetime
df.loc[df.date=="NA"]=np.nan
df.date = pd.to_datetime(df.date,errors='coerce')

##Convert bool columns to bool
# boolCols = ['review_sex','review_species','review_painted','review_new.recap',\
#             'review_rtl','forceMale','forceFemale','forceRecap','forceNew',\
#             'forceSighting','drop_species','drop_morphometrics','autotomized']
# df[boolCols]=df[boolCols].astype(bool, errors='ignore')

In [ ]:
print("\nAfter applying the above changes, the data types are as follows:\n{}".format(df.dtypes))

<a id='AddVar1'></a>

## Adding variables [*year*](#year) and [*rtl_orig*](#rtlorig)

<a id='year'></a>

### Year
[Back to: Top](#TOC)

[Back to: Adding variables](#AddVar1)

We will use data contained in the *date* column to create the variable *year*.  TO do this we will define a small function, *myint*, to convert year to an int type.

<a id='myint'></a>

In [ ]:
def myint(x, verbose = False):
    try:
        x = str(x).split('.')[0]
    except:
        x = x
        if verbose == True:
            print('{} is of type {} and cannot be forced to int.'.format(x,type(x)))
    return x

Here is are a few examples of how [*myint*](#myint) works.

In [ ]:
bar = [None, 1.0, "f"]
print([type(x) for x in bar])
[myint(x) for x in bar]

In [ ]:
bar = [None, 2001.0, "2001.0"]
print([type(x) for x in bar])
[myint(x,True) for x in bar]

Now we apply [*myint*](#myint) to the 'date' column to create the variable year and inspect the unique values.

In [ ]:
df['year'] = df.date.dt.year.apply(myint,verbose=False)
df.year.value_counts(dropna=False)

Let's inspect the entries with 'nan' values.  Note these 'nan' values are string values and not NaN.

In [ ]:
df.loc[df.year=='nan',:]

<a id='AddCol'></a>

# Adding New Columns
[Top](#TOC)

We need to add new columns which we will use later in analyses:
- [TL_SVL](#TlSvl)
- [Mass_SVL](#MassSvl)
- [Lizard Number](#LizardNumber)
     - [assign lizard numbers](#Assign) 
     - [QC the lizard numbers](#QcLizNum) 
- [Days Since Capture](#daysSinceCapture)
- [Number of Captures](#capture)

<a id= 'TlSvl'></a>

## TL_SVL 
[Top](#TOC)

[Top Add Columns](#AddCol)

In [ ]:
df['tl_svl']=(df.tl/df.svl)

<a id='MassSvl'></a>

## Mass_SVL
[Top](#TOC)

[Top Add Columns](#AddCol)

In [ ]:
df['mass_svl']=(df.mass/df.svl)

<a id= 'LizardNumber'></a>

## Lizard Number
[Top](#TOC)

[Top Add Columns](#AddCol)

Here we use a set of functions to:
 - [assign lizard numbers](#Assign) to unique individuals (we repeat this step to ensure we have assigned all animals a number) and 
 - [QC the numbers](#QcLizNum) assigned.

<a id='Assign'></a>

### Assign lizard numbers
[Top](#TOC)

[Top Add Columns](#AddCol)

We make a first attempt at assigning lizard numbers.  We use the *lizsort* function to identify the subset of rows from the original dataset which have sufficient information to allow us to make an automated decision about the uniqueness of the individuals identified in those rows.  We name that df *sortable*.  The unsortable data are saved to a path as a file, *unsortable.csv*.

In [ ]:
sortable = lizsort(df, path = sourceDataBig)

Next we call the *mindate* function on *sortable*.  This identifies the earliest date at which each unique combination of *sortCriteria* are recorded in a new column, *initialCaptureDate*.  The default sortCriteria are of the variables *species*, *toes*, and *sex*.  This also calculates and adds a column for *year_diff*, the difference in years between the initial capture date and the date value in a given row.

In [ ]:
sortable = mindate(sortable)

Next we call a the function *smallest*, which is analogous to *mindate*, but groups data in *sortable* into unique combinations of *species*, *toes*, *sex*, and *initialCaptureDate* before assigning the smallest SVL value recorded for each group to a new column for that group, *smallest_svl*.  *smallest* then calculates a new column *svl_diff* which is analogous to *year_diff*.

In [ ]:
sortable = smallest(sortable)

Next we call the *validate* function on *sortable*, which applies a series of validation tests to the data, sequentially numbers unique combinations of *sortCriteria* and returns a dict containing uniquely numbered individuals and summary data.

In [ ]:
tmp_sort = validate(sortable)
df_numbered1 = tmp_sort['val_data']

### Second attempt to assign lizard numbers

[Top](#TOC)

[Top Add Columns](#AddCol)

Here we make a second attempt at assigning lizard numbers to ensure that all lizards have been assigned.  This second attempt is focused on those rows which were unvalidated during the first attempt *n_val_data*.  Since these are already a subset fo those data which were sortabel, we need only call the *mindate*, *smallest*, and *validate* functions.

In [ ]:
n_val = mindate(tmp_sort['n_val_data'])
n_val = smallest(n_val)
df_numbered2 = validate(n_val)['val_data']

Since no rows remain unvalidated, we will not attempt a third validation.  We will simply append *df_numbered1* and *df_numbered2* to create *df_numbered* to create our full numbered dataset.

In [ ]:
df_numbered = df_numbered1.append(df_numbered2,ignore_index=True,sort=False)
print("df:{}\ndf_numbered1:{}\ndf_numbered2:{}\ndf_numbered:{}".format(df.shape,df_numbered1.shape,df_numbered2.shape,
                                                               df_numbered.shape))
df_numbered.head()

<a id='QcLizNum'></a>

### QC of lizard numbers
[Top](#TOC)

[Top Add Columns](#AddCol)

First we display the output data frame.

In [ ]:
df_numbered

Identify individuals that have same species and toes, but different sex for review

In [ ]:
df_numbered = df_numbered.merge(df_numbered.groupby(['species','toes']).sex.nunique().reset_index()\
                       .rename(columns = {'sex':'sex_count'}),how = 'inner', on = ['species','toes'])
df_numbered.loc[df_numbered.sex_count>1,:].to_csv('entries flagged with same species and toes diff sex.csv')
print("{} rows have the same species and toes but different values for sex"\
      .format(df_numbered.loc[df_numbered.sex_count>1,:].shape[0]))
df_numbered.head()

In [ ]:
print("Lizard Numbers in the sample range from {} to {}."\
      .format(df_numbered.liznumber.min(),df_numbered.liznumber.max()))

In [ ]:
possibleLizNum = set(range(int(df_numbered.liznumber.min()),int(df_numbered.liznumber.max())))
actualLizNum = set(pd.Series(df_numbered.liznumber.unique()).dropna().apply(int))
print("\nThere are {} entries.  There are {} unique lizard numbers.\
\n\nThe liznumber ranges from {} to {}."\
  .format(df_numbered.shape[0],len(df_numbered.liznumber.unique())\
          ,df_numbered.liznumber.min(),df_numbered.liznumber.max()))

missingLizNum = possibleLizNum - actualLizNum
if len(missingLizNum)>0:
    print("\n\nThe following numbers are not assigned to a lizard:\n{}"\
      .format(missingLizNum))
else:
    print("\n\nThere are no numbers which were not assigned.")

<a id='daysSinceCapture'></a>

### Days Since Capture
[Top](#TOC)

[Top Add Columns](#AddCol)

*daysSinceCapture* identifies the number of days since the animal was captured

<a id='capture'></a>

In [ ]:
df_numbered.loc[:,'daysSinceCapture'] = (df_numbered.date - df_numbered.initialCaptureDate).dt.days

### Capture Number
[Top](#TOC)

[Top Add Columns](#AddCol)

*capture* identifies the number of times an animal has been captured prior to an entry.
We will need to [QC capture](#QcCapture) as well.

In [ ]:
# need to QC this this seems to be leading to several cases in which recap individuals that 
# only have one capture
df_numbered['capture'] = df_numbered.sort_values(['liznumber','date'])\
.groupby(['liznumber']).daysSinceCapture.cumcount()+1

In [ ]:
print(df_numbered.loc[df_numbered.species.isin(['j','v'])].groupby('capture').capture.count())

<a id='yearstoolarge'></a>

### years too large
[Top](#TOC)

In [ ]:
yeartoomuch = df_numbered.loc[df_numbered.year_diff>=5,'liznumber']
checkyears = df_numbered.loc[df_numbered.liznumber.isin(yeartoomuch)].sort_values(['liznumber'])
checkyears.to_csv('check years.csv')
checkyears

In [ ]:
jarrovii = go.Histogram(x = df_numbered.loc[df_numbered.species.isin(['j'])].groupby('liznumber')\
                     .year_diff.max(),name = 'S. jarrovii')
virgatus = go.Histogram(x = df_numbered.loc[df_numbered.species.isin(['v'])].groupby('liznumber')\
                     .year_diff.max(), name = 'S. virgatus')
data = [jarrovii, virgatus]
layout = go.Layout(
    title = 'Number of Individuals by Years Between First and Last Capture 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Years Since Initial Capture',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Frequency of Captures in Crystal Creek 2000 - 2017 (by species)')

In [ ]:
# Freeze work on this figure until we've resolved issues with calculation based on year
# ADD HORIZONTAL LINES FOR EACH YEAR
j_lizards = go.Scatter(x = df_numbered.loc[df_numbered.species.isin(['j'])].liznumber,
                   y = df_numbered.loc[df_numbered.species.isin(['j'])]\
                      .groupby('liznumber').daysSinceCapture.max(), 
                     mode = 'markers', name='S. jarrovii')
v_lizards = go.Scatter(x = df_numbered.loc[df_numbered.species.isin(['v'])].liznumber,
                   y = df_numbered.loc[df_numbered.species.isin(['v'])]\
                      .groupby('liznumber').daysSinceCapture.max(), 
                     mode = 'markers', name='S. virgatus')
# year1 = go.Scatter(x=[df_numbered.liznumber.min(),df_numbered.liznumber.max()],y = (365))
# year2 = go.Scatter(y = 365*2)
# year3 = go.Scatter(y = 365*3)
# year4 = go.Scatter(y = 365*4)
# year5 = go.Scatter(y = 365*5)
# year6 = go.Scatter(y = 365*6)
# year7 = go.Scatter(y = 365*7)
# year8 = go.Scatter(y = 365*8)

# data = [j_lizards, v_lizards, year1, year2, year3, year4, year5, year6, year7, year8]
data = [j_lizards, v_lizards]
layout = go.Layout(
    title = 'Days Since Initial Capture in Crystal Creek 2000 - 2017',
        titlefont = dict(
            size = 20),
    xaxis = dict(
            title='Lizard Number',
            titlefont=dict(
                size=18)),
    yaxis = dict(
            title='Greatest Number of Days Since<br> Initial Capture',
            titlefont=dict(
                size=18)))

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename = 'Days Since Initial Capture in Crystal Creek 2000 - 2017')

In [ ]:
dfF = df_numbered.loc[(df_numbered.sex =='f' )& (df_numbered.species.isin(['j','v']))]
dfM = df_numbered.loc[(df_numbered.sex =='m') & (df_numbered.species.isin(['j','v']))]

In [ ]:
# Freeze work on this figure until we've resolved issues with calculation based on year
females = go.Scatter(
    x = dfF.liznumber,
    y = dfF.groupby('liznumber').daysSinceCapture.max(),
    name = 'females',
    mode = 'markers',
    marker = dict(
        color = 'rgba(152, 0, 0, .8)',
        opacity = 0.75,
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)'
        )
    )
)

males = go.Scatter(
    x = dfM.liznumber,
    y = dfM.groupby('liznumber').daysSinceCapture.max(),
    name = 'males',
    mode = 'markers',
    marker = dict(
        color = 'rgba(255, 182, 193, .9)',
        opacity = 0.75,
        line = dict(
            width = 2,
        )
    )
)

data = [females, males]

layout = dict(title = 'Days Since Initial Capture in Crystal Creek 2000 - 2017 By Sex',
              yaxis = dict(
                  title='Greatest Number of Days Since<br> Initial Capture',
                  titlefont=dict(
                      size=18)
              ),
              xaxis = dict(zeroline = False)
             )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Days Since Initial Capture in Crystal Creek 2000 - 2017 By Sex')

In [ ]:
# Something is wrong with 2006 and 2011 data.  Try grouping data by lizard numbers to address high numbers.
# Freeze work on this figure until we've resolved issues with calculation based on year
# Capture rate between Males and Females does not appear to be significantly different even before
# statistical analysis
males = go.Histogram(x = df_numbered.loc[(df_numbered.sex == 'm')& (df_numbered.species.isin(['j','v']))
                                                                    ,'year']
                     ,opacity= 0.75,name='males')
females = go.Histogram(x = df_numbered.loc[(df_numbered.sex == 'f')& (df_numbered.species.isin(['j','v']))
                                                                      ,'year']
                       , opacity= 0.75, name = 'females')
data = [males,females]
py.iplot(data, filename = 'Distribution of Sex by Year in Crystal Creek 2000 - 2017')

In [ ]:
df_numbered.head()

In [ ]:
column_order = ['liznumber','date','initialCaptureDate',]

In [ ]:
df.year.value_counts(dropna=False).reset_index()

<a id='QcCapture'></a>

### QC of Capture number and Recap status
[Top](#TOC)

[Top Add Columns](#AddCol)

[Top Capture Number](#capture)

In [ ]:
recapQuestion=df_numbered\
.loc[(df_numbered.capture==1 )&(df_numbered['new.recap']=='recap')&(df_numbered.species.isin(['j','v'])),:]
print("There are {} instances in rows for which a lizard appears to have only one capture, \
but is listed as a recap.\
The distribution of these across years in the sample is as follows:\n{}."\
      .format(recapQuestion.shape[0],recapQuestion.year.value_counts()))
recapQuestion.to_csv("Questionable recaptures.csv")#These individuals need to be rechecked in the raw notes
recapQuestion.head()

In [ ]:
recapQuestion.loc[recapQuestion.svl<54,:]

<a id='exportFinal'></a>

# Export Cleaned data
[Top](#TOC)

Now we export the cleaned data to a csv.

In [ ]:
df_numbered = df_numbered.rename(index = str, columns = {'new.recap':'newRecap'})
qc_drop_cols = df_numbered.columns[df_numbered.columns.str.contains('force|drop')]
df_full = df_numbered.drop(qc_drop_cols,1)

In [ ]:
timestamp = (pd.to_datetime('now')-pd.Timedelta(hours=4))
timestamp = str(timestamp)[:-10].replace(':','hrs')+'min'
#path=''C:\\Users\\Christopher\\Google Drive\\TailDemography\\outputFiles\\''
# path=outputBig
filename = 'cleaned CC data 2000-2017_' + timestamp+ '.csv'
# filename = path + '/cleaned CC data 2000-2017' + '.csv'
df_full.to_csv(filename,index = False)
filename