This notebook contains code and output of descriptive analyses for the 2000-2017 CC dataset after cleaning

<a id='TOC'></a>

# Table of Contents
1. [Getting Data](#GetData)
2. [Analyzing Data](#Analyze)

In [1]:
import pandas as pd
import numpy as np
import os,glob

import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go

plotly.tools.set_config_file(world_readable=True)

# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

Run the following chunk if running from local folder

In [4]:
# Source Data
sourceDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
sourceDataBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'

#Output Data paths
outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
outputBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'

In [5]:
os.chdir(sourceDataBig)
mysourcefile = glob.glob('cleaned CC data 2000-2017*')
mysourcefile

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv']

<a id='GetData'></a>

# Get Data
[Top](#TOC)

In [6]:
df=pd.read_csv(mysourcefile[-1])
df.head()

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,newRecap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern,year,tl_svl,mass_svl,initialCaptureDate,year_diff,svl_diff,liznumber,sex_count,daysSinceCapture,capture
0,j,2-6-12-15,m,2010-06-19,80.0,110.0,29.0,True,20.0,10m v bottom bowl,-15,?,yes,NaN,y2c,03-10-cc,toe 15 missing at capture; possible recap,29.0,2-6-12-15,NaN,2010,1.375000,0.250000,2010-06-19,0,0.0,893,1,0,1
1,j,2-6-12-15,m,2010-10-07,86.0,102.0,28.0,True,17.0,6m v bottoom bowl right side 4 m up,NaN,R,yes,NaN,y22c,NaN,loose scale on ventrum and head,28.0,2-6-12-15,NaN,2010,1.186047,0.197674,2010-06-19,0,6.0,893,1,110,2
2,j,2-9-15-17,f,2010-08-13,56.0,77.0,0.0,False,5.5,20m up CCC,240,N,yes,NaN,y62c,61-10-cc,Tss,0.0,2-9-15-17,NaN,2010,1.375000,0.098214,2010-08-13,0,0.0,929,1,0,1
3,j,3-6-11-17,m,2010-08-18,50.0,68.0,0.0,False,4.0,1m vT at top R island,157,N,yes,NaN,y<c.t,NaN,Bss; lost toes,0.0,3-6-11-17,NaN,2010,1.360000,0.080000,2010-08-18,0,0.0,936,1,0,1
4,j,3-6-15-16,f,2010-08-18,72.0,62.0,46.0,True,11.0,halfway between pool and 2 falls 2m up rt side,385,N,yes,NaN,y65c,65-10-cc,NaN,46.0,3-6-15-16,NaN,2010,0.861111,0.152778,2010-08-18,0,0.0,947,1,0,1

Let's take a look at the number of times that lizards have been captured.  To do this, we'll look at the maximum number of captures for each lizard and then count the number of lizards with each number of captures.

In [7]:
df.groupby('liznumber').capture.max().value_counts().reset_index()\
.rename(columns={'index':'number of captures','capture':'number of lizards'})

    number of captures  number of lizards
0                    1               1135
1                    2                281
2                    3                123
3                    4                 42
4                    5                 21
5                    6                  7
6                    7                  3
7                    8                  2
8                    9                  1
9                   88                  1
10                  82                  1
11                  18                  1
12                  20                  1
13                  22                  1
14                  26                  1
15                  31                  1
16                  57                  1
17                  69                  1
18                  17                  1

<a id='Analyze'></a>

## Analyze the data
[Top](#TOC)

## Reducing the analyses sample by date range and capture

In [8]:
# convert date to pandas datetime
#df.date=pd.to_datetime(df.date)
# limiting months to between May and August
# df = df.loc[(df.date.dt.month>=5) & (df.date.dt.month<=8)]
# limit to first captures
df_first = df.sort_values(by=['liznumber','date'])
df_first = df_first.loc[~df_first.duplicated(subset='liznumber')]

### Reducing data to species and sex of interest

In [9]:
species2keep=['j']
df_first = df_first.loc[df_first.species.isin(species2keep)]
print ("\n{} of the original data set are entries belonging to a species of interest {}"\
       .format(df_first.shape[0],species2keep))
sex2keep=['m','f']
df = df_first.loc[df_first.sex.isin(sex2keep)]
print ("\n{} of the original data set are entries belonging to a sex categories of interest {}"\
       .format(df_first.shape[0],sex2keep))

1058 of the original data set are entries belonging to a species of interest ['j']

1058 of the original data set are entries belonging to a sex categories of interest ['m', 'f']

## Number of lizards (*Sj*) by year and sex

In [10]:
df.groupby('year').sex.value_counts()

year  sex
2000  f      84
      m      69
2001  f      51
      m      48
2002  f      33
      m      30
2003  f      39
      m      26
2004  f      36
      m      25
2005  m      35
      f      30
2007  f      47
      m      31
2008  m      32
      f      27
2009  f      53
      m      50
2010  f      19
      m      17
2011  f       1
2012  f      25
      m      18
2013  m      19
      f      14
2014  f      10
      m       6
2015  m      28
      f      26
2016  m      22
      f      14
2017  f      39
      m      32
Name: sex, dtype: int64

Pull out all individuals that we've recaught for Sj and writes to csv

In [11]:
multicapToes=df.loc[(df.species=='j')& (df.toes!="")& (df.toes!='NA')]\
.toes.value_counts()[df.loc[df.species=='j']\
                     .toes.value_counts()>1].index.tolist()
# df.loc[df.toes.isin(multicapToes)].sort_values(by=['toes','date']).to_csv('multicaps.csv')

## Maximum Number of Captures

In [12]:
dfF = df.loc[df.sex =='f']
dfM = df.loc[df.sex =='m']

In [13]:
females = go.Histogram(x = dfF.groupby('liznumber').capture.max(),name='females')
males = go.Histogram(x = dfM.groupby('liznumber').capture.max(),name='males')

data = [males,females]
layout = go.Layout(
    title = 'Maximum Number of Captures per Individual 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures per Individual in Crystal Creek 2000 - 2017')

In [14]:
df.capture.value_counts()

1    1036
Name: capture, dtype: int64