This notebook contains code and output of descriptive analyses for the 2000-2017 CC dataset after cleaning

# Setting up the Python environment
Ensure that the following packages have been installed using "pip install <packagename>" from the python command line before running the next chunk:
- pandas
- gsspread
- oauth2client.service_account

**Note: This chunk takes a while to execute.**

In [1]:
import pandas as pd
import numpy as np
import os,glob

import plotly
import plotly.plotly as py
import plotly.graph_objs as go

plotly.tools.set_config_file(world_readable=True)

# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

Now we read the data

In [2]:
# Source Data
sourceDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
sourceDataBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'

#Output Data paths
outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
outputBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'

In [3]:
os.chdir(sourceDataBig)
mysourcefile = glob.glob('cleaned CC data 2000-2017*')
mysourcefile

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv']

In [4]:
df=pd.read_csv(mysourcefile[0])
df.head()

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,newRecap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern,year,tl_svl,mass_svl,initialCaptureDate,year_diff,svl_diff,liznumber,sex_count,daysSinceCapture,capture
0,j,2-6-12-15,m,2010-06-19,80.0,110.0,29.0,True,20.0,10m v bottom bowl,-15,?,yes,NaN,y2c,03-10-cc,toe 15 missing at capture; possible recap,29.0,2-6-12-15,NaN,2010,1.375000,0.250000,2010-06-19,0,0.0,893,1,0,1
1,j,2-6-12-15,m,2010-10-07,86.0,102.0,28.0,True,17.0,6m v bottoom bowl right side 4 m up,NaN,R,yes,NaN,y22c,NaN,loose scale on ventrum and head,28.0,2-6-12-15,NaN,2010,1.186047,0.197674,2010-06-19,0,6.0,893,1,110,2
2,j,2-9-15-17,f,2010-08-13,56.0,77.0,0.0,False,5.5,20m up CCC,240,N,yes,NaN,y62c,61-10-cc,Tss,0.0,2-9-15-17,NaN,2010,1.375000,0.098214,2010-08-13,0,0.0,929,1,0,1
3,j,3-6-11-17,m,2010-08-18,50.0,68.0,0.0,False,4.0,1m vT at top R island,157,N,yes,NaN,y<c.t,NaN,Bss; lost toes,0.0,3-6-11-17,NaN,2010,1.360000,0.080000,2010-08-18,0,0.0,936,1,0,1
4,j,3-6-15-16,f,2010-08-18,72.0,62.0,46.0,True,11.0,halfway between pool and 2 falls 2m up rt side,385,N,yes,NaN,y65c,65-10-cc,NaN,46.0,3-6-15-16,NaN,2010,0.861111,0.152778,2010-08-18,0,0.0,947,1,0,1

The following tables exclude non-ideal values for the variables in question, but once the columns are cleaned in the source file, this won't be an issue.

Create boolean flag to drop data from analyses

In [5]:
df['myDrop']= pd.np.nan
df['dropReason']= pd.np.nan

Populate 'myDrop' column bsed on outliers in data

df.loc[((df.svl>75)& (df.species=='v')),'myDrop']=True
df.loc[((df.svl>75)& (df.species=='v')),'dropReason']='svl;species'
df.loc[((df.species=='j')&(df.mass>40)),'myDrop']=True
df.loc[((df.species=='j')&(df.mass>40)),'dropReason']='svl;mass'
df.loc[((df.species=='v')&(df.mass>25)),'myDrop']=True
df.loc[((df.species=='v')&(df.mass>25)),'dropReason']='svl;mass'
df.loc[df.meters.dropna().astype(int)< -50,'myDrop']=True
df.loc[df.meters.dropna().astype(int)< -50,'dropReason']='meters'
df.myDrop.value_counts()

Create a dataframe of values based on myDrop==True and export to csv.

df2run=df.loc[df.myDrop!=True]
df2Check=df.loc[df.myDrop==True,]
df2Check

In [12]:
# df2Check.to_csv("Outliers to check(2000-2017).csv")

In [13]:
# df.to_csv("Descriptive Analyses of CC Data (2000-2017).csv")

## Summary Analyses

### Tables

**NOTE:**  We need to format these into laTex tables or something else that has borders.

In [14]:
df=df.loc[(df.sex.isin(['m','f']))& df.species.isin(['j','v'])]

In [15]:
df.groupby(['species','sex'])['autotomized'].count()

species  sex
j        f      971
         m      797
v        f      374
         m      452
Name: autotomized, dtype: int64

df.loc[df.myDrop!=True].groupby(['species','sex','autotomized'])['new.recap'].count()

**NOTE:  The plots below need to be edited to better label the axes.**

**NOTE** exclude outliers and rerun (include if mass_svl<0.6)

## Adult lizards

### S. jarrovii
#### SVL

In [16]:
species=['S. jarrovii', 'S. virgatus']
print(species)
sex=['female','male']
print(sex)

['S. jarrovii', 'S. virgatus']
['female', 'male']

In [27]:
jSvl=df2run.loc[df2run.species=='j'].boxplot(column='svl',by=['sex','age_class'])
jSvl.set_title(species[0])
jSvl.set_ylabel('SVL (mm)')
jSvl.set_ylim(0,110)
plt.suptitle("")

In [18]:
vSvl=df2run.loc[df2run.species=='v'].boxplot(column='svl',by=['sex','age_class'])                                
vSvl.set_title(species[1])
vSvl.set_ylabel('SVL (mm)')
vSvl.set_ylim(0,110)
plt.suptitle("")

#### TL

There are some hi juveniles values here

In [19]:
jTL=df2run.loc[df2run.species=='j'].boxplot(column=['tl'],by=['sex', 'age_class'])
jTL.set_title(species[0])
jTL.set_ylabel('TL (mm)')
jTL.set_ylim(0,140)
plt.suptitle("")

In [20]:
vTL=df2run.loc[df2run.species=='v'].boxplot(column=['tl'],by=['sex', 'age_class'])
vTL.set_title(species[1])
vTL.set_ylabel('TL (mm)')
vTL.set_ylim(0,140)
plt.suptitle("")

#### mass

**NOTE:** There are still some low mass Sj adults that we need to investigate

In [21]:
jMass=df2run.loc[df2run.species=='j'].boxplot(column=['mass'],by=['sex', 'age_class'])
jMass.set_title(species[0])
jMass.set_ylabel('Mass (g)')
jMass.set_ylim(0,35)
plt.suptitle("")

In [22]:
vMass=df2run.loc[df2run.species=='v'].boxplot(column=['mass'],by=['sex', 'age_class'])
vMass.set_title(species[1])
vMass.set_ylabel('Mass (g)')
vMass.set_ylim(0,35)
plt.suptitle("")

#### TL/SVL Ratio
**NOTE:** There are still some low SVL/TL ratios here for adults that we need to look into

In [23]:
jTlSvl=df2run.loc[df2run.species=='j'].boxplot(column=['tl_svl'],by=['sex', 'age_class'])
jTlSvl.set_title(species[0])
jTlSvl.set_ylabel('TL/SVL')
jTlSvl.set_ylim(0,2.25)
plt.suptitle("")

In [24]:
vTlSvl=df2run.loc[df2run.species=='v'].boxplot(column=['tl_svl'],by=['sex', 'age_class'])
vTlSvl.set_title(species[1])
vTlSvl.set_ylabel('TL/SVL')
vTlSvl.set_ylim(0,2.25)
plt.suptitle("")

In [25]:
jMassSvl=df2run.loc[df2run.species=='j'].boxplot(column=['mass_svl'],by=['sex', 'age_class'])
jMassSvl.set_title(species[0])
jMassSvl.set_ylabel('Mass/SVL (g/mm)')
jMassSvl.set_ylim(0,.8)
plt.suptitle("")

In [26]:
vMassSvl=df2run.loc[df2run.species=='v'].boxplot(column=['mass_svl'],by=['sex', 'age_class'])
vMassSvl.set_title(species[1])
vMassSvl.set_ylabel('Mass/SVL (g/mm)')
vMassSvl.set_ylim(0,.)
plt.suptitle("")

SyntaxError: invalid syntax (<ipython-input-26-e59d522a0a84>, line 4)

In [ ]:
df.loc[(df.age_class=='adult')&(df.myDrop!=True),].groupby('species').boxplot(column=['mass_svl'],by=['sex'])
df.loc[(df.age_class=='juvenile')&(df.myDrop!=True),].groupby('species').boxplot(column=['mass_svl'],by=['sex'])

Add groupby arguments that include species ageclass and sex for all summaries
    - consider adding year
Types of visualizations:
- tables (autotomy, new/recap (1st sightings only)
- boxplots (svl, tl, rtl, mass)
- histograms (age class (svl), meters (location))

For inferential stats
- differences:
    - between seasons within years 
    - between years (weather and fire)
    - population density (revist how to calculate this)
        - ran study until flatline
        - do we need to account for person-hours still?

The following histograms show the distribution of animals linearly along the site.  The x-axis is location in meters and the y axis in the number of animals.  The graphs are separated by sex and species.

The differences between the adults and juvenile are interesting, no?

Adults

In [ ]:
#Scale the figures so that the y axes are the same
df.loc[(df.myDrop!=True)&(df.age_class=='adult')].groupby('species').hist(column='svl',by=['sex'])

Juveniles

In [ ]:
df.loc[(df.myDrop!=True)&(df.age_class=='juvenile')].groupby('species').hist(column='svl',by=['sex'])

TL - Adults

In [ ]:
#Standardize x and y axes
df.loc[(df.myDrop!=True)&(df.age_class=='adult')].groupby('species').hist(column='tl',by=['sex'])

Juveniles

In [ ]:
df.loc[(df.myDrop!=True)&(df.age_class=='juvenile')].groupby('species').hist(column='tl',by=['sex'])

Overall view of tail loss
**NOTE:** The autotomized==True argumetn is throwing an error here for some reason and rtl!=0 may exclude autotomized individuals which haven't regrown tail. Have to chase this down later

In [ ]:
#df.loc[(df.myDrop!=True)&(df.age_class=='adult')&(df.autotomized==True)].hist(column='rtl',by=['species','sex'])
#df.loc[(df.myDrop!=True)&(df.age_class=='juvenile')&(df.autotomized==True)].hist(column='rtl',by=['species','sex'])
#df.loc[df.rtl!=0].hist(column='rtl',by=['species','sex'])

Adults

In [ ]:
df.loc[((df.age_class=='adult')&(df.myDrop!=True)),].groupby('species').hist(column='tl',by=['sex'])

Juveniles

In [ ]:
df.loc[(df.myDrop!=True)&(df.age_class=='juvenile')].groupby('species').hist(column='svl',by=['sex'])

In [ ]:
df.loc[((df.myDrop!=True)&(df.age_class=='adult')),].groupby('species').hist(column='mass',by=['sex'])