# Introduction
This notebook contains code and output of descriptive analyses for the 2000-2017 CC dataset after cleaning.

<a id='TOC'></a>

# Table of Contents
1. [Set up Python](#Setup)
2. [Functions](#Functions)
3. [Getting Data](#GetData)
4. [Analyzing Data](#Analyze)
5. [Export files](#ExportFiles)

<a id='Setup'></a>
# Set up Python

[Top](#TOC)

In [1]:
import pandas as pd
import numpy as np
import os,glob
# import statistics
from scipy import stats

import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go

plotly.tools.set_config_file(world_readable=True)

# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

<a id = 'Functions'></a>

# Functions

This section contains functions that were created for this notebook.

- [distribution](#distribution)

<a id = 'distribution'></a>

## distribution
[Back to Top](#TOC)

[Back to Functions](#Functions)

In [21]:
def distribution(x):
    """*distribution* takes a series or list of numeric objects, *x*, and returns descriptive stats of x"""
    if isinstance(x,list):
        x = pd.Series(x)
    try:
        n = x.count()
        minimum = x.min()
        maximum = x.max()
        median = x.median()
        iqr = stats.iqr(x)
        mean = x.mean()
        stdev = x.std()
        tmp_dict = {'n':[n],'minimum':[minimum], 'maximum':[maximum],
                                    'median':[median],'iqr':[iqr],'mean':[mean],
                                    'stdev':[stdev]}
        res = pd.DataFrame().from_dict(tmp_dict)
    except:
        nonnumericvalues = []
        for v in x:
            if not (isinstance(v,int)|(isinstance(v,float))):
                nonnumericvalues = nonnumericvalues + [v]
        nonnumericvalues
        if len(nonnumericvalues)>1:
            grammar = 'values in x are'
        else:
            grammar = 'value in x is'
        print("x must contain only numeric, or NoneType variables:\n x:\n{}\n the following {} non-numeric:\n{}"\
              .format(x,grammar,nonnumericvalues))
        res = None
    return res

In [22]:
foo = [0,1,2,'r']
distribution(foo)

x must contain only numeric, or NoneType variables:
 x:
0    0
1    1
2    2
3    r
dtype: object
 the following value in x is non-numeric:
['r']

In [23]:
bar = [0,1,2]
distribution(bar)

   n  minimum  maximum  median  iqr  mean  stdev
0  3        0        2     1.0  1.0   1.0    1.0

[Back to Functions](#Functions)

<a id='GetData'></a>

# Get Data
[Top](#TOC)

Here we can set the locations from which we get data and to which we export it.

In [5]:
# Source Data
sourceDataPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
sourceDataBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'

#Output Data paths
outputPers = 'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
outputBig = 'S:/Chris/TailDemography/TailDemography/outputFiles'

We'll display all files in the source folder with the prefix _'cleaned CC data 2000-2017'_. The file names will be saved in a variable, _mysourcefiles_.

In [6]:
os.chdir(sourceDataBig)
mysourcefiles = glob.glob('cleaned CC data 2000-2017*')
mysourcefiles

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv']

The most recent file is the one we will use as _df_ in our descriptive analysis.

In [7]:
df=pd.read_csv(mysourcefiles[-1])
df.head()

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,newRecap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern,year,tl_svl,mass_svl,initialCaptureDate,year_diff,svl_diff,liznumber,sex_count,daysSinceCapture,capture
0,j,2-6-12-15,m,2010-06-19,80.0,110.0,29.0,True,20.0,10m v bottom bowl,-15,?,yes,NaN,y2c,03-10-cc,toe 15 missing at capture; possible recap,29.0,2-6-12-15,NaN,2010,1.375000,0.250000,2010-06-19,0,0.0,893,1,0,1
1,j,2-6-12-15,m,2010-10-07,86.0,102.0,28.0,True,17.0,6m v bottoom bowl right side 4 m up,NaN,R,yes,NaN,y22c,NaN,loose scale on ventrum and head,28.0,2-6-12-15,NaN,2010,1.186047,0.197674,2010-06-19,0,6.0,893,1,110,2
2,j,2-9-15-17,f,2010-08-13,56.0,77.0,0.0,False,5.5,20m up CCC,240,N,yes,NaN,y62c,61-10-cc,Tss,0.0,2-9-15-17,NaN,2010,1.375000,0.098214,2010-08-13,0,0.0,929,1,0,1
3,j,3-6-11-17,m,2010-08-18,50.0,68.0,0.0,False,4.0,1m vT at top R island,157,N,yes,NaN,y<c.t,NaN,Bss; lost toes,0.0,3-6-11-17,NaN,2010,1.360000,0.080000,2010-08-18,0,0.0,936,1,0,1
4,j,3-6-15-16,f,2010-08-18,72.0,62.0,46.0,True,11.0,halfway between pool and 2 falls 2m up rt side,385,N,yes,NaN,y65c,65-10-cc,NaN,46.0,3-6-15-16,NaN,2010,0.861111,0.152778,2010-08-18,0,0.0,947,1,0,1

<a id ='Analyze'></a>
# Analyze Data
[Top](#TOC)

We will first examine the range and distribution of number of variables in our data set:

- [Species](#Species)
- [Sex](#Sex)
- [SVL](#SVL)
- [Date](#Date)
- [Captures](#Captures)

<a id = 'Species'></a>

# Species

We will begin by examining the range and distribution of _species_ values.

[Back to Top](#TOC)

[Back to Analyze Data](#Analyze)

In [8]:
df.species.value_counts(dropna=False)

j        1790
v         833
other     233
sj?         1
Name: species, dtype: int64

These values should only be _'j', 'v', and 'other'_ any other values will be removed in the cleaning notebook and excluded from further analyses here.

In [35]:
df = df.loc[df.species.isin(['j','v'])]
df.species.value_counts(dropna=False)

j    1768
v     826
Name: species, dtype: int64

<a id = 'Sex'></a>

# Sex

We will begin by examining the range and distribution of _sex_ values.

[Back to Top](#TOC)

[Back to Analyze Data](#Analyze)

In [10]:
df.sex.value_counts(dropna=False)

f       1345
m       1250
NaN       23
n          2
male       1
f`         1
[m]        1
Name: sex, dtype: int64

These values should only be _'m' and 'f'_.  Any other values will be removed in the cleaning notebook and excluded from further analyses here.

In [36]:
df = df.loc[df.sex.isin(['m','f'])]
df.sex.value_counts(dropna=False)

f    1345
m    1249
Name: sex, dtype: int64

<a id = 'SVL'></a>

# SVL

Now we examine the range and distribution of svl values by species.

[Back to Top](#TOC)

[Back to Analyze Data](#Analyze)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of SVL](#SVLhist)

In [13]:
print("svl values in the data set range from {} to {} for and are distributed across species and sex \
as displayed here:"\
      .format(df.svl.min(), df.svl.max()))
df.groupby(['species','sex']).svl.apply(distribution)

svl values in the data set range from 13.0 to 98.0 for and are distributed across species and sex as displayed here:

                 n  minimum  maximum  median   iqr       mean      stdev
species sex
j       f   0  971     13.0     87.0    65.0  18.0  61.993821  13.828328
        m   0  797     24.0     98.0    73.0  25.0  68.618570  17.687760
v       f   0  374     31.0     66.0    56.0   7.0  55.002674   5.916985
        m   0  453     28.0     79.0    51.0   6.0  50.441501   4.965745

Let's plot these values.

<a id = 'SVLhist'></a>

## Histogram of svl values

[back to Top](#TOC)

[back to Analyze](#Analyze)

In [26]:
femaleSj = go.Histogram(x = df.loc[(df.species=='j')&(df.sex=='f')].svl,name='Sj females')
maleSj = go.Histogram(x = df.loc[(df.species=='j')&(df.sex=='m')].svl,name='Sj males')
femaleSv = go.Histogram(x = df.loc[(df.species=='v')&(df.sex=='f')].svl,name='Sv females')
maleSv = go.Histogram(x = df.loc[(df.species=='v')&(df.sex=='m')].svl,name='Sv males')

data = [maleSj,maleSv,femaleSj,femaleSv]
layout = go.Layout(
    title = 'Histogram of SVL at Capture for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'SVL at time of capture',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of SVL at Capture for CC 2000-2017')

 Outliers will be addressed in the Cleaning notebook, but will be removed for the remained of the analyses here.

In [37]:
df.loc[(df.species=='v')&(df.svl==79)] = None
print("svl values in the data set range from {} to {} for and are distributed across species and sex \
as displayed here:"\
      .format(df.svl.min(), df.svl.max()))
df.groupby(['species','sex']).svl.apply(distribution)

svl values in the data set range from 13.0 to 98.0 for and are distributed across species and sex as displayed here:

                 n  minimum  maximum  median   iqr       mean      stdev
species sex
j       f   0  971     13.0     87.0    65.0  18.0  61.993821  13.828328
        m   0  797     24.0     98.0    73.0  25.0  68.618570  17.687760
v       f   0  374     31.0     66.0    56.0   7.0  55.002674   5.916985
        m   0  452     28.0     60.0    51.0   6.0  50.378319   4.785489

<a id = 'Date'></a>

# Date

Next we will look at the distribution of the data points over by month in which they occur.

[Back to Top](#TOC)

[Back to Analyze Data](#Analyze)

<a id = 'Captures'></a>

# Captures

[Back to Top](#TOC)

[Back to Analyze Data](#Analyze)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.

In [ ]:
df.groupby('liznumber').capture.max().value_counts().reset_index()\
.rename(columns={'index':'number of captures','capture':'number of lizards'})

## Reducing the analyses sample by date range and capture

In [ ]:
# convert date to pandas datetime
#df.date=pd.to_datetime(df.date)
# limiting months to between May and August
# df = df.loc[(df.date.dt.month>=5) & (df.date.dt.month<=8)]
# limit to first captures
df_first = df.sort_values(by=['liznumber','date'])
df_first = df_first.loc[~df_first.duplicated(subset='liznumber')]

### Reducing data to species and sex of interest

In [ ]:
species2keep=['j']
df_first = df_first.loc[df_first.species.isin(species2keep)]
print ("\n{} of the original data set are entries belonging to a species of interest {}"\
       .format(df_first.shape[0],species2keep))
sex2keep=['m','f']
df = df_first.loc[df_first.sex.isin(sex2keep)]
print ("\n{} of the original data set are entries belonging to a sex categories of interest {}"\
       .format(df_first.shape[0],sex2keep))

## Number of lizards (*Sj*) by year and sex

In [ ]:
df.groupby('year').sex.value_counts()

Pull out all individuals that we've recaught for Sj and writes to csv

In [ ]:
multicapToes=df.loc[(df.species=='j')& (df.toes!="")& (df.toes!='NA')]\
.toes.value_counts()[df.loc[df.species=='j']\
                     .toes.value_counts()>1].index.tolist()
# df.loc[df.toes.isin(multicapToes)].sort_values(by=['toes','date']).to_csv('multicaps.csv')

## Maximum Number of Captures

In [ ]:
dfF = df.loc[df.sex =='f']
dfM = df.loc[df.sex =='m']

females = go.Histogram(x = dfF.groupby('liznumber').capture.max(),name='females')
males = go.Histogram(x = dfM.groupby('liznumber').capture.max(),name='males')

data = [males,females]
layout = go.Layout(
    title = 'Maximum Number of Captures per Individual 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures per Individual in Crystal Creek 2000 - 2017')

In [ ]:
df.capture.value_counts()