In [59]:
import pandas as pd
import glob,os

import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
plotly.tools.set_config_file(world_readable=True)

import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.graphics as smg
import statsmodels.stats as sms

# Getting Data

In [3]:
sourcepath = 'S:/Chris/Natural Rates of Severity'
os.chdir(sourcepath)
glob.glob('*.dta')

['CC growth rates stats sheet.dta',
 'Demography 2003-2008 crystal creek.dta',
 'Growth Rates and some regression analyses (goodness of fit).dta',
 'Growth Rates and some regression analyses.dta',
 'Middendorf and Agard data includign sv and sj.dta',
 'Middendorf and Agard data sv for growth.dta',
 'Middendorf and Agard growth rates stats sheet.dta',
 'Middendorf and Agard natural rates & severity of autotomy.dta',
 'Natural Severity of TL model.dta',
 'Regression without juv only intact.dta',
 'regrown.dta',
 'RTL.dta',
 'tlsvl ratio intact.dta',
 'TL_SVL on growth (long).dta',
 'TL_SVL on growth (long)2.dta',
 'TL_SVL on growth 3.dta',
 'TL_SVL on growth.dta']

## Read in and Describe the Data

In [4]:
df = pd.read_stata('Natural Severity of TL model.dta')
print(df.describe(),'\n\n',['{}: {}'.format(x,df[x].unique()) for x in df.columns if df[x].nunique()<10])
df

              year        svl          tl   rtl       mass
count    89.000000  89.000000   89.000000  89.0  64.000000
mean   2008.808989  71.910112   98.011236   0.0  12.531250
std       1.851758   8.661094   12.144485   0.0   4.821928
min    2005.000000  54.000000   74.000000   0.0   5.000000
25%    2007.000000  65.000000   90.000000   0.0   8.500000
50%    2009.000000  71.000000   97.000000   0.0  11.500000
75%    2010.000000  79.000000  107.000000   0.0  16.000000
max    2011.000000  90.000000  126.000000   0.0  25.000000

 ['year: [2005 2006 2011 2010 2007 2009]', 'species: [S. jarrovii]\nCategories (1, object): [S. jarrovii]', 'sex: [female, male]\nCategories (2, object): [female < male]', 'rtl: [0]']

    year  lizard      species     sex  svl   tl  rtl   mass        toes
0   2005     p9c  S. jarrovii  female   84  100    0  19.50          18
1   2005    p30c  S. jarrovii  female   69  102    0  11.50   1-6-13-20
2   2005    p31c  S. jarrovii  female   70   92    0  11.00   1-6-15-16
3   2005    p14c  S. jarrovii  female   84  113    0  17.00         5-7
4   2006     w8R  S. jarrovii  female   64   98    0   8.00         `15
5   2006    w10K  S. jarrovii  female   79  112    0  13.50         `17
6   2011     y2b  S. jarrovii  female   75   98    0  10.50  1-10-11-16
7   2010     w2a  S. jarrovii  female   66   94    0   7.50  1-10-11-18
8   2010  w18a.t  S. jarrovii  female   65   90    0   8.50  1-10-12-19
9   2010    w26a  S. jarrovii  female   70   97    0   9.00  1-10-13-18
10  2010    w28a  S. jarrovii  female   62   88    0   9.00  1-10-13-20
11  2010     w8a  S. jarrovii  female   75  103    0   9.00  1-10-15-18
12  2010     w9a  S. jarrovii  female   72   96    0   8.50  1-10-15-19
13  2006     w8H  S. jarrovii  female   78  117    0  19.50       15-20
14  2010    w21a  S. jarrovii  female   59   81    0   6.00   2-6-11-16
15  2010  w24a-t  S. jarrovii  female   65   90    0   8.50   2-6-11-20
16  2010  w24a-t  S. jarrovii  female   65   90    0   8.50   2-6-11-20
17  2010    w31a  S. jarrovii  female   64   89    0   8.50   2-6-12-18
18  2010    w32a  S. jarrovii  female   74  108    0  12.50   2-6-12-19
19  2010    w13a  S. jarrovii  female   66   91    0   9.00   2-6-13-18
20  2007    yA1b  S. jarrovii  female   69   95    0   8.00   2-7-11-18
21  2007  y.aA5b  S. jarrovii  female   73  104    0  12.75   2-7-12-19
22  2007    yA7b  S. jarrovii  female   71   95    0  11.25   2-7-13-18
23  2007    yB2b  S. jarrovii  female   82  108    0  18.75   2-7-13-20
24  2011   y6b.t  S. jarrovii  female   64   85    0   8.50   2-7-13-20
25  2011     y7b  S. jarrovii  female   60   74    0   5.00   2-7-15-19
26  2011    y10b  S. jarrovii  female   66   86    0   7.00   2-8-11-16
27  2007    yB4b  S. jarrovii  female   72   98    0   7.50   2-8-11-19
28  2011     y8b  S. jarrovii  female   64   80    0   6.50   2-8-11-20
29  2007  yE3b.t  S. jarrovii  female   72  101    0  12.25   2-9-11-18
..   ...     ...          ...     ...  ...  ...  ...    ...         ...
59  2007  yD2b.t  S. jarrovii    male   75  112    0  13.75   2-8-12-20
60  2007    yE4b  S. jarrovii    male   89  124    0  23.25   2-9-11-19
61  2009    y19c  S. jarrovii    male   70   94    0  11.00   3-6-11-18
62  2007    yH2b  S. jarrovii    male   80  107    0  18.50   3-7-13-18
63  2011    y25b  S. jarrovii    male   77  109    0  13.00   4-6-12-16
64  2007    yA2b  S. jarrovii  female   74   95    0    NaN   2-7-11-19
65  2011   y6b.t  S. jarrovii  female   64   85    0    NaN  2-7-13-20a
66  2009    y12c  S. jarrovii  female   59   80    0    NaN  3-10-11-19
67  2009    y28c  S. jarrovii    male   75  109    0    NaN   3-6-12-16
68  2009    y31c  S. jarrovii    male   78  109    0    NaN   3-6-12-20
69  2009    y32c  S. jarrovii  female   67   90    0    NaN   3-6-13-16
70  2009     y2c  S. jarrovii  female   60   76    0    NaN   3-6-13-18
71  2009     y5c  S. jarrovii  female   54   78    0    NaN   3-6-15-16
72  2009     y7c  S. jarrovii  female   56   79    0    NaN   3-6-15-19
73  2009     y9c  S. jarrovii    male   58   84    0    NaN   3-6-15-20
74  2009    yA1c  S. jarrovii  female   70   95    0    NaN   5-6-12-16
75  2009      A7  S. jarrovii    male   68   96    0    NaN   5-6-12-18
76  2009    yA2c  S. jarrovii  female   63   91    0    NaN   5-6-12-19
77  2009    yA3c  S. jarrovii  female   62   80    0    NaN   5-6-12-20
78  2009    yA4c  S. jarrovii  female   66   90    0    NaN   5-6-13-16
79  2009  y.aA8c  S. jarrovii  female   65   85    0    NaN   5-6-13-18
80  2009    yA6c  S. jarrovii  female   64   84    0    NaN   5-6-13-19
81  2009    y12c  S. jarrovii  female   65   89    0    NaN   5-7-11-20
82  2009    y13c  S. jarrovii  female   79  106    0    NaN   5-7-12-16
83  2009    y17c  S. jarrovii  female   88  108    0    NaN   5-7-12-19
84  2009    y18c  S. jarrovii  female   64   84    0    NaN   5-7-12-20
85  2009    y19c  S. jarrovii    male   79  104    0    NaN   5-7-13-16
86  2009    y20c  S. jarrovii  female   64   92    0    NaN   5-7-13-18
87  2009  y22c.t  S. jarrovii  female   69   92    0    NaN   5-7-13-20
88  2009    y25c  S. jarrovii  female   87  116    0    NaN   5-7-15-18

[89 rows x 9 columns]

In [53]:
df2 = pd.read_stata('Middendorf and Agard growth rates stats sheet.dta')
print(df2.describe(),'\n\n',['{}: {}'.format(x,df2[x].unique()) for x in df2.columns if df2[x].nunique()<10])
df2

           lizard        year1       svl1         tl1       rtl1  \
count   60.000000    60.000000  60.000000   60.000000  60.000000
mean   188.983333  2003.983333  60.350000   74.166667   5.666667
std     96.947040     1.081300  18.199297   25.403301  11.664326
min      2.000000  2003.000000  29.000000   12.000000   0.000000
25%    113.000000  2003.000000  37.750000   50.750000   0.000000
50%    209.000000  2004.000000  67.000000   83.000000   0.000000
75%    255.250000  2005.000000  71.250000   90.500000   2.250000
max    387.000000  2008.000000  91.000000  126.000000  50.000000

       tailcondition1      mass1     meters1      tlnew1        year2  \
count       60.000000  60.000000   57.000000   60.000000    60.000000
mean         1.566667   9.435833  196.508772   68.500000  2005.133333
std          0.889995   6.837107  158.728106   27.795561     1.371213
min          1.000000   0.500000  -40.000000   12.000000  2004.000000
25%          1.000000   2.150000   40.000000   47.750000  2004.000000
50%          1.000000   9.550000  231.000000   64.000000  2005.000000
75%          3.000000  12.725000  355.000000   90.500000  2006.000000
max          3.000000  28.299999  452.000000  126.000000  2011.000000

         ...            tln3        tln2      tln32    svl21ys     tl21ys  \
count    ...       21.000000   60.000000  21.000000  60.000000  60.000000
mean     ...       70.285713   80.416664 -13.761905  14.152778  14.705555
std      ...       28.700422   28.408817  30.872164  13.058946  24.113928
min      ...       25.000000    7.000000 -84.000000   0.000000 -45.000000
25%      ...       46.000000   59.500000 -37.000000   5.000000   2.750000
50%      ...       65.000000   91.000000   1.000000   8.000000   9.500000
75%      ...       96.000000   98.750000   6.000000  28.250000  31.500000
max      ...      120.000000  130.000000  18.000000  45.000000  60.000000

         ntl21ys    rtl21ys   svl21ysT    tl21ysT   ntl21ysT
count  60.000000  60.000000  42.000000  34.000000  32.000000
mean   12.255556   2.450000   2.360134   2.681539   2.574869
std    22.959978   7.443655   0.913544   1.132861   1.102414
min   -42.000000 -25.000000   0.000000   0.000000   0.816497
25%     1.000000   0.000000   2.059017   2.059017   1.732051
50%     6.500000   0.000000   2.449490   2.449490   2.449490
75%    25.750000   2.166667   2.957107   3.220847   3.162278
max    59.000000  30.000000   4.472136   5.291502   5.291502

[8 rows x 96 columns]

 ['year1: [2003 2004 2005 2006 2008 2007]', 'tailcondition1: [3 1 2]', 'year2: [2004 2005 2006 2007 2008 2011 2009]', 'tailcondition2: [1 2 3]', 'year3: [2005. 2006.   nan 2007.]', 'tailcondition3: [ 3. nan  1.  2.]', 'year4: [  nan 2006.]', 'svl4: [nan 75. 78. 77. 80.]', 'tl4: [nan 67. 95. 84. 82.]', 'rtl4: [nan 21.  0. 10. 36.]', 'tailcondition4: [nan  3.  1.]', 'mass4: [        nan 14.5        16.         14.80000019 14.60000038]', 'meters4: [ nan 358.  35. 418.   0.]', 'tlnew4: [nan 46. 95. 74.]', 'year5: [  nan 2007.]', 'svl5: [nan 71.]', 'tl5: [nan 95.]', 'rtl5: [nan  0.]', 'tailcondition5: [nan  1.]', 'mass5: [  nan 11.25]', 'meters5: [nan]', 'tlnew5: [nan 95.]', 'year6: [  nan 2008.]', 'svl6: [nan 73.]', 'tl6: [nan 43.]', 'rtl6: [nan  3.]', 'tailcondition6: [nan  3.]', 'mass6: [nan  9.]', 'meters6: [nan]', 'tlnew6: [nan 40.]', 'year7: [  nan 2009.]', 'svl7: [nan 87.]', 'tl7: [nan 86.]', 'rtl7: [nan 34.]', 'tailcondition7: [nan  3.]', 'mass7: [nan]', 'meters7: [nan]', 'tlnew7: [nan 52.]', 'year10: [  nan 2011.]', 'svl10: [nan 88.]', 'tl10: [nan 91.]', 'rtl10: [nan 22.]', 'tailcondition10: [nan  3.]', 'mass10: [nan 17.]', 'meters10: [nan]', 'tlnew10: [nan 69.]', 'species: [1]', 'sex: [1 0]', 'years21: [1. 2. 4. 3.]', 'years31: [ 2.  3. nan]', 'years41: [nan  3.]', 'tc1tc2: [5. 6. 1. 2. 7. 3. 4.]', 'age_class1: [adult, juvenile]\nCategories (2, object): [juvenile < adult]', '_est_A: [0 1]']

,lizard,year1,svl1,tl1,rtl1,tailcondition1,mass1,meters1,tlnew1,year2,...,tln3,tln2,tln32,svl21ys,tl21ys,ntl21ys,rtl21ys,svl21ysT,tl21ysT,ntl21ysT
0,220,2003,68,76,25,3,11.400000,362.0,51.0,2004,...,49.0,31.0,18.0,10.000000,-45.000000,-20.000000,-25.000000,3.162278,NaN,NaN
1,320,2003,87,88,4,3,24.200001,-5.0,84.0,2004,...,85.0,89.0,-4.0,1.000000,1.000000,5.000000,-4.000000,1.000000,1.000000,2.236068
2,138,2003,30,40,0,1,0.900000,3.0,40.0,2004,...,38.0,86.0,-48.0,30.000000,46.000000,46.000000,0.000000,NaN,NaN,NaN
3,240,2004,30,36,0,1,0.700000,19.0,36.0,2005,...,NaN,83.0,NaN,31.000000,47.000000,47.000000,0.000000,NaN,NaN,NaN
4,308,2003,65,90,0,1,9.500000,355.0,90.0,2004,...,48.0,96.0,-48.0,8.000000,6.000000,6.000000,0.000000,2.828427,2.449490,2.449490
5,11,2003,60,84,0,1,8.000000,413.0,84.0,2004,...,NaN,112.0,NaN,20.000000,28.000000,28.000000,0.000000,4.472136,5.291502,5.291502
6,212,2004,66,99,0,1,9.000000,-7.0,99.0,2005,...,99.0,97.0,2.0,5.000000,-2.000000,-2.000000,0.000000,2.236068,NaN,NaN
7,252,2004,62,89,0,1,7.800000,262.0,89.0,2005,...,NaN,98.0,NaN,8.000000,9.000000,9.000000,0.000000,2.828427,3.000000,3.000000
8,114,2003,65,99,0,1,13.500000,392.0,99.0,2005,...,NaN,120.0,NaN,11.500000,10.500000,10.500000,0.000000,3.391165,3.240370,3.240370
9,284,2005,74,104,0,1,13.500000,385.0,104.0,2006,...,NaN,113.0,NaN,8.000000,9.000000,9.000000,0.000000,2.828427,3.000000,3.000000
10,109,2006,69,92,0,1,13.600000,262.0,92.0,2007,...,NaN,95.0,NaN,5.000000,3.000000,3.000000,0.000000,2.236068,1.732051,1.732051
11,279,2005,73,100,0,1,12.700000,0.0,100.0,2006,...,NaN,110.0,NaN,3.000000,10.000000,10.000000,0.000000,1.732051,3.162278,3.162278
12,107,2003,31,43,0,1,1.400000,133.0,43.0,2004,...,102.0,92.0,10.0,36.000000,49.000000,49.000000,0.000000,NaN,NaN,NaN
13,121,2003,31,41,0,1,0.900000,NaN,41.0,2004,...,NaN,84.0,NaN,32.000000,43.000000,43.000000,0.000000,NaN,NaN,NaN
14,206,2005,37,49,0,1,1.600000,160.0,49.0,2006,...,NaN,7.0,NaN,29.000000,-42.000000,-42.000000,0.000000,NaN,NaN,NaN
15,173,2005,36,46,0,1,1.200000,40.0,46.0,2006,...,NaN,91.0,NaN,32.000000,45.000000,45.000000,0.000000,NaN,NaN,NaN
16,219,2004,70,85,0,1,11.900000,240.0,85.0,2005,...,25.0,109.0,-84.0,12.000000,24.000000,24.000000,0.000000,3.464102,4.898980,4.898980
17,120,2004,59,85,0,1,6.600000,351.0,85.0,2005,...,NaN,91.0,NaN,5.000000,6.000000,6.000000,0.000000,2.236068,2.449490,2.449490
18,127,2003,37,50,0,1,2.000000,87.0,50.0,2004,...,NaN,94.0,NaN,33.000000,44.000000,44.000000,0.000000,NaN,NaN,NaN
19,314,2003,69,87,0,1,10.500000,30.0,87.0,2004,...,92.0,93.0,-1.0,7.000000,6.000000,6.000000,0.000000,2.645751,2.449490,2.449490
20,6,2003,80,109,0,1,19.000000,231.0,109.0,2004,...,111.0,110.0,1.0,2.000000,1.000000,1.000000,0.000000,1.414214,1.000000,1.000000
21,259,2004,38,49,0,1,2.200000,408.0,49.0,2005,...,96.0,91.0,5.0,31.000000,42.000000,42.000000,0.000000,NaN,NaN,NaN
22,15,2003,68,90,0,1,10.500000,237.0,90.0,2004,...,NaN,105.0,NaN,12.000000,15.000000,15.000000,0.000000,3.464102,3.872983,3.872983
23,304,2005,63,93,0,1,8.400000,379.0,93.0,2006,...,NaN,98.0,NaN,7.000000,5.000000,5.000000,0.000000,2.645751,2.236068,2.236068
24,235,2004,40,55,0,1,2.200000,362.0,55.0,2008,...,NaN,15.0,NaN,9.000000,-10.000000,-10.000000,0.000000,NaN,NaN,NaN
25,291,2005,68,88,0,1,10.300000,38.0,88.0,2006,...,NaN,109.0,NaN,10.000000,21.000000,21.000000,0.000000,3.162278,4.582576,4.582576
26,254,2004,37,50,0,1,2.200000,423.0,50.0,2005,...,120.0,109.0,11.0,40.000000,59.000000,59.000000,0.000000,NaN,NaN,NaN
27,140,2003,37,52,0,1,1.500000,27.0,52.0,2004,...,NaN,94.0,NaN,28.000000,42.000000,42.000000,0.000000,NaN,NaN,NaN
28,278,2005,67,103,0,1,10.000000,-40.0,103.0,2006,...,NaN,113.0,NaN,5.000000,10.000000,10.000000,0.000000,2.236068,3.162278,3.162278
29,117,2003,35,47,0,1,1.300000,47.0,47.0,2004,...,NaN,101.0,NaN,35.000000,54.000000,54.000000,0.000000,NaN,NaN,NaN
30,188,2005,39,53,0,1,1.800000,85.0,53.0,2006,...,NaN,95.0,NaN,27.000000,42.000000,42.000000,0.000000,NaN,NaN,NaN
31,72,2004,85,126,0,1,25.000000,45.0,126.0,2005,...,63.0,130.0,-67.0,5.000000,4.000000,4.000000,0.000000,2.236068,2.000000,2.000000
32,267,2005,68,93,0,1,9.000000,264.0,93.0,2006,...,46.0,83.0,-37.0,7.000000,-10.000000,-10.000000,0.000000,2.645751,NaN,NaN
33,104,2003,34,47,0,1,1.400000,23.0,47.0,2004,...,NaN,102.0,NaN,39.000000,55.000000,55.000000,0.000000,NaN,NaN,NaN
34,101,2003,69,85,0,1,10.100000,102.0,85.0,2004,...,89.0,91.0,-2.0,5.000000,6.000000,6.000000,0.000000,2.236068,2.449490,2.449490
35,100,2004,80,107,0,1,14.200000,242.0,107.0,2005,...,NaN,75.0,NaN,0.000000,-32.000000,-32.000000,0.000000,0.000000,NaN,NaN
36,244,2004,67,87,0,1,8.100000,194.0,87.0,2005,...,101.0,98.0,3.0,5.000000,11.000000,11.000000,0.000000,2.236068,3.316625,3.316625
37,2,2003,87,116,0,1,28.299999,-20.0,116.0,2004,...,43.0,112.0,-69.0,2.000000,-4.000000,-4.000000,0.000000,1.414214,NaN,NaN
38,176,2005,71,100,0,1,12.200000,240.0,100.0,2006,...,NaN,106.0,NaN,7.000000,6.000000,6.000000,0.000000,2.645751,2.449490,2.449490
39,230,2003,70,89,18,3,12.000000,339.0,71.0,2004,...,NaN,82.0,NaN,9.000000,12.000000,11.000000,1.000000,3.000000,3.464102,3.316625
40,99,2003,66,86,24,3,9.600000,380.0,62.0,2004,...,NaN,71.0,NaN,9.000000,10.000000,9.000000,1.000000,3.000000,3.162278,3.000000
41,141,2005,70,68,25,3,9.700000,115.0,43.0,2006,...,NaN,44.0,NaN,5.000000,2.000000,1.000000,1.000000,2.236068,1.414214,1.000000
42,249,2004,66,65,34,3,9.200000,47.0,31.0,2005,...,35.0,34.0,1.0,11.000000,5.000000,3.000000,2.000000,3.316625,2.236068,1.732051
43,46,2005,75,76,13,3,12.500000,385.0,63.0,2006,...,NaN,61.0,NaN,2.000000,0.000000,-2.000000,2.000000,1.414214,0.000000,NaN
44,385,2003,81,62,50,3,18.500000,452.0,12.0,2004,...,NaN,14.0,NaN,4.000000,4.000000,2.000000,2.000000,2.000000,2.000000,1.414214
45,218,2005,87,85,29,3,21.500000,87.0,56.0,2008,...,NaN,58.0,NaN,0.666667,3.333333,0.666667,2.666667,0.816497,1.825742,0.816497
46,238,2004,70,82,35,3,11.400000,-15.0,47.0,2005,...,48.0,49.0,-1.0,2.000000,5.000000,2.000000,3.000000,1.414214,2.236068,1.414214
47,287,2005,65,79,28,3,8.800000,-5.0,51.0,2006,...,NaN,58.0,NaN,10.000000,11.000000,7.000000,4.000000,3.162278,3.316625,2.645751
48,110,2003,72,81,10,3,16.000000,262.0,71.0,2004,...,NaN,76.0,NaN,2.000000,10.000000,5.000000,5.000000,1.414214,3.162278,2.236068
49,75,2003,73,60,10,3,12.800000,326.0,50.0,2004,...,NaN,51.0,NaN,6.000000,6.000000,1.000000,5.000000,2.449490,2.449490,1.000000
50,386,2008,73,43,3,3,9.000000,NaN,40.0,2011,...,NaN,69.0,NaN,5.000000,16.000000,9.666667,6.333333,2.236068,4.000000,3.109126
51,233,2004,72,78,30,3,14.000000,380.0,48.0,2005,...,NaN,51.0,NaN,10.000000,10.000000,3.000000,7.000000,3.162278,3.162278,1.732051
52,124,2003,71,105,0,1,15.000000,280.0,105.0,2004,...,NaN,94.0,NaN,8.000000,-4.000000,-11.000000,7.000000,2.828427,NaN,NaN
53,265,2005,64,88,0,1,8.400000,390.0,88.0,2006,...,NaN,60.0,NaN,6.000000,-20.000000,-28.000000,8.000000,2.449490,NaN,NaN
54,137,2003,36,51,0,1,1.800000,440.0,51.0,2004,...,76.0,70.0,6.0,34.000000,28.000000,19.000000,9.000000,NaN,NaN,NaN
55,242,2004,29,22,0,2,0.500000,177.0,22.0,2005,...,NaN,67.0,NaN,45.000000,58.000000,45.000000,13.000000,NaN,NaN,NaN
56,387,2007,71,95,0,1,11.250000,NaN,95.0,2009,...,NaN,52.0,NaN,8.000000,-4.500000,-21.500000,17.000000,2.828427,NaN,NaN
57,83,2004,91,67,2,3,23.799999,45.0,65.0,2005,...,NaN,41.0,NaN,0.000000,1.000000,-24.000000,25.000000,0.000000,1.000000,NaN
58,245,2004,32,23,0,2,0.700000,345.0,23.0,2005,...,65.0,58.0,7.0,40.000000,60.000000,35.000000,25.000000,NaN,NaN,NaN
59,132,2003,35,12,0,1,1.100000,2.0,12.0,2004,...,45.0,37.0,8.0,30.000000,55.000000,25.000000,30.000000,NaN,NaN,NaN

# Visualization
Here we visualize the relationship between SVL and TL.

[Back to Table of Contents](#Table-of-Contents)

## SVL and TL

In [36]:
Males = go.Scatter(x=df.loc[df.sex=='female','svl'],y=df.loc[df.sex=='female','tl'],name='Female',mode = 'markers')
Females = go.Scatter(x=df.loc[df.sex=='male','svl'],y=df.loc[df.sex=='male','tl'],name='Male',mode = 'markers')
data =[Males,Females]
layout = go.Layout(
    title = 'Relationship Between SVL and TL in Intact <i>Sceloporus jarrovii</i>',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 5,
        title = 'SVL (mm)',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'TL (mm)',
        titlefont = dict(
            size = 18),
        dtick = 10,
    range = (0,df.tl.max()+5)
))
fig = go.Figure(data=data, layout=layout)
plot(fig, filename = 'Relationship Between SVL and TL in Intact Sceloporus jarrovii.html')
iplot(fig, filename = 'Relationship Between SVL and TL in Intact Sceloporus jarrovii.html')

In [23]:
SVLMales = go.Histogram(x=df.loc[df.sex=='female','svl'],name='Male SVL')
SVLFemales = go.Histogram(x=df.loc[df.sex=='female','svl'],name='Female SVL')
data =[SVLMales,SVLFemales]
layout = go.Layout(
    title = 'Distribution of SVL in Intact <i>Sceloporus jarrovii</i> by Sex',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 5,
        title = 'Length(mm)',
        titlefont = dict(
            size = 18)))
fig = go.Figure(data=data, layout=layout)
plot(fig, filename = 'Distribution of SVL in Intact Sceloporus jarrovii by Sex.html')
iplot(fig, filename = 'Distribution of SVL in Intact Sceloporus jarrovii by Sex.html')

In [25]:
TLMales = go.Histogram(x=df.loc[df.sex=='female','tl'],name='Male TL')
TLFemales = go.Histogram(x=df.loc[df.sex=='female','tl'],name='Female TL')
data =[TLMales,TLFemales]
layout = go.Layout(
    title = 'Distribution of TL in Intact <i>Sceloporus jarrovii</i> by Sex',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 5,
        title = 'Length(mm)',
        titlefont = dict(
            size = 18)))
fig = go.Figure(data=data, layout=layout)
plot(fig, filename = 'Distribution of TL in Intact Sceloporus jarrovii by Sex.html')
iplot(fig, filename = 'Distribution of TL in Intact Sceloporus jarrovii by Sex.html')

## Growth

### SVL

In [64]:
df2.loc[df2.tailcondition1==1,'tailcondition'] = 'intact'
df2.loc[df2.tailcondition1!=1,'tailcondition'] = 'autotomized'

In [58]:
SVLMales = go.Histogram(x=df2.loc[df2.sex==1,'svl21ys'],name='Male SVL Growth')
SVLFemales = go.Histogram(x=df2.loc[df2.sex==0,'svl21ys'],name='Female SVL Growth')
data =[SVLMales,SVLFemales]
layout = go.Layout(
    title = 'Distribution of SVL Growth in Intact <i>Sceloporus jarrovii</i> by Sex',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'SVL Growth(mm)',
        titlefont = dict(
            size = 18)))
fig = go.Figure(data=data, layout=layout)
plot(fig, filename = 'Distribution of SVL Growth in Intact Sceloporus jarrovii by Sex.html')
iplot(fig, filename = 'Distribution of SVL Growth in Intact Sceloporus jarrovii by Sex.html')

These data are not normally distributed, so we will use a non-parametric test (Wilcoxon).

# Check for difference in Growth Rates

In [66]:
import scipy.stats as stats

## SVL

Here we check to see if SVL growth rate differs between Intact and Autotomized SVL. We will exclude juveniles for this analysis since we expect juveniles to grow faster and there are no juveniles in the autotomized group.

In [88]:
print(stats.kruskal(df2.loc[(df2.svl1>=54)&(df2.tailcondition=='intact')].svl21ys,
                    df2.loc[(df2.svl1>=54)&(df2.tailcondition=='autotomized')].svl21ys))
print("Intact SVL: {}\nAutotomized SVL: {}"\
      .format(df2.loc[(df2.svl1>=54)&(df2.tailcondition=='intact')].svl21ys.describe(),
              df2.loc[(df2.svl1>=54)&(df2.tailcondition=='autotomized')].svl21ys.describe()))

KruskalResult(statistic=1.1170006912763095, pvalue=0.29056520049479184)
Intact SVL: count    26.000000
mean      6.980769
std       3.986178
min       0.000000
25%       5.000000
50%       7.000000
75%       8.000000
max      20.000000
Name: svl21ys, dtype: float64
Autotomized SVL: count    16.000000
mean      5.416667
std       3.907258
min       0.000000
25%       2.000000
50%       5.000000
75%       9.250000
max      11.000000
Name: svl21ys, dtype: float64

SVL growth rates are equal with juveniles excluded.

## TL

Here we check to see if tl growth rate differs between Intact and Autotomized tl. We will exclude juveniles for this analysis since we expect juveniles to grow faster and there are no juveniles in the autotomized group.

In [92]:
print(stats.kruskal(df2.loc[(df2.tl1>=54)&(df2.tailcondition=='intact')].tl21ys,
                    df2.loc[(df2.tl1>=54)&(df2.tailcondition=='autotomized')].tl21ys))
print("Intact tl: {}\nAutotomized tl: {}"\
      .format(df2.loc[(df2.tl1>=54)&(df2.tailcondition=='intact')].tl21ys.describe(),
              df2.loc[(df2.tl1>=54)&(df2.tailcondition=='autotomized')].tl21ys.describe()))

KruskalResult(statistic=0.017321974463654147, pvalue=0.8952904244188784)
Intact tl: count    27.000000
mean      3.851852
std      12.603277
min     -32.000000
25%      -3.000000
50%       6.000000
75%      10.000000
max      28.000000
Name: tl21ys, dtype: float64
Autotomized tl: count    15.000000
mean      2.355556
std      13.695364
min     -45.000000
25%       1.500000
50%       5.000000
75%      10.000000
max      12.000000
Name: tl21ys, dtype: float64

The negative tl growth values for intact tail individuals suggest a need for cleaning data.

## Regression

## Fit Model

In [90]:
results = smf.ols('df.tl~df.svl+df.sex',data = df.loc[(df.svl>=54)]).fit()

## Inspect Results

In [91]:
resultsfile = open('results.txt','w')
summary = str(results.summary())
# summary
resultsfile.write(summary)
resultsfile.close() 
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  df.tl   R-squared:                       0.848
Model:                            OLS   Adj. R-squared:                  0.845
Method:                 Least Squares   F-statistic:                     240.7
Date:                Sun, 21 Jul 2019   Prob (F-statistic):           5.84e-36
Time:                        16:12:17   Log-Likelihood:                -264.05
No. Observations:                  89   AIC:                             534.1
Df Residuals:                      86   BIC:                             541.6
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         10.9179      4.674      2.336      0.022       1.625      20.210
df.sex[T.male]     3.2556      1.224      2.659      0.009       0.822       5.689
df.svl             1.1959      0.067     17.798      0.000       1.062       1.329
==============================================================================
Omnibus:                        1.912   Durbin-Watson:                   1.901
Prob(Omnibus):                  0.384   Jarque-Bera (JB):                1.347
Skew:                          -0.125   Prob(JB):                        0.510
Kurtosis:                       3.548   Cond. No.                         672.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""