In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({"A":list("aaabba")})
df

   A
0  a
1  a
2  a
3  b
4  b
5  a

In [6]:
df.groupby('A').ngroup()

AttributeError: 'DataFrameGroupBy' object has no attribute 'ngroup'