# Terrestrial Righting

### Christopher Agard, George Middendorf

# Table of Contents

- [Introduction](#Introduction)
- [Functions](#Functions)
- [Set Up Python](#Set-Up-Python)
- [Get Data](#Get-Data)
- [Clean Data](#Clean-Data)
- [Descriptive Analyses](#Descriptive-Analyses)

[RESUME](#Resume)

## Introduction

The goal of this paper is to analyze terrestrial righting speed in _Sceloporus jarrovii_ and _S. virgatus_.

### Plan
    - Get raw data from each year (Done):
        - 2007
        - 2008
        - 2010
        - 2011
        - 2012?
        - 2015
        - 2016
    - Combine and clean data (Doing)
    - Analyze data
        
[Table of Contents](#Table-of-Contents)

## Set Up Python
[Table of Contents](#Table-of-Contents)

In [73]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import os, glob, logging
import plotly
import chart_studio.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)

In [2]:
pd.options.display.max_columns = 50
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = 1500

## Functions
[Table of Contents](#Table-of-Contents)
- [review](#review)

### review
[Functions](#Function) [Table of Contents](#Table-Contents)

In [3]:
def review(x, pretty = True):
    """This function returns the set of unique item types and the set of unique values within a series or list"""
    uniqueTypes = {type(val) for val in x}
    if len(uniqueTypes)>1:
        typeStatus = "Check"
    else:
        typeStatus = "OK"
    uniqueVal = {val for val in x}
    if pretty:
        res = ("Unique types include the following: {}".format(uniqueTypes),
               "Unique values include:{}".format(uniqueVal),typeStatus)
    else:
        res = (uniqueTypes,uniqueVal,typeStatus)
    return res

## Get Data
[Table of Contents](#Table-of-Contents)

In [4]:
# setting locations
gandolf = {'dropboxsource':'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive/',
          'googledrivesource':'C:/Users/craga/Google Drive/TailDemography/Righting Files/'}

source = gandolf

In [5]:
dtafiles = glob.glob(source['dropboxsource']+'*dta')
excelfiles = glob.glob(source['googledrivesource']+'*xls')
csvfiles = glob.glob(source['dropboxsource']+'*csv')+glob.glob(source['googledrivesource']+'*csv')
files = dtafiles + excelfiles + csvfiles
files

['C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Combined Righting (2008-2011)(d).dta',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Combined Righting (2008-2011).dta',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting Analyses Revisited with combined data including 2012.dta',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting combined.dta',
 'C:/Users/craga/Google Drive/TailDemography/Righting Files\\2007 righting stats play sheet alpha 14iii10 (good one).xls',
 'C:/Users/craga/Google Drive/TailDemography/Righting Files\\2015 Data (video confirmed outcomes).xls',
 'C:/Users/craga/Google Drive/TailDemography/Righting Files\\Proccessing Information (22ix2010).xls',
 'C:/Users/craga/Google Drive/TailDemography/Righting Files\\Schedule, Lizard Tracking, and Data capture sheet (2016).xls',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Combined Righting sv (2008-2011).csv',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting Autotomy Sj ANOVA (aut v not).csv',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting Autotomy Sj ANOVA.csv',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting Autotomy Sv ANOVA.csv',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting combined.csv',
 'C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting combined2.csv',
 'C:/Users/craga/Google Drive/TailDemography/Righting Files\\data analysis sheet (Terrestrial Righting) (2012).csv']

In [6]:
df2008_12 = pd.read_csv('C:/Users/craga/Dropbox/Papers/Righting Paper/Righting data from drive\\Terrestrial Righting combined2.csv')
df2008_12.groupby(['Year']).head()

,Year,Trial,Drop,Tail Condition (1=Intact; 2=50% Autotomy; 3= 25% autotomy; 4=75% autotomy; 5=Regrown),Paint mark,Lizard,Time to right post fall,Species (Sj=1; Sv=2),Sex (1=M; 0=2=F),SVL (mm),TL (mm),RTL (mm),RemTL (mm),Mass (g),RemMass (g),righting Temp,tl/svl
0,2007,1,2.0,1,wI1b,1,0.17,1,0,76,105,0,0.0,16.50,0.0000,NaN,1.381579
1,2007,1,1.0,1,wJ14b,5,0.32,1,1,91,116,0,0.0,26.50,0.0000,NaN,1.274725
2,2007,2,1.0,1,wK2b,8,0.13,1,1,79,108,0,0.0,16.00,0.0000,NaN,1.367089
3,2007,1,1.0,1,wK4b,9,0.13,1,0,79,100,0,0.0,14.50,0.0000,NaN,1.265823
4,2007,2,2.0,1,wL3b,11,0.21,1,0,83,110,0,0.0,16.50,0.0000,NaN,1.325301
12,2008,1,NaN,1,1f,34,0.15,2,0,48,60,0,0.0,3.75,0.0000,NaN,1.250000
13,2008,1,NaN,1,2f,35,0.19,2,0,49,67,0,0.0,4.50,0.0000,NaN,1.367347
14,2008,1,1.0,1,B5,36,0.17,2,0,56,65,0,0.0,6.75,0.0000,NaN,1.160714
15,2008,1,NaN,1,C1,37,0.11,2,0,62,63,0,0.0,4.25,0.0000,NaN,1.016129
16,2010,2,2.0,1,p5b,38,0.22,2,0,61,75,0,0.0,7.00,0.0000,NaN,1.229508
17,2012,1,3.0,1,NaN,53,0.07,2,0,51,63,0,0.0,3.50,0.0000,33.0,1.235294
18,2012,1,3.0,1,NaN,58,0.17,2,1,51,68,0,0.0,4.00,0.0000,31.0,1.333333
19,2012,1,3.0,1,NaN,68,0.24,2,1,54,62,0,0.0,4.50,0.0000,29.0,1.148148
20,2012,1,3.0,1,NaN,69,0.25,2,0,64,74,0,0.0,9.00,0.0000,28.0,1.156250
21,2012,1,3.0,1,NaN,70,0.25,2,1,54,71,0,0.0,4.50,0.0000,31.0,1.314815
43,2011,2,1.0,3,y21b,44,0.24,1,0,78,103,0,27.0,10.50,0.0346,NaN,1.320513
44,2011,2,1.0,3,y9b,50,0.15,1,1,81,104,0,24.0,13.50,0.0352,NaN,1.283951
54,2011,2,1.0,4,y10b,39,0.21,1,0,66,86,0,23.0,7.00,0.0223,NaN,1.303030
55,2011,2,NaN,4,y13b,40,0.23,2,0,62,76,0,59.0,8.50,0.2221,NaN,1.225806
56,2011,2,1.0,4,y13b,41,0.29,1,1,76,102,0,82.0,11.50,0.5915,NaN,1.342105

In [7]:
df2015 = pd.read_excel('C:/Users/craga/Google Drive/TailDemography/Righting Files\\2015 Data (video confirmed outcomes).xls')
df2015.head()

,Year,Trial,Treatment,Lizard,Drop Outcome,Species,sex,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),New,toes,paintmark,Tail Vial,toe vial,Flag,Site,Notes,Random number,ART1,ART2,Drop Outcome.1,Video File Name,TRT1,TRT2,Unnamed: 28,if sv,if sj
0,2015.0,1.0,NaN,L2xv2,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,o..b,NaN,NaN,NaN,1.0,autotomized tail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<=0.8=4,<=0.5=4
1,2015.0,1.0,NaN,L1xv2,NaN,1.0,0.0,79.0,68.0,42,NaN,17.5,NaN,0.0,2-5-12-18,o.b.t,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015.0,1.0,NaN,L1xv1,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,o:b,NaN,NaN,NaN,1.0,tail has been broken; did not keep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015.0,1.0,NaN,L2xv3,NaN,0.0,1.0,57.0,75.0,0,NaN,7.0,NaN,1.0,NaN,o+b,NaN,NaN,R outcrop 20m v top site left side,0.0,did not cut toes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015.0,1.0,NaN,L1xv3,NaN,1.0,1.0,76.0,76.0,20,NaN,14.7,NaN,0.0,11,o+b+t,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2016 = pd.read_excel('C:/Users/craga/Google Drive/TailDemography/Righting Files\\Schedule, Lizard Tracking, and Data capture sheet (2016).xls'
                       ,sheet_name='Lizard Data')
df2016.head()

,Species,New,toes,paintmark,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),sex,Tail Vial,toe vial,Flag,Site,Notes,Treatment,Random Assignment number,ART1,ART2,Video T/S,Additional Video T/S,TRT1,TRT2,TRT3,Unnamed: 25,Unnamed: 26,Sv,Sj,prop complete = 00.97,Unnamed: 30
0,sv,recap,1-12-20,w1c,55,62,7,NaN,5.4,NaN,M,NaN,NaN,7m ^bottom site,^CC,kink in bottom on T @33,0.0,0.276719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.000000,0.0000,NaN,NaN
1,sv,new,NaN,w.b2c,52,72,0,32.0,4.7,0.038,M,CAT16-1,NaN,NaN,^CC,NaN,2.0,0.766538,NaN,NaN,DSC_2649/20150710_053420,NaN,0.34,NaN,NaN,NaN,2,0.714286,0.0000,NaN,NaN
2,sv,recap,1-13-18,w3c,54,53,19,NaN,5.8,NaN,F,NaN,NaN,4^ w.b2c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sv,new,2-9-15,w4c,46,63,0,35.0,2.8,0.031,M,CAT16-2,C16-7,2m v opposite stacked wall v stump,^CC,NaN,2.0,0.462795,NaN,NaN,DSC_2649/20150710_053420,NaN,0.34,NaN,NaN,NaN,3,0.000000,0.1875,NaN,NaN
4,sv,recap,1-15-19,w5c,60,50,14,NaN,6.2,NaN,F,NaN,NaN,bottom rock wall v S-curve,NaN,[photo]s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Clean Data
- [Cleaning 2008-2012](#Cleaning-2008-2012)
- [Cleaning 2015](#Cleaning-2015)
- [Cleaning 2016](#Cleaning-2016)

[Table of Contents](#Table-of-Contents)

### Cleaning 2008-2012

- [Cleaning Analysis Columns 2008-2012](#Cleaning-Analysis-Columns-2008-2012)


[Cleaning 2008-2012](#Cleaning-2008-2012) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

#### Cleaning Analysis Columns 2007-2012

Adjusting column names for _Year_ to match other data sources.

[Cleaning 2007-2012](#Cleaning-2007-2012) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [9]:
df2008_12 = df2008_12.rename(columns={'Tail Condition (1=Intact; 2=50% Autotomy; 3= 25% autotomy; 4=75% autotomy; 5=Regrown)':'Treatment',
                         'Time to right post fall':'TRTmin','Species (Sj=1; Sv=2)':'Species','Sex (1=M; 0=2=F)':'sex',
                         'SVL (mm)':'SVL','TL (mm)':'TL','RTL (mm)':'RTL','RemTL (mm)':'RemTL','Mass (g)':'Mass',
                          'RemMass (g)':'RemMass','Paint mark':'paintmark','Year':'year'})
df2008_12.groupby('year').head()

,year,Trial,Drop,Treatment,paintmark,Lizard,TRTmin,Species,sex,SVL,TL,RTL,RemTL,Mass,RemMass,righting Temp,tl/svl
0,2007,1,2.0,1,wI1b,1,0.17,1,0,76,105,0,0.0,16.50,0.0000,NaN,1.381579
1,2007,1,1.0,1,wJ14b,5,0.32,1,1,91,116,0,0.0,26.50,0.0000,NaN,1.274725
2,2007,2,1.0,1,wK2b,8,0.13,1,1,79,108,0,0.0,16.00,0.0000,NaN,1.367089
3,2007,1,1.0,1,wK4b,9,0.13,1,0,79,100,0,0.0,14.50,0.0000,NaN,1.265823
4,2007,2,2.0,1,wL3b,11,0.21,1,0,83,110,0,0.0,16.50,0.0000,NaN,1.325301
12,2008,1,NaN,1,1f,34,0.15,2,0,48,60,0,0.0,3.75,0.0000,NaN,1.250000
13,2008,1,NaN,1,2f,35,0.19,2,0,49,67,0,0.0,4.50,0.0000,NaN,1.367347
14,2008,1,1.0,1,B5,36,0.17,2,0,56,65,0,0.0,6.75,0.0000,NaN,1.160714
15,2008,1,NaN,1,C1,37,0.11,2,0,62,63,0,0.0,4.25,0.0000,NaN,1.016129
16,2010,2,2.0,1,p5b,38,0.22,2,0,61,75,0,0.0,7.00,0.0000,NaN,1.229508
17,2012,1,3.0,1,NaN,53,0.07,2,0,51,63,0,0.0,3.50,0.0000,33.0,1.235294
18,2012,1,3.0,1,NaN,58,0.17,2,1,51,68,0,0.0,4.00,0.0000,31.0,1.333333
19,2012,1,3.0,1,NaN,68,0.24,2,1,54,62,0,0.0,4.50,0.0000,29.0,1.148148
20,2012,1,3.0,1,NaN,69,0.25,2,0,64,74,0,0.0,9.00,0.0000,28.0,1.156250
21,2012,1,3.0,1,NaN,70,0.25,2,1,54,71,0,0.0,4.50,0.0000,31.0,1.314815
43,2011,2,1.0,3,y21b,44,0.24,1,0,78,103,0,27.0,10.50,0.0346,NaN,1.320513
44,2011,2,1.0,3,y9b,50,0.15,1,1,81,104,0,24.0,13.50,0.0352,NaN,1.283951
54,2011,2,1.0,4,y10b,39,0.21,1,0,66,86,0,23.0,7.00,0.0223,NaN,1.303030
55,2011,2,NaN,4,y13b,40,0.23,2,0,62,76,0,59.0,8.50,0.2221,NaN,1.225806
56,2011,2,1.0,4,y13b,41,0.29,1,1,76,102,0,82.0,11.50,0.5915,NaN,1.342105

### Cleaning 2015
- [Identifying Rows for Analysis 2015](#Identifying-Rows-for-Analysis-2015)
- [Creating Columns 2015](#Creating-Columns-2015)
- [Cleaning Analysis Columns 2015](#Cleaning-Analysis-Columns-2015)

In [10]:
df2015.head()

,Year,Trial,Treatment,Lizard,Drop Outcome,Species,sex,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),New,toes,paintmark,Tail Vial,toe vial,Flag,Site,Notes,Random number,ART1,ART2,Drop Outcome.1,Video File Name,TRT1,TRT2,Unnamed: 28,if sv,if sj
0,2015.0,1.0,NaN,L2xv2,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,o..b,NaN,NaN,NaN,1.0,autotomized tail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<=0.8=4,<=0.5=4
1,2015.0,1.0,NaN,L1xv2,NaN,1.0,0.0,79.0,68.0,42,NaN,17.5,NaN,0.0,2-5-12-18,o.b.t,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015.0,1.0,NaN,L1xv1,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,o:b,NaN,NaN,NaN,1.0,tail has been broken; did not keep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015.0,1.0,NaN,L2xv3,NaN,0.0,1.0,57.0,75.0,0,NaN,7.0,NaN,1.0,NaN,o+b,NaN,NaN,R outcrop 20m v top site left side,0.0,did not cut toes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015.0,1.0,NaN,L1xv3,NaN,1.0,1.0,76.0,76.0,20,NaN,14.7,NaN,0.0,11,o+b+t,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Identifying Rows for Analysis 2015

Checking video notes to determine if any runs need to be excluded.  We will introduce a column identifying the rows to be use in subsequent analyses, _analyze_.

[Cleaning 2015](#Cleaning-2015) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [11]:
df2015['analyze'] = True

In [12]:
df2015.loc[df2015['Unnamed: 28'].notna(),['TRT1','TRT2','Unnamed: 28']]

    TRT1  TRT2                                               Unnamed: 28
8   0.33   NaN                                         first or second?
9   0.40   NaN                                     this was an SJ not sv
23  0.23   NaN              Do not use questionable start given position
24  0.36   NaN                  do not use contact during righting event
29  0.16   NaN                  Do not questionable start given position
34  0.43   NaN         multiple start and stop and half-turns (exclude?)
50  0.36   NaN  90% sure of paint mark; should be f sv with orange badge

We will label _analyze_ values for any rows which indicate that the trial was questionable as False.

In [13]:
df2015.loc[(df2015['Unnamed: 28'].notna())&(df2015['Unnamed: 28'].str.contains('|'.join(['Do not','exclude'])))
                                            ,['TRT1','TRT2','Unnamed: 28']]

    TRT1  TRT2                                        Unnamed: 28
23  0.23   NaN       Do not use questionable start given position
29  0.16   NaN           Do not questionable start given position
34  0.43   NaN  multiple start and stop and half-turns (exclude?)

In [14]:
df2015.loc[(df2015['Unnamed: 28'].notna())&(df2015['Unnamed: 28'].str.contains('|'.join(['Do not','exclude'])))
                                            ,['analyze']]=False
#label empty TRT rows as analyze false
df2015.loc[(df2015.TRT1.isna())&(df2015.TRT2.isna()),'analyze']=False

#### Creating Columns 2015

Here we will create a new column with the fastest righting time and year.

In [15]:
df2015['year']=2015

In [16]:
df2015.loc[(df2015.analyze)&(df2015.TRT1.isna()),'TRT1'] = df2015.loc[(df2015.analyze)&(df2015.TRT1.isna()),'TRT2']
df2015['TRTmin'] = np.nan
df2015.loc[df2015.analyze,'TRTmin'] = df2015.loc[df2015.analyze,['TRT1','TRT2']].apply(min, axis = 1)
df2015.loc[df2015.analyze].TRTmin

6     0.43
7     0.26
8     0.33
9     0.40
10    0.30
11    0.36
12    0.36
13    0.33
14    0.30
15    0.40
16    0.26
17    0.26
19    0.40
20    0.36
21    0.36
22    0.20
24    0.36
25    0.30
27    0.23
28    0.46
30    0.40
31    0.16
32    0.43
35    0.33
36    0.33
37    0.20
38    0.26
39    0.40
41    0.30
50    0.36
56    0.36
69    0.23
Name: TRTmin, dtype: float64

#### Cleaning Analysis Columns 2015

Here we clean columns to be used in the actual analysis of Terrestrial Righting Times.  The following columns will be used:
Species, Sex, SVL, TL, RTL, Mass, and TRTmin.

[Cleaning 2015](#Cleaning-2015) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [17]:
df2015.loc[df2015.analyze,['Species','sex','SVL','TL','RTL','Mass','TRTmin']].apply(review,0)

Species                                                                                                                                    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 1.0, nan}, OK)
sex                                                                                                                                        (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 1.0, nan}, OK)
SVL        (Unique types include the following: {<class 'float'>}, Unique values include:{nan, 46.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 59.0, 60.0, 61.0, 65.0, 66.0, 68.0, 69.0, 70.0, 72.0, 74.0, 77.0, 78.0, 79.0, 80.0, 84.0}, OK)
TL          (Unique types include the following: {<class 'float'>}, Unique values include:{nan, 61.0, 64.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 75.0, 76.0, 89.0, 90.0, 92.0, 93.0, 94.0, 95.0, 96.0, 106.0, 107.0, 111.0, 114.0, 118.0}, OK)
RTL                                                                                                        (Unique types include the following: {<class 'float'>, <class 'str'>, <class 'int'>}, Unique values include:{0, nan, '5?'}, Check)
Mass          (Unique types include the following: {<class 'float'>}, Unique values include:{nan, 3.0, 4.3, 5.6, 5.0, 5.7, 8.0, 9.0, 10.7, 10.2, 9.6, 13.0, 6.0, 15.3, 14.5, 17.3, 18.0, 19.5, 11.5, 4.0, 16.3, 5.5, 3.7, 4.8, 5.8, 6.2}, OK)
TRTmin                                                                           (Unique types include the following: {<class 'float'>}, Unique values include:{0.43, 0.26, 0.30000000000000004, 0.33, 0.4, 0.36, 0.2, 0.23, 0.46, 0.16}, OK)
dtype: object

It looks like we will need to take a closer look at a number of columns which have _nan_ values and **_RTL_** which has a mix of item types.  Let's take a look at [Species](#Cleaning-Species-2015) first to see if addresses the other _nan_ values in other columns.  Then we will address [RTL](#RTL-2015) if need be.

[Cleaning Analysis Columns](#Cleaning-Analysis-Columns) [Cleaning 2015](#Cleaning-2015) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

##### Species 2015
[Cleaning Analysis Columns](#Cleaning-Analysis-Columns) [Cleaning 2015](#Cleaning-2015) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [18]:
review(df2015.loc[df2015.analyze].Species)

("Unique types include the following: {<class 'float'>}",
 'Unique values include:{0.0, 1.0, nan}',
 'OK')

In [19]:
# Since there are nan values among values we will analyze, we will inspect these rows.
df2015.loc[(df2015.analyze)&(df2015.Species.isna())]

,Year,Trial,Treatment,Lizard,Drop Outcome,Species,sex,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),New,toes,paintmark,Tail Vial,toe vial,Flag,Site,Notes,Random number,ART1,ART2,Drop Outcome.1,Video File Name,TRT1,TRT2,Unnamed: 28,if sv,if sj,analyze,year,TRTmin
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOV024,0.23,NaN,NaN,sj with white mark on T,NaN,True,2015,0.23

For now we will exclude this row from analysis.

In [20]:
df2015.loc[(df2015.analyze)&(df2015.Species.isna()),'analyze'] = False

Let's see if this has addressed the _nan_ in other columns, so we will rerun review on all columns

In [21]:
df2015.loc[df2015.analyze,['Species','sex','SVL','TL','RTL','Mass','RemTL','Mass2 (post-autotomy)','TRTmin']].apply(review,0)

Species                                                                                                                                                                      (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 1.0}, OK)
sex                                                                                                                                                                          (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 1.0}, OK)
SVL                                          (Unique types include the following: {<class 'float'>}, Unique values include:{46.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 59.0, 60.0, 61.0, 65.0, 66.0, 68.0, 69.0, 70.0, 72.0, 74.0, 77.0, 78.0, 79.0, 80.0, 84.0}, OK)
TL                                            (Unique types include the following: {<class 'float'>}, Unique values include:{61.0, 64.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 75.0, 76.0, 89.0, 90.0, 92.0, 93.0, 94.0, 95.0, 96.0, 106.0, 107.0, 111.0, 114.0, 118.0}, OK)
RTL                                                                                                                                                           (Unique types include the following: {<class 'str'>, <class 'int'>}, Unique values include:{0, '5?'}, Check)
Mass                                            (Unique types include the following: {<class 'float'>}, Unique values include:{3.0, 4.3, 5.6, 5.0, 5.7, 8.0, 9.0, 10.7, 10.2, 9.6, 13.0, 6.0, 15.3, 14.5, 17.3, 18.0, 19.5, 11.5, 4.0, 16.3, 5.5, 3.7, 4.8, 5.8, 6.2}, OK)
RemTL                                                                            (Unique types include the following: {<class 'float'>}, Unique values include:{34.0, 35.0, 72.0, 73.0, 80.0, 17.0, 18.0, 83.0, 19.0, 20.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 31.0}, OK)
Mass2 (post-autotomy)    (Unique types include the following: {<class 'float'>}, Unique values include:{nan, nan, nan, nan, nan, 5.5, 4.0, nan, 7.8, 8.8, 10.3, 6.0, 3.1, 13.0, 14.4, 14.5, 9.2, 17.3, 11.5, 19.0, 15.0, nan, nan, nan, nan, nan, nan, 4.8, 5.8, 6.2}, OK)
TRTmin                                                                                                        (Unique types include the following: {<class 'float'>}, Unique values include:{0.43, 0.26, 0.30000000000000004, 0.33, 0.4, 0.36, 0.2, 0.23, 0.46, 0.16}, OK)
dtype: object

It looks like excluding that row addressed the issue.  Now we will still need to take a closer look at [RTL](#RTL-2015) to address the multiple item types found in that column.

[Cleaning Analysis Columns](#Cleaning-Analysis-Columns) [Cleaning 2015](#Cleaning-2015) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

##### RTL 2015
[Cleaning Analysis Columns 2015](#Cleaning-Analysis-Columns-2015) [Cleaning 2015](#Cleaning-2015) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [22]:
df2015.loc[(df2015.analyze)&(df2015.RTL=='5?')]

,Year,Trial,Treatment,Lizard,Drop Outcome,Species,sex,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),New,toes,paintmark,Tail Vial,toe vial,Flag,Site,Notes,Random number,ART1,ART2,Drop Outcome.1,Video File Name,TRT1,TRT2,Unnamed: 28,if sv,if sj,analyze,year,TRTmin
15,2015.0,1.0,3.0,L1xv10,1.0,1.0,0.0,77.0,106.0,5?,83.0,15.3,14.4,1.0,NaN,o19b,CT-20-15; CT-21-15,NaN,C11,1.0,unsure if RTL is 5 or 0 check TL/SVL index to be sure and treat as 0 until then; hissed w/ mouth open when attempting to noose in LAHF for mass measuring; I was using my fingers to close the loop and my fingers were close to its head when the lizard hissed,0.490889,1,--,1.0,MOV03A,0.4,NaN,NaN,NaN,NaN,True,2015,0.4

Based on the _notes_ column we will set RTL to 0.

In [23]:
df2015.loc[(df2015.analyze)&(df2015.RTL=='5?'),"RTL"]= 0

For analysis we will use the object _df2015Analysis_

In [24]:
df2015Analysis = df2015.loc[df2015.analyze,['paintmark','Species','sex','SVL','TL','RTL','RemTL','Treatment',
                                            'Mass2 (post-autotomy)','TRTmin','year']]\
.rename(columns={'Mass2 (post-autotomy)':'RemMass'})
df2015Analysis.head()

,paintmark,Species,sex,SVL,TL,RTL,RemTL,Treatment,RemMass,TRTmin,year
6,o10b,1.0,1.0,68.0,90.0,0,25.0,3.0,NaN,0.43,2015
7,o11b,1.0,1.0,79.0,114.0,0,28.0,4.0,NaN,0.26,2015
8,o12b.t,1.0,0.0,72.0,96.0,0,24.0,4.0,NaN,0.33,2015
9,o13b+t,1.0,1.0,68.0,93.0,0,73.0,3.0,10.3,0.40,2015
10,o14b,0.0,1.0,53.0,61.0,0,18.0,4.0,NaN,0.30,2015

### Cleaning 2016
- [Identifying Rows for Analysis 2016](#Identifying-Rows-for-Analysis-2016)
- [Creating Columns 2016](#Creating-Columns-2016)
- [Cleaning Analysis Columns 2016](#Cleaning-Analysis-Columns-2016)

[Clean Data](#Clean-Data);[Table of Contents](#Table-of-Contents)

#### Identifying Rows for Analysis 2016

Checking video notes to determine if any runs need to be excluded.  We will introduce a column identifying the rows to be use in subsequent analyses, _analyze_.

[Cleaning 2016](#Cleaning-2016) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [25]:
df2016.head()

,Species,New,toes,paintmark,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),sex,Tail Vial,toe vial,Flag,Site,Notes,Treatment,Random Assignment number,ART1,ART2,Video T/S,Additional Video T/S,TRT1,TRT2,TRT3,Unnamed: 25,Unnamed: 26,Sv,Sj,prop complete = 00.97,Unnamed: 30
0,sv,recap,1-12-20,w1c,55,62,7,NaN,5.4,NaN,M,NaN,NaN,7m ^bottom site,^CC,kink in bottom on T @33,0.0,0.276719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.000000,0.0000,NaN,NaN
1,sv,new,NaN,w.b2c,52,72,0,32.0,4.7,0.038,M,CAT16-1,NaN,NaN,^CC,NaN,2.0,0.766538,NaN,NaN,DSC_2649/20150710_053420,NaN,0.34,NaN,NaN,NaN,2,0.714286,0.0000,NaN,NaN
2,sv,recap,1-13-18,w3c,54,53,19,NaN,5.8,NaN,F,NaN,NaN,4^ w.b2c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sv,new,2-9-15,w4c,46,63,0,35.0,2.8,0.031,M,CAT16-2,C16-7,2m v opposite stacked wall v stump,^CC,NaN,2.0,0.462795,NaN,NaN,DSC_2649/20150710_053420,NaN,0.34,NaN,NaN,NaN,3,0.000000,0.1875,NaN,NaN
4,sv,recap,1-15-19,w5c,60,50,14,NaN,6.2,NaN,F,NaN,NaN,bottom rock wall v S-curve,NaN,[photo]s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Checking video notes to determine if any runs need to be excluded.  We will introduce a column identifying the rows to be use in subsequent analyses, _analyze_.

In [26]:
df2016['analyze'] = True

In [27]:
df2016.loc[df2016['Unnamed: 25'].notna(),['TRT1','TRT2','TRT3','Unnamed: 25']]

,TRT1,TRT2,TRT3,Unnamed: 25
7,0.36,NaN,NaN,long contact on 1st trial
9,0.59,NaN,NaN,need to think about how we count the start of righting events like this?
17,0.33,0.29,NaN,pushed off of hand with tail during 1st trial
21,NaN,NaN,0.11,Do not use; made contact during all attempts to right
23,0.28,NaN,NaN,Questionable contact during start of righting event
31,NaN,NaN,NaN,Do not use; made contact during all attempts to right
32,0.13,NaN,NaN,pushed off of hand with tail during 1st trial
33,0.38,0.54,NaN,TRT1 was with an intact tail; TRT2 was with 25% autotomy
43,0.19,0.29,NaN,TRT2 was recorded after a brief chase. Use TRT1

We will label _analyze_ values for any rows which indicate that the trial was questionable as False.

#### TRT1
Here we exclude first trial based on notes in the column _Unnamed: 25_

In [28]:
df2016.loc[(df2016['Unnamed: 25'].notna())&(df2016['Unnamed: 25'].str.contains('|'.join(['1st'])))
                                            ,['TRT1','TRT2','TRT3','Unnamed: 25']]

    TRT1  TRT2  TRT3                                     Unnamed: 25
7   0.36   NaN   NaN                       long contact on 1st trial
17  0.33  0.29   NaN  pushed off of hand with tail during 1st trial
32  0.13   NaN   NaN  pushed off of hand with tail during 1st trial

In [29]:
df2016.loc[(df2016['Unnamed: 25'].notna())&(df2016['Unnamed: 25'].str.contains('|'.join(['1st'])))
                                            ,['TRT1']]=np.nan
df2016.loc[(df2016['Unnamed: 25'].notna())&(df2016['Unnamed: 25'].str.contains('|'.join(['Use TRT1'])))
                                            ,['TRT2','TRT3']]=np.nan

In [30]:
df2016.loc[(df2016['Unnamed: 25'].notna())
           &(df2016['Unnamed: 25']
             .str.contains('|'.join(['Do not','exclude','Questionable',
                                     'TRT1 was with an intact tail; TRT2 was with 25% autotomy',
                                     'need to think about how we count the start of righting events like this?'])))
                                            ,['TRT1','TRT2','TRT3','Unnamed: 25']]

,TRT1,TRT2,TRT3,Unnamed: 25
9,0.59,NaN,NaN,need to think about how we count the start of righting events like this?
21,NaN,NaN,0.11,Do not use; made contact during all attempts to right
23,0.28,NaN,NaN,Questionable contact during start of righting event
31,NaN,NaN,NaN,Do not use; made contact during all attempts to right
33,0.38,0.54,NaN,TRT1 was with an intact tail; TRT2 was with 25% autotomy

In [31]:
df2016.loc[(df2016['Unnamed: 25'].notna())
           &(df2016['Unnamed: 25']
             .str.contains('|'.join(['Do not','exclude','Questionable',
                                     'TRT1 was with an intact tail; TRT2 was with 25% autotomy',
                                     'need to think about how we count the start of righting events like this?'])))
           ,['analyze']]=False
#label empty TRT rows as analyze false
df2016.loc[(df2016.TRT1.isna())&(df2016.TRT2.isna())&(df2016.TRT3.isna()),'analyze']=False

#### Remaining entries with notes
Here we exclude remaining trials based on notes in the column _Unnamed: 25_

In [32]:
df2016.loc[(df2016['Unnamed: 25'].notna())&(df2016['analyze']),['TRT1','TRT2','TRT3','Unnamed: 25']]

    TRT1  TRT2  TRT3                                       Unnamed: 25
17   NaN  0.29   NaN    pushed off of hand with tail during 1st trial
43  0.19   NaN   NaN  TRT2 was recorded after a brief chase.  Use TRT1

We can proceed with these values.

#### Creating Columns 2016
[Cleaning 2016](#Cleaning-2016) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

Here we will create a new column with the fastest righting times and year.

In [33]:
df2016['year']=2016

In [34]:
df2016.loc[df2016.analyze,['TRT1','TRT2','TRT3']] = df2016.loc[df2016.analyze,['TRT1','TRT2','TRT3']].fillna(999)
df2016.loc[(df2016['Unnamed: 25'].notna())&(df2016['analyze']),['TRT1','TRT2','TRT3','Unnamed: 25']]

      TRT1    TRT2   TRT3                                       Unnamed: 25
17  999.00    0.29  999.0    pushed off of hand with tail during 1st trial
43    0.19  999.00  999.0  TRT2 was recorded after a brief chase.  Use TRT1

In [35]:
df2016['TRTmin'] = np.nan
df2016.loc[df2016.analyze,'TRTmin'] = df2016.loc[df2016.analyze,['TRT1','TRT2','TRT3']].apply(min, axis = 1)
df2016.loc[df2016.analyze].TRTmin

1     0.34
3     0.34
6     0.51
13    0.26
14    0.46
15    0.29
17    0.29
20    0.31
22    0.16
24    0.34
25    0.34
26    0.23
27    0.29
28    0.34
29    0.29
30    0.26
34    0.34
35    0.34
36    0.34
37    0.31
38    0.34
39    0.31
40    0.71
41    0.33
42    0.41
43    0.19
44    0.26
45    0.68
Name: TRTmin, dtype: float64

#### Cleaning Analysis Columns 2016

Here we clean columns to be used in the actual analysis of Terrestrial Righting Times.  The following columns will be used:
Species, Sex, SVL, TL, RTL, Mass, and TRTmin.

[Cleaning 2016](#Cleaning-2016) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [36]:
df2016.loc[df2016.analyze,['Species','sex','SVL','TL','RTL','Mass','RemTL','Mass2 (post-autotomy)','TRTmin']].apply(review,0)

Species                                                                                                                                                                                                        (Unique types include the following: {<class 'str'>}, Unique values include:{'sj', 'sv'}, OK)
sex                                                                                                                                                                                                              (Unique types include the following: {<class 'str'>}, Unique values include:{'M', 'F'}, OK)
SVL                                                                                                                            (Unique types include the following: {<class 'int'>}, Unique values include:{44, 46, 47, 48, 50, 51, 52, 56, 60, 61, 62, 63, 67, 68, 69, 70, 71, 72, 73, 82, 83, 86, 92}, OK)
TL                                                                                                                         (Unique types include the following: {<class 'int'>}, Unique values include:{129, 50, 61, 62, 63, 64, 69, 72, 81, 83, 88, 91, 93, 95, 99, 100, 101, 104, 106, 109, 116, 122}, OK)
RTL                                                                                                                                                                                                                     (Unique types include the following: {<class 'int'>}, Unique values include:{0}, OK)
Mass                                                                                                           (Unique types include the following: {<class 'float'>}, Unique values include:{2.8, 3.1, 3.4, 4.7, 2.7, 7.8, 4.1, 9.5, 9.0, 3.9, 10.5, 10.0, 5.0, 6.0, 8.0, 11.0, 19.0, 21.0, 22.0, 4.5}, OK)
RemTL                                                                                                 (Unique types include the following: {<class 'float'>}, Unique values include:{14.0, 18.0, 20.0, 21.0, 22.0, 24.0, 26.0, 27.0, 28.0, 29.0, 32.0, 33.0, 34.0, 35.0, 65.0, 77.0, 78.0, 88.0, 100.0}, OK)
Mass2 (post-autotomy)    (Unique types include the following: {<class 'float'>}, Unique values include:{0.512, 1.25, 0.254, 1.165, 0.513, 0.05, 0.051000000000000004, 0.049, 0.038, 0.037, 0.04, 0.033, 0.032, 0.031, 0.03, 0.035, 0.099, 0.025, 0.02, 0.021, 0.017, 0.016, 0.014, 0.011, 0.008, 0.005}, OK)
TRTmin                                                                                                                                     (Unique types include the following: {<class 'float'>}, Unique values include:{0.34, 0.51, 0.26, 0.29, 0.46, 0.31, 0.16, 0.23, 0.71, 0.33, 0.19, 0.41, 0.68}, OK)
dtype: object

It looks like no columns require further inspection.
[Cleaning Analysis Columns 2016](#Cleaning-Analysis-Columns-2016) [Cleaning 2016](#Cleaning-2016) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

In [37]:
df2016.head(1)

,Species,New,toes,paintmark,SVL,TL,RTL,RemTL,Mass,Mass2 (post-autotomy),sex,Tail Vial,toe vial,Flag,Site,Notes,Treatment,Random Assignment number,ART1,ART2,Video T/S,Additional Video T/S,TRT1,TRT2,TRT3,Unnamed: 25,Unnamed: 26,Sv,Sj,prop complete = 00.97,Unnamed: 30,analyze,year,TRTmin
0,sv,recap,1-12-20,w1c,55,62,7,NaN,5.4,NaN,M,NaN,NaN,7m ^bottom site,^CC,kink in bottom on T @33,0.0,0.276719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0,0.0,NaN,NaN,False,2016,NaN

For analysis we will use the object _df2016Analysis_

In [38]:
df2016Analysis = df2016.loc[df2016.analyze,['Species','sex','Treatment','paintmark','SVL','TL','RTL','RemTL','Mass2 (post-autotomy)','year','TRTmin']]\
.rename(columns={'Mass2 (post-autotomy)':'RemMass'})
df2016Analysis.head()

,Species,sex,Treatment,paintmark,SVL,TL,RTL,RemTL,RemMass,year,TRTmin
1,sv,M,2.0,w.b2c,52,72,0,32.0,0.038,2016,0.34
3,sv,M,2.0,w4c,46,63,0,35.0,0.031,2016,0.34
6,sv,F,2.0,w6c,48,64,0,32.0,0.032,2016,0.51
13,sv,M,2.0,w11c,47,61,0,32.0,0.033,2016,0.26
14,sj,M,4.0,w4b,69,93,0,26.0,0.037,2016,0.46

### Creating a Combined Dataset

In [39]:
commoncols8_12and15 = [col for col in df2008_12.columns if col in df2015Analysis.columns]
commoncols = [col for col in commoncols8_12and15 if col in df2016Analysis]
commoncols

['year',
 'Treatment',
 'paintmark',
 'TRTmin',
 'Species',
 'sex',
 'SVL',
 'TL',
 'RTL',
 'RemTL',
 'RemMass']

In [67]:
dfAnalysis = pd.concat([df2008_12[commoncols],df2015Analysis[commoncols],df2016Analysis[commoncols]],sort = False)
print("The resulting df has a shape of {} and {} rows with na values for sex or Species."\
      .format(dfAnalysis.shape,dfAnalysis.loc[(dfAnalysis.sex.isna())|(dfAnalysis.Species.isna())].shape[0]))

The resulting df has a shape of (144, 11) and 0 rows with na values for sex or Species.

In [68]:
dfAnalysis.apply(review,axis = 0)

year                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               (Unique types include the following: {<class 'int'>}, Unique values include:{2016, 2007, 2008, 2010, 2011, 2012, 2015}, OK)
Treatment                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         (Unique types include the following: {<class 'float'>}, Unique values include:{1.0, 2.0, 3.0, 4.0, 5.0}, OK)
paintmark    (Unique types include the following: {<class 'float'>, <class 'str'>}, Unique values include:{nan, 'o33b', 'w7b', 'w11b', 'w14c', 'o24b', 'yB1b', 'o22b', 'w12b', 'yA4b.t', 'o8b', 'wK4b', 'y13b', 'o6b', 'B5', 'o27b', 'w44b', 'w6c', 'w4b', 'yD2b.t', 'w21b', 'o23b', 'wI1b', 'w25b', 'o12b.t', 'w9b', 'w38c', 'wJ3b', 'o34b', 'o20b', 'o19b', 'y18b', 'y4b', 'p5b', 'o15b', 'o18b', 'w4c', 'w16b', 'o28b', 'wJ12b', 'yE6b', 'w18c', 'o11b', 'w10b', 'y21b', 'y8b', 'w15b', 'w38b', 'w11c', 'y6b', 'wJ14b', 'yB2b', 'o1b', 'o14b', 'yG3b', 'wL4b', 'wJ2b', 'yC4b', 'yE4b', 'yE1b', 'yB3b', 'C1', 'yA2b', 'yE2b', 'o25b', '1f', 'w5b', 'o32b', 'o4b', '2f', 'o5b', 'wL5b', 'w20b', 'o30b', 'o17b', 'w17b', 'yD1b', 'yA1b', 'o13b+t', 'yA7b', 'o3b', 'y2b', 'o37b', 'wI4b', 'o10b', 'w19b', 'w16c', 'w8b', 'w.b2c', 'y14b', 'w23b', 'o2b', 'w26b', 'yA6b', 'y9b', 'yG5b', 'yC1b', 'wL2b', 'y10b', 'yD3b', 'wK2b', 'wL3b', 'yG4b', 'w22b', 'w24b', 'o16b', 'wJ11b', 'w13b', 'w18b', 'y5b'}, Check)
TRTmin                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    (Unique types include the following: {<class 'float'>}, Unique values include:{0.13, 0.32, 0.36, 0.29, 0.31, 0.24, 0.19, 0.25, 0.42, 0.07, 0.34, 0.26, 0.51, 0.43, 0.18, 0.68, 0.11, 0.27, 0.28, 0.7, 0.2, 0.37, 0.17, 0.21, 0.15, 0.22, 0.23, 0.09, 0.16, 0.03, 0.46, 0.38, 0.71, 0.3, 0.30000000000000004, 0.14, 0.08, 0.4, 0.49, 0.41, 0.33}, OK)
Species                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            (Unique types include the following: {<class 'float'>, <class 'str'>, <class 'int'>}, Unique values include:{0.0, 1, 2, 'sv', 'sj'}, Check)
sex                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       (Unique types include the following: {<class 'float'>, <class 'str'>, <class 'int'>}, Unique values include:{0, 1, 'M', 'F'}, Check)
SVL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (Unique types include the following: {<class 'float'>}, Unique values include:{40.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0}, OK)
TL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               (Unique types include the following: {<class 'float'>}, Unique values include:{128.0, 129.0, 6.0, 40.0, 50.0, 52.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 80.0, 81.0, 82.0, 83.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 114.0, 116.0, 118.0, 120.0, 122.0, 123.0, 124.0, 126.0}, OK)
RTL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            (Unique types include the following: {<class 'int'>}, Unique values include:{0, 34, 4, 40, 42, 10, 46, 47, 49, 23, 25, 26}, OK)
RemTL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 14.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 31.0, 32.0, 33.0, 34.0, 35.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 47.5, 48.0, 50.0, 51.0, 52.0, 54.0, 56.0, 57.0, 59.0, 60.0, 61.0, 63.0, 65.0, 68.0, 71.0, 72.0, 73.0, 77.0, 78.0, 80.0, 82.0, 83.0, 88.0, 100.0}, OK)
RemMass                                                                                                                                                 (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, nan, 0.369, nan, nan, nan, nan, nan, nan, nan, nan, 10.3, 4.0, 13.0, 14.4, 14.5, 8.8, 17.3, 9.2, 19.0, 11.5, 15.0, 5.5, nan, nan, nan, 0.0223, nan, nan, nan, nan, 6.0, nan, 0.2221, 0.1273, 0.1756, 0.099, 1.165, 0.0346, 0.0125, 0.174, 0.184, 0.2383, 0.4542, nan, nan, nan, 1.25, 0.051000000000000004, 0.0665, 0.049, 0.254, 0.037, 0.0431, 0.1419, 0.031, 0.033, 0.035, 0.025, 4.8, 0.021, 5.8, 0.0432, 0.017, 7.8, 0.011, 0.0574, 0.0352, 0.009000000000000001, 0.005, 0.0151, 0.38, 0.5915, 0.4043, 0.0675, 0.1864, 0.513, 0.0072, 0.1667, 0.08199999999999999, 0.1847, 0.1202, 0.0396, 6.2, 0.0095, 0.35200000000000004, 0.1084, 0.1688, 0.1789, 0.05, 3.1, 0.038, 0.04, 0.0098, 0.171, 0.032, 0.03, 0.02, 0.0543, 0.512, 0.016, 0.014, 0.01, 0.008}, OK)
dtype: object

##### Create propRemTL combined

Here we a column that reports the proportion of TL that was removed.

In [76]:
dfAnalysis['propRemTL'] = dfAnalysis.RemTL/dfAnalysis.TL

##### Creating a Consistent Treatment column
Since the coding for Treatment was inconsistent over the years, we will create a column that identifies the treatment group based on the proportion of tail that was actually removed.

In [92]:
dfAnalysis['Treatment2']= np.nan
dfAnalysis.loc[dfAnalysis.propRemTL.apply(lambda x:(float('{:.2}'.format(x))))>=.75,'Treatment2'] = '75%'
dfAnalysis.loc[(dfAnalysis.propRemTL.apply(lambda x:(float('{:.2}'.format(x))))<.75)
               &(dfAnalysis.propRemTL.apply(lambda x:(float('{:.2}'.format(x))))>=.5),
               'Treatment2'] = '50%'
dfAnalysis.loc[(dfAnalysis.propRemTL.apply(lambda x:(float('{:.2}'.format(x))))<.5)
               &(dfAnalysis.propRemTL.apply(lambda x:(float('{:.2}'.format(x))))>=.25),
               'Treatment2'] = '25%'
dfAnalysis.loc[(dfAnalysis.propRemTL==0),'Treatment2'] = 'Intact'

In [93]:
dfAnalysis.groupby('Treatment2').propRemTL.describe()

,count,mean,std,min,25%,50%,75%,max
Treatment2,,,,,,,,
25%,50.0,0.272273,0.029705,0.245614,0.253574,0.265625,0.280000,0.444444
50%,25.0,0.524778,0.028595,0.500000,0.500000,0.520000,0.533333,0.621212
75%,27.0,0.780004,0.022641,0.747664,0.764699,0.782609,0.786300,0.857143
Intact,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

##### Species and Sex combined

Here we standardize values for _sex_ and _Species_ across years.

In [69]:
dfAnalysis.Species.unique()

array([1, 2, 0.0, 'sv', 'sj'], dtype=object)

In [63]:
dfAnalysis.loc[dfAnalysis.Species==0.0].sort_values('paintmark')

,year,Treatment,paintmark,TRTmin,Species,sex,SVL,TL,RTL,RemTL,RemMass
10,2015,4.0,o14b,0.30,0,1,53.0,61.0,0,18.0,NaN
13,2015,4.0,o17b,0.33,0,1,55.0,70.0,0,17.0,5.5
14,2015,2.0,o18b,0.30,0,0,51.0,69.0,0,35.0,4.0
16,2015,4.0,o1b,0.26,0,0,54.0,67.0,0,18.0,NaN
17,2015,4.0,o20b,0.26,0,0,61.0,69.0,0,17.0,7.8
20,2015,4.0,o23b,0.36,0,1,55.0,76.0,0,19.0,5.5
22,2015,4.0,o25b,0.20,0,0,60.0,71.0,0,18.0,6.0
24,2015,4.0,o27b,0.36,0,0,46.0,61.0,0,18.0,3.1
27,2015,4.0,o2b,0.23,0,1,50.0,67.0,0,19.0,NaN
30,2015,4.0,o32b,0.40,0,0,52.0,64.0,0,17.0,5.8
36,2015,4.0,o3b,0.33,0,1,49.0,68.0,0,17.0,NaN
37,2015,4.0,o4b,0.20,0,0,50.0,66.0,0,20.0,NaN
38,2015,4.0,o5b,0.26,0,0,59.0,67.0,0,17.0,NaN
39,2015,4.0,o6b,0.40,0,1,55.0,75.0,0,20.0,NaN
41,2015,2.0,o8b,0.30,0,0,50.0,64.0,0,34.0,NaN
50,2015,4.0,w38b,0.36,0,0,55.0,67.0,0,17.0,4.8

In [60]:
dfAnalysis.groupby('year').sex.value_counts(dropna=False)

year  sex
2007  1      17
      0      16
2008  0       4
2010  0       1
2011  0       7
      1       5
2012  1      23
      0      12
2015  0      20
      1      11
2016  M      16
      F      12
Name: sex, dtype: int64

In [70]:
demoDict = {'Species':{1:'sj', 2:'sv', 0.0:'sv', 'sv':'sv', 'sj':'sj'},'sex':{0:'F',1:'M','F':'F','M':'M'}}
dfAnalysis['sex'] = dfAnalysis['sex'].map(demoDict['sex'])
dfAnalysis['Species'] = dfAnalysis['Species'].map(demoDict['Species'])

In [71]:
dfAnalysis.apply(review,0)

year                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               (Unique types include the following: {<class 'int'>}, Unique values include:{2016, 2007, 2008, 2010, 2011, 2012, 2015}, OK)
Treatment                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         (Unique types include the following: {<class 'float'>}, Unique values include:{1.0, 2.0, 3.0, 4.0, 5.0}, OK)
paintmark    (Unique types include the following: {<class 'float'>, <class 'str'>}, Unique values include:{nan, 'o33b', 'w7b', 'w11b', 'w14c', 'o24b', 'yB1b', 'o22b', 'w12b', 'yA4b.t', 'o8b', 'wK4b', 'y13b', 'o6b', 'B5', 'o27b', 'w44b', 'w6c', 'w4b', 'yD2b.t', 'w21b', 'o23b', 'wI1b', 'w25b', 'o12b.t', 'w9b', 'w38c', 'wJ3b', 'o34b', 'o20b', 'o19b', 'y18b', 'y4b', 'p5b', 'o15b', 'o18b', 'w4c', 'w16b', 'o28b', 'wJ12b', 'yE6b', 'w18c', 'o11b', 'w10b', 'y21b', 'y8b', 'w15b', 'w38b', 'w11c', 'y6b', 'wJ14b', 'yB2b', 'o1b', 'o14b', 'yG3b', 'wL4b', 'wJ2b', 'yC4b', 'yE4b', 'yE1b', 'yB3b', 'C1', 'yA2b', 'yE2b', 'o25b', '1f', 'w5b', 'o32b', 'o4b', '2f', 'o5b', 'wL5b', 'w20b', 'o30b', 'o17b', 'w17b', 'yD1b', 'yA1b', 'o13b+t', 'yA7b', 'o3b', 'y2b', 'o37b', 'wI4b', 'o10b', 'w19b', 'w16c', 'w8b', 'w.b2c', 'y14b', 'w23b', 'o2b', 'w26b', 'yA6b', 'y9b', 'yG5b', 'yC1b', 'wL2b', 'y10b', 'yD3b', 'wK2b', 'wL3b', 'yG4b', 'w22b', 'w24b', 'o16b', 'wJ11b', 'w13b', 'w18b', 'y5b'}, Check)
TRTmin                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    (Unique types include the following: {<class 'float'>}, Unique values include:{0.13, 0.32, 0.36, 0.29, 0.31, 0.24, 0.19, 0.25, 0.42, 0.07, 0.34, 0.26, 0.51, 0.43, 0.18, 0.68, 0.11, 0.27, 0.28, 0.7, 0.2, 0.37, 0.17, 0.21, 0.15, 0.22, 0.23, 0.09, 0.16, 0.03, 0.46, 0.38, 0.71, 0.3, 0.30000000000000004, 0.14, 0.08, 0.4, 0.49, 0.41, 0.33}, OK)
Species                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          (Unique types include the following: {<class 'str'>}, Unique values include:{'sj', 'sv'}, OK)
sex                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                (Unique types include the following: {<class 'str'>}, Unique values include:{'M', 'F'}, OK)
SVL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (Unique types include the following: {<class 'float'>}, Unique values include:{40.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0}, OK)
TL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               (Unique types include the following: {<class 'float'>}, Unique values include:{128.0, 129.0, 6.0, 40.0, 50.0, 52.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 80.0, 81.0, 82.0, 83.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 114.0, 116.0, 118.0, 120.0, 122.0, 123.0, 124.0, 126.0}, OK)
RTL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            (Unique types include the following: {<class 'int'>}, Unique values include:{0, 34, 4, 40, 42, 10, 46, 47, 49, 23, 25, 26}, OK)
RemTL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 14.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 31.0, 32.0, 33.0, 34.0, 35.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 47.5, 48.0, 50.0, 51.0, 52.0, 54.0, 56.0, 57.0, 59.0, 60.0, 61.0, 63.0, 65.0, 68.0, 71.0, 72.0, 73.0, 77.0, 78.0, 80.0, 82.0, 83.0, 88.0, 100.0}, OK)
RemMass                                                                                                                                                 (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, nan, 0.369, nan, nan, nan, nan, nan, nan, nan, nan, 10.3, 4.0, 13.0, 14.4, 14.5, 8.8, 17.3, 9.2, 19.0, 11.5, 15.0, 5.5, nan, nan, nan, 0.0223, nan, nan, nan, nan, 6.0, nan, 0.2221, 0.1273, 0.1756, 0.099, 1.165, 0.0346, 0.0125, 0.174, 0.184, 0.2383, 0.4542, nan, nan, nan, 1.25, 0.051000000000000004, 0.0665, 0.049, 0.254, 0.037, 0.0431, 0.1419, 0.031, 0.033, 0.035, 0.025, 4.8, 0.021, 5.8, 0.0432, 0.017, 7.8, 0.011, 0.0574, 0.0352, 0.009000000000000001, 0.005, 0.0151, 0.38, 0.5915, 0.4043, 0.0675, 0.1864, 0.513, 0.0072, 0.1667, 0.08199999999999999, 0.1847, 0.1202, 0.0396, 6.2, 0.0095, 0.35200000000000004, 0.1084, 0.1688, 0.1789, 0.05, 3.1, 0.038, 0.04, 0.0098, 0.171, 0.032, 0.03, 0.02, 0.0543, 0.512, 0.016, 0.014, 0.01, 0.008}, OK)
dtype: object

## Descriptive Analyses
[Table of Contents](#Table-of-Contents)

### TRTmin 

[Descriptive Analyses](#Descriptive-Analyses) [Clean Data](#Clean-Data) [Table of Contents](#Table-of-Contents)

Let's determine if the times for TRTmin are skewed.

In [74]:
dfAnalysis.groupby(['Species','Treatment']).TRTmin.count().reset_index()

  Species  Treatment  TRTmin
0      sj        1.0      11
1      sj        2.0      10
2      sj        3.0      14
3      sj        4.0      28
4      sj        5.0      12
5      sv        1.0      13
6      sv        2.0      16
7      sv        3.0       9
8      sv        4.0      31

In [109]:
dfAnalysis.loc[(idxSj)].groupby('Treatment2').TRTmin.count()

Treatment2
25%       26
50%       10
75%       13
Intact    23
Name: TRTmin, dtype: int64

In [118]:
## need to fix the x-axis labels
idxSj = dfAnalysis.Species =='sj'
# idxIntact = dfAnalysis.Treatment2=='Intact'
# idx25 = dfAnalysis.Treatment2=='25%'
# idx50 = dfAnalysis.Treatment2=='50%'
# idx75 = dfAnalysis.Treatment2=='75%'
Sj = go.Bar(y=dfAnalysis.loc[(idxSj)].groupby('Treatment2').TRTmin.count(),name='Sj')
Sv = go.Bar(y=dfAnalysis.loc[(~idxSj)].groupby('Treatment2').TRTmin.count(),name='Sv')
# Sj25 = go.Histogram(x=dfAnalysis.loc[(idxSj)].groupby('Treatment2').TRTmin.count(),name ='25%')
# Sj50 = go.Histogram(x=dfAnalysis.loc[(idxSj)].groupby('Treatment2').TRTmin.count(),name = '50%')
# Sj75 = go.Histogram(x=dfAnalysis.loc[(idxSj)].groupby('Treatment2').TRTmin.count(),name = '75%')
data=[Sj,Sv]
layout = go.Layout(
    title = 'Histogram of Records by Treatment and Species',
    titlefont = dict(
        size = 20),
    xaxis= dict(
    ),
    yaxis = dict(
        title = 'Treatment',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Number of Records by treatment and trial.html')

In [129]:
threshold = 0.05
res = ss.skewtest(np.array(dfAnalysis.loc[idxSj].TRTmin))
if res[1] <= threshold:
    decision = "are "
else:
    decision = "are not "
print("Times for TRTmin in S. jarrovii {}skewed. {}".format(decision,res))

Times for TRTmin in S. jarrovii are skewed. SkewtestResult(statistic=4.32352236105819, pvalue=1.5355756588039867e-05)

In [139]:
dfAnalysis['TRTminLog'] = dfAnalysis.TRTmin.apply(lambda x: np.log(x))
threshold = 0.05
res = ss.skewtest(np.array(dfAnalysis.loc[idxSj].TRTminLog))
if res[1] <= threshold:
    decision = "are "
else:
    decision = "are not "
print("Times for TRTminLog in S. jarrovii {}skewed. {}".format(decision,res))

Times for TRTminLog in S. jarrovii are not skewed. SkewtestResult(statistic=0.521271271524251, pvalue=0.6021778109212036)

We will use the log transformed valies for S jarrovii analysis of TRTmin.

In [140]:
threshold = 0.05
res = ss.skewtest(np.array(dfAnalysis.loc[~idxSj].TRTmin))
if res[1] <= threshold:
    decision = "are "
else:
    decision = "are not "
print("Times for TRTmin in S. virgatus {}skewed. {}".format(decision,res))

Times for TRTmin in S. virgatus are not skewed. SkewtestResult(statistic=0.4248916686480463, pvalue=0.6709156483522115)

In [144]:
dfAnalysis[['sex','Treatment2','Species',]].apply(pd.Series.value_counts)

         sex  Treatment2  Species
25%      NaN        50.0      NaN
50%      NaN        25.0      NaN
75%      NaN        27.0      NaN
F       72.0         NaN      NaN
Intact   NaN        37.0      NaN
M       72.0         NaN      NaN
sj       NaN         NaN     75.0
sv       NaN         NaN     69.0

# Resume
[Table of Contents](#Table-of-Contents)

## Export

In [145]:
dfAnalysis.to_csv('TRT 2008-2016 analysis.csv')