# Table of Contents
1. [Introduction](#Introduction)
2. [Setting Up Environment](#Setting-Up-Environment)
2. [Functions](#Functions)
3. [Getting Data](#Getting-Data)
3. [Descriptive Analysis](#Descriptive-Analysis)
    1. [Independent Variables](#Independent-Variables)
    2. [Dependent Variables](#Dependent-Variables)
4. [Inferential Analysis](#Inferential-Analysis)
    1. [_Sceloporus jarrovii_](#Sceloporus-jarrovii)
    1. [_Sceloporus virgatus_](#Sceloporus-virgatus)
5. [Conclusions](#Conclusions)
6. [Discussion](#Discussion)

## Introduction 

[Back to TOC](#Table-of-Contents)

## Setting Up Environment

[Back to TOC](#Table-of-Contents)

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import pingouin as pg
import os, glob, logging
from summary_functions import *
import plotly
import chart_studio.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
pd.options.display.max_columns = 50
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = 1500

# Functions

[Back to TOC](#Table-of-Contents)

In [3]:
def report(row, threshcol,threshold = 0.05):
    if row[threshcol]<=threshold:
        res = print("{} and {} are significantly different (diff = {}) with an effect size of {} (effect type {})"\
       .format(row['A'], row['B'],row['diff'],row['efsize'],row['eftype']))
    else:
        res="{} and {} are not significantly different (p = {}).".format(row['A'],row['B'],row[threshcol])
    return res

# Getting Data
[Back to TOC](#Table-of-Contents)

In [4]:
df = pd.read_csv('TRT 2008-2016 analysis.csv')

In [5]:
print('There are {} rows in the file and {} columns.\n{}'.format(df.shape[0],df.shape[1],[col for col in df.columns]))

There are 144 rows in the file and 15 columns.
['year', 'Treatment', 'paintmark', 'TRTmin', 'Species', 'sex', 'SVL', 'TL', 'RTL', 'RemTL', 'RemMass', 'propRemTL', 'Treatment2', 'Treatment3', 'TRTminLog']

## Descriptive Analysis 
1. [Independent Variables](#Independent-Variables)
2. [Dependent Variables](#Dependent-Variables)

[Back to TOC](#Table-of-Contents)

### Independent Variables 

The independent variables include 'year', 'Treatment', 'paintmark', 'Species', 'sex', 'SVL', 'TL', 'RTL', 'RemTL', 'RemMass', 'propRemTL', and 'Treatment2'.

[Back to Descriptive Analysis](#Descriptive-Analysis); [Back to TOC](#Table-of-Contents)

In [6]:
df.groupby(['Species','Treatment2']).TRTmin.count()

Species  Treatment2
sj       25%           29
         50%           10
         75%           13
         Intact        23
sv       25%           26
         50%           15
         75%           14
         Intact        14
Name: TRTmin, dtype: int64

In [7]:
df.groupby(['Species','Treatment3']).TRTmin.count()

Species  Treatment3
sj       25%           29
         >=50%         23
         Intact        23
sv       25%           26
         >=50%         29
         Intact        14
Name: TRTmin, dtype: int64

We will use Treatment3 as our indipendent variable.

In [8]:
IV = ['year', 'SVL', 'TL', 'RTL', 'RemTL', 'RemMass', 'propRemTL']
for v in IV:
    print("\n\nReport for '{}':\nDESCRIBE: \n{}\nREVIEW: \n{} "\
          .format(v,df.groupby('Species')[v].apply(distribution),df.groupby('Species')[v].apply(review)))

Report for 'year':
DESCRIBE:
            n  minimum  maximum  median  siqr         mean     stdev
Species
sj      0  75     2007     2016  2011.0   4.5  2011.440000  4.156532
sv      0  69     2008     2016  2012.0   1.5  2012.753623  2.068004
REVIEW:
Species
sj                (Unique types include the following: {<class 'int'>}, Unique values include:{2016, 2015, 2011, 2007}, OK)
sv    (Unique types include the following: {<class 'int'>}, Unique values include:{2016, 2008, 2010, 2011, 2012, 2015}, OK)
Name: year, dtype: object


Report for 'SVL':
DESCRIBE:
            n  minimum  maximum  median  siqr       mean     stdev
Species
sj      0  75     56.0     92.0    76.0  7.25  75.306667  9.122253
sv      0  69     40.0     66.0    53.0  3.00  53.550725  5.454454
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{56.0, 60.0, 61.0, 62.0, 63.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0}, OK)
sv                                                                (Unique types include the following: {<class 'float'>}, Unique values include:{40.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 64.0, 65.0, 66.0}, OK)
Name: SVL, dtype: object


Report for 'TL':
DESCRIBE:
            n  minimum  maximum  median  siqr       mean      stdev
Species
sj      0  75      6.0    129.0    98.0  8.75  96.600000  19.435966
sv      0  69     50.0     82.0    68.0  4.50  68.028986   6.363894
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{128.0, 129.0, 6.0, 40.0, 62.0, 65.0, 67.0, 72.0, 76.0, 80.0, 81.0, 83.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 114.0, 116.0, 118.0, 120.0, 122.0, 123.0, 124.0, 126.0}, OK)
sv                                                                                                                                                              (Unique types include the following: {<class 'float'>}, Unique values include:{50.0, 52.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 80.0, 82.0}, OK)
Name: TL, dtype: object


Report for 'RTL':
DESCRIBE:
            n  minimum  maximum  median  siqr      mean     stdev
Species
sj      0  75        0       49     0.0   0.0  5.266667  13.51309
sv      0  69        0        0     0.0   0.0  0.000000   0.00000
REVIEW:
Species
sj    (Unique types include the following: {<class 'int'>}, Unique values include:{0, 34, 4, 40, 42, 10, 46, 47, 49, 23, 25, 26}, OK)
sv                                               (Unique types include the following: {<class 'int'>}, Unique values include:{0}, OK)
Name: RTL, dtype: object


Report for 'RemTL':
DESCRIBE:
            n  minimum  maximum  median  siqr       mean      stdev
Species
sj      0  75      0.0    100.0    26.0  27.5  30.886667  28.584225
sv      0  69      0.0     63.0    20.0  11.5  26.057971  19.203924
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 18.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 31.0, 34.0, 47.5, 50.0, 54.0, 56.0, 57.0, 60.0, 63.0, 65.0, 68.0, 71.0, 72.0, 73.0, 77.0, 78.0, 80.0, 82.0, 83.0, 88.0, 100.0}, OK)
sv                                   (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 14.0, 16.0, 17.0, 18.0, 19.0, 20.0, 22.0, 32.0, 33.0, 34.0, 35.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 48.0, 51.0, 52.0, 54.0, 56.0, 57.0, 59.0, 60.0, 61.0, 63.0}, OK)
Name: RemTL, dtype: object


Report for 'RemMass':
DESCRIBE:
            n  minimum  maximum  median  siqr      mean     stdev
Species
sj      0  67      0.0     19.0  0.0346   NaN  2.188001  4.915594
sv      0  57      0.0      7.8  0.0396   NaN  0.793930  1.909064
REVIEW:
Species
sj                                      (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, nan, 0.174, 0.369, 0.184, nan, nan, nan, 0.35200000000000004, 0.38, 0.5915, nan, nan, nan, 10.3, 13.0, 14.4, 8.8, 14.5, 19.0, 17.3, 15.0, 0.051, nan, 0.0223, 1.25, 0.049, 0.254, 9.2, 0.038, 0.04, 11.5, 0.4043, 0.171, 0.037000000000000005, 0.03, 0.035, 0.099, 1.165, 0.0346, 0.025, 0.02, 0.021, 6.2, 0.016, 0.512, 0.013999999999999999, 0.017, 0.513, 0.0352, 0.008, 0.4542}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 0.0675, nan, nan, 0.0665, nan, 0.1864, 0.2383, 0.1084, 0.1688, nan, nan, 5.5, 4.0, nan, 7.8, 6.0, nan, nan, nan, nan, 0.0072, nan, nan, 0.05, 3.1, 0.038, 0.0098, 0.032, 0.0431, 0.2221, 0.1667, 0.1419, 0.08199999999999999, 0.1273, 0.1847, 0.1202, 0.1756, 0.031, 0.0396, 4.8, 5.8, 0.1789, 0.0543, 0.0432, 0.033, 0.0125, 0.01, 0.0095, 0.011000000000000001, 0.0574, 0.008, 0.009000000000000001, 0.005, 0.0151}, OK)
Name: RemMass, dtype: object


Report for 'propRemTL':
DESCRIBE:
            n  minimum   maximum    median      siqr      mean     stdev
Species
sj      0  75      0.0  0.803922  0.262712  0.250000  0.304651  0.272544
sv      0  69      0.0  0.857143  0.293333  0.152778  0.378834  0.271710
REVIEW:
Species
sj                                                                                 (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 0.5, 0.5102040816326531, 0.5084745762711864, 0.5181818181818182, 0.5483870967741935, 0.2621359223300971, 0.26744186046511625, 0.8039215686274509, 0.7857142857142857, 0.25, 0.2826086956521739, 0.7659574468085106, 0.27956989247311825, 0.7623762376237624, 0.2962962962962963, 0.7751937984496124, 0.2530120481927711, 0.25842696629213485, 0.2641509433962264, 0.27884615384615385, 0.2568807339449541, 0.28, 0.7878787878787878, 0.29473684210526313, 0.2307692307692308, 0.2456140350877193, 0.7831325301204819, 0.2637362637362637, 0.2777777777777778, 0.25263157894736843, 0.2727272727272727, 0.2627118644067797, 0.7830188679245284, 0.2432432432432433, 0.2786885245901639, 0.25925925925925924, 0.7634408602150538, 0.7849462365591398, 0.2429906542056075, 0.7586206896551724, 0.7476635514018691}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 0.52, 0.5333333333333333, 0.5238095238095238, 0.6212121212121212, 0.5365853658536586, 0.5256410256410257, 0.5, 0.5671641791044776, 0.5555555555555556, 0.265625, 0.75, 0.7702702702702703, 0.29508196721311475, 0.25, 0.53125, 0.7826086956521741, 0.7536231884057971, 0.2933333333333333, 0.2835820895522388, 0.30303030303030304, 0.7875, 0.7662337662337663, 0.5072463768115942, 0.2898550724637681, 0.26865671641791045, 0.7567567567567568, 0.28, 0.2537313432835821, 0.2352941176470588, 0.2571428571428571, 0.7868852459016393, 0.7820512820512819, 0.24285714285714285, 0.2647058823529412, 0.2463768115942029, 0.26666666666666666, 0.532258064516129, 0.7763157894736842, 0.7846153846153846, 0.29411764705882354, 0.2727272727272727, 0.8076923076923077, 0.2535211267605634, 0.2533333333333333, 0.8571428571428571, 0.5245901639344263, 0.8115942028985508, 0.4444444444444444}, OK)
Name: propRemTL, dtype: object

C:\Users\craga\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3826: RuntimeWarning:

Invalid value encountered in percentile

### Dependent Variables 

[Back to Descriptive Analysis](#Descriptive-Analysis); [Back to TOC](#Table-of-Contents)

In [9]:
DV = ['TRTmin','TRTminLog']
for v in DV:
    print("\n\nReport for '{}':\nDESCRIBE: \n{}\nREVIEW: \n{} "\
          .format(v,df.groupby('Species')[v].apply(distribution),df.groupby('Species')[v].apply(review)))

Report for 'TRTmin':
DESCRIBE:
            n  minimum  maximum  median    siqr      mean     stdev
Species
sj      0  75     0.13     0.71    0.29  0.0675  0.289200  0.120805
sv      0  69     0.03     0.51    0.26  0.0700  0.258986  0.100968
REVIEW:
Species
sj                                  (Unique types include the following: {<class 'float'>}, Unique values include:{0.13, 0.32, 0.36, 0.29, 0.31, 0.24, 0.42, 0.19, 0.25, 0.7, 0.34, 0.26, 0.18, 0.43, 0.68, 0.28, 0.2, 0.17, 0.21, 0.15, 0.23, 0.16, 0.46, 0.71, 0.30000000000000004, 0.14, 0.4, 0.41, 0.33}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{0.19, 0.07, 0.24, 0.25, 0.27, 0.28, 0.4, 0.3, 0.26, 0.43, 0.34, 0.51, 0.18, 0.11, 0.36, 0.2, 0.37, 0.29, 0.15, 0.22, 0.17, 0.09, 0.16, 0.23, 0.21, 0.03, 0.38, 0.30000000000000004, 0.14, 0.31, 0.08, 0.32, 0.49, 0.33}, OK)
Name: TRTmin, dtype: object


Report for 'TRTminLog':
DESCRIBE:
            n   minimum   maximum    median      siqr      mean     stdev
Species
sj      0  75 -2.040221 -0.342490 -1.237874  0.253117 -1.317702  0.391983
sv      0  69 -3.506558 -0.673345 -1.347074  0.276034 -1.449283  0.497282
REVIEW:
Species
sj                                                                                      (Unique types include the following: {<class 'float'>}, Unique values include:{-0.8675005677047231, -0.35667494393873245, -0.8439700702945291, -0.916290731874155, -0.7765287894989963, -0.342490308946776, -0.8915981192837836, -0.3856624808119846, -1.9661128563728327, -1.3862943611198906, -1.4696759700589417, -1.4271163556401458, -1.6607312068216509, -1.5606477482646683, -1.6094379124341005, -1.3470736479666092, -1.1086626245216111, -1.203972804325936, -1.0216512475319814, -1.7719568419318752, -1.171182981502945, -1.8971199848858813, -1.0788096613719298, -1.2378743560016174, -1.7147984280919266, -1.8325814637483104, -1.1394342831883648, -2.0402208285265546, -1.272965675812887}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{-0.8439700702945291, -0.916290731874155, -0.9942522733438668, -0.9675840262617056, -0.7133498878774648, -0.6733445532637656, -1.5141277326297755, -1.3862943611198906, -1.9661128563728327, -2.2072749131897207, -1.3093333199837622, -1.4696759700589417, -1.1394342831883648, -1.4271163556401458, -1.6607312068216509, -1.3470736479666092, -1.6094379124341005, -1.5606477482646683, -1.1086626245216111, -2.525728644308256, -1.8971199848858813, -1.7719568419318752, -1.0216512475319814, -1.0788096613719298, -1.171182981502945, -1.7147984280919266, -1.2378743560016174, -1.8325814637483104, -2.407945608651872, -1.203972804325936, -3.5065578973199822, -2.6592600369327783, -1.272965675812887}, OK)
Name: TRTminLog, dtype: object

## Inferential Analysis

Here we compare the Terrestrial Righting times of

1. [_Sceloporus jarrovii_](#Sceloporus-jarrovii)
1. [_Sceloporus virgatus_](#Sceloporus-virgatus)

For _S. jarrovii_ we will use TRTminLog since TRTmin times were skewed.  For _S. virgatus_ we will use TRTmin.

[Back to TOC](#Table-of-Contents)

### _Sceloporus jarrovii_

[Back to Inferential Analysis](#Inferential-Analysis); [Back to TOC](#Table-of-Contents)

In [11]:
aovSj = pg.anova(data=df.loc[df.Species=='sj'], dv='TRTminLog', between='Treatment3', detailed=True)
aovSj

       Source     SS  DF     MS      F       p-unc    np2
0  Treatment3  1.916   2  0.958  7.297  0.00130162  0.169
1      Within  9.454  72  0.131      -           -      -

In [11]:
aovSj = pg.anova(data=df.loc[df.Species=='sj'], dv='TRTminLog', between='Treatment3', detailed=True)
aovSj

       Source     SS  DF     MS      F       p-unc    np2
0  Treatment3  1.916   2  0.958  7.297  0.00130162  0.169
1      Within  9.454  72  0.131      -           -      -

#### Post-Hoc Analysis

In [12]:
pt = pg.pairwise_tukey(dv='TRTminLog', between='Treatment3', data=df.loc[df.Species=='sj'])
pt.apply(report,threshcol='p-tukey',axis=1)

25% and Intact are significantly different (diff = 0.38613652697286915) with an effect size of 1.051 (effect type hedges)

0        25% and >=50% are not significantly different (p = 0.1579456314670472).
1                                                                           None
2    >=50% and Intact are not significantly different (p = 0.14744025845554232).
dtype: object

In [11]:
## need to fix the x-axis labels

SjI = go.Box(y=df.loc[(df.Species=='sj')&(df.Treatment3=='Intact')].TRTmin, name='Intact')
Sj25 = go.Box(y=df.loc[(df.Species=='sj')&(df.Treatment3=='25%')].TRTmin, name='25%')
Sj50 = go.Box(y=df.loc[(df.Species=='sj')&(df.Treatment3=='50%')].TRTmin, name='50%')
Sj75 = go.Box(y=df.loc[(df.Species=='sj')&(df.Treatment3=='75%')].TRTmin, name='75%')
data=[SjI,Sj25,Sj50,Sj75]
layout = go.Layout(
    title = 'BoxPlot of Terrestrial Righting Times by Treatment',
    titlefont = dict(
        size = 20),
    xaxis= dict(
    ),
    yaxis = dict(
        title = 'Righting Times (s)',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'BoxPlot of Sceloporus jarrovii Terrestrial Righting Times by Treatment.html')

### _Sceloporus virgatus_

[Back to Inferential Analysis](#Inferential-Analysis); [Back to TOC](#Table-of-Contents)

In [12]:
df.loc[df.Species =='sv'].Treatment3.unique()

array(['Intact', '50%', '25%', '75%'], dtype=object)

In [13]:
aovSv = pg.anova(data=df.loc[df.Species=='sv'], dv='TRTminLog', between='Treatment3', detailed=True)
aovSv

       Source      SS  DF     MS      F     p-unc    np2
0  Treatment2   1.418   3  0.473  1.996  0.123288  0.084
1      Within  15.397  65  0.237      -         -      -

In [14]:
## need to fix the x-axis labels

SvI = go.Box(y=df.loc[(df.Species=='sv')&(df.Treatment3=='Intact')].TRTmin, name='Intact')
Sv25 = go.Box(y=df.loc[(df.Species=='sv')&(df.Treatment3=='25%')].TRTmin, name='25%')
Sv50 = go.Box(y=df.loc[(df.Species=='sv')&(df.Treatment3=='50%')].TRTmin, name='50%')
Sv75 = go.Box(y=df.loc[(df.Species=='sv')&(df.Treatment3=='75%')].TRTmin, name='75%')
data=[SvI,Sv25,Sv50,Sv75]
layout = go.Layout(
    title = 'BoxPlot of Terrestrial Righting Times by Treatment',
    titlefont = dict(
        size = 20),
    xaxis= dict(
    ),
    yaxis = dict(
        title = 'Righting Times (s)',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'BoxPlot of Sceloporus virgatus Terrestrial Righting Times by Treatment.html')

## Conclusion

[Back to TOC](#Table-of-Contents)

## Discussion

[Back to TOC](#Table-of-Contents)