# Table of Contents
1. [Introduction](#Introduction)
2. [Setting Up Environment](#Setting-Up-Environment)
3. [Getting Data](#Getting-Data)
3. [Descriptive Analysis](#Descriptive-Analysis)
    1. [Independent Variables](#Independent-Variables)
    2. [Dependent Variables](#Dependent-Variables)
4. [Inferential Analysis](#Inferential-Analysis)
    1. [_Sceloporus jarrovii_](#Sceloporus-jarrovii)
    1. [_Sceloporus virgatus_](#Sceloporus-virgatus)
5. [Conclusions](#Conclusions)
6. [Discussion](#Discussion)

## Introduction 

[Back to TOC](#Table-of-Contents)

## Setting Up Environment

[Back to TOC](#Table-of-Contents)

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import os, glob, logging
from summary_functions import *
import plotly
import chart_studio.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
pd.options.display.max_columns = 50
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = 1500

# Getting Data
[Back to TOC](#Table-of-Contents)

In [2]:
df = pd.read_csv('TRT 2008-2016 analysis.csv')

In [5]:
print('There are {} rows in the file and {} columns.\n{}'.format(df.shape[0],df.shape[1],[col for col in df.columns]))

There are 144 rows in the file and 15 columns.
['Unnamed: 0', 'year', 'Treatment', 'paintmark', 'TRTmin', 'Species', 'sex', 'SVL', 'TL', 'RTL', 'RemTL', 'RemMass', 'propRemTL', 'Treatment2', 'TRTminLog']

## Descriptive Analysis 
1. [Independent Variables](#Independent-Variables)
2. [Dependent Variables](#Dependent-Variables)

[Back to TOC](#Table-of-Contents)

### Independent Variables 

The independent variables include 'year', 'Treatment', 'paintmark', 'Species', 'sex', 'SVL', 'TL', 'RTL', 'RemTL', 'RemMass', 'propRemTL', and 'Treatment2'.

[Back to Descriptive Analysis](#Descriptive-Analysis); [Back to TOC](#Table-of-Contents)

In [21]:
IV = ['year', 'Treatment', 'paintmark', 'Species', 'sex', 'SVL', 'TL', 'RTL', 'RemTL', 'RemMass', 'propRemTL', 'Treatment2']
for v in IV:
    print("\n\nReport for '{}':\nDESCRIBE: \n{}\nREVIEW: \n{} "\
          .format(v,df.groupby('Species')[v].apply(distribution),df.groupby('Species')[v].apply(review)))

ERROR:root:x must contain only numeric, or NoneType variables:
 x:
0        wI1b
1       wJ14b
2        wK2b
3        wK4b
4        wL3b
5        yA1b
6        yA6b
7        yA7b
8        yB3b
9        yC1b
10       yG3b
11       yG5b
25       wJ3b
26       wL2b
27       wL5b
28       yA2b
29       yB1b
30       yB2b
31       yC4b
32     yD2b.t
33       yE4b
43       y21b
44        y9b
54       y10b
56       y13b
59        y2b
60        y4b
73       wI4b
74      wJ11b
75      wJ12b
        ...
94       o19b
97       o22b
99       o24b
102      o28b
104      o30b
106      o33b
107      o34b
108      o37b
115      w44b
120       w4b
121       w5b
122       w7b
125       w8b
127       w9b
128      w10b
129      w11b
130      w12b
131      w13b
132      w15b
133      w16b
134      w18b
135      w17b
136      w19b
137      w20b
138      w21b
139      w22b
140      w23b
141      w24b
142      w25b
143      w26b
Name: sj, Length: 75, dtype: object
 the following values in x are non-numeric:
['wI1b', 'wJ14b', 'wK2b', 'wK4b', 'wL3b', 'yA1b', 'yA6b', 'yA7b', 'yB3b', 'yC1b', 'yG3b', 'yG5b', 'wJ3b', 'wL2b', 'wL5b', 'yA2b', 'yB1b', 'yB2b', 'yC4b', 'yD2b.t', 'yE4b', 'y21b', 'y9b', 'y10b', 'y13b', 'y2b', 'y4b', 'wI4b', 'wJ11b', 'wJ12b', 'wJ2b', 'wL4b', 'yA4b.t', 'yD1b', 'yD3b', 'yE1b', 'yE2b', 'yE6b', 'yG4b', 'o10b', 'o11b', 'o12b.t', 'o13b+t', 'o15b', 'o16b', 'o19b', 'o22b', 'o24b', 'o28b', 'o30b', 'o33b', 'o34b', 'o37b', 'w44b', 'w4b', 'w5b', 'w7b', 'w8b', 'w9b', 'w10b', 'w11b', 'w12b', 'w13b', 'w15b', 'w16b', 'w18b', 'w17b', 'w19b', 'w20b', 'w21b', 'w22b', 'w23b', 'w24b', 'w25b', 'w26b']
ERROR:root:x must contain only numeric, or NoneType variables:
 x:
12        1f
13        2f
14        B5
15        C1
16       p5b
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
34       NaN
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
40       NaN
41       NaN
42       NaN
45      w38c
46       NaN
47       NaN
48       NaN
49       NaN
50       NaN
51       NaN
52       NaN
       ...
66       NaN
67       NaN
68       NaN
69       NaN
70       NaN
71       NaN
72       NaN
89      o14b
92      o17b
93      o18b
95       o1b
96      o20b
98      o23b
100     o25b
101     o27b
103      o2b
105     o32b
109      o3b
110      o4b
111      o5b
112      o6b
113      o8b
114     w38b
116    w.b2c
117      w4c
118      w6c
119     w11c
123     w14c
124     w16c
126     w18c
Name: sv, Length: 69, dtype: object
 the following values in x are non-numeric:
['1f', '2f', 'B5', 'C1', 'p5b', 'w38c', 'y13b', 'y14b', 'y18b', 'y5b', 'y6b', 'y8b', 'o14b', 'o17b', 'o18b', 'o1b', 'o20b', 'o23b', 'o25b', 'o27b', 'o2b', 'o32b', 'o3b', 'o4b', 'o5b', 'o6b', 'o8b', 'w38b', 'w.b2c', 'w4c', 'w6c', 'w11c', 'w14c', 'w16c', 'w18c']
ERROR:root:x must contain only numeric, or NoneType variables:
 x:
0      sj
1      sj
2      sj
3      sj
4      sj
5      sj
6      sj
7      sj
8      sj
9      sj
10     sj
11     sj
25     sj
26     sj
27     sj
28     sj
29     sj
30     sj
31     sj
32     sj
33     sj
43     sj
44     sj
54     sj
56     sj
59     sj
60     sj
73     sj
74     sj
75     sj
       ..
94     sj
97     sj
99     sj
102    sj
104    sj
106    sj
107    sj
108    sj
115    sj
120    sj
121    sj
122    sj
125    sj
127    sj
128    sj
129    sj
130    sj
131    sj
132    sj
133    sj
134    sj
135    sj
136    sj
137    sj
138    sj
139    sj
140    sj
141    sj
142    sj
143    sj
Name: sj, Length: 75, dtype: object
 the following values in x are non-numeric:
['sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj', 'sj']
ERROR:root:x must contain only numeric, or NoneType variables:
 x:
12     sv
13     sv
14     sv
15     sv
16     sv
17     sv
18     sv
19     sv
20     sv
21     sv
22     sv
23     sv
24     sv
34     sv
35     sv
36     sv
37     sv
38     sv
39     sv
40     sv
41     sv
42     sv
45     sv
46     sv
47     sv
48     sv
49     sv
50     sv
51     sv
52     sv
       ..
66     sv
67     sv
68     sv
69     sv
70     sv
71     sv
72     sv
89     sv
92     sv
93     sv
95     sv
96     sv
98     sv
100    sv
101    sv
103    sv
105    sv
109    sv
110    sv
111    sv
112    sv
113    sv
114    sv
116    sv
117    sv
118    sv
119    sv
123    sv
124    sv
126    sv
Name: sv, Length: 69, dtype: object
 the following values in x are non-numeric:
['sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv', 'sv']
ERROR:root:x must contain only numeric, or NoneType variables:
 x:
0      F
1      M
2      M
3      F
4      F
5      F
6      M
7      F
8      M
9      M
10     F
11     M
25     M
26     F
27     F
28     F
29     M
30     F
31     F
32     M
33     M
43     F
44     M
54     F
56     M
59     F
60     M
73     M
74     F
75     F
      ..
94     F
97     F
99     M
102    F
104    F
106    F
107    M
108    F
115    F
120    M
121    F
122    F
125    M
127    F
128    M
129    M
130    F
131    M
132    F
133    F
134    F
135    F
136    F
137    M
138    M
139    M
140    M
141    M
142    M
143    M
Name: sj, Length: 75, dtype: object
 the following values in x are non-numeric:
['F', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'M', 'M', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M']
ERROR:root:x must contain only numeric, or NoneType variables:
 x:
12     F
13     F
14     F
15     F
16     F
17     F
18     M
19     M
20     F
21     M
22     M
23     M
24     F
34     M
35     F
36     M
37     M
38     M
39     F
40     F
41     M
42     F
45     M
46     M
47     M
48     M
49     M
50     M
51     M
52     F
      ..
66     M
67     F
68     F
69     M
70     M
71     F
72     M
89     M
92     M
93     F
95     F
96     F
98     M
100    F
101    F
103    M
105    F
109    M
110    F
111    F
112    M
113    F
114    F
116    M
117    M
118    F
119    M
123    F
124    M
126    F
Name: sv, Length: 69, dtype: object
 the following values in x are non-numeric:
['F', 'F', 'F', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'F']
ERROR:root:x must contain only numeric, or NoneType variables:
 x:
0      Intact
1      Intact
2      Intact
3      Intact
4      Intact
5      Intact
6         50%
7      Intact
8      Intact
9      Intact
10     Intact
11     Intact
25        50%
26        50%
27        50%
28        50%
29        50%
30        50%
31        50%
32        50%
33        50%
43        25%
44        NaN
54        25%
56        75%
59        75%
60        75%
73     Intact
74     Intact
75     Intact
        ...
94        75%
97        75%
99        25%
102       NaN
104       25%
106       75%
107       NaN
108       25%
115       75%
120       25%
121       25%
122       25%
125       25%
127       25%
128       25%
129       75%
130       25%
131       75%
132       25%
133       25%
134       25%
135       75%
136       25%
137       75%
138       25%
139       25%
140       25%
141       25%
142       25%
143       75%
Name: sj, Length: 75, dtype: object
 the following values in x are non-numeric:
['Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', '50%', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', '50%', '50%', '50%', '50%', '50%', '50%', '50%', '50%', '50%', '25%', '25%', '75%', '75%', '75%', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', '25%', '25%', '25%', '75%', '25%', '25%', '75%', '75%', '25%', '25%', '75%', '25%', '75%', '25%', '25%', '25%', '25%', '25%', '25%', '75%', '25%', '75%', '25%', '25%', '25%', '75%', '25%', '75%', '25%', '25%', '25%', '25%', '25%', '75%']

ERROR:root:x must contain only numeric, or NoneType variables:
 x:
12     Intact
13     Intact
14     Intact
15     Intact
16     Intact
17     Intact
18     Intact
19     Intact
20     Intact
21     Intact
22     Intact
23     Intact
24     Intact
34        50%
35        50%
36        50%
37        50%
38        50%
39        50%
40        50%
41        50%
42        50%
45        25%
46        25%
47        25%
48        25%
49        25%
50        NaN
51        25%
52        25%
        ...
66        75%
67        75%
68        75%
69        75%
70        75%
71        75%
72        75%
89        25%
92        NaN
93        50%
95        25%
96        25%
98        25%
100       25%
101       25%
103       25%
105       25%
109       25%
110       25%
111       25%
112       25%
113       50%
114       25%
116       25%
117       50%
118       50%
119       50%
123       25%
124       50%
126       25%
Name: sv, Length: 69, dtype: object
 the following values in x are non-numeric:
['Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', 'Intact', '50%', '50%', '50%', '50%', '50%', '50%', '50%', '50%', '50%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '75%', '75%', '75%', 'Intact', '75%', '75%', '75%', '75%', '75%', '75%', '75%', '75%', '75%', '75%', '75%', '25%', '50%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '25%', '50%', '25%', '25%', '50%', '50%', '50%', '25%', '50%', '25%']

Report for 'year':
DESCRIBE:
            n  minimum  maximum  median  siqr         mean     stdev
Species
sj      0  75     2007     2016  2011.0   4.5  2011.440000  4.156532
sv      0  69     2008     2016  2012.0   1.5  2012.753623  2.068004
REVIEW:
Species
sj                (Unique types include the following: {<class 'int'>}, Unique values include:{2016, 2015, 2011, 2007}, OK)
sv    (Unique types include the following: {<class 'int'>}, Unique values include:{2016, 2008, 2010, 2011, 2012, 2015}, OK)
Name: year, dtype: object


Report for 'Treatment':
DESCRIBE:
            n  minimum  maximum  median  siqr      mean     stdev
Species
sj      0  75      1.0      5.0     4.0   1.0  3.266667  1.297954
sv      0  69      1.0      4.0     3.0   1.0  2.840580  1.195865
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{1.0, 2.0, 3.0, 4.0, 5.0}, OK)
sv         (Unique types include the following: {<class 'float'>}, Unique values include:{1.0, 2.0, 3.0, 4.0}, OK)
Name: Treatment, dtype: object


Report for 'paintmark':
DESCRIBE:
Species
sj    None
sv    None
Name: paintmark, dtype: object
REVIEW:
Species
sj    (Unique types include the following: {<class 'str'>}, Unique values include:{'y10b', 'o28b', 'w20b', 'w23b', 'o30b', 'yE1b', 'yG5b', 'wL2b', 'wJ11b', 'w19b', 'w11b', 'o13b+t', 'y21b', 'yC1b', 'w22b', 'yB3b', 'yG4b', 'o33b', 'w9b', 'w24b', 'yD2b.t', 'o37b', 'w26b', 'yE4b', 'wI4b', 'wJ3b', 'w8b', 'o15b', 'yB1b', 'o11b', 'w17b', 'o10b', 'y4b', 'o24b', 'o34b', 'w13b', 'w15b', 'o19b', 'yC4b', 'wL4b', 'wK4b', 'w25b', 'yA7b', 'w12b', 'w21b', 'yE6b', 'wL5b', 'yE2b', 'wJ2b', 'w5b', 'w16b', 'wI1b', 'y13b', 'wL3b', 'w10b', 'yA4b.t', 'o12b.t', 'w18b', 'y2b', 'yD3b', 'yB2b', 'o16b', 'w44b', 'o22b', 'wJ14b', 'y9b', 'w7b', 'yD1b', 'yA2b', 'w4b', 'yA6b', 'wK2b', 'yG3b', 'yA1b', 'wJ12b'}, OK)
sv                                                                                                                                                                                                                                                                                                                                  (Unique types include the following: {<class 'float'>, <class 'str'>}, Unique values include:{nan, 'w14c', 'o5b', 'o14b', 'B5', 'o4b', 'y5b', 'o6b', 'o23b', 'p5b', 'w38b', 'o2b', 'o27b', 'w.b2c', 'o17b', 'w16c', 'o32b', 'w18c', '2f', '1f', 'y13b', 'o25b', 'o3b', 'o8b', 'w4c', 'w6c', 'y14b', 'y8b', 'w38c', 'y6b', 'C1', 'o18b', 'o1b', 'w11c', 'o20b', 'y18b'}, Check)
Name: paintmark, dtype: object


Report for 'Species':
DESCRIBE:
Species
sj    None
sv    None
Name: Species, dtype: object
REVIEW:
Species
sj    (Unique types include the following: {<class 'str'>}, Unique values include:{'sj'}, OK)
sv    (Unique types include the following: {<class 'str'>}, Unique values include:{'sv'}, OK)
Name: Species, dtype: object


Report for 'sex':
DESCRIBE:
Species
sj    None
sv    None
Name: sex, dtype: object
REVIEW:
Species
sj    (Unique types include the following: {<class 'str'>}, Unique values include:{'M', 'F'}, OK)
sv    (Unique types include the following: {<class 'str'>}, Unique values include:{'M', 'F'}, OK)
Name: sex, dtype: object


Report for 'SVL':
DESCRIBE:
            n  minimum  maximum  median  siqr       mean     stdev
Species
sj      0  75     56.0     92.0    76.0  7.25  75.306667  9.122253
sv      0  69     40.0     66.0    53.0  3.00  53.550725  5.454454
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{56.0, 60.0, 61.0, 62.0, 63.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0}, OK)
sv                                                                (Unique types include the following: {<class 'float'>}, Unique values include:{40.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 64.0, 65.0, 66.0}, OK)
Name: SVL, dtype: object


Report for 'TL':
DESCRIBE:
            n  minimum  maximum  median  siqr       mean      stdev
Species
sj      0  75      6.0    129.0    98.0  8.75  96.600000  19.435966
sv      0  69     50.0     82.0    68.0  4.50  68.028986   6.363894
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{128.0, 129.0, 6.0, 40.0, 62.0, 65.0, 67.0, 72.0, 76.0, 80.0, 81.0, 83.0, 86.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 114.0, 116.0, 118.0, 120.0, 122.0, 123.0, 124.0, 126.0}, OK)
sv                                                                                                                                                              (Unique types include the following: {<class 'float'>}, Unique values include:{50.0, 52.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 80.0, 82.0}, OK)
Name: TL, dtype: object


Report for 'RTL':
DESCRIBE:
            n  minimum  maximum  median  siqr      mean     stdev
Species
sj      0  75        0       49     0.0   0.0  5.266667  13.51309
sv      0  69        0        0     0.0   0.0  0.000000   0.00000
REVIEW:
Species
sj    (Unique types include the following: {<class 'int'>}, Unique values include:{0, 34, 4, 40, 42, 10, 46, 47, 49, 23, 25, 26}, OK)
sv                                               (Unique types include the following: {<class 'int'>}, Unique values include:{0}, OK)
Name: RTL, dtype: object


Report for 'RemTL':
DESCRIBE:
            n  minimum  maximum  median  siqr       mean      stdev
Species
sj      0  75      0.0    100.0    26.0  27.5  30.886667  28.584225
sv      0  69      0.0     63.0    20.0  11.5  26.057971  19.203924
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 18.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 31.0, 34.0, 47.5, 50.0, 54.0, 56.0, 57.0, 60.0, 63.0, 65.0, 68.0, 71.0, 72.0, 73.0, 77.0, 78.0, 80.0, 82.0, 83.0, 88.0, 100.0}, OK)
sv                                   (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 14.0, 16.0, 17.0, 18.0, 19.0, 20.0, 22.0, 32.0, 33.0, 34.0, 35.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 48.0, 51.0, 52.0, 54.0, 56.0, 57.0, 59.0, 60.0, 61.0, 63.0}, OK)
Name: RemTL, dtype: object


Report for 'RemMass':
DESCRIBE:
            n  minimum  maximum  median  siqr      mean     stdev
Species
sj      0  67      0.0     19.0  0.0346   NaN  2.188001  4.915594
sv      0  57      0.0      7.8  0.0396   NaN  0.793930  1.909064
REVIEW:
Species
sj                                      (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, nan, 0.174, 0.369, 0.184, nan, nan, nan, 0.35200000000000004, 0.38, 0.5915, nan, nan, nan, 10.3, 13.0, 14.4, 8.8, 14.5, 19.0, 17.3, 15.0, 0.051, nan, 0.0223, 1.25, 0.049, 0.254, 9.2, 0.038, 0.04, 11.5, 0.4043, 0.171, 0.037000000000000005, 0.03, 0.035, 0.099, 1.165, 0.0346, 0.025, 0.02, 0.021, 6.2, 0.016, 0.512, 0.013999999999999999, 0.017, 0.513, 0.0352, 0.008, 0.4542}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 0.0675, nan, nan, 0.0665, nan, 0.1864, 0.2383, 0.1084, 0.1688, nan, nan, 5.5, 4.0, nan, 7.8, 6.0, nan, nan, nan, nan, 0.0072, nan, nan, 0.05, 3.1, 0.038, 0.0098, 0.032, 0.0431, 0.2221, 0.1667, 0.1419, 0.08199999999999999, 0.1273, 0.1847, 0.1202, 0.1756, 0.031, 0.0396, 4.8, 5.8, 0.1789, 0.0543, 0.0432, 0.033, 0.0125, 0.01, 0.0095, 0.011000000000000001, 0.0574, 0.008, 0.009000000000000001, 0.005, 0.0151}, OK)
Name: RemMass, dtype: object


Report for 'propRemTL':
DESCRIBE:
            n  minimum   maximum    median      siqr      mean     stdev
Species
sj      0  75      0.0  0.803922  0.262712  0.250000  0.304651  0.272544
sv      0  69      0.0  0.857143  0.293333  0.152778  0.378834  0.271710
REVIEW:
Species
sj                                                                                 (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 0.5, 0.5102040816326531, 0.5084745762711864, 0.5181818181818182, 0.5483870967741935, 0.2621359223300971, 0.26744186046511625, 0.8039215686274509, 0.7857142857142857, 0.25, 0.2826086956521739, 0.7659574468085106, 0.27956989247311825, 0.7623762376237624, 0.2962962962962963, 0.7751937984496124, 0.2530120481927711, 0.25842696629213485, 0.2641509433962264, 0.27884615384615385, 0.2568807339449541, 0.28, 0.7878787878787878, 0.29473684210526313, 0.2307692307692308, 0.2456140350877193, 0.7831325301204819, 0.2637362637362637, 0.2777777777777778, 0.25263157894736843, 0.2727272727272727, 0.2627118644067797, 0.7830188679245284, 0.2432432432432433, 0.2786885245901639, 0.25925925925925924, 0.7634408602150538, 0.7849462365591398, 0.2429906542056075, 0.7586206896551724, 0.7476635514018691}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{0.0, 0.52, 0.5333333333333333, 0.5238095238095238, 0.6212121212121212, 0.5365853658536586, 0.5256410256410257, 0.5, 0.5671641791044776, 0.5555555555555556, 0.265625, 0.75, 0.7702702702702703, 0.29508196721311475, 0.25, 0.53125, 0.7826086956521741, 0.7536231884057971, 0.2933333333333333, 0.2835820895522388, 0.30303030303030304, 0.7875, 0.7662337662337663, 0.5072463768115942, 0.2898550724637681, 0.26865671641791045, 0.7567567567567568, 0.28, 0.2537313432835821, 0.2352941176470588, 0.2571428571428571, 0.7868852459016393, 0.7820512820512819, 0.24285714285714285, 0.2647058823529412, 0.2463768115942029, 0.26666666666666666, 0.532258064516129, 0.7763157894736842, 0.7846153846153846, 0.29411764705882354, 0.2727272727272727, 0.8076923076923077, 0.2535211267605634, 0.2533333333333333, 0.8571428571428571, 0.5245901639344263, 0.8115942028985508, 0.4444444444444444}, OK)
Name: propRemTL, dtype: object


Report for 'Treatment2':
DESCRIBE:
Species
sj    None
sv    None
Name: Treatment2, dtype: object
REVIEW:
Species
sj    (Unique types include the following: {<class 'float'>, <class 'str'>}, Unique values include:{nan, '75%', '25%', 'Intact', '50%'}, Check)
sv    (Unique types include the following: {<class 'float'>, <class 'str'>}, Unique values include:{nan, '75%', '25%', 'Intact', '50%'}, Check)
Name: Treatment2, dtype: object

### Dependent Variables 

[Back to Descriptive Analysis](#Descriptive-Analysis); [Back to TOC](#Table-of-Contents)

In [20]:
DV = ['TRTmin','TRTminLog']
for v in DV:
    print("\n\nReport for '{}':\nDESCRIBE: \n{}\nREVIEW: \n{} "\
          .format(v,df.groupby('Species')[v].apply(distribution),df.groupby('Species')[v].apply(review)))

Report for 'TRTmin':
DESCRIBE:
            n  minimum  maximum  median    siqr      mean     stdev
Species
sj      0  75     0.13     0.71    0.29  0.0675  0.289200  0.120805
sv      0  69     0.03     0.51    0.26  0.0700  0.258986  0.100968
REVIEW:
Species
sj                                  (Unique types include the following: {<class 'float'>}, Unique values include:{0.13, 0.32, 0.36, 0.29, 0.31, 0.24, 0.42, 0.19, 0.25, 0.7, 0.34, 0.26, 0.18, 0.43, 0.68, 0.28, 0.2, 0.17, 0.21, 0.15, 0.23, 0.16, 0.46, 0.71, 0.30000000000000004, 0.14, 0.4, 0.41, 0.33}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{0.19, 0.07, 0.24, 0.25, 0.27, 0.28, 0.4, 0.3, 0.26, 0.43, 0.34, 0.51, 0.18, 0.11, 0.36, 0.2, 0.37, 0.29, 0.15, 0.22, 0.17, 0.09, 0.16, 0.23, 0.21, 0.03, 0.38, 0.30000000000000004, 0.14, 0.31, 0.08, 0.32, 0.49, 0.33}, OK)
Name: TRTmin, dtype: object


Report for 'TRTminLog':
DESCRIBE:
            n   minimum   maximum    median      siqr      mean     stdev
Species
sj      0  75 -2.040221 -0.342490 -1.237874  0.253117 -1.317702  0.391983
sv      0  69 -3.506558 -0.673345 -1.347074  0.276034 -1.449283  0.497282
REVIEW:
Species
sj                                                                                      (Unique types include the following: {<class 'float'>}, Unique values include:{-0.8675005677047231, -0.35667494393873245, -0.8439700702945291, -0.916290731874155, -0.7765287894989963, -0.342490308946776, -0.8915981192837836, -0.3856624808119846, -1.9661128563728327, -1.3862943611198906, -1.4696759700589417, -1.4271163556401458, -1.6607312068216509, -1.5606477482646683, -1.6094379124341005, -1.3470736479666092, -1.1086626245216111, -1.203972804325936, -1.0216512475319814, -1.7719568419318752, -1.171182981502945, -1.8971199848858813, -1.0788096613719298, -1.2378743560016174, -1.7147984280919266, -1.8325814637483104, -1.1394342831883648, -2.0402208285265546, -1.272965675812887}, OK)
sv    (Unique types include the following: {<class 'float'>}, Unique values include:{-0.8439700702945291, -0.916290731874155, -0.9942522733438668, -0.9675840262617056, -0.7133498878774648, -0.6733445532637656, -1.5141277326297755, -1.3862943611198906, -1.9661128563728327, -2.2072749131897207, -1.3093333199837622, -1.4696759700589417, -1.1394342831883648, -1.4271163556401458, -1.6607312068216509, -1.3470736479666092, -1.6094379124341005, -1.5606477482646683, -1.1086626245216111, -2.525728644308256, -1.8971199848858813, -1.7719568419318752, -1.0216512475319814, -1.0788096613719298, -1.171182981502945, -1.7147984280919266, -1.2378743560016174, -1.8325814637483104, -2.407945608651872, -1.203972804325936, -3.5065578973199822, -2.6592600369327783, -1.272965675812887}, OK)
Name: TRTminLog, dtype: object

## Inferential Analysis

1. [_Sceloporus jarrovii_](#Sceloporus-jarrovii)
1. [_Sceloporus virgatus_](#Sceloporus-virgatus)

[Back to TOC](#Table-of-Contents)

### _Sceloporus jarrovii_

[Back to Inferential Analysis](#Inferential-Analysis); [Back to TOC](#Table-of-Contents)

### _Sceloporus virgatus_

[Back to Inferential Analysis](#Inferential-Analysis); [Back to TOC](#Table-of-Contents)

## Conclusion

[Back to TOC](#Table-of-Contents)

## Discussion

[Back to TOC](#Table-of-Contents)