<a id='TOC'></a>

# Table of Contents
1. [Things to Do](#Things-to-Do)
1. [Introduction](#Introduction)
1. [Set up Python](#Set-up-Python)
2. [Functions](#Functions)
3. [Getting Data](#Get-Data)
4. [Analyze Data](#Analyze-Data):
    - [Population Size](#Population-Size)
    - [Species Distribution](#Species-Distribution)
    - [Sex Distribution](#Sex-Distribution)
    - [Tail Condition Distribution](#Tail-Condition-Distribution)
    - [Location](#Location)
    - [Morphometrics](#Morphometrics):
        - [SVL](#SVL)
        - [TL](#TL)
        - [RTL](#RTL)
        - [Mass](#Mass)
    - [Survival and Rates and Likelihood of Recapture](#Survival-and-Rates-and-Likelihood-of-Recapture)
    - [Captures](#Captures)
    - [Growth](#Growth)
        - [SVL Growth](#SVL-Growth)
5. [Export Files](#Export-Files)

# Things to Do


## [Resume Here](#resume)

## Introduction

This notebook contains code and output of descriptive analyses for the 2000-2017 CC dataset after cleaning.

The objectives of this notebook are to describe the community of the _Sceloporus jarrovii_ and _Sceloporus virgatus_ lizards in the Crystal Creek wash from 2000 until 2017.  The population demographic metrics we examine are: [population size](#Population-Size), [sex distribution](#Sex-Distribution), [tail condition distribution](#Tail-Condition-Distribution), [location](#Location), [morphometrics](#Morphometrics) -- [SVL](#SVL), [TL](#TL), [RTL](#RTL), [mass](#Mass) --,  [survival and rates and likelihood of recapture](#Survival-and-Rates-and-Likelihood-of-Recapture), and [growth](#Growth).

We will examine these metrics and interactions among them with particular interest in the impact of environmental factors from year to year.

##  Set up Python

First we will need to set up the python environment, importing the necessary packages and setting the display options.

[Top](#TOC)

In [1]:
import pandas as pd
import numpy as np
import os, glob, logging
from summary_functions import *
from scipy import stats
from monthlit import *
from prettyprint import *


import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
plotly.tools.set_config_file(world_readable=True)


# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

### Setting File Locations

In [2]:
deviceDict = {'dataBig':{'source':'S:/Chris/TailDemography/TailDemography/outputFiles'
                         ,'log':'S:/Chris/TailDemography/TailDemography/Scripts and notes/Descriptive/'
                         ,'output':'S:/Chris/TailDemography/TailDemography/outputFiles/'},
              'silverSurfer':{'source':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles'
                              ,'log':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\'
                              ,'output':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles\\Descriptive\\'}
              ,'dataPers':{'source':'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
                           ,'log': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\'
                           ,'output':'C:/Users/Christopher/Google Drive/TailDemography/outputFiles/Descriptve/'}}

### Choose Device

In [3]:
device = deviceDict['silverSurfer']
device

{'source': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles',
 'log': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\',
 'output': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles\\Descriptive\\'}

# Source Data

### Logging

In [4]:
logging.basicConfig(filename=device['log']+'Desriptive Analyses.log'
                    , filemode='a',
                    format='%(funcName)s - %(levelname)s - %(message)s - %(asctime)s', level=logging.DEBUG)

## Functions

This section contains functions that were created for this notebook.

- [distribution](#distribution) #delete this we will use scipy stats describe instead
- [monthlit](#monthlit)
- [description](#description)
- [vocab_run](#vocab_run)

### distribution
[Back to Top](#TOC)

[Back to Functions](#Functions)

*distribution* takes a series or list of numeric objects, *x*, and returns descriptive stats of x including
        n, minimum, maximum, median, sIQR, mean, and stdev
    
Here are a few examples of how *distribution* works.

In [5]:
foo = [0,1,2,'r']
distribution(foo)

In [6]:
bar = [0,1,2]
distribution(bar)

   n  minimum  maximum  median  siqr  mean  stdev
0  3        0        2     1.0   0.5   1.0    1.0

[Back to Functions](#Functions)

## monthlit
[Back to Top](#TOC)

[Back to Functions](#Functions)

Here are a few examples of how _monthlit_ works.

In [7]:
dates = pd.DataFrame(data={'dates':['2018-12-9','2019-8-5', '2017/7/4',np.nan,None]})
dates.dates = pd.to_datetime(dates.dates)
dates

       dates
0 2018-12-09
1 2019-08-05
2 2017-07-04
3        NaT
4        NaT

In [8]:
np.isnan(np.nan)

True

In [9]:
monthlit(dates.dates.dt.month[0])

'Dec'

In [10]:
dates.dates.dt.month.apply(monthlit)

0    Dec
1    Aug
2    Jul
3    NaN
4    NaN
Name: dates, dtype: object

[Back to Functions](#Functions)

## description
[Back to Top](#TOC)

[Back to Functions](#Functions)

In [42]:
def description(x,variable,percentage=False):
    if percentage:
            res = x[variable].describe()
            res[['mean','std','min','25%','50%','75%','max']] = res[['mean','std','min','25%','50%','75%','max']]\
            .apply(lambda x:x*100) 
#Need to Add CI calculation to this function
#             meanCI = 'not calculated'
    else:
        res = x[variable].describe() 
    res['siqr'] = (res['75%']-res['25%'])/2
    res['meanCI'] = 'not calculated'
    return res

### vocab_run
[Back to Top](#TOC)

[Back to Functions](#Functions)

*vocab_run* takes a list, joins its the first the elements with a separator placing a different separator between
     the penultimate and final members of the list and returns the result as a string
     :param x: a list of strings to be concatenated
     :param connector_dict: a dictionary with keys describing the size of the list and values indicating the type of
     connectors separate the list elements.
    
Here are a few examples of how *vocab_run* works.

In [12]:
print("Could you bring some {} please?".format(vocab_run(['foo','bar','stuffkins'])))

Could you bring some foo, bar and stuffkins please?

In [13]:
print("You can either have {}.  You'll have to make a choice."\
      .format(vocab_run(['foo','bar','stuffkins'],connector_dict={1: None, 2: ' or ', 'run': ', '})))

You can either have foo, bar or stuffkins.  You'll have to make a choice.

[Back to Functions](#Functions)

We'll display all files in the source folder with the prefix _'cleaned CC data 2000-2017'_. The file names will be saved in a variable, _mysourcefiles_.

## Get Data
[Top](#TOC)

Here we can set the locations from which we get data and to which we export it.

In [14]:
os.chdir(device['source'])
mysourcefiles = glob.glob('cleaned CC data 2000-2017_*.csv')
mysourcefiles

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv',
 'cleaned CC data 2000-2017_2019-03-10 14hrs42min.csv',
 'cleaned CC data 2000-2017_2019-03-12 21hrs48min.csv',
 'cleaned CC data 2000-2017_2019-03-12 22hrs52min.csv',
 'cleaned CC data 2000-2017_2019-03-12 22hrs55min.csv',
 'cleaned CC data 2000-2017_2019-04-25 00hrs58min.csv',
 'cleaned CC data 2000-2017_2019-04-25 01hrs00min.csv',
 'cleaned CC data 2000-2017_2019-05-02 00hrs17min.csv',
 'cleaned CC data 2000-2017_2019-05-02 01hrs03min.csv',
 'cleaned CC data 2000-2017_2019-05-02 01hrs08min.csv',
 'cleaned CC data 2000-2017_2019-05-04 00hrs33min.csv']

In [15]:
pd.to_datetime(mysourcefiles[0].split("_")[1].split(".csv")[0].split(' ')[0])

Timestamp('2019-01-31 00:00:00')

Automate getting the latest file

In [16]:
[latestFile for latestFile in mysourcefiles if \
 max({pd.to_datetime(afile.split("_")[1].split(".csv")[0].split(' ')[0]) \
      for afile in mysourcefiles}) == pd.to_datetime(latestFile.split("_")\
                                                     [1].split(".csv")[0].split(' ')[0])]

['cleaned CC data 2000-2017_2019-05-04 00hrs33min.csv']

In [17]:
min({afile.split(' ')[-1].replace('hrs','').replace('min.csv','') for afile in mysourcefiles})

'0017'

In [18]:
latest = mysourcefiles[-1]
latest

'cleaned CC data 2000-2017_2019-05-04 00hrs33min.csv'

The most recent file is the one we will use as _df_ in our descriptive analysis.

In [32]:
df=pd.read_csv(latest)
df.date=pd.to_datetime(df.date)
df['month']=df.date.dt.month.apply(monthlit)
df.head()

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,newRecap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern,description,action,pattern_b,replacement,year,tl_svl,mass_svl,all_meters,initialCaptureDate,year_diff,smallest_svl,svl_diff,liznumber,sex_count,daysSinceCapture,capture,month
0,j,3-7-11-19,m,2002-07-14,63.0,92.0,0.0,False,10.0,halfway up to site,-200,N,NaN,NaN,b101t,toes in vial 58-02,NaN,0.0,3-7-11-19,NaN,NaN,NaN,NaN,NaN,2002,1.460317,0.158730,['-200'],2002-07-14,0,63.0,0.0,375,1,0,1,Jul
1,j,3-7-11-18,m,2002-07-14,66.0,92.0,0.0,False,10.8,left downstream 100m v 1 falls,-100,N,NaN,NaN,b102t,toes in vial 59-02,NaN,0.0,3-7-11-18,NaN,NaN,NaN,NaN,NaN,2002,1.393939,0.163636,['-100' '87'],2002-07-14,0,66.0,0.0,374,1,0,1,Jul
2,j,3-7-12-16,m,2002-07-14,68.0,103.0,0.0,False,10.3,90m v 1 falls,-90,N,NaN,NaN,b103t,toes in vial 60-02,NaN,0.0,3-7-12-16,NaN,NaN,NaN,NaN,NaN,2002,1.514706,0.151471,['-90'],2002-07-14,0,68.0,0.0,376,1,0,1,Jul
3,j,10,m,2002-07-14,85.0,118.0,0.0,False,19.5,sb - trail intersection v 1 falls,-20,R,toe loss may be natural,NaN,b104t,NaN,NaN,0.0,10,NaN,NaN,NaN,NaN,NaN,2002,1.388235,0.229412,['-20' '-12' '-35'],2002-07-14,0,85.0,0.0,830,2,0,1,Jul
4,v,10-16,f,2002-07-03,63.0,49.0,21.0,True,11.6,left side @ base juniper 8 m ^ sb; 15m v 1 falls,-15,N,painted; gravid; <5 mites in pockets,NaN,w1a,toes in vial 34-02 (10-16),NaN,21.0,10-16,NaN,NaN,NaN,NaN,NaN,2002,0.777778,0.184127,['-15'],2002-07-03,0,63.0,0.0,1414,1,0,1,Jul

## Analyze Data
[Top](#TOC)

We will first examine the range and distribution of number of variables in our data set:
- [Population Size](#Population-Size)
- [Species Distribution](#Species-Distribution)
- [Sex Distribution](#Sex-Distribution)
- [Tail Condition Distribution](#Tail-Condition-Distribution)
- [Location](#Location)
- [Morphometrics](#Morphometrics):
    - [SVL](#SVL)
    - [TL](#TL)
    - [RTL](#RTL)
    - [Mass](#Mass)
- [Survival and Rates and Likelihood of Recapture](#Survival-and-Rates-and-Likelihood-of-Recapture)
- [Captures](#Captures)
- [Growth](#Growth)
    - [SVL Growth](#SVL-Growth)
We will use first captures of each lizard in a year for these analyses.

## Reducing the analyses sample by date range and capture

In [33]:
monthsExcluded = ['Oct','Dec']
idx_exclusion = (df.month.isin(monthsExcluded))&(df.capture==1)&(df.species!='j')
print("The number of individuals captured for the first time in {} is {}. \
These are excluded for further analyses.".format(vocab_run(monthsExcluded,{1: None, 2: ' or ', 'run': ', '}),
                                                df.loc[idx_exclusion].liznumber.nunique()))
df=df.loc[~idx_exclusion]
df=df.loc[(df.species=='j')& (df.sex.isin(['m','f']))]

The number of individuals captured for the first time in Oct or Dec is 1. These are excluded for further analyses.

Here we create datasets including only the first or last sighting in each year for a given animal.

In [34]:
df_lastInYear = df.loc[~df.duplicated(subset=['liznumber','year'],keep='last')]
df_firstInYear = df.loc[~df.duplicated(subset=['liznumber','year'])]

### Population Size

We will begin by examining the range and distribution of individuals in the population.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [36]:
populationSize = df_firstInYear.groupby(['year']).liznumber.nunique().reset_index()
populationSize

    year  liznumber
0   2000        153
1   2001        135
2   2002        119
3   2003         97
4   2004         70
5   2005         79
6   2006         66
7   2007         94
8   2008         88
9   2009        105
10  2010         54
11  2011         45
12  2012         51
13  2013         55
14  2014         44
15  2015         82
16  2016         61
17  2017         73

In [38]:
Sjarrovii = go.Scatter(x = populationSize.year
           , y = populationSize.liznumber
          ,name = 'S. jarrovii')
data = [Sjarrovii]
layout = go.Layout(
    title = 'Population Size for Sceloporus jarrovii 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
plot(fig, filename = 'Population Size for Sceloporus jarrovii.html')
iplot(fig, filename = 'Population Size for Sceloporus jarrovii.html')
# pio.to_image(fig, format='html')

In [44]:
description(populationSize,'liznumber')

count                 18
mean             81.7222
std              31.0309
min                   44
25%                 56.5
50%                   76
75%                96.25
max                  153
siqr              19.875
meanCI    not calculated
Name: liznumber, dtype: object

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Sex Distribution

We will begin by examining the range and distribution of _sex_ values.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [45]:
populationSize_sex = df_firstInYear.groupby(['year','sex']).liznumber.nunique().reset_index()\
.merge(df_firstInYear.groupby(['year']).liznumber.nunique().reset_index()\
       .rename(columns={'liznumber':'liznumberYear'}),
       on=['year'])
populationSize_sex\
.loc[populationSize_sex.sex=='m','propMale'] = populationSize_sex\
.loc[populationSize_sex.sex=='m'].liznumber/populationSize_sex\
.loc[populationSize_sex.sex=='m'].liznumberYear
populationSize_sex\
.loc[populationSize_sex.sex=='f','propFemale'] = (populationSize_sex\
.loc[populationSize_sex.sex=='f'].liznumber/populationSize_sex\
.loc[populationSize_sex.sex=='f'].liznumberYear)
populationSize_sex

    year sex  liznumber  liznumberYear  propMale  propFemale
0   2000   f         84            153       NaN    0.549020
1   2000   m         69            153  0.450980         NaN
2   2001   f         72            135       NaN    0.533333
3   2001   m         63            135  0.466667         NaN
4   2002   f         67            119       NaN    0.563025
5   2002   m         52            119  0.436975         NaN
6   2003   f         54             97       NaN    0.556701
7   2003   m         43             97  0.443299         NaN
8   2004   f         38             70       NaN    0.542857
9   2004   m         32             70  0.457143         NaN
10  2005   f         36             79       NaN    0.455696
11  2005   m         43             79  0.544304         NaN
12  2006   f         36             66       NaN    0.545455
13  2006   m         30             66  0.454545         NaN
14  2007   f         54             94       NaN    0.574468
15  2007   m         40             94  0.425532         NaN
16  2008   f         44             88       NaN    0.500000
17  2008   m         44             88  0.500000         NaN
18  2009   f         54            105       NaN    0.514286
19  2009   m         51            105  0.485714         NaN
20  2010   f         27             54       NaN    0.500000
21  2010   m         27             54  0.500000         NaN
22  2011   f         26             45       NaN    0.577778
23  2011   m         19             45  0.422222         NaN
24  2012   f         31             51       NaN    0.607843
25  2012   m         20             51  0.392157         NaN
26  2013   f         30             55       NaN    0.545455
27  2013   m         25             55  0.454545         NaN
28  2014   f         29             44       NaN    0.659091
29  2014   m         15             44  0.340909         NaN
30  2015   f         41             82       NaN    0.500000
31  2015   m         41             82  0.500000         NaN
32  2016   f         31             61       NaN    0.508197
33  2016   m         30             61  0.491803         NaN
34  2017   f         41             73       NaN    0.561644
35  2017   m         32             73  0.438356         NaN

In [50]:
Sjarrovii = go.Scatter(x = populationSize_sex.loc[(populationSize_sex.propMale.notna())].year
           , y = populationSize_sex.loc[(populationSize_sex.propMale.notna())].propMale
          ,name = 'S. jarrovii')
data = [Sjarrovii]
layout = go.Layout(
    title = 'Proportion of Males by Year for Sceloporus jarrovii 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        tickformat = ".2%",
        title = 'Percentage of Males',
        titlefont = dict(
            size = 18),
    range = [0,1])
    
)
fig = go.Figure(
        data = data,
        layout = layout)
plot(fig, filename = 'Proportion of Males by Species and Year for Sceloporus jarrovii 2000-2017.html')
iplot(fig, filename = 'Proportion of Males by Species and Year for Sceloporus jarrovii 2000-2017.html')

In [52]:
description(populationSize_sex,'propMale',True)

count                 18
mean             45.5842
std              4.61074
min              34.0909
25%               43.732
50%              45.4545
75%              49.0281
max              54.4304
siqr             2.64804
meanCI    not calculated
Name: propMale, dtype: object

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Tail Condition Distribution

Here we look at the proportion of individuals in our data who have experienced autotomy.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [55]:
populationSize_aut = df_firstInYear.groupby(['year','autotomized']).liznumber.nunique()\
.reset_index()\
.merge(df_firstInYear.groupby(['year']).liznumber.nunique().reset_index()\
       .rename(columns={'liznumber':'liznumberYear'})
       ,on=['year'])
populationSize_aut\
.loc[populationSize_aut.autotomized,'propAutotomized'] = populationSize_aut\
.loc[populationSize_aut.autotomized].liznumber/populationSize_aut\
.loc[populationSize_aut.autotomized].liznumberYear
populationSize_aut\
.loc[~populationSize_aut.autotomized,'propIntact'] = (populationSize_aut\
.loc[~populationSize_aut.autotomized].liznumber/populationSize_aut\
.loc[~populationSize_aut.autotomized].liznumberYear)
populationSize_aut

    year  autotomized  liznumber  liznumberYear  propAutotomized  propIntact
0   2000        False        106            153              NaN    0.692810
1   2000         True         47            153         0.307190         NaN
2   2001        False         97            135              NaN    0.718519
3   2001         True         38            135         0.281481         NaN
4   2002        False         86            119              NaN    0.722689
5   2002         True         33            119         0.277311         NaN
6   2003        False         72             97              NaN    0.742268
7   2003         True         25             97         0.257732         NaN
8   2004        False         45             70              NaN    0.642857
9   2004         True         25             70         0.357143         NaN
10  2005        False         50             79              NaN    0.632911
11  2005         True         29             79         0.367089         NaN
12  2006        False         46             66              NaN    0.696970
13  2006         True         20             66         0.303030         NaN
14  2007        False         80             94              NaN    0.851064
15  2007         True         14             94         0.148936         NaN
16  2008        False         62             88              NaN    0.704545
17  2008         True         26             88         0.295455         NaN
18  2009        False         76            105              NaN    0.723810
19  2009         True         29            105         0.276190         NaN
20  2010        False         34             54              NaN    0.629630
21  2010         True         20             54         0.370370         NaN
22  2011        False         27             45              NaN    0.600000
23  2011         True         18             45         0.400000         NaN
24  2012        False         38             51              NaN    0.745098
25  2012         True         13             51         0.254902         NaN
26  2013        False         35             55              NaN    0.636364
27  2013         True         20             55         0.363636         NaN
28  2014        False         30             44              NaN    0.681818
29  2014         True         14             44         0.318182         NaN
30  2015        False         59             82              NaN    0.719512
31  2015         True         23             82         0.280488         NaN
32  2016        False         37             61              NaN    0.606557
33  2016         True         24             61         0.393443         NaN
34  2017        False         56             73              NaN    0.767123
35  2017         True         17             73         0.232877         NaN

In [56]:
Sjarrovii = go.Scatter(x = populationSize_aut.loc[(populationSize_aut.propAutotomized.notna())].year
           , y = populationSize_aut.loc[(populationSize_aut.propAutotomized.notna())].propAutotomized
          ,name = 'Autotomized S. jarrovii')



data = [Sjarrovii]
layout = go.Layout(
    title = 'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        tickformat=".2%",
        title = 'Proportion of Autotomized Lizards',
        titlefont = dict(
            size = 18),
    range=[0,1])
)
fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017.html')
plot(fig, filename = 'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017.html')

'Proportion Autotomized by Year for Sceloporus jarrovii 2000-2017.html'

In [58]:
description(populationSize_aut, 'propAutotomized',True)

count                 18
mean             30.4747
std              6.34579
min              14.8936
25%              27.6471
50%              29.9242
75%              36.2013
max                   40
siqr             4.27712
meanCI    not calculated
Name: propAutotomized, dtype: object

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Morphometrics

In this section we describe the distributions of various morphometrics.

- [SVL](#SVL)
- [TL](#TL)
- [RTL](#RTL)
- [Mass](#SVL)

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

#### SVL

Now we examine the range and distribution of svl values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of SVL](#SVLhist)

In [59]:
print("svl values in the data set range from {} to {} for and are distributed across species and sex \
as displayed here:"\
      .format(df_firstInYear.svl.min(), df_firstInYear.svl.max()))
description(df_firstInYear.groupby('sex'),variable='svl')

svl values in the data set range from 13.0 to 98.0 for and are distributed across species and sex as displayed here:

,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
sex,,,,,,,,,,
f,795.0,61.542138,14.155369,13.0,54.0,65.0,73.0,86.0,9.5,not calculated
m,676.0,68.008876,18.280204,24.0,55.0,73.0,83.0,98.0,14.0,not calculated

In [66]:
SVLbyYear = description(df_firstInYear.groupby(['year','sex']),'svl').reset_index()
SVLbyYear

,year,sex,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
0,2000,f,84.0,60.071429,12.676499,31.0,54.00,60.0,68.50,83.0,7.250,not calculated
1,2000,m,69.0,68.289855,17.052774,31.0,60.00,70.0,83.00,98.0,11.500,not calculated
2,2001,f,72.0,58.736111,13.863513,37.0,43.00,58.5,71.00,82.0,14.000,not calculated
3,2001,m,63.0,65.650794,17.982212,36.0,49.00,67.0,81.50,93.0,16.250,not calculated
4,2002,f,67.0,60.417910,12.344977,27.0,55.00,60.0,70.00,80.0,7.500,not calculated
5,2002,m,52.0,69.346154,17.347526,27.0,63.00,69.5,83.25,92.0,10.125,not calculated
6,2003,f,54.0,55.537037,17.084378,26.0,36.25,62.0,69.00,80.0,16.375,not calculated
7,2003,m,43.0,61.348837,21.156879,29.0,35.00,65.0,80.50,89.0,22.750,not calculated
8,2004,f,38.0,60.631579,16.066452,30.0,58.25,66.0,72.25,80.0,7.000,not calculated
9,2004,m,32.0,67.500000,19.660013,29.0,64.50,72.0,80.00,91.0,7.750,not calculated
10,2005,f,36.0,63.416667,14.215434,30.0,60.00,69.5,74.00,80.0,7.000,not calculated
11,2005,m,43.0,65.813953,18.971477,34.0,41.00,72.0,80.00,91.0,19.500,not calculated
12,2006,f,36.0,66.138889,9.049555,52.0,58.75,63.5,75.00,80.0,8.125,not calculated
13,2006,m,30.0,70.400000,8.826293,55.0,63.25,67.0,78.00,89.0,7.375,not calculated
14,2007,f,54.0,56.833333,17.146153,32.0,39.25,65.0,71.00,82.0,15.875,not calculated
15,2007,m,40.0,60.450000,22.377816,24.0,38.75,74.0,82.00,89.0,21.625,not calculated
16,2008,f,44.0,59.500000,14.735655,30.0,56.75,62.0,68.00,83.0,5.625,not calculated
17,2008,m,44.0,67.000000,21.821688,28.0,41.75,73.0,85.00,91.0,21.625,not calculated
18,2009,f,54.0,57.333333,14.768656,36.0,43.25,64.5,69.75,80.0,13.250,not calculated
19,2009,m,51.0,63.274510,19.437159,36.0,45.50,52.0,82.00,93.0,18.250,not calculated
20,2010,f,27.0,68.666667,9.515170,47.0,62.50,72.0,74.50,82.0,6.000,not calculated
21,2010,m,27.0,74.925926,17.530031,46.0,56.50,77.0,91.50,96.0,17.500,not calculated
22,2011,f,26.0,68.653846,7.407792,55.0,61.25,70.0,74.75,80.0,6.750,not calculated
23,2011,m,19.0,76.473684,6.994986,68.0,70.00,77.0,81.50,90.0,5.750,not calculated
24,2012,f,31.0,70.838710,7.633683,59.0,65.00,69.0,77.50,83.0,6.250,not calculated
25,2012,m,20.0,80.150000,6.539556,70.0,75.75,81.5,83.25,93.0,3.750,not calculated
26,2013,f,30.0,64.866667,11.924282,13.0,60.25,64.0,73.75,79.0,6.750,not calculated
27,2013,m,25.0,78.320000,7.312774,66.0,72.00,80.0,85.00,92.0,6.500,not calculated
28,2014,f,29.0,69.068966,8.430095,37.0,67.00,69.0,73.00,86.0,3.000,not calculated
29,2014,m,15.0,80.666667,5.996030,71.0,75.50,82.0,85.00,91.0,4.750,not calculated
30,2015,f,41.0,62.780488,15.941318,36.0,44.00,67.0,76.00,82.0,16.000,not calculated
31,2015,m,41.0,63.073171,20.569869,39.0,44.00,48.0,83.00,95.0,19.500,not calculated
32,2016,f,31.0,70.225806,7.948625,59.0,63.50,68.0,78.50,85.0,7.500,not calculated
33,2016,m,30.0,76.033333,8.957691,63.0,68.25,75.0,83.00,92.0,7.375,not calculated
34,2017,f,41.0,56.536585,15.942236,40.0,43.00,47.0,72.00,84.0,14.500,not calculated
35,2017,m,32.0,64.781250,20.059161,38.0,46.00,65.0,84.00,93.0,19.000,not calculated

Let's plot these values.

##### Histogram of SVL values

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [69]:
female = go.Bar(x=SVLbyYear.loc[(SVLbyYear.sex=='f')]['year'], y = SVLbyYear.loc[(SVLbyYear.sex=='f')]['50%']
                      ,name='Females')
male = go.Bar(x=SVLbyYear.loc[(SVLbyYear.sex=='m')]['year'], y = SVLbyYear.loc[(SVLbyYear.sex=='m')]['50%']
                    ,name='Males')

data = [male,female]
layout = go.Layout(
    title = 'Histogram of SVL at Capture for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median SVL (mm)',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Histogram of Median SVL Sceloporus jarrovii in CC 2000-2017.html')
plot(fig, filename = 'Histogram of Median SVL Sceloporus jarrovii in CC 2000-2017.html')

'Histogram of Median SVL Sceloporus jarrovii in CC 2000-2017.html'

 Outliers will be addressed in the Cleaning notebook, but will be removed for the remained of the analyses here.

#### TL

Now we examine the range and distribution of TL values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of TL](#TLhist)

In [71]:
TLbyYear = description(df_firstInYear.groupby(['year','autotomized','sex']),'tl').reset_index()
TLbyYear

,year,autotomized,sex,count,mean,std,min,25%,50%,75%,max,siqr,meanCI
0,2000,False,f,60.0,77.233333,17.040696,38.0,71.75,78.5,88.25,114.0,8.250,not calculated
1,2000,False,m,46.0,87.413043,25.005400,38.0,80.00,90.0,108.50,122.0,14.250,not calculated
2,2000,True,f,24.0,67.208333,15.348075,30.0,61.00,66.5,77.25,93.0,8.125,not calculated
3,2000,True,m,23.0,76.347826,19.508993,30.0,64.00,75.0,93.00,108.0,14.500,not calculated
4,2001,False,f,59.0,77.627119,18.380929,50.0,57.50,79.0,92.50,109.0,17.500,not calculated
5,2001,False,m,38.0,80.236842,24.043243,48.0,55.00,79.0,100.00,124.0,22.500,not calculated
6,2001,True,f,13.0,62.846154,17.742821,35.0,56.00,66.0,71.00,92.0,7.500,not calculated
7,2001,True,m,25.0,71.960000,20.235036,23.0,66.00,80.0,83.00,103.0,8.500,not calculated
8,2002,False,f,52.0,79.942308,17.875839,31.0,73.75,81.0,92.50,106.0,9.375,not calculated
9,2002,False,m,34.0,91.117647,26.114857,34.0,80.00,92.0,110.75,130.0,15.375,not calculated
10,2002,True,f,15.0,61.733333,24.941264,14.0,45.50,66.0,82.00,91.0,18.250,not calculated
11,2002,True,m,18.0,72.333333,21.863211,25.0,62.00,76.5,88.75,100.0,13.375,not calculated
12,2003,False,f,41.0,68.000000,22.811181,32.0,47.00,77.0,87.00,105.0,20.000,not calculated
13,2003,False,m,31.0,77.548387,34.889195,12.0,43.00,81.0,107.00,132.0,32.000,not calculated
14,2003,True,f,13.0,61.307692,22.298672,18.0,52.00,66.0,74.00,93.0,11.000,not calculated
15,2003,True,m,12.0,58.750000,27.654114,19.0,32.00,63.5,78.00,97.0,23.000,not calculated
16,2004,False,f,24.0,78.666667,23.132260,36.0,70.00,86.0,94.00,112.0,12.000,not calculated
17,2004,False,m,21.0,89.523810,29.088862,31.0,85.00,102.0,106.00,126.0,10.500,not calculated
18,2004,True,f,14.0,70.285714,27.022579,7.0,65.25,72.0,91.00,101.0,12.875,not calculated
19,2004,True,m,11.0,61.090909,29.402226,11.0,44.50,67.0,79.00,101.0,17.250,not calculated
20,2005,False,f,22.0,80.090909,22.530211,42.0,58.50,90.0,97.75,108.0,19.625,not calculated
21,2005,False,m,28.0,82.928571,28.248800,45.0,52.25,94.0,105.00,130.0,26.375,not calculated
22,2005,True,f,14.0,68.500000,13.500712,44.0,59.00,66.5,75.75,92.0,8.375,not calculated
23,2005,True,m,15.0,76.400000,17.336172,17.0,77.00,81.0,84.00,88.0,3.500,not calculated
24,2006,False,f,24.0,86.500000,10.958419,74.0,76.75,83.5,95.25,110.0,9.250,not calculated
25,2006,False,m,22.0,95.454545,11.677113,78.0,86.50,92.0,105.25,120.0,9.375,not calculated
26,2006,True,f,12.0,66.583333,14.767645,30.0,64.00,68.0,71.50,88.0,3.750,not calculated
27,2006,True,m,8.0,62.375000,32.239893,7.0,43.75,74.5,84.75,95.0,20.500,not calculated
28,2007,False,f,45.0,73.644444,22.635607,43.0,53.00,71.0,94.00,114.0,20.500,not calculated
29,2007,False,m,35.0,80.400000,31.420488,35.0,50.50,92.0,110.50,123.0,30.000,not calculated
30,2007,True,f,9.0,71.333333,22.045408,31.0,61.00,71.0,88.00,102.0,13.500,not calculated
31,2007,True,m,5.0,58.800000,25.410628,27.0,40.00,62.0,76.00,89.0,18.000,not calculated
32,2008,False,f,33.0,75.757576,23.266164,10.0,72.00,86.0,90.00,105.0,9.000,not calculated
33,2008,False,m,29.0,82.862069,32.865227,33.0,45.00,93.0,111.00,125.0,33.000,not calculated
34,2008,True,f,11.0,47.909091,27.038693,10.0,25.50,47.0,65.00,90.0,19.750,not calculated
35,2008,True,m,15.0,71.733333,18.625891,24.0,66.50,70.0,87.50,95.0,10.500,not calculated
36,2009,False,f,41.0,73.853659,19.611936,48.0,57.00,65.0,93.00,109.0,18.000,not calculated
37,2009,False,m,35.0,78.285714,23.140964,52.0,60.00,66.0,101.00,123.0,20.500,not calculated
38,2009,True,f,13.0,54.461538,21.758582,24.0,36.00,56.0,73.00,90.0,18.500,not calculated
39,2009,True,m,16.0,70.625000,34.688855,9.0,48.50,85.5,91.75,124.0,21.625,not calculated
40,2010,False,f,17.0,94.176471,14.090047,63.0,88.00,99.0,104.00,113.0,8.000,not calculated
41,2010,False,m,17.0,95.470588,24.520700,63.0,72.00,96.0,120.00,128.0,24.000,not calculated
42,2010,True,f,10.0,65.500000,8.657046,50.0,62.00,67.0,69.75,79.0,3.875,not calculated
43,2010,True,m,10.0,96.100000,19.416202,65.0,85.25,98.5,110.75,125.0,12.750,not calculated
44,2011,False,f,16.0,89.375000,11.870833,72.0,80.25,88.0,100.00,108.0,9.875,not calculated
45,2011,False,m,11.0,107.090909,10.104005,100.0,100.50,101.0,112.00,129.0,5.750,not calculated
46,2011,True,f,10.0,69.500000,12.572015,41.0,65.75,70.5,75.25,87.0,4.750,not calculated
47,2011,True,m,8.0,76.500000,17.279220,52.0,66.00,79.0,88.25,99.0,11.125,not calculated
48,2012,False,f,20.0,92.200000,9.849392,80.0,85.75,87.5,100.00,111.0,7.125,not calculated
49,2012,False,m,18.0,109.388889,10.239134,96.0,101.25,107.0,115.00,131.0,6.875,not calculated
50,2012,True,f,11.0,75.272727,9.685979,63.0,65.00,79.0,81.50,91.0,8.250,not calculated
51,2012,True,m,2.0,67.500000,50.204581,32.0,49.75,67.5,85.25,103.0,17.750,not calculated
52,2013,False,f,17.0,94.588235,10.037796,78.0,89.00,96.0,100.00,112.0,5.500,not calculated
53,2013,False,m,18.0,110.166667,10.755300,90.0,102.25,108.5,119.00,130.0,8.375,not calculated
54,2013,True,f,13.0,57.000000,15.143756,27.0,50.00,53.0,65.00,87.0,7.500,not calculated
55,2013,True,m,7.0,76.714286,34.310903,25.0,57.50,95.0,97.00,108.0,19.750,not calculated
56,2014,False,f,17.0,93.352941,13.688230,51.0,90.00,94.0,100.00,121.0,5.000,not calculated
57,2014,False,m,13.0,111.076923,9.232746,97.0,102.00,111.0,119.00,126.0,8.500,not calculated
58,2014,True,f,12.0,62.833333,12.231356,42.0,56.75,66.5,68.00,88.0,5.625,not calculated
59,2014,True,m,2.0,85.500000,17.677670,73.0,79.25,85.5,91.75,98.0,6.250,not calculated
60,2015,False,f,33.0,80.878788,20.613645,45.0,60.00,88.0,97.00,114.0,18.500,not calculated
61,2015,False,m,26.0,76.269231,27.099163,44.0,57.50,62.0,105.50,126.0,24.000,not calculated
62,2015,True,f,8.0,59.250000,24.563329,15.0,49.75,54.5,75.75,90.0,13.000,not calculated
63,2015,True,m,15.0,76.333333,30.457621,31.0,45.00,76.0,100.50,120.0,27.750,not calculated
64,2016,False,f,21.0,90.428571,10.161552,77.0,81.00,90.0,100.00,112.0,9.500,not calculated
65,2016,False,m,16.0,101.812500,13.141379,88.0,90.00,97.5,110.75,127.0,10.375,not calculated
66,2016,True,f,10.0,56.000000,14.181365,30.0,51.00,61.5,65.25,73.0,7.125,not calculated
67,2016,True,m,14.0,70.428571,20.720537,26.0,62.25,73.0,78.25,107.0,8.000,not calculated
68,2017,False,f,32.0,72.781250,18.046060,53.0,59.75,65.0,83.75,116.0,12.000,not calculated
69,2017,False,m,24.0,78.791667,23.911029,53.0,61.00,65.5,106.00,125.0,22.500,not calculated
70,2017,True,f,9.0,71.777778,16.369009,41.0,60.00,81.0,84.00,88.0,12.000,not calculated
71,2017,True,m,8.0,85.125000,16.847531,68.0,70.00,82.5,95.00,116.0,12.500,not calculated

In [75]:
femaleIntact = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['year'], 
                      y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['50%']
                      ,name='Intact Females')
femaleAut = go.Scatter(x=TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['year'], 
                   y = TLbyYear.loc[(TLbyYear.autotomized)&(TLbyYear.sex=='f')]['50%']
                      ,name='Autotomized Females')
maleIntact = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['year'], 
              y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['50%']
                    ,name='Intact Males')
maleAut = go.Scatter(x=TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['year'], 
              y = TLbyYear.loc[~(TLbyYear.autotomized)&(TLbyYear.sex=='m')]['50%']
                    ,name='Autotomized Males')

data = [maleIntact,maleAut,femaleIntact,femaleAut]
layout = go.Layout(
    title = 'Median TL for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Median TL (mm)',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Median TL Sceloporus jarrovii in CC 2000-2017.html')
plot(fig, filename = 'Median TL Sceloporus jarrovii in CC 2000-2017.html')

'Median TL Sceloporus jarrovii in CC 2000-2017.html'

#### RTL

Now we examine the range and distribution of RTL values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of RTL](#RTLhist)

In [ ]:
print("rtl values among autotomized lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.rtl.min(), df_firstInYear.rtl.max()))
description(df_firstInYear.loc[df_firstInYear.autotomized==True],gvariables=['species','sex'],variable='rtl')

#### Mass

Now we examine the range and distribution of mass values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of mass](#masshist)

In [ ]:
print("Mass values among autotomized lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.mass.min(), df_firstInYear.mass.max()))
description(df_firstInYear,gvariables=['species','sex'],variable='mass')

## Captures

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.  We will use all captures for this

In [ ]:
print("The maximum number of captures among lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.groupby('liznumber').capture.max().min(), df_firstInYear.groupby('liznumber').capture.max().max()))
description(df_firstInYear,gvariables=['species','sex'],variable='capture')

## Years

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of years over which that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of years over which each lizard was captures and finally count the number of lizards that have a given number of years over which they were captured.  We will use all captures for this.

In [ ]:
(df_firstInYear.groupby('liznumber').year_diff.max()+1).value_counts(normalize=True).reset_index()\
.rename(columns={'index':'year_diff','year_diff':'count'}).sort_values('year_diff')

In [ ]:
print("The maximum number of years over which lizards were capured among lizards in the data set range from {} to {}\
for and are distributed across species and sex as displayed here:"\
      .format(df_firstInYear.groupby('liznumber').year_diff.max().min()+1, 
              df_firstInYear.groupby('liznumber').year_diff.max().max()+1))
description(df_firstInYear,gvariables=['species','sex'],variable='year_diff')

In [ ]:
Sj = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')].groupby('liznumber').capture.max(),name='Sj')
Sv = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')].groupby('liznumber').capture.max(),name='Sv')

data = [Sj,Sv]
layout = go.Layout(
    title = 'Histogram of Maximum Number of Captures for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Unique Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Histogram of Maximum Number of Captures for CC 2000-2017.html')
plot(fig, filename = 'Histogram of Maximum Number of Captures for CC 2000-2017.html')

In [ ]:
# drop this fig

In [ ]:
SjIntact = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')&(df_firstInYear.autotomized==False)]\
                  .groupby('liznumber').capture.max(),name='Sj-Intact')
SvIntact = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.autotomized==False)]\
                  .groupby('liznumber').capture.max(),name='Sv-Intact')
SjAut = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')&(df_firstInYear.autotomized==True)]\
                  .groupby('liznumber').capture.max(),name='Sj-Autotomized')
SvAut = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.autotomized==True)]\
                  .groupby('liznumber').capture.max(),name='Sv-Autotomized')
data = [SjIntact,SvIntact,SjAut,SvAut]
layout = go.Layout(
    title = 'Histogram of Maximum Number of Captures for CC 2000-2017 by Autotomy Status',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Unique Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Number of Captures for CC 2000-2017 by Autotomy Status')

### Number of lizards (*Sj*) by year and sex

In [ ]:
df_firstInYear.groupby('year').sex.value_counts()

Pull out all individuals that we've recaught for Sj and writes to csv

In [ ]:
multicapToes=df_firstInYear.loc[(df_firstInYear.species=='j')& (df_firstInYear.toes!="")& (df_firstInYear.toes!='NA')]\
.toes.value_counts()[df_firstInYear.loc[df_firstInYear.species=='j']\
                     .toes.value_counts()>1].index.tolist()
df_firstInYear.loc[df_firstInYear.toes.isin(multicapToes)].sort_values(by=['toes','date']).shape[0]
# df_firstInYear.loc[df_firstInYear.toes.isin(multicapToes)].sort_values(by=['toes','date']).to_csv('multicaps.csv')
# multicapToes

### Maximum Number of Captures based on Tail condition
 - match for species, sex, size and location

In [ ]:
#separate species
dfF = df_firstInYear.loc[df_firstInYear.sex =='f']
dfM = df_firstInYear.loc[df_firstInYear.sex =='m']

females = go.Histogram(x = dfF.groupby('liznumber').capture.max(),name='females')
males = go.Histogram(x = dfM.groupby('liznumber').capture.max(),name='males')

data = [males,females]
layout = go.Layout(
    title = 'Maximum Number of Captures per Individual 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures per Individual in Crystal Creek 2000 - 2017')

In [ ]:
#Drop this

In [ ]:
SjFemales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='f')&(df_firstInYear.species=='j')]\
                       .groupby('liznumber').capture.max(),name='Sj-females')
SjMales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='m')&(df_firstInYear.species=='j')]\
                     .groupby('liznumber').capture.max(),name='Sj-males')
SvFemales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='f')&(df_firstInYear.species=='v')]\
                       .groupby('liznumber').capture.max(),name='Sv-females')
SvMales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='m')&(df_firstInYear.species=='v')]\
                     .groupby('liznumber').capture.max(),name='Sv-males')

data = [SjMales,SjFemales,SvMales,SvFemales]
layout = go.Layout(
    title = 'Maximum Number of Captures per Individual 2000-2017 by sex and species',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures per Individual in Crystal Creek 2000 - 2017 by sex and species')

## Growth

- [SVL Growth](#SVL-Growth)
- [TL Growth](#TL-Growth)
- [RTL Growth](#RTL-Growth)
- [Mass Growth](#Mass-Growth)

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.

### SVL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the body size growth rate?

### TL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the tail size growth rate?

### RTL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the regrown tail size growth rate?

### Mass Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the body size growth rate in terms of MAss?

In [ ]:
df.capture.value_counts()

## Export Files
[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)